<template>
  <div id="myMain" class="pt30">
    <el-row :gutter="20" class="header">
      <span>区属：</span>
      <el-select
        v-model="attribute"
        placeholder="请选择"
        @change="changeAttribute"
      >
        <el-option
          v-for="item in attributeArr"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        >
        </el-option>
      </el-select>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="6"
        ><div class="grid-content myBR">
          <div class="left fl vertical circleBg inputColor">
            <img src="~@/assets/icon/dataStatistics4.png" />
          </div>
          <div class="right fr vertical">
            <p class="title">{{ menu.enter }}<span>套</span></p>
            <span>已入库数量</span>
          </div>
        </div></el-col
      >
      <el-col :span="6"
        ><div class="grid-content myBR">
          <div class="left fl vertical circleBg notInputColor">
            <img src="~@/assets/icon/dataStatistics1.png" />
          </div>
          <div class="right fr vertical">
            <p class="title">{{ menu.not }}<span>套</span></p>
            <span>未入库数量</span>
          </div>
        </div></el-col
      >
      <el-col :span="6"
        ><div class="grid-content myBR">
          <div class="left fl vertical circleBg numberColor">
            <img src="~@/assets/icon/dataStatistics2.png" />
          </div>
          <div class="right fr vertical">
            <p class="title">{{ menu.have }}<span>套</span></p>
            <span>已确权数量</span>
          </div>
        </div></el-col
      >
      <el-col :span="6"
        ><div class="grid-content myBR">
          <div class="left fl vertical circleBg notnumberColor">
            <img src="~@/assets/icon/dataStatistics3.png" />
          </div>
          <div class="right fr vertical">
            <p class="title">{{ menu.none }}<span>套</span></p>
            <span>未确权数量</span>
          </div>
        </div></el-col
      >
    </el-row>

    <div class="f1 displayFlexR">
      <div class="f1 displayFlexC" style="margin-right:20px;">
        <placeHouse1 v-show="attribute == '广州市'" ref="PlaceHouse1"></placeHouse1>
        <placeHouse v-show="attribute !== '广州市'" ref="PlaceHouse"></placeHouse>
        <regionalAllocation1  v-show="attribute == '广州市'" ref="RegionalAllocation1"></regionalAllocation1>
        <regionalAllocation v-show="attribute !== '广州市'" ref="RegionalAllocation"></regionalAllocation>
      </div>
      <div class="f1 displayFlexC">
        <regionalReporting1  v-show="attribute == '广州市'" ref="RegionalReporting1"></regionalReporting1>
        <regionalReporting v-show="attribute !== '广州市'" ref="RegionalReporting"></regionalReporting>
        <houseType1  v-show="attribute == '广州市'" ref="HouseType1"></houseType1>
        <houseType v-show="attribute !== '广州市'" ref="HouseType"></houseType>
      </div>
    </div>
  </div>
</template>

<script>
import placeHouse from "@/views/house/statistics/placeHouse";
import regionalAllocation from "@/views/house/statistics/regionalAllocation";
import regionalReporting from "@/views/house/statistics/regionalReporting";
import houseType from "@/views/house/statistics/houseType";
import placeHouse1 from "@/views/house/statistics/placeHouse1";
import regionalAllocation1 from "@/views/house/statistics/regionalAllocation1";
import regionalReporting1 from "@/views/house/statistics/regionalReporting1";
import houseType1 from "@/views/house/statistics/houseType1";
import { getStatisticsMenu, getPutIntoStatistics } from '@/api/house'
export default {
  components: {
    placeHouse,
    regionalAllocation,
    regionalReporting,
    houseType,
    placeHouse1,
    regionalAllocation1,
    regionalReporting1,
    houseType1,
  },
  data() {
    return {
      menu: {},
      attribute: '广州市',
      attributeArr: [
        {
          label: '广州市',
          value: '广州市'
        },
        {
          label: '荔湾区',
          value: '荔湾区'
        },
        {
          label: '越秀区',
          value: '越秀区'
        },
        {
          label: '天河区',
          value: '天河区'
        },
        {
          label: '白云区',
          value: '白云区'
        },
        {
          label: '黄埔区',
          value: '黄埔区'
        },
        {
          label: '从化区',
          value: '从化区'
        },
        {
          label: '增城区',
          value: '增城区'
        },
        {
          label: '海珠区',
          value: '海珠区'
        },
        {
          label: '番禺区',
          value: '番禺区'
        },
        {
          label: '花都区',
          value: '花都区'
        },
        {
          label: '南沙区',
          value: '南沙区'
        },
      ]
    };
  },
  mounted() {
    this.initMenu()
  },
  methods: {
    async initMenu() {
      let res = await getStatisticsMenu(this.attribute);
      this.menu = res.data;
    },
    changeAttribute() {
      this.initMenu();
      setTimeout(() => {
        this.$refs.PlaceHouse.initEchart();
        this.$refs.RegionalAllocation.initEchart();
        this.$refs.RegionalReporting.initEchart();
        this.$refs.HouseType.initEchart();
      }, 100)
    }
  }
};
</script>
<style lang="scss" scoped>
  .header {
    padding: 0 20px;
    background-color: #fff;
    margin: 0!important;
    border-radius: 5px;
    height: 80px;
    line-height: 80px;
    margin-bottom: 20px!important;
  }
#myMain {
  .el-row {
    margin-bottom: 20px;
  }
  .grid-content {
    background-color: #fff;
    height: 140px;
    position: relative;
    .left,
    .right {
      width: 50%;
      text-align: center;
    }
    .left {
      left: 0;
    }
    .right {
      right: 0;
    }
  }
  img {
    width: 60px;
  }
  span {
    color: #999;
  }
  p.title {
    font-family: SourceHanSansSC-regular;
    font-size: 28px !important;
    color: #6c6c6c;
    font-weight: 400;
  }
}

.circleBg {
  width: 100px !important;
  height: 100px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 69px;
}

.inputColor {
  background-color: #f46a6e;
}
.notInputColor {
  background-color: #6c97f2;
}
.numberColor {
  background-color: #f46ea3;
}
.notnumberColor {
  background-color: #67e7a7;
}
</style>
