<!-- 未建册/已建册数据 -->
<template>
  <div id="myMain">
    <div class="myMain-padding displayFlexC myWbc">
      <div
        class="table-top"
        style="position: relative;flex-direction: column;padding: 0 20px;"
      >
        <div class="houseInfor-top-line">
          <span>区属</span>
          <el-checkbox-group
            v-model="checkedCities"
            @change="handleCheckedCitiesChangeRegion"
            class="checkedCities"
          >
            <el-checkbox v-for="city in cities" :label="city" :key="city">{{
              city
            }}</el-checkbox>
          </el-checkbox-group>
        </div>
        <div class="houseInfor-top-line">
          <span>房型</span>
          <el-checkbox-group
            v-model="checkedHouses"
            @change="handleCheckedHousesChangeHouse"
            class="checkedHouses"
          >
            <el-checkbox
              v-for="house in houses"
              :label="house.value"
              :key="house.value"
              >{{ house.label }}</el-checkbox
            >
          </el-checkbox-group>
        </div>
        <!-- <div class="positionPager">
          <vxe-button><i class="el-icon-upload2"></i> 导出</vxe-button>
        </div> -->
      </div>
      <div class="myTable f1 mb20">
        <vxe-table
          border
          stripe
          highlight-hover-row
          align="center"
          :data="tableData"
          show-footer
          :footer-method="footerMethod"
        >
          <vxe-column field="area" title="区属"></vxe-column>
          <vxe-column field="housingType1" title="1房"></vxe-column>
          <vxe-column field="housingType2" title="1房1厅"></vxe-column>
          <vxe-column field="housingType3" title="2房1厅"></vxe-column>
          <vxe-column field="housingType4" title="2房2厅"></vxe-column>
          <vxe-column field="housingType5" title="3房1厅"></vxe-column>
          <vxe-column field="housingType6" title="3房2厅"></vxe-column>
          <vxe-column field="housingType7" title="4房以上"></vxe-column>
          <vxe-column field="totalCount" title="总套数"></vxe-column>
          <vxe-column field="totalArea" title="总面积"></vxe-column>
          <vxe-column field="totalPaper" title="账面原值"></vxe-column>
          <vxe-column field="totalAssess" title="评估价值"></vxe-column>
          <vxe-column field="totalCount" title="办证数量"></vxe-column>
        </vxe-table>
      </div>
    </div>
  </div>
</template>

<script>
//这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
//例如：import 《组件名称》 from '《组件路径》';
const cityOptions = [
  "越秀区",
  "海珠区",
  "荔湾区",
  "天河区",
  "白云区",
  "黄埔区",
  "南沙区",
  "番禺区",
  "花都区",
  "增城区",
  "从化区",
];
const houseOptions = [
  {
    label: "单间",
    value: 1,
  },
  {
    label: "1房2厅",
    value: 2,
  },
  {
    label: "2房1厅",
    value: 3,
  },
  {
    label: "2房2厅",
    value: 4,
  },
  {
    label: "3房1厅",
    value: 5,
  },
  {
    label: "3房2厅",
    value: 6,
  },
  {
    label: "4房以上",
    value: 7,
  },
];
import { getDataHave, getDataHaveNone } from "@/api/house";
export default {
  //import引入的组件需要注入到对象中才能使用
  components: {},
  data() {
    //这里存放数据
    return {
      searchForm: {
        houseTypeId: [],
        attribute: [],
      },
      currentRoute: null,
      cities: cityOptions,
      houses: houseOptions,
      checkedCities: [],
      checkedHouses: [],
      tableData: [
        {
          a: "荔湾区",
          b: "99",
          c: "1",
        },
        {
          a: "越秀区",
          b: "99",
          c: "2",
        },
        {
          a: "海珠区",
          b: "99",
          c: "3",
        },
        {
          a: "天河区",
          b: "99",
          c: "4",
        },
        {
          a: "白云区",
          b: "99",
          c: "3",
        },
        {
          a: "黄埔区",
          b: "99",
          c: "2",
        },
        {
          a: "番禺区",
          b: "99",
          c: "6",
        },
        {
          a: "花都区",
          b: "99",
          c: "0",
        },
        {
          a: "南沙区",
          b: "99",
          c: "8",
        },
        {
          a: "从化区",
          b: "99",
          c: "0",
        },
        {
          a: "增城区",
          b: "99",
          c: "9",
        },
      ],
      footerData: []
    };
  },
  //监听属性 类似于data概念
  computed: {},
  //监控data中的数据变化
  watch: {},
  //方法集合
  methods: {
    async getCheckedList(obj) {
      let res = []
      if (this.$route.path == '/house/layout_statistics/house_info_YesStatistics') {
        res = await getDataHave(obj);
      } else {
        res = await getDataHaveNone(obj);
      }
      console.log('getCheckedList', res);
      
      let arr = res.data;
      arr.map(v => {
        console.log('v', v)
        v.totalArea = v.totalArea / 10000
        v.totalAssess = v.totalAssess / 10000
        v.totalPaper = v.totalPaper / 10000
      })
      this.tableData = arr
      // this.tablePage.totalResult = res.count;
    },
    // 多个复选框--区属
    handleCheckedCitiesChangeRegion(value) {
      this.searchForm.attribute = value;
      this.getCheckedList(this.searchForm);
      console.log("handleCheckedCitiesChangeRegion", value);
      let checkedCount = value.length;
      this.checkAllCities = checkedCount === this.cities.length;
      this.isIndeterminateCities =
        checkedCount > 0 && checkedCount < this.cities.length;
      this.checkAList = value;
      if (value != "") {
        this.disabledVal = false;
        // this.getCheckedList();
      } else {
        this.disabledVal = true;
        // this.$message({ type: "error", message: "请选择所属区！" });
        // this.getAllInfo();
      }
    },
    // 多个复选框--房型
    handleCheckedHousesChangeHouse(value) {
      this.searchForm.houseTypeId = value;
      this.getCheckedList(this.searchForm);
      console.log("handleCheckedHousesChangeHouse", value);
      let checkedCount = value.length;
      this.checkAllHouses = checkedCount === this.houses.length;
      this.isIndeterminateHouses =
        checkedCount > 0 && checkedCount < this.houses.length;
      this.checkBList = value;
      if (this.checkAList != "") {
        // this.getCheckedList();
      } else {
        // this.$message({ type: "error", message: "请选择所属区！" });
        // this.getAllInfo();
      }
    },
    sumNum(list, field) {
      let count = 0;
      list.forEach((item) => {
        count += Number(item[field]);
      });
      return count;
    },
    footerMethod({ columns, data }) {

      const sums = []
      columns.forEach((column, columnIndex) => {
        if (columnIndex == 0) {
        console.log('columnIndexcolumnIndexcolumnIndex');
        sums.push("合计");
        }else {
          let sumCell = null
          switch (column.property) {
            case 'housingType1':
            case 'housingType2':
            case 'housingType3':
            case 'housingType4':
            case 'housingType5':
            case 'housingType6':
            case 'housingType7':
            case 'housingType8':
            case 'totalArea':
              sumCell = this.sumNum(data, column.property)
              break
            case 'totalAssess':
              sumCell = this.sumNum(data, column.property)
              break
            case 'totalCount':
              sumCell = this.sumNum(data, column.property)
              break
            case 'totalPaper':
              sumCell = this.sumNum(data, column.property)
              break
          }
          sums.push(sumCell)
        }
      })
      console.log('sumssumssums', sums);
      return [sums]
    },
  },
  //生命周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    console.log('数据统计')
    this.getCheckedList(this.searchForm)
    // 获取当前路由
    this.currentRoute = this.$route.path;
    if (this.currentRoute == "/house/layout_info/house_info_NoStatistics") {
      // 未建册
    } else {
      // 已建册
    }
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //生命周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁完成
  activated() {}, //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
//@import url(); 引入公共css类
.table-top {
  .houseInfor-top-line {
    width: 100%;
    height: 40px;
    line-height: 40px;
    clear: both;
  }
  span {
    float: left;
    margin-right: 20px;
  }
  .el-checkbox {
    width: 100px;
  }
}
::v-deep .el-checkbox-group {
  display: flex;
}
</style>
