<ul class="el-upload-list el-upload-list--text">
    <li tabindex="0" class="el-upload-list__item is-success">
        <a class="el-upload-list__item-name"><i
            class="el-icon-document">

        </i>food.jpeg
    </a>
        <label class="el-upload-list__item-status-label"><i
            class="el-icon-upload-success el-icon-circle-check"></i></label><i class="el-icon-close"></i><i
            class="el-icon-close-tip">按 delete 键可删除</i>/li>
</ul>