<!--  -->
<template>
  <div class="gateway">
    <div
      class="facility_table"
      style="display: flex;height: auto;width: 100%;flex: 1;">
      <!-- 左边导航 -->
      <!-- <div class="table_nav" style="width:30% height: auto;flex: 1;">
        <el-row style="background-color: #409EFF;
        color: white;
        height: 40px;
        line-height: 40px;
        border-radius: 5px;
        text-align: center;">
            <span>设备列表</span>
            <span style="position: absolute;right: 10px;font-size: 14px;">
                <i class="vxe-icon--plus" @click="addEQ"></i>
            </span>
        </el-row>
        <div class="one">
          <p 
            v-for="item in eqTypeList" 
            :key="item.id" 
            :class="{ active: tablePage.nodeId == item.id }" 
            :data-index="item.id"
            @click="searchTypeEvent(item)">
            {{item.name}}
            <i style="color:red;float: right;line-height: 45px;padding: 0 10px;font-size: 14px;" class="el-icon-delete" @click="delEq(item)"></i>
            <i style="color:blue;float: right;line-height: 45px;padding: 0 10px;font-size: 14px;" class="el-icon-edit" @click="putEq(item)"></i>
          </p>
        </div>
      </div> -->
      <!-- 右边导航 -->
      <div class="app-nav" style="margin:0px;width: 70%;height: auto;flex: 6;">
        <div class="son-nav" style="">
          <div class="tenAccountList-top">
            <vxe-button
              @click="addEquipment()"
              status="success"
              class="on_button"
              style="float: left;"
              ><i class="vxe-icon--plus"></i>添加厂家</vxe-button>
          </div>
          <!-- 表单 -->
          <div class="vxe-table-box">
            <vxe-table
              ref="xTable"
              :export-config="{}"
              border
              resizable
              auto-resize
              sync-resize
              :loading="loading"
              :data="tableData"
              row-id="id"
              align="center"
              show-overflow
              show-header-overflow
              :seq-config="{startIndex: (tablePage.current - 1) * tablePage.size}">
              <vxe-table-column type="seq" title="序号" width="60"/>
              <vxe-table-column field="factory" title="厂家名称" />
              <vxe-table-column field="contacts" title="联系人" />
              <vxe-table-column field="phone" title="联系电话"/>
              <vxe-table-column field="supply" title="供应商" />
              <vxe-table-column field="site" title="厂家地址" />
              <vxe-table-column field="remark" title="备注" />
              <vxe-table-column title="操作" show-overflow width="100px">
                <template #default="{ row }">
                  <vxe-button
                  style="color:blue;"
                    type="text"
                    title="修改"
                    icon="el-icon-edit"
                    @click="openDialogEventThree(row)"
                  />
                  <vxe-button
                  style="color:red;"
                    type="text"
                    title="删除"
                    icon="el-icon-delete"
                    @click="del(row)"
                  />
                </template>
              </vxe-table-column>
              <template #empty>
                <span style="color: red;">
                  <img :src="require('@/assets/yellowduck.gif')" />
                  <p>没有更多数据了！</p>
                </span>
              </template>
            </vxe-table>
          </div>
          <vxe-pager
            perfect
            :current-page.sync="tablePage.current"
            :page-size.sync="tablePage.size"
            :total="tablePage.total"
            :layouts="[
              'PrevJump',
              'PrevPage',
              'JumpNumber',
              'NextPage',
              'NextJump',
              'FullJump',
              'Total'
            ]"
            @page-change="handlePageChange"/>
          <!-- 弹窗 -->
          <vxe-modal v-model="equipmentVal" :title="dialogTitle ? '添加厂家信息' : '修改厂家信息'" width="40%" :show-close="false">
            <template #default>
              <el-form
                ref="form"
                :rules="formRules"
                :model="form"
                label-width="130px"
                :inline="true">
                <el-row>
                  <el-col :span="24">
                    <el-form-item label="厂家名称：" prop="factory">
                      <el-input v-model="form.factory" placeholder="输入厂家名称"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="24">
                    <el-form-item label="联系人：">
                      <el-input v-model="form.contacts" placeholder="输入联系人"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="24">
                    <el-form-item label="联系电话：">
                      <el-input v-model="form.phone" placeholder="输入联系电话"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="24">
                    <el-form-item label="供应商：">
                      <el-input v-model="form.supply" placeholder="输入供应商"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="24">
                    <el-form-item label="厂家地址：">
                      <el-input v-model="form.site" placeholder="输入厂家地址"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="24">
                    <el-form-item label="备注：">
                      <el-input v-model="form.remark" placeholder="输入备注"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
              </el-form>
              <el-divider></el-divider>
              <div class="alert_button">
                <el-row>
                  <el-button size="medium" @click="submitForm('form')" type="primary"
                    >确定</el-button
                  >
                  <el-button size="medium" @click="resetEvent('form')" type="danger"
                    >取消</el-button
                  >
                </el-row>
              </div>
            </template>
          </vxe-modal>
          <vxe-modal v-model="equipmentVal2" :title="dialogTitle2 ? '添加设备类型' : '修改设备类型'" width="25%" :show-close="false">
            <template #default>
              <el-form
                ref="form2"
                :rules="formRules2"
                :model="form2"
                label-width="130px"
                :inline="true">
                <el-row>
                  <el-col :span="24">
                    <el-form-item label="设备名称：" prop="name">
                      <el-input v-model="form2.name" placeholder="输入设备名称"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
              </el-form>
              <el-divider></el-divider>
              <div class="alert_button">
                <el-row>
                  <el-button size="medium" @click="submitForm2('form2')" type="primary"
                    >确定</el-button
                  >
                  <el-button size="medium" @click="resetEvent('form2')" type="danger"
                    >取消</el-button
                  >
                </el-row>
              </div>
            </template>
          </vxe-modal>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// 这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
// 例如：import 《组件名称》 from '《组件路径》';
import { getEqTypeList } from '@/api/vacant_house/facility.js'
import { getFactoryList, addFactory, delFactory, putFactory, addEq,putEq, delEq } from '@/api/vacant_house/factory'
export default {
  // import引入的组件需要注入到对象中才能使用
  components: {},
  data() {
    // 这里存放数据
    return {
      //添加弹窗
      equipmentVal: false,
      dialogTitle: false,
      tablePage: {
        current: 1,
        size: 15,
        total: 0,
        // nodeId: 2
      },
      loading: false,
      tableData: [],
      form: {
            factory:null,
            contacts:null,
            phone:null,
            supply:null,
            site:null,
            remark:null
      },
      formRules: {
            factory:[
                {
                    required: true,
                    message: "请输入厂家名称",
                    trigger: "blur"
                }
            ],
            contacts:[
                {
                    required: true,
                    message: "请输入联系人",
                    trigger: "blur"
                }
            ],
            phone:[
                {
                    required: true,
                    message: "请输入联系电话",
                    trigger: "blur"
                }
            ],
            supply:[
                {
                    required: true,
                    message: "请输入供应商",
                    trigger: "blur"
                }
            ],
            site:[
                {
                    required: true,
                    message: "请输入厂家地址",
                    trigger: "blur"
                }
            ],
      },
      // 厂家列表
      eqTypeList: [],
      // 设备类型
      equipmentVal2:null,
      dialogTitle2: null,
      form2: {
          name: null,
      },
      formRules2: {
            name:[
                {
                    required: true,
                    message: "请输入设备类型",
                    trigger: "blur"
                }
            ],
      }
    };
  },
  // 监听属性 类似于data概念
  computed: {},
  // 监控data中的数据变化
  watch: {
  },
  // 生命周期 - 创建完成（可以访问当前this实例）
  created() {
    this.init();
  },
  // 生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {},
  beforeCreate() {}, // 生命周期 - 创建之前
  beforeMount() {}, // 生命周期 - 挂载之前
  beforeUpdate() {}, // 生命周期 - 更新之前
  updated() {}, // 生命周期 - 更新之后
  beforeDestroy() {}, // 生命周期 - 销毁之前
  destroyed() {}, // 生命周期 - 销毁完成
  activated() {},
  // 方法集合
  methods: {
    init() {
      this.loading = true;
      // 设备类型
      getEqTypeList().then((res) => {
        if(res.code === 0){
          this.eqTypeList = res.data.records
        }
      })
      // 获取厂家信息
      getFactoryList(this.tablePage).then(res => {
          this.loading = false;
        //   console.log("厂家信息表", res);
          if(res.code === 0){
              this.tableData = res.data.records
              this.tablePage.total = res.data.total
          }
      })
    },
    // 添加设备
    addEQ(){
        this.equipmentVal2 = true
        this.dialogTitle2 = true
    },
    
    handlePageChange({ currentPage, pageSize }) {
      this.tablePage.current = currentPage;
      this.tablePage.size = pageSize;
      this.init()
    },
    screening() {
      this.tablePage.page = 1;
      this.init()
    },
    reset(formName) {
      this.$refs[formName].resetFields();
      this.init()
    },
    searchTypeEvent(item){
      // this.tablePage.nodeId = item.id
      this.init()
    },
    // 新增
    async addEquipment(){
      this.equipmentVal = true
      this.dialogTitle = true
      this.$nextTick(() => {
        this.form = {
            factory:null,
            contacts:null,
            phone:null,
            supply:null,
            site:null,
            remark:null
        }
        this.$refs['form'].resetFields();
      })
    },
    // 修改
    async openDialogEventThree(row){
      this.equipmentVal = true
      this.dialogTitle = false
      this.form = JSON.parse(JSON.stringify(row))
    },
    changeEvent(val){
      // this.tablePage.nodeId = val
    },
    del(row) {
      this.$confirm("此操作将永久删除数据, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
            delFactory(row.id).then(res => {
                this.$message({ type: "success", message: "删除成功!" });
                this.init();
            })
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
            if(this.dialogTitle){
                // this.form.nodeId = this.tablePage.nodeId
                addFactory(this.form).then(res => {
                    this.mySuccess('添加', formName)
                })
            }else{
                putFactory(this.form).then(res => {
                    this.mySuccess('修改', formName)
                })
            }
            
        } else {
          return false;
        }
      });
    },
    mySuccess(label, formName){
      this.$message({
        type: "success",
        message: label + "成功!"
      });
      this.init();
      this.equipmentVal = false
      this.equipmentVal2 = false
      this.$refs[formName].resetFields();
    },
    resetEvent(formName) {
      if(this.dialogTitle || this.dialogTitle2){
        this.$refs[formName].resetFields();
      }
      this.equipmentVal = false
      this.equipmentVal2 = false
    },
    submitForm2(formName){
        this.$refs[formName].validate(valid => {
        if (valid) {
            if(this.dialogTitle2){
                addEq(this.form2).then(res => {
                    this.mySuccess('添加', formName)
                })
            }else{
               putEq(this.form2).then(res => {
                    this.mySuccess('修改', formName)
                })
            }
            
        } else {
          return false;
        }
      });
        
    },
    delEq(item){
        this.$confirm("此操作将永久删除数据, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
            delEq(item.id).then(res => {
                this.$message({ type: "success", message: "删除成功!" });
                this.init();
            })
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    putEq(item){
        this.dialogTitle2 = false
        this.equipmentVal2 = true
        this.form2 = item
    },
  } // 如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
//@import url(); 引入公共css类
.gateway {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.vxe-table{
  flex: 1;
}
.el-row:last-of-type{
  .el-form-item{
    width: 100%;
    ::v-deep.el-form-item__content{
      width: calc( 100% - 200px );
    }
  }
}
.app-nav {
  //   display: block;
  background-color: white;
  .dialog-form-button {
    text-align: center;
    margin-bottom: 20px;
  }
  .tenAccountList-top {
    margin-bottom: 20px;
    span {
      margin-right: 15px;
    }
    .on_button {
      float: right;
      margin-left: 15px;
    }
  }
  ::v-deep.dialogThree {
    .vxe-modal--content {
      display: flex;
      flex-direction: column;
    }
  }
  #poi {
    width: 100%;
    height: 100%;
  }
  #panel {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    overflow: auto;
    width: 300px;
    z-index: 999;
    border-left: 1px solid #eaeaea;
    background: #fff;
  }

  #searchBar {
    height: 30px;
    background: #ccc;
  }

  #searchInput {
    width: 100%;
    height: 30px;
    line-height: 30%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 0 5px;
  }

  #searchResults {
    overflow: auto;
    height: calc(100% - 30px);
  }

  .amap_lib_placeSearch,
  .amap-ui-poi-picker-sugg-container {
    border: none !important;
  }

  .amap_lib_placeSearch .poibox.highlight {
    background-color: #cae1ff;
  }

  .poi-more {
    display: none !important;
  }
}
.facility_table {
  .table_nav {
    background: white;
    margin-right: 20px;
    padding: 20px;
    .table_nav_item {
      width: 100%;
    }
  }
}
.alert_button {
  .el-button {
    float: right;
    margin-left: 20px;
  }
}
.one {
  p {
    // text-align: center;
    margin: 0;
    height: 45px;
    line-height: 45px;
    border-radius: 5px;
    padding-left: 20px;
  }
}
.active {
  background: #f0f1f3;
}
</style>
