<!-- 房屋管理 -->
<template>
  <div class="app-nav">
    <div class="son-nav">
      <el-form
        ref="tablePage"
        :inline="true"
        :model="tablePage"
        class="form-inline">
        <el-form-item label="" prop="areaName">
          <el-select v-model="tablePage.areaName" placeholder="区属" @change="screening">
            <el-option
              v-for="item in areaList"
              :key="item.id"
              :label="item.name"
              :value="item.name"/>
          </el-select>
        </el-form-item>
        <el-form-item label="" prop="villageName">
          <el-input v-model="tablePage.villageName" placeholder="小区名称" />
        </el-form-item>
        <el-form-item label="" prop="status">
          <el-select v-model="tablePage.status" placeholder="设备绑定" @change="screening">
            <el-option label="未绑定" value="0" />
            <el-option label="已绑定" value="1" />
          </el-select>
        </el-form-item>
        <el-form-item label="" prop="location">
          <el-input v-model="tablePage.location" placeholder="房产证地址" />
        </el-form-item>
        <el-form-item label="" prop="houseStatus">
          <el-select v-model="tablePage.houseStatus" placeholder="房屋状态" @change="screening">
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="screening">查询</el-button>
        </el-form-item>
        <el-form-item>
          <el-button type="default" @click="reset('tablePage')">重置</el-button>
        </el-form-item>
        <el-form-item>
          <el-button type="default" @click="daochu">导出</el-button>
        </el-form-item>
        <el-form-item>
          <el-button type="success" @click="openDialogEvent()"><i class="vxe-icon--plus"></i> 添加</el-button>
        </el-form-item>
      </el-form>
      <div class="vxe-table-box">
        <vxe-table
          ref="houseTable"
          :export-config="{}"
          border
          resizable
          auto-resize
          sync-resize
          height="auto"
          :loading="loading"
          :data="tableData">
          <vxe-table-column field="areaName" title="区属" />
          <vxe-table-column field="buildNo" title="街道(楼号)" />
          <vxe-table-column field="ladder" title="门牌(梯号)" />
          <vxe-table-column field="villageName" title="小区名称" />
          <vxe-table-column field="roomNo" title="房号" />
          <vxe-table-column field="location" show-overflow title="房产证地址" />
          <vxe-table-column field="shareArea" title="分摊面积" />
          <vxe-table-column field="inArea" title="套内面积" />
          <!-- <vxe-table-column field="" title="单元总面积" /> -->
          <vxe-table-column field="behoof" title="房屋用途" />
          <vxe-table-column field="houseStatus" title="房屋状态" >
            <template #default="{row}">
              <span v-if="row.houseStatus == 0" style="color: green">闲置</span>
              <span v-else style="color:red;">使用</span>
            </template>
          </vxe-table-column>
          <!-- <vxe-table-column field="" title="权属信息" />
          <vxe-table-column field="" title="是否办证" />
          <vxe-table-column field="" title="是否空房" />
          <vxe-table-column field="" title="房源状态" /> -->
          <vxe-table-column field="deviceName" title="网关名称（机身号）" width="150" >
            <template #default="{row}">
              <span v-if="row.deviceName != null">{{ row.deviceName }}（{{ row.number}}）</span>
              <span v-else></span>
            </template>
          </vxe-table-column>
          <vxe-table-column field="status" title="绑定状态">
            <template #default="{ row }">
              <span :style="row.status == 0 ? 'color:red;' : 'color:green;'">{{
                mergeList[row.status]
              }}</span>
            </template>
          </vxe-table-column>
          <!-- <vxe-table-column field="createTime" formatter="formatDate" title="创建时间" /> -->
          <vxe-table-column title="操作" show-overflow width="180px">
            <template #default="{ row }">
              <vxe-button
                style="color:blue;"
                type="text"
                title="模式转移"
                icon="el-icon-c-scale-to-original"
                @click="changeHouseType(row)">
              </vxe-button>
              <vxe-button
                v-if="row.status == 0"
                style="color:green;"
                type="text"
                title="绑定网关"
                icon="el-icon-connection"
                @click="openDialogEventThree(row)"
              />
              <vxe-button
                v-else
                style="color:blue;"
                type="text"
                title="解绑网关"
                @click="jiebang(row)">
                <svg-icon icon-class="jiebang" />
              </vxe-button>
              <vxe-button
                style="color:blue;"
                type="text"
                title="修改"
                icon="el-icon-edit"
                @click="openDialogEvent(row)"
              />
              <!-- 解绑完才能删除 -->
              <vxe-button
                v-if="row.status == 0"
                style="color:red;"
                type="text"
                title="删除"
                icon="el-icon-delete"
                @click="del(row)"
              />
            </template>
          </vxe-table-column>
          <template #empty>
            <span style="color: red;">
              <img :src="require('@/assets/yellowduck.gif')" />
              <p>没有更多数据了！</p>
            </span>
          </template>
        </vxe-table>
      </div>
      <vxe-pager
        perfect
        :current-page.sync="tablePage.page"
        :page-size.sync="tablePage.limit"
        :total="tablePage.total"
        :layouts="[
          'PrevJump',
          'PrevPage',
          'JumpNumber',
          'NextPage',
          'NextJump',
          'FullJump',
          'Total'
        ]"
        @page-change="handlePageChange"
      />
    </div>
    <vxe-modal
      v-model="dialog"
      :title="dialogTitle ? '新增房屋' : '修改房屋'"
      :z-index="89"
      width="40%"
      :show-close="false">
      <template #default>
        <el-form ref="form" :rules="rules" :model="form" label-width="110px">
          <el-row>
            <el-col :span="12">
              <el-form-item label="区属" prop="areaId">
                <el-select
                  v-model="form.areaId"
                  placeholder="请选择区属"
                  @change="change">
                  <el-option
                    v-for="item in areaList"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="小区名称">
                <el-autocomplete
                  v-model="villageName"
                  :fetch-suggestions="querySearch"
                  placeholder="请输小区名称"
                  value-key="name"
                  :trigger-on-focus="false"
                  @select="handleSelect"
                />
                <el-button icon="el-icon-plus" @click="openDialogEventTwo" />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="房产证地址" prop="location">
                <el-input v-model="form.location" placeholder="请输入位置" />
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="街道(楼号)">
                <el-input v-model="form.buildNo" placeholder="请输入楼号" />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="门牌(梯号)" prop="ladder">
                <el-input
                  v-model="form.ladder"
                  placeholder="请输入梯号"
                /> </el-form-item
            ></el-col>
            <el-col :span="12">
              <el-form-item label="房号" prop="roomNo">
                <el-input
                  v-model="form.roomNo"
                  placeholder="请输入房号"
                /> </el-form-item
            ></el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="分摊面积" prop="shareArea">
                <el-input
                  v-model="form.shareArea"
                  placeholder="请输入分摊面积"
                /> </el-form-item
            ></el-col>
            <el-col :span="12"><el-form-item label="套内面积" prop="inArea">
                <el-input
                  v-model="form.inArea"
                  placeholder="请输入套内面积"
                /> </el-form-item
            ></el-col>
          </el-row>
          <el-row>
            <!-- <el-col :span="12">
              <el-form-item label="单元总面积" prop="">
                <el-input
                  v-model="form.inArea"
                  placeholder="请输入单元总面积"
                /> </el-form-item
            ></el-col> -->
            <el-col :span="12"
              ><el-form-item label="房屋用途" prop="behoof">
                <el-input
                  v-model="form.behoof"
                  placeholder="请输入房屋用途"
                /> </el-form-item
            ></el-col>
          </el-row>
          <!-- <el-row>
            <el-col :span="12">
              <el-form-item label="权属信息" prop="">
                <el-input
                  v-model="form.inArea"
                  placeholder="请输入权属信息"
                /> </el-form-item
            ></el-col>
            <el-col :span="12"
              ><el-form-item label="是否办证" prop="behoof">
                <el-input
                  v-model="form.behoof"
                  placeholder="请输入是否办证"
                /> </el-form-item
            ></el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="是否空房" prop="">
                <el-input
                  v-model="form.inArea"
                  placeholder="请输入是否空房"
                /> </el-form-item
            ></el-col>
            <el-col :span="12"
              ><el-form-item label="房源状态" prop="behoof">
                <el-input
                  v-model="form.behoof"
                  placeholder="请输入房源状态"
                /> </el-form-item
            ></el-col>
          </el-row> -->
          <el-row>
            <el-col :span="24">
              <el-form-item label="房屋图片">
                <el-upload
                  class="avatar-uploader"
                  :action="action"
                  :headers="headers"
                  :limit="1"
                  :file-list="file_list"
                  list-type="picture-card"
                  :on-success="handSuccess"
                  :on-remove="handleRemove">
                  <i class="el-icon-plus" />
                </el-upload>
              </el-form-item>
            </el-col>
          </el-row>
          <div class="dialog-form-button">
            <el-button type="default" @click="reset('form')">取消</el-button>
            <el-button type="primary" @click="submitForm('form')">{{
              dialogTitle ? "新增" : "修改"
            }}</el-button>
          </div>
        </el-form>
      </template>
    </vxe-modal>
    <vxe-modal v-model="dialog2" title="新增小区" :z-index="90" width="400">
      <template #default>
        <el-form ref="form2" :rules="rules2" :model="form2" label-width="80px">
          <el-form-item label="区属" prop="areaId">
            <el-select v-model="form2.areaId" placeholder="请选择区属">
              <el-option
                v-for="item in areaList"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
            <el-button icon="el-icon-plus" @click="openDialogEventFour" />
          </el-form-item>
          <el-form-item label="小区名称" prop="name">
            <el-input v-model="form2.name" placeholder="请输入小区名称" />
          </el-form-item>
          <el-form-item label="小区坐标" prop="center">
            <el-input v-model="form2.center" placeholder="请输入小区坐标" />
          </el-form-item>
          <el-form-item label="位置" prop="location">
            <el-input v-model="form2.location" placeholder="请输入位置" />
          </el-form-item>
          <div class="dialog-form-button">
            <el-button type="default" @click="reset2('form2')">取消</el-button>
            <el-button type="primary" @click="submitForm2('form2')"
              >新增</el-button
            >
          </div>
        </el-form>
      </template>
    </vxe-modal>
    <vxe-modal
      v-model="dialog3"
      class-name="dialogThree"
      title="关联网关"
      :z-index="91"
      width="1000"
      height="500">
      <template #default>
        <el-form
          ref="searchFrom"
          :inline="true"
          :model="searchFrom"
          class="form-inline">
          <el-form-item label="SIM 卡号:" prop="sim">
            <el-input v-model="searchFrom.sim" placeholder="网关 SIM 卡号" />
          </el-form-item>
          <el-form-item label="网关机身号:" prop="number">
            <el-input v-model="searchFrom.number" placeholder="网关机身号" />
          </el-form-item>
          <!-- <el-form-item label="" prop="number">
            <el-input v-model="searchFrom.number" placeholder="设备序号" />
          </el-form-item>
          <el-form-item label="" prop="name">
            <el-input v-model="searchFrom.name" placeholder="设备名称" />
          </el-form-item> -->
          <el-form-item>
            <el-button type="primary" @click="screening2">查询</el-button>
          </el-form-item>
          <el-form-item>
            <el-button type="default" @click="reset('searchFrom')"
              >重置</el-button
            >
          </el-form-item>
        </el-form>
        <div class="vxe-table-box">
          <vxe-table
            ref="eqTable"
            border
            resizable
            :loading="loading"
            auto-resize
            sync-resize
            height="auto"
            :data="tableDataThree"
            row-id="id"
            :seq-config="{startIndex: (searchFrom.page - 1) * searchFrom.limit}">
            <vxe-table-column type="seq" title="序号" width="60"></vxe-table-column>
            <vxe-table-column field="deviceName" title="网关名称" />
            <vxe-table-column field="location" show-overflow title="安装位置" />
            <vxe-table-column field="factory" title="厂家" />
            <vxe-table-column field="sim" title="SIM卡号" />
            <vxe-table-column field="number" title="网关机身号" />
            <vxe-table-column field="time" title="创建时间" />
            <!-- <vxe-table-column field="time" title="激活时间" /> -->
            <vxe-table-column field="status" title="状态">
              <template #default="{ row }">
                <span
                  :style="row.status == 0 ? 'color:green;' : 'color:red;'"
                  >{{ statusList[row.status] }}</span
                >
              </template>
            </vxe-table-column>
            <vxe-table-column field="remark" title="备注" />

            <!-- <vxe-table-column field="id" title="编号" />
            <vxe-table-column field="name" title="设备名称" />
            <vxe-table-column field="type" title="设备类型" />
            <vxe-table-column field="location" title="安装位置" show-overflow />
            <vxe-table-column field="number" title="设备序号" />
            <vxe-table-column field="status" title="状态">
              <template #default="{ row }">
                <span
                  :style="row.status == 0 ? 'color:green;' : 'color:red;'"
                  >{{ statusList[row.status] }}</span
                >
              </template>
            </vxe-table-column> -->
            <vxe-table-column title="操作" show-overflow>
              <template #default="{ row }">
                <vxe-button
                  title="绑定"
                  icon="vxe-icon--zoomout"
                  @click="merge(row)"
                />
              </template>
            </vxe-table-column>
          </vxe-table>
        </div>
        <vxe-pager
          perfect
          :current-page.sync="searchFrom.page"
          :page-size.sync="searchFrom.limit"
          :total="searchFrom.total"
          :layouts="[
            'PrevJump',
            'PrevPage',
            'JumpNumber',
            'NextPage',
            'NextJump',
            'FullJump',
            'Total'
          ]"
          @page-change="handlePageChange"
        />
      </template>
    </vxe-modal>
    <vxe-modal
      v-model="dialog4"
      title="选择小区坐标"
      :z-index="92"
      width="1200"
      height="600"
      @show="show">
      <template #default>
        <div id="poi">
          <div id="panel" class="scrollbar1">
            <div id="searchBar">
              <input id="searchInput" placeholder="输入关键字搜素POI" />
            </div>
            <div id="searchResults" />
          </div>
        </div>
      </template>
    </vxe-modal>
    <vxe-modal v-model="alertVal" title="模式转移" show-footer @confirm="confirmEvent">
      <template #default>
        <span>房屋状态：</span>
        <el-select v-model="houseStatus" placeholder="请选择">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </template>
    </vxe-modal>
  </div>
</template>

<script>
// 这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
// 例如：import 《组件名称》 from '《组件路径》';
import {
  getListSysArea,
  getListOnlyWG,
  updateByHouseId,
  editEQ
} from "@/api/vacant_house/eq.js";
import {
  getList,
  addHouse,
  editHouse,
  delHouse,
  getListSysVillage,
  addSysVillage,
  updateRemoveHouse
} from "@/api/vacant_house/house";
import { getToken } from "@/utils/auth";
import { delFile } from "@/api/vacant_house/upload";
import AMap from "AMap";
import AMapUI from "AMapUI";
import { getGatewayInfoList } from '@/api/vacant_house/gateway.js'
export default {
  // import引入的组件需要注入到对象中才能使用
  components: {},
  data() {
    // 这里存放数据
    return {
      houseStatus: null,
      rowId: null,
      options: [{
        value: 0,
        label: '空置状态'
      }, {
        value: 1,
        label: '使用状态'
      }],
      alertVal: false,
      cityVal: "440100",
      areaList: [],
      tablePage: {
        page: 1,
        limit: 10,
        total: 0,
        areaName: null,
        villageName: null,
        status: null,
        location: null,
        houseStatus: null,
      },
      loading: false,
      tableData: [],
      dialog: false,
      dialogTitle: true,
      form: {
        id: null,
        areaId: null,
        villageId: null,
        villageName: null,
        location: null,
        buildNo: null,
        ladder: null,
        roomNo: null,
        shareArea: null,
        inArea: null,
        behoof: null,
        image: null
      },
      villageName: null,
      file_list: [],
      action: process.env.VUE_APP_BASE_API + "/upload/uploadFile",
      headers: {
        Authorization: "Bearer " + getToken()
      },
      mergeList: {
        0: "未绑定",
        1: "已绑定"
      },
      rules: {
        areaId: [
          {
            required: true,
            message: "请选择区属",
            trigger: "change"
          }
        ],
        villageName: [
          {
            required: true,
            message: "请输入小区名称",
            trigger: "blur"
          }
        ],
        location: [
          {
            required: true,
            message: "请输入位置",
            trigger: "blur"
          }
        ],
        buildNo: [
          {
            required: true,
            message: "请输入楼号",
            trigger: "blur"
          }
        ],
        ladder: [
          {
            required: true,
            message: "请输入梯号",
            trigger: "blur"
          }
        ],
        roomNo: [
          {
            required: true,
            message: "请输入房号",
            trigger: "blur"
          }
        ],
        shareArea: [
          {
            required: true,
            message: "请输入分摊面积",
            trigger: "blur"
          }
        ],
        inArea: [
          {
            required: true,
            message: "请输入套内面积",
            trigger: "blur"
          }
        ]
      },
      dialog2: false,
      form2: {
        name: null,
        center: null,
        location: null,
        areaId: null
      },
      rules2: {
        name: [
          {
            required: true,
            message: "请输入小区名称",
            trigger: "blur"
          }
        ],
        center: [
          {
            required: true,
            message: "请输入小区坐标",
            trigger: "blur"
          }
        ],
        location: [
          {
            required: true,
            message: "请输入位置",
            trigger: "blur"
          }
        ],
        areaId: [
          {
            required: true,
            message: "请选择区属",
            trigger: "change"
          }
        ]
      },
      searchFrom: {
        number: null,
        sim: null,
        houseId: 0,
        nodeType:1,
        page: 1,
        limit: 5,
        total: 0
      },
      dialog3: false,
      statusList: {
        0: "在线",
        1: "离线"
      },
      form3: {
        oldEquipId: null,
        id: null,
        status: null
      },
      tableDataThree: [],
      dialog4: false
    };
  },
  // 监听属性 类似于data概念
  computed: {},
  // 监控data中的数据变化
  watch: {},
  // 生命周期 - 创建完成（可以访问当前this实例）
  created() {
    this.init();
  },
  // 生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {},
  beforeCreate() {}, // 生命周期 - 创建之前
  beforeMount() {}, // 生命周期 - 挂载之前
  beforeUpdate() {}, // 生命周期 - 更新之前
  updated() {}, // 生命周期 - 更新之后
  beforeDestroy() {}, // 生命周期 - 销毁之前
  destroyed() {}, // 生命周期 - 销毁完成
  activated() {},
  // 方法集合
  methods: {
    changeHouseType(row){
      this.alertVal = true
      this.houseStatus = row.houseStatus
      this.rowId = row.id
    },
    // 修改房屋状态
    confirmEvent(){
      editHouse({id: this.rowId, houseStatus: this.houseStatus}).then(() => {
        this.$notify({
          title: "",
          message: "操作成功",
          type: "success",
          duration: 2000
        });
        this.getList_api();
        this.alertVal = false
      });
    },
    init() {
      this.loading = true;
      // 区域信息
      getListSysArea({ current: 1, size: 20 }).then(res => {
        this.areaList = res.data.records;
      });
      this.getList_api();
    },
    // 获取房屋信息
    getList_api() {
      this.loading = true;
      getList(this.tablePage).then(res => {
        console.log("房屋信息", res);
        this.tableData = res.data;
        this.tablePage.total = res.count;
        this.dialog = false;
        this.loading = false;
      });
    },
    daochu() {
      this.$refs.houseTable.openExport();
    },
    openDialogEvent(val) {
      this.file_list = [];
      this.villageName = null;
      if (val) {
        this.dialogTitle = false;
        this.form = Object.assign({}, val);
        if (this.form.image) {
          this.file_list[0] = {
            url: this.form.image
          };
        }
        this.villageName = val.villageName;
        console.log(this.file_list);
      } else {
        this.form = {};
        this.dialogTitle = true;
      }
      this.dialog = true;
    },
    openDialogEventTwo() {
      this.form2 = {};
      this.dialog2 = true;
    },
    screening() {
      this.tablePage.page = 1;
      this.getList_api();
    },
    screening2() {
      this.searchFrom.page = 1
      // 查网关信息列表
      getGatewayInfoList(this.searchFrom).then((res) => {
        if(res.code === 200){
          this.tableDataThree = res.data
          this.searchFrom.total = res.count
        }
      })
      // getListOnlyWG(this.searchFrom).then(res => {
      //   this.tableDataThree = res.data.records;
      //   this.searchFrom.total = res.data.total;
      // });
    },
    reset(formName) {
      if(formName === 'tablePage'){
        this.init()
      }else if(formName === 'searchFrom'){
        this.screening2()
      }
      this.$refs[formName].resetFields();
      this.dialog = false;
    },
    reset2(formName) {
      this.$refs[formName].resetFields();
      this.dialog2 = false;
    },
    handlePageChange({ currentPage, pageSize }) {
      this.tablePage.page = currentPage;
      this.tablePage.size = pageSize;
      this.getList_api();
    },
    // 绑定网关按钮的弹窗
    openDialogEventThree(row) {
      this.form3.oldEquipId = row.equipId
      this.form3.id = row.id;
      // 查网关信息
      getGatewayInfoList(this.searchFrom).then((res) => {
        if(res.code === 200){
          this.dialog3 = true;
          this.tableDataThree = res.data
          this.searchFrom.total = res.count
        }
      })
      // getListOnlyWG(this.searchFrom).then(res => {
      //   this.tableDataThree = res.data.records;
      //   this.searchFrom.total = res.data.total;
      //   this.dialog3 = true;
      // });
    },
    // 解绑网关
    jiebang(row){
      this.$confirm('是否解绑已关联的网关？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        updateRemoveHouse({ id: row.equipId, houseId: row.id ,number: row.number, houseStatus : row.houseStatus  }).then(res => {
          this.$message({
            type: 'success',
            message: '解绑成功!'
          });
          this.getList_api();
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消解绑!'
        });          
      });
    },
    openDialogEventFour() {
      if (this.form2.areaId) {
        const obj = this.areaList.find(
          o => o.id + "" === this.form2.areaId + ""
        );
        this.cityVal = obj.adCode;
        this.dialog4 = true;
      } else {
        this.$message({
          message: "请先选择区属",
          type: "warning"
        });
      }
    },
    show() {
      this.mapInit(this.cityVal);
    },
    // 选择绑定的网关
    merge(row) {
      this.dialog3 = true;
      this.form3.status = 1;
      this.$confirm("是否绑定此网关?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(() => {
          // 新的网关id row.equipId   旧网关id this.form3.oldEquipId
          updateByHouseId({ id: this.form3.oldEquipId, equipId: row.equipId, houseId: this.form3.id }).then(() => {
            editHouse(this.form3).then(() => {
              this.$notify({
                title: "成功",
                message: "绑定成功",
                type: "success",
                duration: 2000
              });
              this.getList_api();
              this.dialog3 = false;
            });
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消绑定"
          });
        });
    },
    del(item) {
      this.$confirm("此操作将永久删除数据, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          delHouse({ idList: item.id }).then(res => {
            if (item.eqId) {
              editEQ({ id: item.eqId, houseId: 0 });
            }
            this.getList_api();
            this.$message({
              type: "success",
              message: "删除成功!"
            });
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (this.dialogTitle) {
            addHouse(this.form).then(res => {
              this.getList_api();
              this.$notify({
                title: "成功",
                message: "操作成功",
                type: "success",
                duration: 2000
              });
            });
          } else {
            editHouse(this.form).then(res => {
              this.getList_api();
              this.$notify({
                title: "成功",
                message: "操作成功",
                type: "success",
                duration: 2000
              });
            });
          }
        } else {
          return false;
        }
      });
    },
    submitForm2(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          addSysVillage(this.form2).then(res => {
            this.dialog2 = false;
            this.$notify({
              title: "成功",
              message: "操作成功",
              type: "success",
              duration: 2000
            });
            this.cityVal = "440100";
          });
        } else {
          return false;
        }
      });
    },
    change() {
      this.form.villageId = null;
      this.villageName = null;
    },
    handleSelect(item) {
      this.form.villageId = item.id;
    },
    querySearch(queryString, cb) {
      getListSysVillage({ areaId: this.form.areaId, name: queryString }).then(
        res => {
          // 调用 callback 返回建议列表的数据
          cb(res.data.data);
        }
      );
    },
    handleRemove(file, fileList) {
      let url = null;
      if (file.response)
        url = file.response.data[0].split("/")[
          file.response.data[0].split("/").length - 1
        ];
      else url = file.url.split("/")[file.url.split("/").length - 1];
      delFile(url);
    },
    handSuccess(response, file, fileList) {
      this.form.image = response.data[0];
    },
    mapInit(cityVal) {
      const that = this;
      var map = new AMap.Map("poi", {
        zoom: 10
      });
      AMapUI.loadUI(["misc/PoiPicker"], function(PoiPicker) {
        var poiPicker = new PoiPicker({
          input: "searchInput",
          placeSearchOptions: {
            map: map,
            city: cityVal,
            citylimit: true,
            pageSize: 10
          },
          searchResultsContainer: "searchResults"
        });

        poiPicker.on("poiPicked", function(poiResult) {
          console.log("poiResult", poiResult);
          poiPicker.hideSearchResults();
          var source = poiResult.source;
          var poi = poiResult.item;
          let myCode = null
          that.areaList.forEach(ele => {
            if(ele.adCode === poi.adcode){
              myCode = ele.id
            }
          })
          // 开始赋值
          const form = {
            name: poi.name,
            center: poi.location.toString(),
            location: poi.address,
            areaId: myCode
          };
          Object.assign(that.form2, form);
          that.form2 = Object.assign({}, that.form2, form);
          if (source !== "search") {
            // suggest来源的，同样调用搜索
            poiPicker.searchByKeyword(poi.name);
            console.log("111");
            that.$message({
              type: "success",
              message: "已经选择" + poi.name + "小区"
            });
          } else {
            // console.log(poi);
            console.log("222");
          }
          that.dialog4 = false
        });

        poiPicker.onCityReady(function() {
          poiPicker.searchByKeyword("");
        });
      });
    }
  } // 如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
//@import url(); 引入公共css类
.app-nav {
  background-color: white;
  .dialog-form-button {
    text-align: center;
    margin-bottom: 20px;
  }
  ::v-deep.dialogThree {
    .vxe-modal--content {
      display: flex;
      flex-direction: column;
    }
  }
  #poi {
    width: 100%;
    height: 100%;
  }
  #panel {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    overflow: auto;
    width: 300px;
    z-index: 999;
    border-left: 1px solid #eaeaea;
    background: #fff;
  }

  #searchBar {
    height: 30px;
    background: #ccc;
  }

  #searchInput {
    width: 100%;
    height: 30px;
    line-height: 30%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 0 5px;
  }

  #searchResults {
    overflow: auto;
    height: calc(100% - 30px);
  }

  .amap_lib_placeSearch,
  .amap-ui-poi-picker-sugg-container {
    border: none !important;
  }

  .amap_lib_placeSearch .poibox.highlight {
    background-color: #cae1ff;
  }

  .poi-more {
    display: none !important;
  }
}
</style>
