<!-- 房屋详情 -->
<template>
    <div class="app-nav">
        <div style="height:500px;" class="displayFlexR">
            <div class="f3 p20 bgwhite displayFlexC">
                <span class="title">海珠区</span>
                <el-divider></el-divider>
                <div class="f1 displayFlexC" v-if="this.$route.query.videoUrl != null">
                    <video-player
                    class="video-player vjs-custom-skin f1 displayFlexC"
                    ref="videoPlayer"
                    :options="playerOptions"
                    @ready="onPlayerReadied">
                    </video-player>
                </div>
                <div class="f1 displayFlexC" v-else style="display: flex;align-items: center;">
                    <el-image class=" f1 displayFlexC" :src="require('@/views/vacant_house/mana/lixain.png')"></el-image>
                </div>
            </div>
            <div class="f4 ml20 displayFlexC">
                <div class="f1 displayFlexR">
                    <div class="f1 bgwhite p20">
                        <span class="title">基本信息</span>
                        <el-divider></el-divider>
                        <div class="line">
                            <span class="one">区属：</span>
                            <span>{{ houseInfo.areaName }}</span>
                        </div>
                        <div class="line">
                            <span class="one">小区名称（路）：</span>
                            <span>{{ houseInfo.villageName }}</span>
                        </div>
                        <div class="line">
                            <span class="one">楼号（街）：</span>
                            <span>{{ houseInfo.buildNo }}</span>
                        </div>
                        <div class="line">
                            <span class="one">梯号（门牌）：</span>
                            <span>{{ houseInfo.ladder }}</span>
                        </div>
                        <div class="line">
                            <span class="one">房号：</span>
                            <span>{{ houseInfo.roomNo }}</span>
                        </div>
                    </div>
                    <div class="f1 bgwhite p20 ml20">
                        <span class="title">详细信息</span>
                        <el-divider></el-divider>
                        <div class="line">
                            <span class="one">套内面积：</span>
                            <span>{{ houseInfo.inArea }}</span>
                        </div>
                        <div class="line">
                            <span class="one">分摊面积：</span>
                            <span>{{ houseInfo.shareArea }}</span>
                        </div>
                        <div class="line">
                            <span class="one">单元面积：</span>
                            <span>{{ houseInfo.totalArea }}</span>
                        </div>
                        <div class="line">
                            <span class="one">房屋用途：</span>
                            <span>{{ houseInfo.behoof }}</span>
                        </div>
                        <div class="line">
                            <span class="one">房产证地址：</span>
                            <span>{{ houseInfo.location }}</span>
                        </div>
                    </div>
                </div>
                <div class="mt20 bgwhite p20">
                    <span class="title mb20" style="display: block;">历史告警信息</span>
                    <vxe-table
                    align="center"
                    :data="tableData">
                        <vxe-column field="count" title="总告警次数">
                            <template #header>
                                <span style="color:red;">总告警次数</span>
                            </template>
                        </vxe-column>
                        <vxe-column field="enterCount" title="入侵告警次数"></vxe-column>
                        <vxe-column field="infraredCount" title="红外告警次数"></vxe-column>
                        <vxe-column field="smokeCount" title="烟感告警次数"></vxe-column>
                        <vxe-column field="time" title="最后告警日期" width="200">
                            <template #default="{row}">
                                <span style="color:red;">{{ row.time }}</span>
                            </template>
                        </vxe-column>
                    </vxe-table>
                </div>
            </div>
        </div>
        <div class="f1 mt20 p20 bgwhite">
            <span class="title mb20" style="display: block;">设备详情</span>
            <el-table
            :data="tableData1"
            style="width: 100%;margin-bottom: 20px;"
            row-key="id"
            border
            default-expand-all
            :tree-props="{children: 'children', hasChildren: 'hasChildren'}">
                <el-table-column
                prop="name"
                label="设备类型">
                </el-table-column>
                <el-table-column
                prop="deviceName"
                label="设备名称">
                </el-table-column>
                <el-table-column
                prop="number"
                label="网关编号">
                </el-table-column>
                <el-table-column
                prop="coding"
                label="设备编号">
                </el-table-column>
                <el-table-column
                prop="status"
                label="状态">
                <template #default="{row}">
                    <span :style="{'color': row.status == 0 ? 'green' : 'red'}">{{ statusList[row.status] }}</span>
                </template>
                </el-table-column>
            </el-table>
        </div>
    </div>
</template>

<script>
//这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
//例如：import 《组件名称》 from '《组件路径》';
import { getHouseDetails } from '@/api/vacant_house/mana.js'

import { videoPlayer } from 'vue-video-player'
import 'video.js/dist/video-js.css'
import 'vue-video-player/src/custom-theme.css'
import 'videojs-contrib-hls'
export default {
//import引入的组件需要注入到对象中才能使用
components: {
    videoPlayer
},
data() {
    //这里存放数据
    return {
        statusList: {
            0: "在线",
            1: "离线",
        },
        houseInfo:  {},
        gaojing:{},
        tableData: [],
        tableData1: [],
        playerOptions: {
            overNative: true,
            playbackRates: [0.5, 1.0, 1.5, 2.0], // 播放速度
            autoplay: true, // 自动播放
            muted: false, // 默认情况下将会消除任何音频。
            controls: true,
            techOrder: ['html5'],
            sourceOrder: true,
            flash: {
            hls: { withCredentials: false }
            },
            html5: { hls: { withCredentials: false }},
            sources: [
            {
                withCredentials: false,
                type: 'application/x-mpegURL', // "video/mp4" 类型
                src: 'https://cmgw-vpc.lechange.com:8890/LCO/6M08CC0PAZA38C3/0/1/20211211T021007/d0c20508426b9ae912a98b65a8a70194.m3u8?proto=https'
            }
            ],
            poster: '', // 封面地址
            
        },
        dialog_video: false,
        initialized: false,
        currentTech: '',
    };
},
//监听属性 类似于data概念
computed: {
    player() {
      return this.$refs.videoPlayer.player
    }
},
//监控data中的数据变化
watch: {},
//方法集合
methods: {
    init(){
        // 视频地址
        this.playerOptions.sources[0].src = this.$route.query.videoUrl
        getHouseDetails(this.$route.query.id).then(res => {
            console.log("init", res);
            this.houseInfo = res.sysHouse
            this.gaojing = res.mapEnter
            this.gaojing.count = this.gaojing.enterCount + this.gaojing.infraredCount + this.gaojing.smokeCount
            if(Date.parse(new Date(this.gaojing.enterTime)) > Date.parse(new Date(this.gaojing.infraredTime))){
                if(Date.parse(new Date(this.gaojing.enterTime)) > Date.parse(new Date(this.gaojing.smokeTime))){
                    // enterTime
                    this.gaojing.time = this.gaojing.enterTime
                }else{
                    // smokeTime
                    this.gaojing.time = this.gaojing.smokeTime
                }
            }else{
                if(Date.parse(new Date(this.gaojing.infraredTime)) > Date.parse(new Date(this.gaojing.smokeTime))){
                    // infraredTime
                    this.gaojing.time = this.gaojing.infraredTime
                }else{
                    // smokeTime
                    this.gaojing.time = this.gaojing.smokeTime
                }
            }
            this.$nextTick(() => {
                this.tableData.push(this.gaojing)
            })
            this.tableData1.push(res.equip)
            
        })
    },
    // 
    onPlayerReadied() {
      if (!this.initialized) {
        this.initialized = true
        this.currentTech = this.player.techName_
      }
    },
},
//生命周期 - 创建完成（可以访问当前this实例）
created() {

},
//生命周期 - 挂载完成（可以访问DOM元素）
mounted() {
    this.init()
},
beforeCreate() {}, //生命周期 - 创建之前
beforeMount() {}, //生命周期 - 挂载之前
beforeUpdate() {}, //生命周期 - 更新之前
updated() {}, //生命周期 - 更新之后
beforeDestroy() {}, //生命周期 - 销毁之前
destroyed() {}, //生命周期 - 销毁完成
activated() {}, //如果页面有keep-alive缓存功能，这个函数会触发
}
</script>
<style lang='scss' scoped>
//@import url(); 引入公共css类
.p20{
    padding: 20px;
}
.bgwhite{
    background-color: white;
}
.title{
    font-weight: 900;
    font-size: 15px !important;
}
::v-deep.el-divider--horizontal{
    margin: 10px 0;
}
.line{
    display: flex;
    .one{
        width: 30%;
        text-align: justify;
        margin-right: 20px;
        font-weight: 900;
    }
    .one:after {
        display: inline-block;
        width: 100%;
        content: '';
    }
}
::v-deep.vjs-custom-skin > .video-js{
    flex: 1;
}
::v-deep.el-image__inner{
    width: 500px !important;
}
</style>