<template>
  <div class="app-nav-no-pm">
    <el-form ref="pageFrom" :inline="true" :model="pageFrom" class="form-inline">
      <el-form-item label="" prop="areaName">
        <el-select v-model="pageFrom.areaName" placeholder="区属" @change="screening">
          <el-option
            v-for="item in areaList"
            :key="item.id"
            :label="item.name"
            :value="item.name"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="" prop="villageName">
        <el-input v-model="pageFrom.villageName" placeholder="小区名称" />
      </el-form-item>
      <el-form-item label="" prop="location">
        <el-input v-model="pageFrom.location" placeholder="房屋地址" />
      </el-form-item>
      <el-form-item label="" prop="eqStatus">
        <el-select v-model="pageFrom.eqStatus" placeholder="网关状态" @change="screening">
          <el-option label="在线" :value="0" />
          <el-option label="离线" :value="1" />
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="screening">查询</el-button>
      </el-form-item>
      <el-form-item>
        <el-button type="default" @click="reset('pageFrom')">重置</el-button>
      </el-form-item>
    </el-form>
    <div
      id="card"
      class="card">
      <div
        class="card-boxs  my-scrollbar"
        @scroll.passive="scrollEvent">
        <div v-show="list.length == 0" class="noList">没有数据</div>
        <div v-for="(item,index) in list" :key="index" class="card-box">
          <div v-if="item.smokeStatus != 2" @click="openVideoHistory(item)">
            <el-image class="ft-img" :src="item.cutImg"></el-image>
            <!-- <el-image class="ft-img" src="https://lechangecloud.oss-cn-hangzhou.aliyuncs.com/lechange/6M08CC0PAZA38C3_img/Alarm/0/f4fb7aa446174214ae3f574e3f7b3fb3.jpg?Expires=1643095054&OSSAccessKeyId=LTAIP4igXeEjYBoG&Signature=Sk3loML%2FrSP4%2FX2gNX6hAQIKIMA%3D"></el-image> -->
            
          </div>
          <div v-else @click="openVideoHistory(item)">
              <el-image class="ft-img">
                <div slot="error" class="image-slot" style="display: flex;justify-content: center;line-height: 160px;color: #ccc;">
                  <span>网关离线</span>
                </div>
              </el-image>
          </div>
          <el-card class="ft-nav box-card" :body-style="{ padding: '10px' }">
            <div slot="header" class="clearfix" style="    display: flex;">
              
              <!-- <el-tooltip class="item" effect="dark" :content="item.areaName +' '+ (item.villageName != null ?item.villageName:'') +' '+ (item.buildNo != null ?item.buildNo:'') + ' ' +item.roomNo" placement="top">
                <span class="ft-li-title" style="flex:1;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{ item.areaName +" "+ (item.villageName != null ?item.villageName:'') +" "+ (item.buildNo != null ?item.buildNo:'') + " " + item.roomNo }}</span>
              </el-tooltip> -->
              <el-tooltip class="item" effect="dark" :content="item.location" placement="top">
                <span class="ft-li-title" style="flex:1;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{ item.location }}</span>
              </el-tooltip>
               <i class="el-icon-more" @click="openDrawer(item)"></i>
            </div>
            <div class="ft-nav" style="padding: 0;line-height: 24px;font-size: 14px;">
              <!-- <div class="ft-li">
                <span class="ft-li-title">{{ item.areaName +" "+ item.villageName +" "+ item.buildNo + item.roomNo }}</span>
              </div> -->
              <div class="ft-li">
                <span>烟感状态：</span>
                <span v-if="item.smokeStatus == 1" :class="colors_ft[item.smokeStatus]">
                  <span>异常</span>
                  <span style="float: right;margin-right: 10px;    background-color: red;color: white;padding: 0 5px;">{{ item.smokeTime }}</span>
                </span>
                <span v-else :class="colors_ft[item.smokeStatus]">{{ statusObj[item.smokeStatus] }}</span>
              </div>
              <div class="ft-li">
                <span>入侵状态：</span>
                <span v-if="item.enterStatus == 1" :class="colors_ft[item.enterStatus]">
                  <span>异常</span>
                  <span style="float: right;margin-right: 10px;    background-color: red;color: white;padding: 0 5px;">{{ item.enterTime }}</span>
                </span>
                <span v-else :class="colors_ft[item.enterStatus]">{{ statusObj[item.enterStatus] }}</span>
                <i v-if="item.enterStatus == 1 || item.enterStatus == 0" id="videoIcon" title="实时监控" class="el-icon-video-play" @click="enterVideo(item)" />
              </div>
              <div class="ft-li">
                <span>红外状态：</span>
                <span v-if="item.infraredStatus == 1" :class="colors_ft[item.infraredStatus]">
                  <span>异常</span>
                  <span style="float: right;margin-right: 10px;    background-color: red;color: white;padding: 0 5px;">{{ item.infraredTime }}</span>
                </span>
                <span v-else :class="colors_ft[item.infraredStatus]">{{ statusObj[item.infraredStatus] }}</span>
              </div>
              <!-- <div class="ft-li">
                <span>报警时间：</span><span>{{ formatDate(item.time)?formatDate(item.time):'无' }}</span>
              </div> -->
              <div class="ft-li">
                <span>刷卡器状态：</span>
                <span v-if="item.imprinterStatus == 1" :class="colors_ft[item.imprinterStatus]">
                  <span>异常</span>
                  <span style="float: right;margin-right: 10px;    background-color: red;color: white;padding: 0 5px;">{{ item.imprinterTime }}</span>
                </span>
                <span v-else :class="colors_ft[item.imprinterStatus]">{{ statusObj[item.imprinterStatus] }}</span>
              </div>
              <!-- <div class="ft-li" style="text-align: right;">
                <el-button @click="openDrawer" style="padding: 5px 10px;">更多</el-button>
              </div> -->
            </div>
          </el-card>
        </div>
        <div v-if="loading" class="card-loading">
          加载中...
        </div>
        <div v-if="noMore" class="card-noMore">没有更多了</div>
        
      </div>
      <!-- 分页 -->
        <vxe-pager
        perfect
        size="mini"
        :current-page="pageFrom.page"
        :page-size="pageFrom.limit"
        :total="pageFrom.total"
        @page-change="pageChangeInit"
        :layouts="['PrevPage', 'JumpNumber', 'NextPage', 'FullJump', 'Total']">
        </vxe-pager>
    </div>
    
    <vxe-modal v-model="dialog_video" title="实时监控" :z-index="89" :show-close="true">
      <template #default>
        <!-- <video v-if="dialog_video" width="100%" autoplay="autoplay" controls height="360">
          <source src="../../../assets/V.mp4" type="video/mp4">
        </video> -->
        <video-player
          class="video-player vjs-custom-skin"
          ref="videoPlayer"
          :options="playerOptions"
          @ready="onPlayerReadied">
        </video-player>
        <!-- <div style="text-align:center;">
          <el-button type="primary" plain @click="dialog_video = false">关闭</el-button>
        </div> -->
      </template>
    </vxe-modal>
    <el-drawer
      title="历史告警信息"
      :visible.sync="myDrawer"
      direction="rtl"
      :wrapperClosable="false"
      :before-close="handleClose">
        <vxe-table
          border
          show-header-overflow
          show-overflow
          highlight-hover-row
          align="center"
          :loading="loading2"
          :data="tableData"
          :seq-config="{startIndex: (tablePage.page - 1) * tablePage.limit}">
          <vxe-column type="seq" title="序号" width="60"></vxe-column>
          <!-- 烟感，入侵，红外，设备离线 -->
          <vxe-column field="warnType" title="告警类型"></vxe-column>
          <vxe-column field="warnTime" title="告警时间"></vxe-column>
          <vxe-column field="warnUrl" title="详情">
            <template #default="{ row }">
              <el-button v-if="row.warnType == '入侵告警'" @click="openVideo(row)">详情</el-button>
            </template>
          </vxe-column>
        </vxe-table>
        <!-- 分页 -->
        <vxe-pager
        perfect
        size="mini"
        :pager-count="5"
        :current-page="tablePage.page"
        :page-size="tablePage.limit"
        :total="tablePage.total"
        @page-change="pageChange"
        :layouts="['PrevPage', 'JumpNumber', 'NextPage', 'FullJump', 'Total']">
        </vxe-pager>
        <!-- <video-player
          v-if="isShow"
          class="video-player vjs-custom-skin"
          ref="videoPlayer"
          :options="playerOptions"
          @ready="onPlayerReadied">
        </video-player> -->
        <div id="myImouPlayer2" style="margin-top: 30px;"></div>
    </el-drawer>
    <vxe-modal v-model="alertVal" title="" :z-index="89" :show-close="true" width="42%" height="52%" @close="closeEvent">
      <template #default>
        <div id="myImouPlayer"></div>
      </template>
    </vxe-modal>
    
  </div>
</template>

<script>
import pub from '@/views/vacant_house/dashboard/bus.js'

import { getList } from '@/api/vacant_house/house'
import { getListSysArea } from '@/api/vacant_house/eq.js'
import { getHistoryList, getAccessToken, getKitToken } from '@/api/vacant_house/mana.js'

var moment = require('moment')

import { videoPlayer } from 'vue-video-player'
import 'video.js/dist/video-js.css'
import 'vue-video-player/src/custom-theme.css'
import 'videojs-contrib-hls'

export default {
  components: {
    videoPlayer
  },
  data() {
    return {
      pageFrom: {
        page: 1,
        limit: 10,
        total: 0,
        eqStatus: null,
        areaName: null,
        villageName: null,
        location: null,
        status: 1
      },
      list: [],
      areaList: [],
      form: {
        area: '',
        park: '',
        build: '',
        unit: '',
        smokeStatus: ''
      },
      loading: false,
      stop: false,
      noMore: false,
      count: 20,
      // 颜色
      colors_ft: {
        0: 'ft-li-green',
        1: 'ft-li-red',
        2: 'ft-li-red',
        3: ''
      },
      statusObj: {
        0: '正常',
        1: '异常',
        2: '网关离线',
        3: '无绑定设备'
      },
      // 视频
      dialog_video: false,
      initialized: false,
      currentTech: '',
      streams: {
        rtmp: '',
        hls: ''
      },
      playerOptions: {
        overNative: true,
        playbackRates: [0.5, 1.0, 1.5, 2.0], // 播放速度
        autoplay: true, // 自动播放
        muted: false, // 默认情况下将会消除任何音频。
        controls: true,
        techOrder: ['html5'],
        sourceOrder: true,
        flash: {
          hls: { withCredentials: false }
        },
        html5: { hls: { withCredentials: false }},
        sources: [
          {
            withCredentials: false,
            type: 'application/x-mpegURL', // "video/mp4" 类型
            src: 'https://cmgw-vpc.lechange.com:8890/LCO/6M08CC0PAZA38C3/0/1/20211211T021007/d0c20508426b9ae912a98b65a8a70194.m3u8?proto=https'
          }
        ],
        poster: '', // 封面地址
        
      },
      // 历史记录
      loading2: false,
      myDrawer: false,
      tableData: [],
      // 是否显示视频播放器
      isShow: false,
      // 分页
      tablePage: {
        page: 1,
        limit: 5,
        total: 0
      },
      rowData: null,
      AccessToken: null,
      kitToken: null,
      alertVal: false,
      myplayer: null,
      startTime: null,
      endTime: null,
      // 历史
      myplayer2: null,
      currentDeviceId: null
    }
  },
  computed: {
    player() {
      return this.$refs.videoPlayer.player
    }
  },
  created() {
  },
  mounted() {
    this.startTime = moment().startOf('day').format("YYYY-MM-DD HH:mm:ss")
    this.endTime = moment().endOf('day').format("YYYY-MM-DD HH:mm:ss")

    // 实时告警信息
    pub.$on('SSJK', (data) => { 
        console.log("SSJK", data.data)
        this.list.forEach((ele,index) => {
            if(ele.id === data.data.id){
                setTimeout(() => {
                  this.list.splice(index, 1, data.data);
                }, 1000);
            }
        })
    })

    this.init()
  },
  methods: {
    // 
    async openVideoHistory(item){
      // console.log(item);
      this.dialog_video = false
      this.myDrawer = false
      // 房屋详情
      this.$router.push({path: '/vacant_house/safety/mana_details', query: {id: item.id, videoUrl: item.cameraSite != null ? item.cameraSite[0] : null}})

      // this.alertVal = true

      // await getAccessToken().then(res => {
      //   console.log(res, 1);
      //   if(res.code == 0){
      //     this.AccessToken = res.data
      //   }
      // })
      
      // await getKitToken(this.AccessToken, item.deviceId).then(res => {
      //   console.log(123, res);
      //   if(res.code == 0){
      //     this.kitToken = res.data.data.kitToken
      //     // 固定 imou://open.lechange.com/7H03012RAZ6C9EF/0/2?streamId=1&recordType=localRecord&beginTime=2022-01-14 00:00:00&endTime=2022-01-14 19:00:00
      //     console.log("参数", this.kitToken, item.deviceId);

      //     this.$nextTick(() => {
      //       // 添加DOM容器
      //       const player = new ImouPlayer('#myImouPlayer');
      //       // 播放器初始化
      //       player.setup({
      //         src: [
      //           {
      //             url: 'imou://open.lechange.com/'+ item.deviceId + '/0/2?streamId=1&recordType=localRecord&beginTime=' + this.startTime + '&endTime=' + this.endTime, // url拼接说明请见：1.3 轻应用播放地址说明
      //             // url: 'imou://open.lechange.com/7H03012RAZ4D9EE/0/2?streamId=1&recordType=localRecord&beginTime=2022-01-16 00:00:00&endTime=2022-01-16 23:59:00',
      //             kitToken: this.kitToken, // 播放Token，通过接口getKitToken获取，具体请见：1.4 getKitToken接口协议说明
      //           }
      //         ], // 播放地址
      //         width: 760, // 播放器宽度
      //         height: 400, // 播放器高度
      //         poster: '', // 封面图url
      //         autoplay: true, // 是否自动播放
      //         controls: true, // 是否展示控制栏
      //       });
      //       this.myplayer = player
      //       // 播放
      //       // player.play();
      //     })
      //   }
        
      // })
      
    },
    closeEvent(){
      // 销毁播放器
      this.myplayer.destroy();
    },
    // 入侵视频弹窗
    enterVideo(item){
      this.dialog_video = true
      // item.thumbUrl 入侵截图地址
      this.playerOptions.sources[0].src = item.cameraSite[0]
    },
    // 历史警告入侵视频
    // async openVideo(item) {
    //   console.log("item", item.warnTime.split(' ')[0] + ' 23:59:59');
    // },
    async openVideo(item) {
      // console.log("item", item);
      // this.isShow = true
      // this.playerOptions.sources[0].src = data.warnUrl

      await getAccessToken().then(res => {
        if(res.code == 0){
          let AccessToken = res.data
          getKitToken(AccessToken, this.currentDeviceId).then(res => {
            console.log(123, this.currentDeviceId, item.warnTime, this.endTime);
            if(res.code == 0){
              let kitToken = res.data.data.kitToken

              // 添加DOM容器
              const player2 = new ImouPlayer('#myImouPlayer2');
              this.$nextTick(() => {
                
                // 播放器初始化
                player2.setup({
                  src: [
                    {
                      url: 'imou://open.lechange.com/'+ this.currentDeviceId + '/0/2?streamId=1&recordType=localRecord&beginTime=' + item.warnTime + '&endTime=' + item.warnTime.split(' ')[0] + ' 23:59:00',
                      kitToken: kitToken, // 播放Token，通过接口getKitToken获取，具体请见：1.4 getKitToken接口协议说明
                    }
                  ], // 播放地址
                  width: 760, // 播放器宽度
                  height: 400, // 播放器高度
                  poster: '', // 封面图url
                  autoplay: true, // 是否自动播放
                  controls: true, // 是否展示控制栏
                });
                this.myplayer2 = player2
              })
            }
            
          })

        }
      })

    },
    openDrawer(row) {
      this.myDrawer = true
      this.rowData = row
      this.getHistoryLists(row)
      this.currentDeviceId = row.deviceId
    },
    async getHistoryLists(rowData){
      // 请求历史记录
      console.log("rowData", rowData);
      this.tablePage.sid = rowData.id
      // this.tablePage.houseId = rowData.id
      await getHistoryList(this.tablePage).then(res => {
        console.log("历史告警信息", res);
        this.tableData = res.warn
        this.tablePage.total = res.total
      })
    },
    // 根据页切换
    pageChange(val) {
      this.tablePage.page = val.currentPage
      this.getHistoryLists(this.rowData)
    },
    onPlayerReadied() {
      if (!this.initialized) {
        this.initialized = true
        this.currentTech = this.player.techName_
      }
    },
    handleClose(done) {
        done();
        this.myplayer2 != null ? this.myplayer2.destroy() : this.myplayer2 = null
    },
    formatDate(time) {
      if (time) {
        return moment(parseInt(time)).format('YYYY-MM-DD HH:mm:ss')
      }
      return time
    },
    screening() {
      this.pageFrom.page = 1
      this.pageFrom.limit = 10
      this.getList_s()
    },
    reset(formName) {
      this.$refs[formName].resetFields()
      this.getList_s()
    },
    init() {
      // 区域信息
      getListSysArea({ current: 1, size: 20 }).then(res => {
        // console.log("区域", res);
        this.areaList = res.data.records
      })
      this.getList_s()
    },
    getList_s() {
      const loading = this.$loading({
        lock: true,
        target: document.querySelector('#card'),
        text: '加载中...',
        spinner: 'el-icon-loading',
        background: 'rgba(0, 0, 0, 0.7)'
      })
      getList(this.pageFrom).then(res => {
        console.log("init", res);
        if(res.code === 200){
          this.list = res.data
          this.pageFrom.total = res.count
          loading.close()
        }
      })
    },
    pageChangeInit(val) {
      this.pageFrom.page = val.currentPage
      this.getList_s()
    },
    getList_api() {
      getList(this.pageFrom).then(res => {
        this.list.push(...res.data.records)
        if (res.data.records.length < 5 && this.list.length > 20) {
          this.noMore = true
        }
        this.loading = false
      })
    },
    scrollEvent(e) {
      if (!this.noMore) {
        if (e.srcElement.offsetHeight + e.srcElement.scrollTop >= e.srcElement.scrollHeight) {
          this.loading = true
          this.pageFrom.limit = 5
          this.pageFrom.page = Math.ceil((this.list.length + 5) / 5)
          this.getList_api()
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.app-nav-no-pm{
  display: flex;
  flex-direction: column;
  .form-inline{
    // padding: 20px 20px 0 20px;
    // background-color: white;
  }
  .el-form-item{
    margin-bottom: 0;
  }
  .card{
    flex: 1;
    // padding: 0 20px 20px 20px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    .card-boxs{
      flex: 1;
      // width: 100%;
      // height: 300px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .noList{
        flex: 1;
        font-size: 18px;
        padding: 30px;
        line-height: 30px;
        text-align: center;
      }
      .card-box{
        position: relative;
        width: calc(20% - 16px);
        height: 340px;
        border-radius: 5px;
        background-color: white;
        margin-top: 20px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        &:nth-child(6n){
          margin-right: 0;
        }
        .ft-img{
          width: 100%;
          height: 160px;
          border-radius: 5px 5px 0 0;
        }
        .ft-nav{
          flex: 1;
          padding: 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .ft-li{
            width: 100%;
            //margin-bottom: 12px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: rgba(101, 101, 101, 100);
            margin-bottom: 2px;
            &-title{
              color: black;
              font-weight: 600;
            }
            &-green{
              color: #76D97B;
            }
            &-red{
              color:#EE6161;
            }
          }
        }
        #videoIcon{
          position: absolute;
          // bottom: 77px;
          right: 10px;
          font-size: 18px;
          color: red;
          &:hover{
            cursor: pointer;
            color: #409eff;
          }
        }
      }
      .card-loading{
        width: 100%;
        height: 40px;
        text-align: center;
        line-height: 40px;
      }
      .card-noMore{
        width: 100%;
        height: 40px;
        text-align: center;
        line-height: 40px;
      }
    }
  }
}
.vxe-radio-group{
  margin-bottom: 20px;
}
::v-deep.vxe-pager.is--perfect{
    background-color: #F1F3F6;
    border: none;
}
::v-deep.vxe-paper{
  padding: 5px 0;
    margin-top: 20px;
    height: auto;
}
</style>
<style scoped>
.app-nav-no-pm >>> .el-drawer__body{
  padding: 0 20px;
}
.app-nav-no-pm >>> .el-card__header{
  padding: 10px 0px !important;
}
.app-nav-no-pm >>> i{
  cursor: pointer;
}
</style>
