<!-- 房屋管理 -->
<template>
  <div class="gateway" style="margin:20px;">
    <el-form
      ref="tablePage"
      :inline="true"
      :model="tablePage"
      class="form-inline"
    >
      <el-form-item label="设备名称:" prop="areaId">
        <el-input v-model="tablePage.areaId" placeholder="设备名称" />
      </el-form-item>
      <el-form-item label="设备编码:" prop="villageName">
        <el-input v-model="tablePage.villageName" placeholder="设备编码" />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="screening">查询</el-button>
      </el-form-item>
      <el-form-item>
        <el-button type="default" @click="reset('tablePage')">重置</el-button>
      </el-form-item>
      <!-- <el-form-item>
          <el-button type="default" @click="daochu">导出</el-button>
        </el-form-item>
        <el-form-item>
          <el-button type="default" @click="openDialogEvent()">添加</el-button>
        </el-form-item> -->
    </el-form>
    <div
      class="facility_table"
      style="display: flex;height: auto;width: auto;flex: 1;"
    >
      <!-- 左边导航 -->
      <div class="table_nav" style="width:30% height: auto;flex: 1;">
        <el-row>
          <el-button class="table_nav_item" type="primary">设备列表</el-button>
        </el-row>
        <div class="one" @click="onClick($event)">
          <p :class="{ active: nav_value === '1' }" data-index="1">摄像头</p>
          <p :class="{ active: nav_value === '2' }" data-index="2">
            烟雾传感器
          </p>
          <p :class="{ active: nav_value === '3' }" data-index="3">
            红外传感器
          </p>
          <p :class="{ active: nav_value === '4' }" data-index="4">刷卡器</p>
        </div>
      </div>
      <!-- 右边导航 -->
      <div class="app-nav" style="margin:0px;width: 70%;height: auto;flex: 6;">
        <div class="son-nav" style="">
          <div class="tenAccountList-top">
            <span>状态:</span>
            <vxe-radio-group v-model="radio_value">
              <vxe-radio-button label="1" content="全部"></vxe-radio-button>
              <vxe-radio-button label="2" content="已启用"></vxe-radio-button>
              <vxe-radio-button label="3" content="未启用"></vxe-radio-button>
            </vxe-radio-group>
            <vxe-button
              @click="addEquipment()"
              status="primary"
              class="on_button"
              ><i class="vxe-icon--download"></i>添加设备</vxe-button
            >
            <vxe-button @click="daoru" class="on_button"
              ><i class="vxe-icon--download"></i>导入</vxe-button
            >
            <vxe-button @click="daochu" class="on_button"
              ><i class="vxe-icon--download"></i>导出</vxe-button
            >
          </div>
          <!-- 表单 -->
          <div class="vxe-table-box">
            <vxe-table
              ref="houseTable"
              :export-config="{}"
              border
              resizable
              auto-resize
              sync-resize
              height="auto"
              :loading="loading"
              :data="tableData"
            >
              <vxe-table-column type="checkbox" width="60"></vxe-table-column>
              <vxe-table-column field="areaName" title="序号" />
              <vxe-table-column field="villageName" title="网关名称" />
              <vxe-table-column field="location" show-overflow title="序列号" />
              <vxe-table-column field="buildNo" title="校验码" />
              <vxe-table-column field="roomNo" title="创建时间" />
              <vxe-table-column field="shareArea" title="激活时间" />
              <vxe-table-column field="inArea" title="状态" />
              <vxe-table-column field="behoof" title="备注" />
              <vxe-table-column title="操作" show-overflow>
                <template #default="{ row }">
                  <vxe-button
                    type="text"
                    title="修改"
                    icon="el-icon-edit"
                    @click="openDialogEventThree(row.id)"
                  />
                  <vxe-button
                    type="text"
                    title="删除"
                    icon="el-icon-delete"
                    @click="del(row)"
                  />
                </template>
              </vxe-table-column>
              <template #empty>
                <span style="color: red;">
                  <img :src="require('@/assets/yellowduck.gif')" />
                  <p>没有更多数据了！</p>
                </span>
              </template>
            </vxe-table>
          </div>
          <!-- //添加设备弹窗 -->
          <vxe-modal v-model="equipmentVal" title="添加设备" width="35%">
            <template #default>
              <el-form
                ref="form"
                :model="form"
                label-width="100px"
                :inline="true"
              >
                <el-row>
                  <el-col :span="24">
                    <el-form-item label="设备名称：">
                      <el-input placeholder="输入设备类型"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="24">
                    <el-form-item label="设备编号：">
                      <el-input placeholder="输入设备名称"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="24">
                    <el-form-item label="厂家：">
                      <el-input placeholder="输入安装位置"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="24">
                    <el-form-item label="型号：">
                      <el-input placeholder="输入设备型号"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>

                <el-form-item label="备注：">
                  <el-input type="textarea" :rows="5" placeholder="多行输入">
                  </el-input>
                </el-form-item>
              </el-form>
              <el-divider></el-divider>
              <div class="alert_button">
                <el-row>
                  <el-button
                    size="medium"
                    @click="equipmentAffirm"
                    type="primary"
                    >确定</el-button
                  >
                  <el-button
                    size="medium"
                    @click="equipmentCancel"
                    type="danger"
                    >取消</el-button
                  >
                </el-row>
              </div>
            </template>
          </vxe-modal>
          <!-- //修改设备弹窗 -->
          <vxe-modal v-model="alertVal" title="修改设备" width="35%">
            <template #default>
              <el-form
                ref="form"
                :model="form"
                label-width="100px"
                :inline="true"
              >
                <el-row>
                  <el-col :span="24">
                    <el-form-item label="设备名称：">
                      <el-input placeholder="输入设备类型"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="24">
                    <el-form-item label="设备编号：">
                      <el-input placeholder="输入设备名称"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="24">
                    <el-form-item label="厂家：">
                      <el-input placeholder="输入安装位置"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="24">
                    <el-form-item label="型号：">
                      <el-input placeholder="输入设备型号"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>

                <el-form-item label="备注：">
                  <el-input type="textarea" :rows="5" placeholder="多行输入">
                  </el-input>
                </el-form-item>
              </el-form>
              <el-divider></el-divider>
              <div class="alert_button">
                <el-row>
                  <el-button size="medium" @click="searchEvent" type="primary"
                    >确定</el-button
                  >
                  <el-button size="medium" @click="resetEvent" type="danger"
                    >取消</el-button
                  >
                </el-row>
              </div>
            </template>
          </vxe-modal>
          <vxe-pager
            perfect
            :current-page.sync="tablePage.current"
            :page-size.sync="tablePage.size"
            :total="tablePage.total"
            :layouts="[
              'PrevJump',
              'PrevPage',
              'JumpNumber',
              'NextPage',
              'NextJump',
              'Sizes',
              'FullJump',
              'Total'
            ]"
            @page-change="handlePageChange"
          />
        </div>
        <!-- 详情 -->
        <vxe-modal
          v-model="dialog"
          :title="dialogTitle ? '新增房屋' : '修改房屋'"
          :z-index="89"
          width="700"
          :show-close="false"
        >
          <template #default>
            <el-form ref="form" :rules="rules" :model="form" label-width="90px">
              <el-row>
                <el-col :span="12">
                  <el-form-item label="区属" prop="areaId">
                    <el-select
                      v-model="form.areaId"
                      placeholder="请选择区属"
                      @change="change"
                    >
                      <el-option
                        v-for="item in areaList"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id"
                      />
                    </el-select>
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <el-form-item label="小区名称">
                    <el-autocomplete
                      v-model="villageName"
                      :fetch-suggestions="querySearch"
                      placeholder="请输小区名称"
                      value-key="name"
                      :trigger-on-focus="false"
                      @select="handleSelect"
                    />
                    <el-button
                      icon="el-icon-plus"
                      @click="openDialogEventTwo"
                    />
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row>
                <el-col :span="12">
                  <el-form-item label="位置" prop="location">
                    <el-input
                      v-model="form.location"
                      placeholder="请输入位置"
                    />
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <el-form-item label="楼号(街)">
                    <el-input v-model="form.buildNo" placeholder="请输入楼号" />
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row>
                <el-col :span="12">
                  <el-form-item label="梯号(门牌)" prop="ladder">
                    <el-input
                      v-model="form.ladder"
                      placeholder="请输入梯号"
                    /> </el-form-item
                ></el-col>
                <el-col :span="12">
                  <el-form-item label="房号" prop="roomNo">
                    <el-input
                      v-model="form.roomNo"
                      placeholder="请输入房号"
                    /> </el-form-item
                ></el-col>
              </el-row>
              <el-row>
                <el-col :span="12">
                  <el-form-item label="分摊面积" prop="shareArea">
                    <el-input
                      v-model="form.shareArea"
                      placeholder="请输入分摊面积"
                    /> </el-form-item
                ></el-col>
                <el-col :span="12"
                  ><el-form-item label="套内面积" prop="inArea">
                    <el-input
                      v-model="form.inArea"
                      placeholder="请输入套内面积"
                    /> </el-form-item
                ></el-col>
              </el-row>
              <el-row>
                <el-col :span="12"
                  ><el-form-item label="用途" prop="behoof">
                    <el-input
                      v-model="form.behoof"
                      placeholder="请输入用途"
                    /> </el-form-item
                ></el-col>
              </el-row>
              <el-row>
                <el-col :span="24">
                  <el-form-item label="房屋图片">
                    <el-upload
                      class="avatar-uploader"
                      :action="action"
                      :headers="headers"
                      :limit="1"
                      :file-list="file_list"
                      list-type="picture-card"
                      :on-success="handSuccess"
                      :on-remove="handleRemove"
                    >
                      <i class="el-icon-plus" />
                    </el-upload>
                  </el-form-item>
                </el-col>
              </el-row>
              <div class="dialog-form-button">
                <el-button type="default" @click="reset('form')"
                  >取消</el-button
                >
                <el-button type="primary" @click="submitForm('form')">{{
                  dialogTitle ? "新增" : "修改"
                }}</el-button>
              </div>
            </el-form>
          </template>
        </vxe-modal>
        <vxe-modal v-model="dialog2" title="新增小区" :z-index="90" width="400">
          <template #default>
            <el-form
              ref="form2"
              :rules="rules2"
              :model="form2"
              label-width="80px"
            >
              <el-form-item label="区属" prop="areaId">
                <el-select v-model="form2.areaId" placeholder="请选择区属">
                  <el-option
                    v-for="item in areaList"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  />
                </el-select>
                <el-button icon="el-icon-plus" @click="openDialogEventFour" />
              </el-form-item>
              <el-form-item label="小区名称" prop="name">
                <el-input v-model="form2.name" placeholder="请输入小区名称" />
              </el-form-item>
              <el-form-item label="小区坐标" prop="center">
                <el-input v-model="form2.center" placeholder="请输入小区坐标" />
              </el-form-item>
              <el-form-item label="位置" prop="location">
                <el-input v-model="form2.location" placeholder="请输入位置" />
              </el-form-item>
              <div class="dialog-form-button">
                <el-button type="default" @click="reset2('form2')"
                  >取消</el-button
                >
                <el-button type="primary" @click="submitForm2('form2')"
                  >新增</el-button
                >
              </div>
            </el-form>
          </template>
        </vxe-modal>
        <vxe-modal
          v-model="dialog3"
          class-name="dialogThree"
          title="关联网关"
          :z-index="91"
          width="1000"
          height="500"
        >
          <template #default>
            <el-form
              ref="searchFrom"
              :inline="true"
              :model="searchFrom"
              class="form-inline"
            >
              <el-form-item label="" prop="number">
                <el-input
                  v-model="searchFrom.villageId"
                  placeholder="设备序号"
                />
              </el-form-item>
              <el-form-item label="" prop="name">
                <el-input v-model="searchFrom.name" placeholder="设备名称" />
              </el-form-item>
              <el-form-item>
                <el-button type="primary" @click="screening2">查询</el-button>
              </el-form-item>
              <el-form-item>
                <el-button type="default" @click="reset2('searchFrom')"
                  >重置</el-button
                >
              </el-form-item>
            </el-form>
            <div class="vxe-table-box">
              <vxe-table
                ref="eqTable"
                border
                resizable
                :loading="loading"
                auto-resize
                sync-resize
                height="auto"
                :data="tableDataThree"
              >
                <vxe-table-column field="id" title="编号" />
                <vxe-table-column field="name" title="设备名称" />
                <vxe-table-column field="type" title="设备类型" />
                <vxe-table-column
                  field="location"
                  title="安装位置"
                  show-overflow
                />
                <vxe-table-column field="number" title="设备序号" />
                <vxe-table-column field="status" title="状态">
                  <template #default="{ row }">
                    <span
                      :style="row.status == 0 ? 'color:green;' : 'color:red;'"
                      >{{ statusList[row.status] }}</span
                    >
                  </template>
                </vxe-table-column>
                <vxe-table-column title="操作" show-overflow>
                  <template #default="{ row }">
                    <vxe-button
                      title="绑定"
                      icon="vxe-icon--zoomout"
                      @click="merge(row.id)"
                    />
                  </template>
                </vxe-table-column>
              </vxe-table>
            </div>
            <vxe-pager
              perfect
              :current-page.sync="searchFrom.current"
              :page-size.sync="searchFrom.size"
              :total="searchFrom.total"
              :layouts="[
                'PrevJump',
                'PrevPage',
                'JumpNumber',
                'NextPage',
                'NextJump',
                'Sizes',
                'FullJump',
                'Total'
              ]"
              @page-change="handlePageChange"
            />
          </template>
        </vxe-modal>
        <vxe-modal
          v-model="dialog4"
          title="选择小区坐标"
          :z-index="92"
          width="1200"
          height="600"
          @show="show"
        >
          <template #default>
            <div id="poi">
              <div id="panel" class="scrollbar1">
                <div id="searchBar">
                  <input id="searchInput" placeholder="输入关键字搜素POI" />
                </div>
                <div id="searchResults" />
              </div>
            </div>
          </template>
        </vxe-modal>
      </div>
    </div>
  </div>
</template>

<script>
// 这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
// 例如：import 《组件名称》 from '《组件路径》';
import {
  getListSysArea,
  getListOnlyWG,
  updateByHouseId,
  editEQ
} from "@/api/vacant_house/eq.js";
import {
  getList,
  addHouse,
  editHouse,
  delHouse,
  getListSysVillage,
  addSysVillage
} from "@/api/vacant_house/house";
import { getToken } from "@/utils/auth";
import { delFile } from "@/api/vacant_house/upload";
import AMap from "AMap";
import AMapUI from "AMapUI";
export default {
  // import引入的组件需要注入到对象中才能使用
  components: {},
  data() {
    // 这里存放数据
    return {
      cityVal: "440100",
      radio_value: "1",
      radio_nav: "摄像头",
      areaList: [],
      //添加设备弹窗
      equipmentVal: false,
      //修改设备弹窗
      alertVal: false,
      nav_value: "1",
      tablePage: {
        current: 1,
        size: 10,
        total: 0,
        areaId: null,
        villageName: null,
        status: null
      },
      loading: false,
      tableData: [],
      tablelist: [
        {
          a: "01",
          b: "网关",
          c: "12345",
          d: "123456",
          e: "2020-1-1",
          f: "2020-1-1",
          g: "在线",
          h: "备注"
        }
      ],
      dialog: false,
      dialogTitle: true,
      form: {
        id: null,
        areaId: null,
        villageId: null,
        villageName: null,
        location: null,
        buildNo: null,
        ladder: null,
        roomNo: null,
        shareArea: null,
        inArea: null,
        behoof: null,
        image: null
      },
      villageName: null,
      file_list: [],
      action: process.env.VUE_APP_BASE_API + "/upload/uploadFile",
      headers: {
        Authorization: "Bearer " + getToken()
      },
      mergeList: {
        0: "未绑定",
        1: "已绑定"
      },
      rules: {
        areaId: [
          {
            required: true,
            message: "请选择区属",
            trigger: "change"
          }
        ],
        villageName: [
          {
            required: true,
            message: "请输入小区名称",
            trigger: "blur"
          }
        ],
        location: [
          {
            required: true,
            message: "请输入位置",
            trigger: "blur"
          }
        ],
        buildNo: [
          {
            required: true,
            message: "请输入楼号",
            trigger: "blur"
          }
        ],
        ladder: [
          {
            required: true,
            message: "请输入梯号",
            trigger: "blur"
          }
        ],
        roomNo: [
          {
            required: true,
            message: "请输入房号",
            trigger: "blur"
          }
        ],
        shareArea: [
          {
            required: true,
            message: "请输入分摊面积",
            trigger: "blur"
          }
        ],
        inArea: [
          {
            required: true,
            message: "请输入套内面积",
            trigger: "blur"
          }
        ]
      },
      dialog2: false,
      form2: {
        name: null,
        center: null,
        location: null,
        areaId: null
      },
      rules2: {
        name: [
          {
            required: true,
            message: "请输入小区名称",
            trigger: "blur"
          }
        ],
        center: [
          {
            required: true,
            message: "请输入小区坐标",
            trigger: "blur"
          }
        ],
        location: [
          {
            required: true,
            message: "请输入位置",
            trigger: "blur"
          }
        ],
        areaId: [
          {
            required: true,
            message: "请选择区属",
            trigger: "change"
          }
        ]
      },
      searchFrom: {
        number: null,
        name: null,
        houseId: 0,
        parentId: 0,
        current: 1,
        size: 10,
        total: 0
      },
      dialog3: false,
      statusList: {
        0: "在线",
        1: "离线"
      },
      form3: {
        id: null,
        status: null
      },
      tableDataThree: [],
      dialog4: false
    };
  },
  // 监听属性 类似于data概念
  computed: {},
  // 监控data中的数据变化
  watch: {},
  // 生命周期 - 创建完成（可以访问当前this实例）
  created() {
    this.init();
  },
  // 生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {},
  beforeCreate() {}, // 生命周期 - 创建之前
  beforeMount() {}, // 生命周期 - 挂载之前
  beforeUpdate() {}, // 生命周期 - 更新之前
  updated() {}, // 生命周期 - 更新之后
  beforeDestroy() {}, // 生命周期 - 销毁之前
  destroyed() {}, // 生命周期 - 销毁完成
  activated() {},
  // 方法集合
  methods: {
    init() {
      this.loading = true;
      // 区域信息
      getListSysArea({ current: 1, size: 20 }).then(res => {
        this.areaList = res.data.records;
      });
      this.getList_api();
    },
    //
    onClick($event) {
      // $event.target.className = "tianjia"
      //   console.log($event.target.getArrtrbute("index"));
      console.log($event.srcElement.dataset.index);
      this.nav_value = $event.srcElement.dataset.index;
    },
    // 获取房屋信息
    getList_api() {
      this.loading = true;
      getList(this.tablePage).then(res => {
        this.tableData = res.data.records;
        this.tablePage.total = res.data.total;
        this.dialog = false;
        this.loading = false;
        console.log(this.tableData);
      });
    },
    // 导出
    exportDataEvent() {
      this.$refs.xTable.openExport({
        // 默认勾选源
        original: true
      });
    },
    //添加网关弹窗
    addEquipment() {
      this.equipmentVal = true;
    },
    // 添加网关弹窗确认按钮
    equipmentAffirm() {
      this.equipmentVal = false;
    },
    // 添加网关弹窗取消按钮
    equipmentCancel() {
      this.equipmentVal = false;
    },
    //弹窗确定按钮
    searchEvent() {
      this.alertVal = false;
    },
    //弹窗取消按钮
    resetEvent() {
      this.alertVal = false;
    },
    daoru() {
      this.$refs.houseTable.importData();
    },
    daochu() {
      this.$refs.houseTable.openExport({
        // 默认勾选源
        original: true
      });
    },
    openDialogEvent(val) {
      this.file_list = [];
      this.villageName = null;
      if (val) {
        this.dialogTitle = false;
        this.form = Object.assign({}, val);
        if (this.form.image) {
          this.file_list[0] = {
            url: this.form.image
          };
        }
        this.villageName = val.villageName;
        console.log(this.file_list);
      } else {
        this.form = {};
        this.dialogTitle = true;
      }
      this.dialog = true;
    },
    openDialogEventTwo() {
      this.form2 = {};
      this.dialog2 = true;
    },
    screening() {
      this.tablePage.current = 1;
      this.getList_api();
    },
    screening2() {
      getListOnlyWG(this.searchFrom).then(res => {
        this.tableDataThree = res.data.records;
        this.searchFrom.total = res.data.total;
      });
    },
    reset(formName) {
      this.$refs[formName].resetFields();
      this.dialog = false;
    },
    reset2(formName) {
      this.$refs[formName].resetFields();
      this.dialog2 = false;
    },
    handlePageChange({ currentPage, pageSize }) {
      this.tablePage.current = currentPage;
      this.tablePage.size = pageSize;
      this.getList_api();
    },
    openDialogEventThree(id) {
      this.alertVal = true;
      this.form3.id = id;
      //   getListOnlyWG(this.searchFrom).then(res => {
      //     this.tableDataThree = res.data.records;
      //     this.searchFrom.total = res.data.total;
      //     this.dialog3 = true;
      //   });
    },
    openDialogEventFour() {
      if (this.form2.areaId) {
        const obj = this.areaList.find(
          o => o.id + "" === this.form2.areaId + ""
        );
        this.cityVal = obj.adCode;
        this.dialog4 = true;
      } else {
        this.$message({
          message: "请先选择区属",
          type: "warning"
        });
      }
    },
    show() {
      this.mapInit(this.cityVal);
    },
    merge(id) {
      this.dialog3 = true;
      this.form3.status = 1;
      this.$confirm("是否绑定此网关?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          updateByHouseId({ id: id, houseId: this.form3.id }).then(() => {
            editHouse(this.form3).then(() => {
              this.$notify({
                title: "成功",
                message: "绑定成功",
                type: "success",
                duration: 2000
              });
              this.getList_api();
              this.dialog3 = false;
            });
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消绑定"
          });
        });
    },
    del(item) {
      this.$confirm("此操作将永久删除数据, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          delHouse({ idList: item.id }).then(res => {
            if (item.eqId) {
              editEQ({ id: item.eqId, houseId: 0 });
            }
            this.getList_api();
            this.$message({
              type: "success",
              message: "删除成功!"
            });
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (this.dialogTitle) {
            addHouse(this.form).then(res => {
              this.getList_api();
              this.$notify({
                title: "成功",
                message: "操作成功",
                type: "success",
                duration: 2000
              });
            });
          } else {
            editHouse(this.form).then(res => {
              this.getList_api();
              this.$notify({
                title: "成功",
                message: "操作成功",
                type: "success",
                duration: 2000
              });
            });
          }
        } else {
          return false;
        }
      });
    },
    submitForm2(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          addSysVillage(this.form2).then(res => {
            this.dialog2 = false;
            this.$notify({
              title: "成功",
              message: "操作成功",
              type: "success",
              duration: 2000
            });
            this.cityVal = "440100";
          });
        } else {
          return false;
        }
      });
    },
    change() {
      this.form.villageId = null;
      this.villageName = null;
    },
    handleSelect(item) {
      this.form.villageId = item.id;
    },
    querySearch(queryString, cb) {
      getListSysVillage({ areaId: this.form.areaId, name: queryString }).then(
        res => {
          // 调用 callback 返回建议列表的数据
          cb(res.data.data);
        }
      );
    },
    handleRemove(file, fileList) {
      let url = null;
      if (file.response)
        url = file.response.data[0].split("/")[
          file.response.data[0].split("/").length - 1
        ];
      else url = file.url.split("/")[file.url.split("/").length - 1];
      delFile(url);
    },
    handSuccess(response, file, fileList) {
      this.form.image = response.data[0];
    },
    mapInit(cityVal) {
      const that = this;
      var map = new AMap.Map("poi", {
        zoom: 10
      });
      AMapUI.loadUI(["misc/PoiPicker"], function(PoiPicker) {
        var poiPicker = new PoiPicker({
          input: "searchInput",
          placeSearchOptions: {
            map: map,
            city: cityVal,
            citylimit: true,
            pageSize: 10
          },
          searchResultsContainer: "searchResults"
        });

        poiPicker.on("poiPicked", function(poiResult) {
          poiPicker.hideSearchResults();
          var source = poiResult.source;
          var poi = poiResult.item;
          // 开始赋值
          const form = {
            name: poi.name,
            center: poi.location.toString(),
            location: poi.address
          };
          Object.assign(that.form2, form);
          that.form2 = Object.assign({}, that.form2, form);
          console.log(that.form2);
          if (source !== "search") {
            // suggest来源的，同样调用搜索
            poiPicker.searchByKeyword(poi.name);
          } else {
            // console.log(poi);
          }
        });

        poiPicker.onCityReady(function() {
          poiPicker.searchByKeyword("");
        });
      });
    }
  } // 如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
//@import url(); 引入公共css类
.gateway {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.app-nav {
  //   display: block;
  background-color: white;
  .dialog-form-button {
    text-align: center;
    margin-bottom: 20px;
  }
  .tenAccountList-top {
    margin-bottom: 20px;
    span {
      margin-right: 15px;
    }
    .on_button {
      float: right;
      margin-left: 15px;
    }
  }
  ::v-deep.dialogThree {
    .vxe-modal--content {
      display: flex;
      flex-direction: column;
    }
  }
  #poi {
    width: 100%;
    height: 100%;
  }
  #panel {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    overflow: auto;
    width: 300px;
    z-index: 999;
    border-left: 1px solid #eaeaea;
    background: #fff;
  }

  #searchBar {
    height: 30px;
    background: #ccc;
  }

  #searchInput {
    width: 100%;
    height: 30px;
    line-height: 30%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 0 5px;
  }

  #searchResults {
    overflow: auto;
    height: calc(100% - 30px);
  }

  .amap_lib_placeSearch,
  .amap-ui-poi-picker-sugg-container {
    border: none !important;
  }

  .amap_lib_placeSearch .poibox.highlight {
    background-color: #cae1ff;
  }

  .poi-more {
    display: none !important;
  }
}
.facility_table {
  .table_nav {
    background: white;
    margin-right: 20px;
    padding: 20px;
    .table_nav_item {
      width: 100%;
    }
  }
}
.alert_button {
  .el-button {
    float: right;
    margin-left: 20px;
  }
}
.one {
  p {
    text-align: center;
    margin: 0;
    height: 45px;
    line-height: 45px;
    border-radius: 5px;
  }
}
.active {
  background: #f0f1f3;
}
</style>
