<!-- 房屋管理 -->
<template>
  <div class="gateway">
    <el-form
      ref="tablePage"
      :inline="true"
      :model="tablePage"
      class="form-inline"
    >
      <!-- <el-form-item label="设备名称:" prop="name">
        <el-input v-model="tablePage.name" placeholder="设备名称" />
      </el-form-item> -->
      <el-form-item label="设备编号:" prop="coding">
        <el-input v-model="tablePage.coding" placeholder="设备编码" />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="screening">查询</el-button>
      </el-form-item>
      <el-form-item>
        <el-button type="default" @click="reset('tablePage')">重置</el-button>
      </el-form-item>
    </el-form>
    <div
      class="facility_table"
      style="display: flex;height: auto;width: auto;flex: 1;"
    >
      <!-- 左边导航 -->
      <div class="table_nav" style="width:30% height: auto;flex: 1;">
        <el-row>
          <el-button class="table_nav_item" type="primary">设备列表</el-button>
        </el-row>
        <div class="one">
          <p 
            v-for="item in eqTypeList" 
            :key="item.id" 
            :class="{ active: tablePage.nodeType == item.id }" 
            :data-index="item.id"
            @click="searchTypeEvent(item)">
            {{item.name}}
          </p>
        </div>
      </div>
      <!-- 右边导航 -->
      <div class="app-nav" style="margin:0px;width: 70%;height: auto;flex: 6;">
        <div class="son-nav" style="">
          <div class="tenAccountList-top">
            <!-- <span>状态:</span>
            <vxe-radio-group v-model="tablePage.status">
              <vxe-radio-button :label="null" :value="null" content="全部"></vxe-radio-button>
              <vxe-radio-button :label="0" :value="0" content="在线"></vxe-radio-button>
              <vxe-radio-button :label="1" :value="1" content="离线"></vxe-radio-button>
            </vxe-radio-group> -->
            <vxe-button
              @click="addEquipment()"
              status="success"
              class="on_button"
              style="float: left;"
              ><i class="vxe-icon--plus"></i>添加设备</vxe-button
            >
            <vxe-button @click="toImport" class="on_button"
              ><i class="el-icon-upload"></i>导入</vxe-button
            >
            <vxe-button @click="exportDataEvent" class="on_button"
              ><i class="vxe-icon--download"></i>导出</vxe-button
            >
          </div>
          <!-- 表单 -->
          <div class="vxe-table-box">
            <vxe-table
              ref="xTable"
              :export-config="{}"
              border
              resizable
              auto-resize
              sync-resize
              :loading="loading"
              :data="tableData"
              row-id="id"
              align="center"
              show-overflow
              show-header-overflow
              :seq-config="{startIndex: (tablePage.page - 1) * tablePage.limit}">
              <!-- <vxe-table-column type="checkbox" width="60"></vxe-table-column> -->
              <vxe-table-column type="seq" title="序号" width="60"></vxe-table-column>

              <vxe-table-column field="deviceName" title="设备名称" />
              
              <vxe-table-column field="factory" title="厂家" />

              <vxe-table-column field="coding" title="设备编号"/>

              <vxe-table-column field="model" title="型号" v-if="tablePage.nodeType != 2" />
              <vxe-table-column field="site" title="直播地址" v-if="tablePage.nodeType == 2" />
              <vxe-table-column field="safety" title="安全码" v-if="tablePage.nodeType == 2" />
              <vxe-table-column field="specification" title="设备规格" v-if="tablePage.nodeType == 2" />
              <vxe-table-column field="macSite1" title="MAC 地址 1" v-if="tablePage.nodeType == 2" />
              <vxe-table-column field="macSite2" title="MAC 地址 2" v-if="tablePage.nodeType == 2" />
              <vxe-table-column field="repertoryStatus" title="库存状态" v-if="tablePage.nodeType == 2" />
              <vxe-table-column field="functionary" title="入库负责人" v-if="tablePage.nodeType == 2" />
              <vxe-table-column field="recipient" title="出库领用人" v-if="tablePage.nodeType == 2" />

              <vxe-table-column field="time" title="创建时间" />

              <!-- <vxe-table-column field="status" title="状态">
                <template #default="{ row }">
                  <span
                    :style="row.status == 0 ? 'color:green;' : 'color:red;'"
                    >{{ statusList[row.status] }}</span
                  >
                </template>
              </vxe-table-column> -->

              <vxe-table-column field="remark" title="备注" />
              <vxe-table-column title="操作" show-overflow width="100px">
                <template #default="{ row }">
                  <vxe-button
                  style="color:blue;"
                    type="text"
                    title="修改"
                    icon="el-icon-edit"
                    @click="openDialogEventThree(row)"
                  />
                  <vxe-button
                  style="color:red;"
                    type="text"
                    title="删除"
                    icon="el-icon-delete"
                    @click="del(row)"
                  />
                </template>
              </vxe-table-column>
              <template #empty>
                <span style="color: red;">
                  <img :src="require('@/assets/yellowduck.gif')" />
                  <p>没有更多数据了！</p>
                </span>
              </template>
            </vxe-table>
            <vxe-pager
            perfect
            :current-page.sync="tablePage.page"
            :page-size.sync="tablePage.limit"
            :total="tablePage.total"
            :layouts="[
              'PrevJump',
              'PrevPage',
              'JumpNumber',
              'NextPage',
              'NextJump',
              'FullJump',
              'Total'
            ]"
            @page-change="handlePageChange"/>
          </div>
          <!-- 设备弹窗 -->
          <vxe-modal v-model="equipmentVal" :title="dialogTitle ? '添加设备' : '修改设备'" width="40%" :show-close="false">
            <template #default>
              <el-form
                ref="form"
                :rules="formRules"
                :model="form"
                label-width="130px"
                :inline="true">
                <el-row>
                  <el-col :span="24">
                    <el-form-item label="设备名称：" prop="deviceName">
                      <el-input v-model="form.deviceName" placeholder="输入设备类型"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="24">
                    <el-form-item label="设备编号：" prop="coding">
                      <el-input v-model="form.coding" placeholder="输入设备编号"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="24">
                    <el-form-item label="设备类型：" prop="nodeType">
                      <el-select v-model="form.nodeType" placeholder="请选择" @change="changeEvent" disabled>
                        <el-option
                          v-for="item in eqTypeList"
                          :key="item.id"
                          :label="item.name"
                          :value="item.id">
                        </el-option>
                      </el-select>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row v-if="tablePage.nodeType != 2">
                  <el-col :span="24">
                    <el-form-item label="型号：" prop="model">
                      <el-input v-model="form.model" placeholder="输入设备型号"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="24">
                    <el-form-item label="厂家：" prop="factoryId">
                      <el-select v-model="form.factoryId" placeholder="请选择">
                        <el-option
                          v-for="item in FactoryList"
                          :key="item.id"
                          :label="item.factory"
                          :value="item.id">
                        </el-option>
                      </el-select>
                      <!-- <el-input v-model="form.factory" placeholder="输入厂家"></el-input> -->
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row v-if="tablePage.nodeType == 2">
                  <el-col :span="12">
                    <el-form-item label="安全码：" prop="safety">
                      <el-input v-model="form.safety" placeholder="输入安全码"></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="直播地址：">
                      <el-input v-model="form.site" placeholder="输入直播地址"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row v-if="tablePage.nodeType == 2">
                  <el-col :span="12">
                    <el-form-item label="设备规格：">
                      <el-input v-model="form.specification" placeholder="输入设备规格"></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="库存状态：">
                      <el-input v-model="form.repertoryStatus" placeholder="输入库存状态"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row v-if="tablePage.nodeType == 2">
                  <el-col :span="12">
                    <el-form-item label="MAC 地址 1：">
                      <el-input v-model="form.macSite1" placeholder="输入MAC 地址 1"></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="MAC 地址 2：">
                      <el-input v-model="form.macSite2" placeholder="输入MAC 地址 2"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                 <el-row v-if="tablePage.nodeType == 2">
                  <el-col :span="12">
                    <el-form-item label="入库负责人：">
                      <el-input v-model="form.functionary" placeholder="输入入库负责人"></el-input>
                    </el-form-item>
                  </el-col>
                  <el-col :span="12">
                    <el-form-item label="出库领用人：">
                      <el-input v-model="form.recipient" placeholder="输入出库领用人"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row>
                  <el-col :span="24">
                    <el-form-item label="备注：" prop="remark">
                      <el-input v-model="form.remark" type="textarea" :rows="5" placeholder="多行输入"></el-input>
                    </el-form-item>
                  </el-col>
                </el-row>
              </el-form>
              <el-divider></el-divider>
              <div class="alert_button">
                <el-row>
                  <el-button size="medium" @click="submitForm('form')" type="primary"
                    >确定</el-button
                  >
                  <el-button size="medium" @click="resetEvent('form')" type="danger"
                    >取消</el-button
                  >
                </el-row>
              </div>
            </template>
          </vxe-modal>
          <vxe-modal v-model="alertVal" title="设备信息导入步骤" width="20%">
            <template #default>
            <el-timeline>
                <el-timeline-item timestamp="1，下载模板" placement="top">
                <el-card>
                    <p>模板：<a href="https://ismart.loongtek.cn/image/tar/b4f9ec24e2fb469bba5ebeebf0662910.xlsx" download="myFileName">
                                <vxe-button><i class="el-icon-download"></i> 下载</vxe-button>
                            </a>
                    </p>
                    <p>下载模板文件到本地。</p>
                </el-card>
                </el-timeline-item>
                <el-timeline-item timestamp="2，填写数据" placement="top">
                <el-card>
                    <p>根据模板文件的要求填写数据。</p>
                </el-card>
                </el-timeline-item>
                <el-timeline-item timestamp="3，导入数据" placement="top">
                <el-card>
                    <vxe-button @click="importDataEvent"><i class="el-icon-upload"></i> 导入</vxe-button>
                    <p>点击导入按钮，导入表格中的办公室数据。</p>
                </el-card>
                </el-timeline-item>
            </el-timeline>
            </template>
        </vxe-modal>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// 这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
// 例如：import 《组件名称》 from '《组件路径》';
import { getEQList,getEqTypeList,
addCamera,addImprinter,addSmoking,addInfrared 
,putCamera,putImprinter,putSmoking,putInfrared,
delCamera,delImprinter,delSmoking,delInfrared,
importFacility} from '@/api/vacant_house/facility.js'
import { delGatewayInfoById,getGatewayFactory } from '@/api/vacant_house/gateway.js'
export default {
  // import引入的组件需要注入到对象中才能使用
  components: {},
  data() {
    // 这里存放数据
    return {
      cityVal: "440100",
      //添加设备弹窗
      equipmentVal: false,
      dialogTitle: false,
      tablePage: {
        page: 1,
        limit: 10,
        total: 0,
        // name: null,
        coding: null,
        nodeType:2,// 0 是全部
        // status: null
      },
      loading: false,
      tableData: [],
      form: {
        deviceName:null,
        coding:null,
        nodeType:2,
        model:null,
        remark:null,
        factoryId: null,
        safety: null,
        site:null,
        specification:null,
        macSite1:null,
        macSite2:null,
        repertoryStatus:null,
        functionary:null,
        recipient:null,
      },
      formRules: {
        deviceName: [
          {
            required: true,
            message: "请输入设备名称",
            trigger: "blur"
          }
        ],
        coding: [
          {
            required: true,
            message: "请输入设备编号",
            trigger: "blur"
          }
        ],
        nodeType: [
          {
            required: true,
            message: "请选择设备类型",
            trigger: "change"
          }
        ],
        model: [
          {
            required: true,
            message: "请输入型号",
            trigger: "blur"
          }
        ],
        remark: [
          {
            required: false,
            message: "请输入备注",
            trigger: "blur"
          }
        ],
        factoryId: [
          {
            required: true,
            message: "请输入厂家",
            trigger: "blur"
          }
        ],
        safety: [
          {
            required: true,
            message: "请输入安全码",
            trigger: "blur"
          }
        ],
        site: [
          {
            required: true,
            message: "请输入直播地址",
            trigger: "blur"
          }
        ],
        specification:[
          {
            required: true,
            message: "请输入设备规格",
            trigger: "blur"
          }
        ],
        macSite1:[
          {
            required: true,
            message: "请输入 MAC 地址1",
            trigger: "blur"
          }
        ],
        macSite2:[
          {
            required: true,
            message: "请输入 MAC 地址2",
            trigger: "blur"
          }
        ],
        repertoryStatus:[
          {
            required: true,
            message: "请输入库存状态",
            trigger: "blur"
          }
        ],
        functionary:[
          {
            required: true,
            message: "请输入入库负责人",
            trigger: "blur"
          }
        ],
        recipient:[
          {
            required: true,
            message: "请输入出库领用人",
            trigger: "blur"
          }
        ],
      },
      statusList: {
        0: "在线",
        1: "离线"
      },
      // 设备列表
      eqTypeList: [],
      FactoryList: [],
      alertVal: false,
    };
  },
  // 监听属性 类似于data概念
  computed: {},
  // 监控data中的数据变化
  watch: {
    'tablePage.status'(val, oldVal){
      val == null ? this.tablePage.status = null : this.tablePage.status = val
      this.init()
    }
  },
  // 生命周期 - 创建完成（可以访问当前this实例）
  created() {
    this.init();
  },
  // 生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {},
  beforeCreate() {}, // 生命周期 - 创建之前
  beforeMount() {}, // 生命周期 - 挂载之前
  beforeUpdate() {}, // 生命周期 - 更新之前
  updated() {}, // 生命周期 - 更新之后
  beforeDestroy() {}, // 生命周期 - 销毁之前
  destroyed() {}, // 生命周期 - 销毁完成
  activated() {},
  // 方法集合
  methods: {
    init() {
      this.loading = true;
      // 设备类型
      getEqTypeList().then((res) => {
        if(res.code === 0){
          this.eqTypeList = res.data.records
        }
      })
      // 获取设备信息
      getEQList(this.tablePage).then((res) => {
        console.log("init ", res);
        if(res.code === 200){
          this.loading = false
          this.tableData = res.data
          this.tablePage.total = res.count
        }
      })
    },
    handlePageChange({ currentPage, pageSize }) {
      this.tablePage.page = currentPage;
      this.tablePage.limit = pageSize;
      this.init()
    },
    screening() {
      this.tablePage.page = 1;
      this.init()
    },
    reset(formName) {
      this.$refs[formName].resetFields();
      this.init()
    },
    searchTypeEvent(item){
      this.tablePage.nodeType = item.id
      this.init()
    },
    // 导出
    exportDataEvent() {
      this.$refs.xTable.openExport({
        // 默认勾选源
        original: true
      });
    },
    // 新增
    async addEquipment(){
      this.equipmentVal = true
      this.dialogTitle = true
      // 获取厂家
      await getGatewayFactory(this.tablePage.nodeType).then(res => {
        if(res.code === 0){
          this.FactoryList = res.data.records
        }
      })
      this.$nextTick(() => {
        this.form = {
          deviceName:null,
          coding:null,
          nodeType: this.tablePage.nodeType,
          model:null,
          remark:null,
          factoryId: null,
          safety: null,
          site:null,
          specification:null,
          macSite1:null,
          macSite2:null,
          repertoryStatus:null,
          functionary:null,
          recipient:null,
        }
        this.$refs['form'].resetFields();
      })
    },
    // 修改
    async openDialogEventThree(row){
      this.equipmentVal = true
      this.dialogTitle = false
      // 获取厂家
      await getGatewayFactory(this.tablePage.nodeType).then(res => {
        if(res.code === 0){
          this.FactoryList = res.data.records
        }
      })
      this.form = JSON.parse(JSON.stringify(row))
      this.form.nodeType = this.tablePage.nodeType
    },
    changeEvent(val){
      this.tablePage.nodeType = val
    },
    del(row) {
      this.$confirm("此操作将永久删除数据, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          switch(this.tablePage.nodeType){
            case 2:
              delCamera(row.id).then(res => {
                this.init();
                this.$message({ type: "success", message: "删除成功!" });
              })
              break;
            case 3:
              delImprinter(row.id).then(res => {
                this.init();
                this.$message({ type: "success", message: "删除成功!" });
              })
              break;
            case 4:
              delSmoking(row.id).then(res => {
                this.init();
                this.$message({ type: "success", message: "删除成功!" });
              })
              break;
            case 5:
              delInfrared(row.id).then(res => {
                this.init();
                this.$message({ type: "success", message: "删除成功!" });
              })
              break;
          }
            
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if(this.dialogTitle){
            switch(this.tablePage.nodeType){
              case 2:
                addCamera(this.form).then(res => {
                  this.mySuccess('添加', formName)
                })
                break;
              case 3:
                addImprinter(this.form).then(res => {
                  this.mySuccess('添加', formName)
                })
                break;
              case 4:
                addSmoking(this.form).then(res => {
                  this.mySuccess('添加', formName)
                })
                break;
              case 5:
                addInfrared(this.form).then(res => {
                  this.mySuccess('添加', formName)
                })
                break;
            }
          }else{
            delete this.form.time
            switch(this.tablePage.nodeType){
              case 2:
                putCamera(this.form).then(res => {
                  this.mySuccess('修改', formName)
                })
                break;
              case 3:
                putImprinter(this.form).then(res => {
                  this.mySuccess('修改', formName)
                })
                break;
              case 4:
                putSmoking(this.form).then(res => {
                  this.mySuccess('修改', formName)
                })
                break;
              case 5:
                putInfrared(this.form).then(res => {
                  this.mySuccess('修改', formName)
                })
                break;
            }
          }
        } else {
          return false;
        }
      });
    },
    mySuccess(label, formName){
      this.$message({
        type: "success",
        message: label + "成功!"
      });
      this.init();
      this.equipmentVal = false
      this.$refs[formName].resetFields();
    },
    resetEvent(formName) {
      if(this.dialogTitle){
        this.$refs[formName].resetFields();
      }
      this.equipmentVal = false
    },
    exportDataEvent () {
        this.$refs.xTable.openExport({
            // 默认勾选源
            original: true
        })
    },
    toImport(){
      this.alertVal = true
    },
    importDataEvent(){
      this.$refs.xTable.readFile({
          types: ['xls', 'xlsx']
      }).then(params => {
          const { files } = params
          files.forEach(ele => {
              var formData = new FormData()
              formData.append("file", ele)
              console.log("formData", formData.get("file"))
              importFacility(formData).then(res => {
                  if(res.code == 200 ){
                    this.$message({ type: 'success', message: '导入成功!' })
                    this.alertVal = false
                    this.init()
                  }
              })
          })
      })
    }
  } // 如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
//@import url(); 引入公共css类
.gateway {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.vxe-table{
  flex: 1;
}
.el-row:last-of-type{
  .el-form-item{
    width: 100%;
    ::v-deep.el-form-item__content{
      width: calc( 100% - 200px );
    }
  }
}
.app-nav {
  //   display: block;
  background-color: white;
  .dialog-form-button {
    text-align: center;
    margin-bottom: 20px;
  }
  .tenAccountList-top {
    margin-bottom: 20px;
    span {
      margin-right: 15px;
    }
    .on_button {
      float: right;
      margin-left: 15px;
    }
  }
  ::v-deep.dialogThree {
    .vxe-modal--content {
      display: flex;
      flex-direction: column;
    }
  }
  #poi {
    width: 100%;
    height: 100%;
  }
  #panel {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    overflow: auto;
    width: 300px;
    z-index: 999;
    border-left: 1px solid #eaeaea;
    background: #fff;
  }

  #searchBar {
    height: 30px;
    background: #ccc;
  }

  #searchInput {
    width: 100%;
    height: 30px;
    line-height: 30%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 0 5px;
  }

  #searchResults {
    overflow: auto;
    height: calc(100% - 30px);
  }

  .amap_lib_placeSearch,
  .amap-ui-poi-picker-sugg-container {
    border: none !important;
  }

  .amap_lib_placeSearch .poibox.highlight {
    background-color: #cae1ff;
  }

  .poi-more {
    display: none !important;
  }
}
.facility_table {
  .table_nav {
    background: white;
    margin-right: 20px;
    padding: 20px;
    .table_nav_item {
      width: 100%;
    }
  }
}
.alert_button {
  .el-button {
    float: right;
    margin-left: 20px;
  }
}
.one {
  p {
    text-align: center;
    margin: 0;
    height: 45px;
    line-height: 45px;
    border-radius: 5px;
  }
}
.active {
  background: #f0f1f3;
}
</style>
