
<template>
  <div class="main-div">
    <Row >


      <Col span="4">
          <Tree :data="categoryData" expand="true" default-expand-all="true" @on-select-change="refreshTask"></Tree>
      </Col>
      <Col span="20">

        <Card  dis-hover class="task-card" style="margin-left: -14px">
          <div >


            <el-row class="margin:30px;">
              <el-col>
                <el-table
                  :data="tableData"
                  size="mini"
                  style="width: 100%"
                  :height="tableHeight"
                  border
                >
                  <el-table-column
                    fixed
                    prop="name"
                    label="名称"
                    width='180'
                    show-overflow-tooltip
                  >
                    <template slot-scope="scope">
                      <span v-if="scope.row.name" >{{scope.row.name}}</span>
                      <span v-else >-</span>
                    </template>
                  </el-table-column>


                  <el-table-column
                    prop="key"
                    label="别名"
                    show-overflow-tooltip
                  >
                    <template slot-scope="scope">
                      <span v-if="scope.row.key" >{{scope.row.key}}</span>
                      <span v-else >-</span>
                    </template>
                  </el-table-column>
                  <el-table-column
                    prop="description"
                    label="描述"
                    show-overflow-tooltip
                  >
                    <template slot-scope="scope">
                      <span v-if="scope.row.description" >{{scope.row.description}}</span>
                      <span v-else >-</span>
                    </template>
                  </el-table-column>
                  <el-table-column
                    prop="version"
                    label="版本"
                    show-overflow-tooltip
                  >
                  </el-table-column>

                  <el-table-column
                    prop="deploymentId"
                    label="资源ID"
                    show-overflow-tooltip
                  >
                    <template slot-scope="scope">
                      <span v-if="scope.row.deploymentId" >{{scope.row.deploymentId}}</span>
                      <span v-else >-</span>
                    </template>
                  </el-table-column>



                </el-table>
              </el-col>
            </el-row>

          </div>
        </Card>
      </Col>


    </Row>
    <Row>
      <Col span="24">
      </Col>
    </Row>


    <Modal v-model="viewImageModeler" fullscreen title="盘古CMMN案例设计器"  :transfer="false">
      <iframe   width="100%"      height='100%' frameborder='0' align='center' allowfullscreen='true'    allow="autoplay"   id='iframe2'  :src="viewImageModelerTmpSrc"   ></iframe>
      <div slot="footer"></div>
    </Modal>
  </div>


</template>

<script>
  import {getCMMNModelCategory,getModelerJson,publishModel,saveDmn,getDmnLog
    ,getPlanitemList
    ,terminatePlanitem
    ,triggerPlanitem
    ,enablePlanitem
    ,getCache


  } from "@/api/cmmn";
  import Footer from '../../../common/footer';
  import Treeselect from '@riophae/vue-treeselect'
  import '@riophae/vue-treeselect/dist/vue-treeselect.css'
  export default {
    name: 'Task',
    components:{
      Treeselect
    },

    data() {
      return {
        ruleValidate: {
          name: [
            { required: true, message: ' ', trigger: 'blur' }
          ]
          ,
          modelKey: [
            { required: true, message: ' ', trigger: 'blur' }
          ]
          ,
          groupName: [
            { required: true, message: ' ', trigger: 'blur' }
          ]
        },
        tableData: [],
        tableHeight: 450,
        queryDate:[],
        total: 0,
        chartVisible: false,
        show: false,
        modelerModal: false,
        viewImageModeler: false,
        chartData: {},
        baseURL: process.env.VUE_APP_BASE_BPM_API,
        modelerSrc: process.env.VUE_APP_BASE_BPM_API+"/dmn/modeler/index.html",
        viewImageModelerSrc: process.env.VUE_APP_BASE_BPM_API+"/view/def.html?&modelId=",
        viewImageModelerTmpSrc:"",
        shopName: [],
        statusList:[
          {label:"未发布",value:"draft"},
          {label:"已发布",value:"deploy"},
        ],
        queryForm: {
          startTime: null,
          endTime: null,
          type: "",
          endTime: "",
          page: 1,
          limit: 10000,
        },
        formLine:{
          name: "",
          dmnKey: "",
          category: "",
          description: "",
          groupName: null,
        },
        categoryData: [
        ]
      }
    },
    mount() {
      this.getData()
      this.tableHeight = window.innerHeight - this.$refs.table.$el.offsetTop
    },
    created() {
      this.getData()
    },
    methods: {
      clearOnSelect: function (node, instanceId) {
        if (!node) {
          this.formLine.type = ''
          this.formLine.groupName = null
        }
      },
      selectTree: function (node, instanceId) {
        this.formLine.type = node.id
        this.formLine.groupName = node.title
      },

      normalizer(node) {
        //去掉children=[]的children属性
        if(node.children && !node.children.length){
          delete node.children;
        }
        return {
          id: node.typeKey,
          label: node.title ,
          children: node.children
        }
      },



      viewImage:function(id){
        if (id){
          this.viewImageModelerTmpSrc=  this.baseURL+"/dmn/modeler/view.html?t="+new Date().getTime()+"&modelId="+id;
        }
        this.viewImageModeler=true;
      },
      versionManager:function(id,modelKey){

        this.$router.push({ name:'dmn_versionManager', query: { t: new Date().getTime(),"modelKey":modelKey ,"id":id}})
      },
      openModelDialog:function(){
      this.show=true;
      },
      publishModel:function(id){
        publishModel(id).then((response) => {
          if (response.code == 0) {
            this.$message({"duration":800,message:'操作成功',type:'warning',customClass:'zZindex'});

            this.getModelerJsonAction();
          }else{
            this.$message({"duration":800,message:response.msg,type:'warning',customClass:'zZindex'});

          }

        })
      },
      queryFormCreateTime:function(e){
        this.queryForm.startTime=e;
      },
      queryFormEndTime:function(e){
        this.queryForm.endTime=e;
      },
      refreshTask:function(data){
        if (data[0].parentId=='-1'){
          this.queryForm.type=""
        } else{
          this.queryForm.type=data[0].typeKey;


        }
        this.getModelerJsonAction()

      },
      queryMethod:function(){
       var name=  this.queryForm.name;
       var whereSql='';
       var createTime=  this.queryForm.createTime;
       if (createTime ){
         if (createTime[0]){
           whereSql="  CREATE_TIME_  between '"+createTime[0]+"' and "+"'"+createTime[1]+"'";
         }

       }
       this.queryForm.whereSql=whereSql;
        getModelerJson(this.queryForm).then((response) => {
          this.tableData = response.data
          this.total = parseInt(response.count);

        })

      },
      getModelerJsonAction:function(){
        getCache(this.queryForm).then((response) => {
          this.tableData = response.data
          this.total = parseInt(response.count);

        })
      },
      getData: function () {
        getCMMNModelCategory().then((response) => {
          this.categoryData = response.data

        })
        this.getModelerJsonAction();

      },
      handleCurrentChange(val) {
        this.queryForm.page = val
        this.getModelerJsonAction()
      },
      handleClick(val) {
      },
      search() {
        this.getModelerJsonAction();
      },
      reset() {
        this.queryForm.startTime = ""
        this.queryForm.endTime = ""
        this.getModelerJsonAction();
      }

    }

  }

</script>
<style lang="scss">
.task-card{
  margin-top: 10px;
}

</style>
