
<template>
  <div class="main-div">
    <Row >
      <el-dialog
        :close-on-click-modal="false"
        :append-to-body="true"
        :visible.sync="show"
        :modal-append-to-body="true"
        title="新增模型"
        width="40%"
        @close="cancelDialog"
      >
        <div style="min-height: 350px">
          <el-form  ref="formLine" :model="formLine" class="demo-form-inline" label-width='80px' :rules="ruleValidate"   >
            <el-form-item label="分类" prop='groupName'>
            <treeselect v-model="formLine.groupName"
                        :normalizer="normalizer"
                        :multiple="false"
                        @select="selectTree"
                        @input="clearOnSelect"

                        placeholder="请选择"
                        :options="categoryData"/>

            </el-form-item>
            <el-form-item label="名称" prop='name'>
              <el-input v-model="formLine.name" clearable></el-input>
            </el-form-item>
            <el-form-item label="别名" prop='modelKey'>
              <el-input v-model="formLine.modelKey" clearable></el-input>
            </el-form-item>
            <el-form-item label='说明' prop='description'>
              <el-input type="textarea" v-model="formLine.description"></el-input>
            </el-form-item>
            <el-form-item>

            </el-form-item>

          </el-form>


        </div>
        <span slot="footer" class="dialog-footer">
           <el-button type="primary" @click="confirmDialog">确 定</el-button>
        <el-button @click="cancelDialog">取 消</el-button>

  </span>
      </el-dialog>


      <Col span="4">

          <Tree :data="categoryData" expand="true" default-expand-all="true" @on-select-change="refreshTask"></Tree>

      </Col>
      <Col span="20">


        <Card  dis-hover class="task-card">
          <div >
            <el-row type="flex" justify="start" style="margin-left: -14px">
              <el-form :inline="true" :model="queryForm" class="demo-form-inline" label-width='80px' inline size='mini'>
                <el-form-item label="模型名称">
                  <el-input v-model="queryForm.name" clearable></el-input>
                </el-form-item>
                <el-form-item label="别名">
                  <el-input v-model="queryForm.modelKey" clearable></el-input>
                </el-form-item>

                <el-form-item>
                  <el-button type="primary" @click="search">查询</el-button>
                  <el-button type="default" @click="reset">重置</el-button>
                </el-form-item>
              </el-form>
            </el-row>
            <el-row type="flex" justify="start">
              <el-button type="primary" @click="openModelDialog" style="margin-bottom: 10px"><Icon type="ios-add"/>
                添加</el-button>
            </el-row>

            <el-row class="margin:30px;">
              <el-col>
                <el-table
                  :data="tableData"
                  size="mini"
                  style="width: 100%"
                  :height="tableHeight"
                  border
                >
                  <el-table-column
                    fixed
                    prop="name"
                    label="模型名称"
                    width='280'
                    show-overflow-tooltip
                  >
                  </el-table-column>
                  <el-table-column
                    prop="modelKey"
                    label="别名"
                    show-overflow-tooltip

                  >
                  </el-table-column>
                  <el-table-column
                    prop="version"
                    label="版本号"
                    sortable
                    show-overflow-tooltip

                  >
                  </el-table-column>
                  <el-table-column
                    label="操作"
                    width='400'
                    fixed="right"
                   >
                    <template slot-scope="scope">
                      <Button type="primary" size="small"  @click="locationUrl(scope.row.id)" ghost>编辑</Button>
                      <Button type="info"  @click="publishModel(scope.row.id)" size="small" ghost>发布</Button>

                      <Button  v-if="!(scope.row.deployId==null || scope.row.deployId=='')" type="info"  @click="startCmmn(scope.row.id)" size="small" ghost>启动</Button>

                      <Button type="success" @click="versionManager(scope.row.id,scope.row.modelKey)" size="small" ghost>版本管理</Button>
                      <Button type="warning" @click="viewImage(scope.row.deployId)" size="small" ghost>查看流程</Button>
                    </template>
                  </el-table-column>
                </el-table>
              </el-col>
            </el-row>
            <el-row type="flex" justify="center">
              <el-pagination
                background
                @current-change="handleCurrentChange"
                :current-page="queryForm.page"
                :page-size="queryForm.pageSize"
                layout="total, prev, pager, next, jumper"
                :total="total">
              </el-pagination>
            </el-row>

          </div>
        </Card>
      </Col>


    </Row>
    <Row>
      <Col span="24">
      </Col>
    </Row>



    <Modal  v-model="modelerModal" fullscreen title="盘古CMMN案例设计器" 	 @on-cancel="existModel"  :transfer="false">
      <iframe   width="100%"    style="min-height: 680px"   height='100%' frameborder='0' align='center' allowfullscreen='true'    allow="autoplay"   id='iframe'  :src="modelerSrc"   ></iframe>
      <div slot="footer"></div>
    </Modal>
    <Modal v-model="viewImageModeler" fullscreen title="盘古CMMN案例设计器" @on-cancel="existModel"  :transfer="false">
      <iframe   width="100%"   style="min-height: 680px"    height='100%' frameborder='0' align='center' allowfullscreen='true'    allow="autoplay"   id='iframe2'  :src="viewImageModelerTmpSrc"   ></iframe>
      <div slot="footer"></div>
    </Modal>
  </div>


</template>

<script>
  import {getCMMNModelCategory,getModelerJson,publishModel,saveDmn,startCmmn} from "@/api/cmmn";
  import Footer from '../../../common/footer';
  import Treeselect from '@riophae/vue-treeselect'
  import '@riophae/vue-treeselect/dist/vue-treeselect.css'
  export default {
    name: 'Task',
    components:{
      Treeselect
    },

    data() {
      return {
        ruleValidate: {
          name: [
            { required: true, message: ' ', trigger: 'blur' }
          ]
          ,
          modelKey: [
            { required: true, message: ' ', trigger: 'blur' }
          ]
          ,
          groupName: [
            { required: true, message: ' ', trigger: 'blur' }
          ]
        },
        tableData: [],
        tableHeight: 450,
        queryDate:[],
        total: 0,
        chartVisible: false,
        show: false,
        modelerModal: false,
        viewImageModeler: false,
        chartData: {},
        baseURL: process.env.VUE_APP_BASE_BPM_API,
        modelerSrc: process.env.VUE_APP_BASE_BPM_API+"/cmmn/index.html",
        viewImageModelerSrc: process.env.VUE_APP_BASE_BPM_API+"/view/def.html?&modelId=",
        viewImageModelerTmpSrc:"",
        shopName: [],
        statusList:[
          {label:"未发布",value:"draft"},
          {label:"已发布",value:"deploy"},
        ],
        queryForm: {
          name: "",
          dmnKey: "",
          description: "",
          typeCode: "",
          createTime: "",
          page: 0,
          limit: 10,
          status: '',
          whereSql: "",
          type: 5,
          typeKey: ""
        },
        formLine:{
          name: "",
          dmnKey: "",
          category: "",
          description: "",
          groupName: null,
        },
        categoryData: [
        ]
      }
    },
    mount() {
      this.getData()
      this.tableHeight = window.innerHeight - this.$refs.table.$el.offsetTop
    },
    created() {
      this.getData()
    },
    methods: {
      clearOnSelect: function (node, instanceId) {
        if (!node) {
          this.formLine.category = ''
          this.formLine.groupName = null
        }
      },
      selectTree: function (node, instanceId) {
        this.formLine.category = node.id
        this.formLine.groupName = node.title
      },

      normalizer(node) {
        //去掉children=[]的children属性
        if(node.children && !node.children.length){
          delete node.children;
        }
        return {
          id: node.typeKey,
          label: node.title ,
          children: node.children
        }
      },
      confirmDialog:function(){
        this.$refs['formLine'].validate((valid) => {
          if (valid) {
            saveDmn(this.formLine).then((response) => {
              if (response.code == 0) {
               var data=    response.data;

                this.locationUrl(data);
                this.show=false;
              }else{
                this.$message({"duration":800,message:'操作成功',type:'warning',customClass:'zZindex'});

              }

            })

          } else {
          }


        })


      },
      existModel:function(){
        this.getModelerJsonAction();
      },
      cancelDialog:function(){
      this.formLine.name="";
      this.formLine.dmnKey="";
      this.formLine.description="";
        this.formLine.groupName = null
        this.show=false
      },

      locationUrl:function(id){
        if (id){
          var src=this.baseURL+"/cmmn/index.html";
          this.modelerSrc=src+'?id='+id+"&t="+new Date().getTime();
        }

        this.modelerModal=true;

      },
      viewImage:function(id){

        if (id){
          var url= this.baseURL+"/cmmn/view.html?t="+new Date().getTime()+"&deployId="+id;
          this.viewImageModelerTmpSrc= url
        }
        this.viewImageModeler=true;
      },
      versionManager:function(id,modelKey){

        this.$router.push({ name:'cmmn_versionManager', query: { t: new Date().getTime(),"modelKey":modelKey ,"id":id}})
      },
      startCmmn:function(id){

        startCmmn(id).then((response) => {
          if (response.code == 0) {
            this.$message({"duration":800,message:'操作成功',type:'warning',customClass:'zZindex'});

          }else{
            this.$message({"duration":800,message:response.msg,type:'warning',customClass:'zZindex'});

          }

        })
      },
      openModelDialog:function(){
        var url= this.baseURL+"/cmmn/index.html?t="+new Date().getTime()
        this.viewImageModelerTmpSrc= url
        this.viewImageModeler=true;
      },
      publishModel:function(id){
        publishModel(id).then((response) => {
          if (response.code == 0) {
            this.$message({"duration":800,message:'操作成功',type:'warning',customClass:'zZindex'});

            this.getModelerJsonAction();
          }else{
            this.$message({"duration":800,message:response.msg,type:'warning',customClass:'zZindex'});

          }

        })
      },
      queryFormCreateTime:function(e){
        this.queryForm.createTime=e;
      },
      refreshTask:function(data){
        if (data[0].parentId=='-1'){
          this.queryForm.typeCode=""
        } else{
          this.queryForm.typeCode=data[0].typeKey;
        }
        this.queryForm.page = 0
        this.getModelerJsonAction()
      },
      queryMethod:function(){
       var name=  this.queryForm.name;
        this.queryForm.page = 0
       var whereSql='';
       var createTime=  this.queryForm.createTime;
       if (createTime ){
         if (createTime[0]){
           whereSql="  CREATE_TIME_  between '"+createTime[0]+"' and "+"'"+createTime[1]+"'";
         }

       }
       this.queryForm.whereSql=whereSql;
        getModelerJson(this.queryForm).then((response) => {
          this.tableData = response.data
          this.total = parseInt(response.count);

        })

      },
      getModelerJsonAction:function(){
        getModelerJson(this.queryForm).then((response) => {

          this.tableData = response.data
          this.total = parseInt(response.count);

        })
      },
      getData: function () {
        getCMMNModelCategory().then((response) => {
          this.categoryData = response.data

        })
        this.getModelerJsonAction();

      },
      handleCurrentChange(val) {
        this.queryForm.page = val
        this.getModelerJsonAction()
      },
      search() {
        this.queryForm.page = 0
        this.queryForm.type = 2
        this.queryForm.typeKey = ""

        this.queryMethod()
      },
      reset() {
        this.queryForm.typeKey = ""
        this.queryForm.status = ""
        this.queryForm.type = 5
        this.queryForm.page = 0
        this.queryForm.name = ""
        this.queryForm.modelKey = ""
        this.getData();
      }

    }

  }

</script>
<style lang="scss">
.task-card{
  margin-top: 10px;
}

</style>
