
<template>
  <div class="main-div">
    <Row >


      <Col span="4">

          <Tree :data="categoryData" expand="true" default-expand-all="true" @on-select-change="refreshTask"></Tree>

      </Col>
      <Col span="20">

        <Card  dis-hover class="task-card">
          <div >
            <el-row type="flex" justify="start">
              <el-form :inline="true" :model="queryForm" class="demo-form-inline" label-width='80px' inline size='mini'>

                <el-form-item label="开始时间">
                  <DatePicker  format="yyyy-MM-dd"  v-model="queryForm.startTime"   @on-change="queryFormCreateTime"  type="date" ></DatePicker>

                </el-form-item>
                <el-form-item label="结束时间">
                  <DatePicker  format="yyyy-MM-dd"  v-model="queryForm.endTime"   @on-change="queryFormEndTime"  type="date" ></DatePicker>
                </el-form-item>



                <el-form-item>
                  <el-button type="primary" @click="search">查询</el-button>
                  <el-button type="default" @click="reset">重置</el-button>
                </el-form-item>
              </el-form>
            </el-row>


            <el-row class="margin:30px;">
              <el-col>
                <el-table
                  :data="tableData"
                  size="mini"
                  style="width: 100%"
                  :height="tableHeight"
                  border
                >
                  <el-table-column
                    fixed
                    prop="actName"
                    label="节点名称"
                    width='180'
                    show-overflow-tooltip
                  >
                    <template slot-scope="scope">
                      <span v-if="scope.row.actName" >{{scope.row.actName}}</span>
                      <span v-else >-</span>
                    </template>
                  </el-table-column>
                  <el-table-column
                    prop="instanceId"
                    label="执行实例Id"
                    show-overflow-tooltip

                  >

                  </el-table-column>
                  <el-table-column
                    prop="startTime"
                    label="开始时间"
                    sortable
                    show-overflow-tooltip

                  >
                  </el-table-column>
                  <el-table-column
                    prop="endTime"
                    label="结束时间"
                    sortable
                    show-overflow-tooltip

                  >
                  </el-table-column>
                  <el-table-column
                    prop="failed"
                    label="是否成功"

                  >
                    <template slot-scope="scope">
                      <el-tag v-if="scope.row.failed" type="danger" class="tag">否</el-tag>
                      <el-tag v-else type="success" class="tag">是</el-tag>
                    </template>

                  </el-table-column>
                </el-table>
              </el-col>
            </el-row>
            <el-row type="flex" justify="center">
              <el-pagination
                background
                @current-change="handleCurrentChange"
                :current-page="queryForm.page"
                :page-size="queryForm.pageSize"
                layout="total, prev, pager, next, jumper"
                :total="total">
              </el-pagination>
            </el-row>

          </div>
        </Card>
      </Col>


    </Row>
    <Row>
      <Col span="24">
      </Col>
    </Row>



    <Modal v-model="modelerModal" fullscreen title="盘古DMN决策设计器"  :transfer="false">
      <iframe   width="100%"      height='100%' frameborder='0' align='center' allowfullscreen='true'    allow="autoplay"   id='iframe'  :src="modelerSrc"   ></iframe>
      <div slot="footer"></div>
    </Modal>
    <Modal v-model="viewImageModeler" fullscreen title="盘古CMMN案例设计器"  :transfer="false">
      <iframe   width="100%"      height='100%' frameborder='0' align='center' allowfullscreen='true'    allow="autoplay"   id='iframe2'  :src="viewImageModelerTmpSrc"   ></iframe>
      <div slot="footer"></div>
    </Modal>
  </div>


</template>

<script>
  import {getDMNModelCategory,getModelerJson,publishModel,saveDmn,getDmnLog} from "@/api/dmn";
  import Footer from '../../../common/footer';
  import Treeselect from '@riophae/vue-treeselect'
  import '@riophae/vue-treeselect/dist/vue-treeselect.css'
  export default {
    name: 'Task',
    components:{
      Treeselect
    },

    data() {
      return {
        ruleValidate: {
          name: [
            { required: true, message: ' ', trigger: 'blur' }
          ]
          ,
          modelKey: [
            { required: true, message: ' ', trigger: 'blur' }
          ]
          ,
          groupName: [
            { required: true, message: ' ', trigger: 'blur' }
          ]
        },
        tableData: [],
        tableHeight: 450,
        queryDate:[],
        total: 0,
        chartVisible: false,
        show: false,
        modelerModal: false,
        viewImageModeler: false,
        chartData: {},
        baseURL: process.env.VUE_APP_BASE_BPM_API,
        modelerSrc: process.env.VUE_APP_BASE_BPM_API+"/dmn/modeler/index.html",
        viewImageModelerSrc: process.env.VUE_APP_BASE_BPM_API+"/view/def.html?&modelId=",
        viewImageModelerTmpSrc:"",
        shopName: [],
        statusList:[
          {label:"未发布",value:"draft"},
          {label:"已发布",value:"deploy"},
        ],
        queryForm: {
          startTime: "",
          category: "",
          endTime: "",
          page: 1,
          limit: 10,
        },
        formLine:{
          name: "",
          dmnKey: "",
          category: "",
          description: "",
          groupName: null,
        },
        categoryData: [
        ]
      }
    },
    mount() {
      this.getData()
      this.tableHeight = window.innerHeight - this.$refs.table.$el.offsetTop
    },
    created() {
      this.getData()
    },
    methods: {
      clearOnSelect: function (node, instanceId) {
        if (!node) {
          this.formLine.category = ''
          this.formLine.groupName = null
        }
      },
      selectTree: function (node, instanceId) {
        this.formLine.category = node.id
        this.formLine.groupName = node.title
      },

      normalizer(node) {
        //去掉children=[]的children属性
        if(node.children && !node.children.length){
          delete node.children;
        }
        return {
          id: node.typeKey,
          label: node.title ,
          children: node.children
        }
      },
      confirmDialog:function(){
        this.$refs['formLine'].validate((valid) => {
          if (valid) {
            saveDmn(this.formLine).then((response) => {
              if (response.code == 0) {
               var data=    response.data;

                this.locationUrl(data);
                this.show=false;
              }else{
                this.$message({"duration":800,message:'操作成功',type:'warning',customClass:'zZindex'});

              }

            })

          } else {
          }


        })


      },
      cancelDialog:function(){
      this.formLine.name="";
      this.formLine.dmnKey="";
      this.formLine.description="";
        this.formLine.groupName = null
        this.show=false
      },

      locationUrl:function(id){
        if (id){
          var url=this.baseURL+'?modelId='+id+"&t="+new Date().getTime();
          this.modelerSrc=url
        }
        this.modelerModal=true;

      },
      viewImage:function(id){
        if (id){
          var url= this.baseURL+"/dmn/modeler/view.html?t="+new Date().getTime()+"&modelId="+id;
          this.viewImageModelerTmpSrc=url
        }
        this.viewImageModeler=true;
      },
      versionManager:function(id,modelKey){

        this.$router.push({ name:'dmn_versionManager', query: { t: new Date().getTime(),"modelKey":modelKey ,"id":id}})
      },
      openModelDialog:function(){
      this.show=true;
      },
      publishModel:function(id){
        publishModel(id).then((response) => {
          if (response.code == 0) {
            this.$message({"duration":800,message:'操作成功',type:'warning',customClass:'zZindex'});

            this.getModelerJsonAction();
          }else{
            this.$message({"duration":800,message:response.msg,type:'warning',customClass:'zZindex'});

          }

        })
      },
      queryFormCreateTime:function(e){
        this.queryForm.startTime=e;
      },
      queryFormEndTime:function(e){
        this.queryForm.endTime=e;
      },
      refreshTask:function(data){
        if (data[0].parentId=='-1'){
          this.queryForm.category=""
        } else{
          this.queryForm.category=data[0].typeKey;


        }
        this.queryForm.page = 1
        this.getModelerJsonAction()

      },
      queryMethod:function(){
       var name=  this.queryForm.name;
       var whereSql='';
       var createTime=  this.queryForm.createTime;
       if (createTime ){
         if (createTime[0]){
           whereSql="  CREATE_TIME_  between '"+createTime[0]+"' and "+"'"+createTime[1]+"'";
         }

       }
       this.queryForm.whereSql=whereSql;
        getModelerJson(this.queryForm).then((response) => {
          this.tableData = response.data
          this.total = parseInt(response.count);

        })

      },
      getModelerJsonAction:function(){
        getDmnLog(this.queryForm).then((response) => {

          this.tableData = response.data
          this.total = parseInt(response.count);

        })
      },
      getData: function () {
        getDMNModelCategory().then((response) => {
          this.categoryData = response.data

        })
        this.getModelerJsonAction();

      },
      handleCurrentChange(val) {
        this.queryForm.page = val
        this.getModelerJsonAction()
      },
      handleClick(val) {
      },
      search() {
        this.getModelerJsonAction();
      },
      reset() {
        this.queryForm.startTime = ""
        this.queryForm.endTime = ""
        this.getModelerJsonAction();
      }

    }

  }

</script>
<style lang="scss">
.task-card{
  margin-top: 10px;
}

</style>
