
<template>
  <div class="main-div">
    <Row >
      <Col span="24">
        <Card  dis-hover class="task-card">
          <div class="app-container">
            <el-form :inline="true" :model="queryForm" class='c-form-condensed' label-width='68px' inline size='mini'>

              <el-form-item label='状态' prop='status'>
                <el-select v-model='statusDefault' clearable>
                  <el-option v-for="item in statusList" :value="item.value" :label="item.label"></el-option>
                </el-select>
              </el-form-item>


              <el-form-item>
                <el-button type="primary" @click="search">查询</el-button>
                <el-button type="default" @click="reset">重置</el-button>
              </el-form-item>
            </el-form>
            <Modal v-model="viewImageModeler" fullscreen title="盘古CMMN案例设计器"  :transfer="false">
              <iframe   width="100%"      height='100%' frameborder='0' align='center' allowfullscreen='true'    allow="autoplay"   id='iframe2'  :src="viewImageModelerTmpSrc"   ></iframe>
              <div slot="footer"></div>
            </Modal>
            <el-row class="table_form">
              <el-col>
                <el-table
                  :data="tableData"
                  size="mini"
                  style="width: 100%"
                  :height="tableHeight"
                  border
                >
                  <el-table-column
                    prop="name"
                    label="名称"
                    width='180'
                    fixed
                    show-overflow-tooltip
                    >
                  </el-table-column>
                  <el-table-column
                    prop="modelKey"
                    label="流程key"
                    show-overflow-tooltip
                   >
                  </el-table-column>
                  <el-table-column
                    prop="status"
                    label="状态"
                    show-overflow-tooltip
                  >
                    <template slot-scope="scope">
                      <el-tag v-if="scope.row.status==null || scope.row.status=='' || scope.row.status=='draft'" type="danger" class="tag">未发布</el-tag>
                      <el-tag v-else type="success" class="tag">已发布</el-tag>
                    </template>
                  </el-table-column>
                  <el-table-column
                    prop="version"
                    label="版本号"
                    show-overflow-tooltip
                    sortable
                  >
                  </el-table-column>
                  <el-table-column
                    prop="description"
                    label="描述"
                    show-overflow-tooltip
                  >
                  </el-table-column>
                  <el-table-column
                    prop="mainProcess"
                    label="是否主版本"
                    show-overflow-tooltip
                  >
                    <template slot-scope="scope">
                      <el-tag v-if="scope.row.mainProcess=='1'" type="success">是</el-tag>
                      <el-tag v-else type="info">否</el-tag>
                    </template>
                  </el-table-column>

                  <el-table-column
                    prop="operate"
                    label="操作"
                    width='200'
                  >


                    <template slot-scope="scope">

                      <Button v-if="scope.row.mainProcess=='0'" ghost size="small" type="success"  @click="setVersion(scope.row.id)">设为主版本</Button>
                      <Button type="warning" @click="viewImage(scope.row.deployId)" size="small" ghost>查看流程</Button>
                    </template>
                  </el-table-column>
                </el-table>
              </el-col>
            </el-row>
            <el-row type="flex" justify="center">
              <el-pagination
                background
                @current-change="handleCurrentChange"
                :current-page="queryForm.page"
                :page-size="queryForm.pageSize"
                layout="total, prev, pager, next, jumper"
                :total="total">
              </el-pagination>
            </el-row>
          </div>
        </Card>
      </Col>


    </Row>
    <Row>
      <Col span="24">
        <footer></footer>
      </Col>
    </Row>
  </div>


</template>

<script>
  import {getVersion,setMain,getAllVersionModel} from "@/api/cmmn";
  import Footer from '../../../common/footer';

  export default {
    name: 'Task',
    components:{
      Footer
    },

    data() {
      return {
        tableData: [],
        tableHeight: 450,
        queryDate:[],
        total: 0,
        baseURL: process.env.VUE_APP_BASE_BPM_API,
        viewImageModelerTmpSrc:"",
        chartVisible: false,
        forbiddenSwitch: false,
        viewImageModeler: false,
        addModel: false,
        chartData: {},
        sellerId: 0,
        shopName: [],
        statusDefault: '',
        statusList:[
          {label:"未发布",value:"draft"},
          {label:"已发布",value:"deploy"},
        ],
        queryForm: {
          modelKey: "",
          modelId: "",
          status: "",
          page: 1,
          limit: 10,
        },
        categoryData: [
        ]
      }
    },
    mount() {

      this.getData()
      this.tableHeight = window.innerHeight - this.$refs.table.$el.offsetTop
    },
    created() {
      var query= this.$route.query;
      this.queryForm.modelKey=query.modelKey;
      this.getData()
    },
    methods: {
      viewImage:function(id){
        if (id){
          var url= this.baseURL+"/cmmn/view.html?t="+new Date().getTime()+"&modelId="+id;
          this.viewImageModelerTmpSrc=url
        }
        console.log(id)
        this.viewImageModeler=true;
      },
      setVersion:function(id){
        this.queryForm.modelId=id;
        setMain(id).then((response) => {
          if (response.code == 0) {
            this.$message({"duration":800,message:'操作成功',type:'warning',customClass:'zZindex'});

            this.getData();
          }

        })
      },
      del:function(id){

        var ids=[];
        ids.push(id);
        deleteModelerVersion({ ids : ids }).then((response) => {
          if (response.code==0){
            this.getData()
          }
        })
      },
      hisVersionDefDetail:function(data){
      this.addModel=true
      },
      queryFormCreateTime:function(e){
        this.queryForm.tmpCreateTime=e;
      },
      queryFormEndTime:function(e){
        this.queryForm.tmpEndTime=e;
      },
      queryMethod:function(){
        var name=  this.queryForm.name;
        var tmpCreateTime=  this.queryForm.tmpCreateTime;
        if (tmpCreateTime ){
          if (tmpCreateTime[0]){
            this.queryForm.createTime=tmpCreateTime[0]+" - "+tmpCreateTime[1];
          }
        }
        getVersionManagerByKey(this.queryForm).then((response) => {
          this.tableData = response.data

          this.total = parseInt(response.count);

        })

      },

      getData: function () {
        getAllVersionModel(this.queryForm).then((response) => {
          this.tableData = response.data
          this.total = parseInt(response.count);

        })
      },
      handleCurrentChange(val) {
        this.queryForm.page = val
        this.getData()
      },
      search() {
        this.queryForm.status=this.statusDefault;
        this.getData()
        this.queryForm.status=""
      },
      reset() {
        this.queryForm.status=""
        this.statusDefault=""
        this.getData()

      }

    }

  }

</script>
<style lang="scss">
  .task-card{
    margin-top: 10px;
  }
  .c-form-condensed .el-form-item{
    margin-bottom: 3px;
    .el-input{
      max-width: 150px;
    }
  }
</style>
