<!-- 房源录入 -->
<template>
    
  <div id="myMain">
    <!-- <div class="myMain-padding mt0" style="" v-show="!alertVal">
      <Index-Table
        @alertfun="myAlert"
        @search="triggerSearch"
        ref="indexTable"
      ></Index-Table>
    </div> -->
    <div class="myMain-padding displayFlexC mt0" v-show="!alertVal">
      <div class="table-top jcsb">
        <div class="d_a_center">
          <span class="searchLabel fl">接收套数：</span>
          <el-input
            class="fl inputMargin"
            v-model="searchForm.account"
            placeholder="单行输入"
          ></el-input>
          <span class="searchLabel fl">接收面积：</span>
          <el-input
            class="fl inputMargin"
            v-model="searchForm.receiveArea"
            placeholder="单行输入"
          ></el-input>
          <span class="searchLabel fl">账面原值：</span>
          <el-input
            class="fl inputMargin"
            v-model="searchForm.receiveCycle"
            placeholder="单行输入"
          ></el-input>
          <vxe-button class="h40 plusBtn inputMargin" @click="handleSearch">
            搜索
          </vxe-button>
        </div>

        <div class="d_a_center">
          <!-- <vxe-button class="fr inputMargin h40" @click="exportDataEvent"
            ><i class="vxe-icon--download"></i> 导出</vxe-button
          > -->
          <vxe-button class="fr plusBtn h40" @click="add(null)"
            ><i class="vxe-icon--plus"></i> 新建</vxe-button
          >
        </div>
      </div>

      <div class="myTable f1">
        <vxe-table
          ref="xTable"
          align="center"
          highlight-hover-row
          :data="tableData"
          :export-config="{}"
          row-id="id"
          :seq-config="{
            startIndex: (tablePage.currentPage - 1) * tablePage.pageSize,
          }"
          :checkbox-config="{ reserve: true }"
        >
          <vxe-table-column type="checkbox" width="60"></vxe-table-column>
          <vxe-table-column field="lotName" title="地块名称" show-overflow>
            <template #default="{ row }">
              <p @click="check(row)">{{ row.lotName }}</p>
            </template>
          </vxe-table-column>
          <vxe-table-column field="plotName" title="小区名称" show-overflow>
            <template #default="{ row }">
              <p @click="check(row)">{{ row.plotName }}</p>
            </template>
          </vxe-table-column>
          <vxe-table-column field="unit" title="录入单位" show-overflow>
            <template #default="{ row }">
              <p @click="check(row)">{{ row.unit }}</p>
            </template>
          </vxe-table-column>
          <vxe-table-column
            field="realityTotal"
            title="实际设计总套数"
            show-overflow
          >
            <template #default="{ row }">
              <p @click="check(row)">{{ row.realityTotal }}</p>
            </template>
          </vxe-table-column>
          <vxe-table-column
            field="planTotal"
            title="规划设计总套数"
            show-overflow
          >
            <template #default="{ row }">
              <p @click="check(row)">{{ row.planTotal }}</p>
            </template>
          </vxe-table-column>
          <vxe-table-column
            field="turnTotal"
            title="实际移交总套数"
            show-overflow
          >
            <template #default="{ row }">
              <p @click="check(row)">{{ row.turnTotal }}</p>
            </template>
          </vxe-table-column>
          <vxe-table-column field="becTime" title="实际竣工时间" show-overflow>
            <template #default="{ row }">
              <p @click="check(row)">{{ row.becTime }}</p>
            </template>
          </vxe-table-column>
          <vxe-table-column
            field="planTime"
            title="预计实物移交时间"
            show-overflow
          >
            <template #default="{ row }">
              <p @click="check(row)">{{ row.planTime }}</p>
            </template>
          </vxe-table-column>
          <vxe-table-column
            title="操作"
            width="100"
          >
            <template #default="{ row }">
              <div class="d_center">
                <img
                  class="operationBtnSize mr5"
                  src="@/assets/icon/check.svg"
                  @click="approval(row.id)"
                  alt=""
                />
                <img
                  class="operationBtnSize mr5"
                  src="@/assets/icon/edit.png"
                  @click="edit(row)"
                  alt=""
                />
                <img
                  class="operationBtnSize"
                  src="@/assets/icon/del.png"
                  @click="del(row)"
                  alt=""
                />
              </div>
            </template>
          </vxe-table-column>
        </vxe-table>
        <vxe-pager
          class="paginationBlock"
          size="mini"
          :current-page="tablePage.currentPage"
          :page-size="tablePage.pageSize"
          :page-sizes="tablePage.pageSizes"
          :total="tablePage.totalResult"
          @page-change="pageChange"
          :layouts="[
            'Total',
            'Sizes',
            'PrevPage',
            'JumpNumber',
            'NextPage',
            'FullJump',
          ]"
        >
        </vxe-pager>
      </div>
    </div>
    <div v-if="alertVal">
      <div class="tabbar">
        <el-tabs class="tabs" v-model="activeTab" @tab-click="handleClick">
          <el-tab-pane label="基本信息" name="basic">
            <Input-Table2 ref="Table2"></Input-Table2>
          </el-tab-pane>
          <el-tab-pane label="房屋信息" name="house">
            <Input-Table1
              ref="Table1"
              :showTopBar="true"
              :showTotalDetail="1"
              :showEdit="true"
            ></Input-Table1>
          </el-tab-pane>
        </el-tabs>
        <div
          style="width: 100%; text-align: right; margin-top: 214px;"
          @click="next"
        >
          <div
            style="float: right; color: #fff;border-radius: 4px; margin-bottom: 10px; width: 111px; height: 40px; text-align: center; line-height: 40px; background-color: #505976"
          >
            {{ activeTab == "basic" ? "下一步" : "完成" }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
//这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
//例如：import 《组件名称》 from '《组件路径》';
import {
  getHouseInputInfo,
  putHouseInputInfo1,
  addHouseInputInfo,
  getHouseInputInfoById1,
  delHouseInputInfo
} from "@/api/house";
import IndexTable from "@/views/house/info/indexTable.vue";
import InputTable1 from "@/components/houseInfoTable/table1.vue";
import InputTable2 from "@/components/houseInfoTable/table2.vue";
import InputTable3 from "@/components/houseInfoTable/table3.vue";
import pub from "@/views/house/info/Input/public.js";
import { Loading } from "element-ui";
import { parseTime } from "@/utils/index.js";
import router from "@/router";
export default {
  //import引入的组件需要注入到对象中才能使用
  components: {
    IndexTable,
    InputTable1,
    InputTable2,
    InputTable3,
  },
  data() {
    //这里存放数据
    return {
      searchForm: {},
      tableData: [],
      tablePage: {
        currentPage: 1,
        pageSize: 10,
        pageSizes: [10, 20, 30, 40],
        totalResult: 0,
      },
      //弹窗
      isOption: 0, // 录入可编辑1，录入查看2，接收编辑3，接收查看4
      alertVal: false,
      fileList: [],
      disabledVal0: false,
      isAdd: null,
      activeTab: "basic",
      tbHousing: {},
      tbPlot: {},
      loadingInstance: null,
    };
  },
  //监听属性 类似于data概念
  computed: {},
  //监控data中的数据变化
  watch: {
    "$route.path": (cur, prev) => {
      console.log("watch $route", cur, prev);
    },
  },
  //方法集合
  methods: {
    addBreadcrumb(text) {
      const breads = document.querySelector("#breadcrumbSpan");
      const span = document.createElement("span");
      span.setAttribute(
        "style",
        "font-size: 18px !important;font-family: SourceHanSansSC-regular;cursor: pointer;"
      );
      span.setAttribute("id", "action");
      span.className = "el-breadcrumb__item";
      span.ariaCurrent = "page";
      const a = breads.childNodes[2].children[0].children[0];
      a.className = "no-redirect";
      span.innerText = text;
      breads.appendChild(span);
    },
    add(data) {
      // 房源录入--新增
      this.addBreadcrumb("录入");
      this.isOption = 0;
      this.alertValue = true;
      console.log("add from indexTable", data, this.isOption);
      this.myAlert({
        alertVal: this.alertValue,
        isOption: this.isOption,
      });
    },
    edit(row) {
      console.log("edit from indexTable", row);
      this.addBreadcrumb("修改");
      // 房源录入--修改
      this.isOption = 1;
      this.alertValue = true;
      this.myAlert({
        alertVal: this.alertValue,
        isOption: this.isOption,
        rowId: row.id,
      });
    },
    approval(id) {
      this.$confirm("确定发送?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(async () => {
        let res = await isSendingPutInto({
          id,
          whetherToSend: 1,
        });

        if (res.resp_code == 200) {
          this.$message.success("发送成功！");
        } else {
          this.$message.error("发送失败！");
        }
      });
    },
    check(row) {
      console.log("check from indexTable", row);
      this.addBreadcrumb("详情");
        this.isOption = 2;
        this.alertValue = true;
        this.myAlert({
          alertVal: this.alertValue,
          isOption: this.isOption,
          rowId: row.id,
        });
      if (this.isShow) {
        // 房源录入--查看
      } else {
        // 房源接收--添加具体房源
        this.alertVal3 = true;
      }
    },
    del(data) {
      this.$confirm("此操作将删除该数据, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(() => {
        //删除
        delHouseInputInfo(data.id).then((res) => {
          console.log("del res", res);
          this.$parent.init({}, 1, 10, "", "");
          this.$message({ type: "success", message: "删除成功!" });
        });
      });
    },
    // 根据页切换
    pageChange(val) {
      console.log("page val", val);
      this.tablePage.currentPage = val.currentPage;
      this.tablePage.pageSize = val.pageSize;
      let page = val.currentPage;
      let limit = val.pageSize;
      this.init(
        1,
        10,
        this.searchForm.account,
        this.searchForm.receiveArea,
        this.searchForm.receiveCycle
      );
    },
    handleSearch() {
      console.log("handleSearch", this.searchForm);
      this.init(
        1,
        10,
        this.searchForm.account,
        this.searchForm.receiveArea,
        this.searchForm.receiveCycle
      );
    },
    triggerSearch(data) {
      console.log("triggerSearch", data);
      this.init({}, 1, 10, data.plotName, data.unit);
    },
    async getDetailById(id, page = 1, limit = 10) {
      let res = await getHouseInputInfoById1(id, null, null, null);
      console.log("getDetailById info input index 90", res);
      return res;
    },
    async myAlert(data) {
      console.log("myAlert", data);
      this.alertVal = data.alertVal;
      this.isOption = data.isOption;

      if (this.isOption == 0) {
        console.log("if (this.isOption == 0)", this.isOption);
        await this.$nextTick(async () => {
          this.$refs.Table1.getData(this.isOption, null);
        });
      } else {
        console.log("if (this.isOption == 1)", this.isOption);
        await this.$nextTick(async () => {
          let res = await this.getDetailById(data.rowId);
          this.$refs.Table2.getData(this.isOption, res.tbPlot);
          this.$refs.Table1.getData(1, res);
          this.$refs.Table1.tbPlotId = data.rowId;
          // console.log("aaaaaaa", this.$refs.Table2);
        });
      }
    },
    init(params, page, limit, plotName, unit) {
      // 房源录入
      console.log("init", params, page, limit, plotName, unit);
      getHouseInputInfo(params, page, limit, plotName, unit).then((res) => {
        console.log("房源录入", res);
        if (res.code == 0) {
          // this.$refs.indexTable.init(res);
          this.tableData = res.data;
          this.tablePage.totalResult = res.count;
          // this.$refs.Table4.getData(res.data, res.count);
          // this.$refs.Table4.tableData = res.data;
          // this.$refs.Table4.tablePage.totalResult = res.count;
          // this.tablePage.totalResult = res.data.total;
        } else {
          this.$message({ type: "success", message: "暂无数据!" });
        }
      });
    },
    // 弹窗-手动关闭
    close() {
      this.alertVal = false;
      this.fileList = [];
    },
    async next() {
      let validBasicForm = null;
      let validTotalDetailForm = null;
      let validTable = null;
      // console.log("valid", validBasicForm, validTotalDetailForm, validTable);

      if (this.activeTab == "basic") {
        validBasicForm = this.$refs.Table2.basicFormValidator();
        if (!validBasicForm) return;
        this.activeTab = "house";
      } else {
        if (this.isOption == 2) {
          this.init({}, 1, 10, "", "");
          this.activeTab = "basic";
          this.alertVal = false;
          return;
        }
        validTotalDetailForm = this.$refs.Table1.totalDetailFormValidator();
        validTable = await this.$refs.Table1.tableValidator();

        // console.log("validTotalDetailForm", validTotalDetailForm);
        // console.log("validTable1111", validTable);

        if (!validTotalDetailForm || !validTable) return;

        this.tbPlot = {
          ...this.$refs.Table2.basicForm,
          ...this.$refs.Table1.totalDetailForm,
          enteringTime: parseTime(new Date().getTime()),
        };
        // this.tbHousing = this.$refs.Table1.tableData;

        this.tbHousing.plotImg = JSON.stringify(this.tbHousing.plotImg);
        this.tbHousing.accessory = JSON.stringify(this.tbHousing.accessory);
        if (this.isOption == 1) {
          console.log("puttttttttttt");
          this.$confirm("您确定修改?", "提示", {
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            type: "warning",
          }).then(async () => {
            // 将二维数组转一维数组
            // this.tbHousing = [].concat.apply([], this.$refs.Table1.tempRecords);
            let arr1 = JSON.parse(JSON.stringify(this.$refs.Table1.importDataTable));
            arr1.map(v => {
              if (v.logicStatus == null) v.logicStatus = 0;
              if (String(v.id).indexOf("row_") !== -1) {
                console.log('delete row_1', v.id);
                v.id = 0;
                console.log('delete row_2', v.id);
              };
            })
            this.tbHousing = [...arr1, ...this.$refs.Table1.deleteArr]
            console.log('arr1', arr1);
            console.log('--------------------', this.tbHousing, this.$refs.Table1.importDataTable);
            // return;
            let data = await putHouseInputInfo1({
              tbHousing: this.tbHousing,
              tbPlot: this.tbPlot,
            });
            if (data.resp_code == 0) {
              this.removeBreadcrumb();
              this.$message({ type: "success", message: "修改成功!" });
              this.init({}, 1, 10, "", "");
              this.activeTab = "basic";
              this.alertVal = false;
            }
          });
        }
        if (this.isOption == 0) {
          console.log("addddddddddd");
          this.$confirm("确定保存?", "提示", {
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            type: "warning",
          }).then(async () => {
            let loadingInstance = Loading.service({
              fullscreen: true,
              target: ".tabbar",
              // background: "#fff",
            });
            this.loadingInstance = loadingInstance;
            this.tbHousing = this.$refs.Table1.importDataTable.map((v) => {
              delete v.id;
              return v;
            });
            // this.tbHousing.forEach((v) => {
            //   return (v.id = null);
            // });
            let data = await addHouseInputInfo({
              tbHousing: this.tbHousing,
              tbPlot: this.tbPlot,
            });
            if (data.resp_code == 0) {
              this.$nextTick(() => {
                // 以服务的方式调用的 Loading 需要异步关闭
                this.loadingInstance.close();
              });
              this.removeBreadcrumb();
              this.$message({ type: "success", message: "保存成功!" });
              this.init({}, 1, 10, "", "");
              this.activeTab = "basic";
              this.alertVal = false;
            }
          });
        }
        // console.log("picList", this.$refs.Table2.picList);
      }
    },
    save() {
      console.log("save......");
      let validateVal = this.$refs.Table2.myvalidate();
      if (validateVal) {
        this.$confirm("是否保存该数据表?", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning",
        }).then(() => {
          // 主动获取 table1 table2 table3 的数据表
          let tbHousing = this.$refs.Table1.tableData1;
          let tableData2 = this.$refs.Table2.tableData2;
          let fileList2 = this.$refs.Table2.fileList2;
          let tableData3 = this.$refs.Table3.tableData3;
          if (this.isAdd == 0) {
            for (let a = 0; a < tbHousing.length; a++) {
              tbHousing[a].id = 0;
            }
            tableData3[0].id = this.$refs.Table3.rowId;
          } else {
            for (let a = 0; a < tbHousing.length; a++) {
              tbHousing[a].id = 0;
            }
            tableData3[0].id = 0;
          }
          let tbPlot = Object.assign(tableData2[0], tableData3[0]);
          // 图片处理 -- fileList2-plotImg
          let arr3 = [];
          fileList2.forEach((ele) => {
            arr3.push(ele.url);
          });
          tbPlot.plotImg = arr3.join(",");
          // 附件处理
          let arr0 = [];
          let arr1 = [];
          this.fileList.forEach((ele) => {
            arr0.push(ele.name);
            arr1.push(ele.url);
          });
          tbPlot.accessoryName = arr0.join(",");
          tbPlot.accessory = arr1.join(",");
          let allData = { tbHousing: tbHousing, tbPlot: tbPlot };
          console.log("allData111111111", allData, this.isAdd);
          if (this.isAdd == 0) {
            // 房屋录入修改
            putHouseInputInfo(allData).then((res) => {
              console.log("edit res", res);
              this.removeBreadcrumb();
              this.$message({ type: "success", message: "修改成功!" });
              this.alertVal = false;
              this.init(1, 10);
            });
          } else {
            // 房屋录入新增
            addHouseInputInfo(allData).then((res) => {
              console.log("add res", res);
              this.removeBreadcrumb();
              this.$message({ type: "success", message: "保存成功!" });
              this.alertVal = false;
              this.init(1, 10);
            });
          }
        });
      } else {
        this.$XModal.message({ status: "error", content: "校验不通过！" });
      }
    },
    removeBreadcrumb() {
      console.log("removeBreadcrumb2");
      const breads = document.querySelector("#breadcrumbSpan");
      breads.removeChild(breads.lastChild);
    },
    // 上传列表的控制
    handleChange(file, fileList) {
      this.fileList = fileList.slice(-3);
    },
    handleAvatarSuccess0(res, file) {
      console.log("res", res);
      res.data.forEach((ele) => {
        this.fileList.push({ url: ele });
      });
    },
    handleClick() {},
    test() {
      console.log("tttttteeeeeessssssttttt");
    },
    initBackEvent() {
      console.log("initBackEvent start");
      let _this = this;
      const breads = document.querySelector("#breadcrumbSpan");
      setTimeout(() => {
        console.log("initBackEvent setTimeout");
        breads.children[2].onclick = function() {
          console.log("initBackEvent start1");

          _this.alertVal = false;

          const breads = document.querySelector("#breadcrumbSpan");
          _this.activeTab = "basic";
          console.log(breads.children);
          if (breads.children.length == 4) {
            breads.removeChild(breads.lastChild);
            console.log("initBackEvent success");
          }
          const menu = document.querySelector(".is-active");
          menu.onclick = function () {
            if (breads.children.length == 4) {
              breads.removeChild(breads.lastChild);
            }
            _this.alertVal = false;
          }
          console.log("initBackEvent start2");
        };
      }, 500);
    },
  },
  //生命周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    const nodes = document.querySelector(".el-breadcrumb").children;
    const back = document.querySelectorAll(".no-redirect");
    let _this = this;
    console.log(back);
    this.initBackEvent();
    // router.addRoutes([
    //   {
    //     meta: {
    //       title: "test",
    //     },
    //   },
    // ]);

    console.log("房源录入");
    this.init({}, 1, 10, "", "");
    // pub.$on("rowData", (data) => {
    //   console.log("xxxxx", data.rowData);
    //   this.$refs.Table2.basicForm = data.rowData;
    // });
    // 接收 table1 传的信息
    pub.$on("tbPlotInfo", (data) => {
      this.isAdd = data.isAdd;
      if (data.isAdd == 0 && data.tbPlot.accessoryName != null) {
        //不是新增
        this.fileList = [];
        let names = data.tbPlot.accessoryName.split(",");
        let urls = data.tbPlot.accessory.split(",");
        for (let i = 0; i < names.length; i++) {
          this.fileList.push({ name: names[i], url: urls[i] });
        }
      }
    });
    pub.$on("pageChangeInput", async (data) => {
      console.log("aaaaaaaaaaaaa", data, pub);
      let res = await getHouseInputInfoById1(
        data.tbPlotId,
        data.page,
        data.limit,
        null
      );
      this.$refs.Table1.getData(1, res);
    });
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //生命周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {
    setTimeout(() => {
      const breads = document.querySelector("#breadcrumbSpan");
      const action = document.querySelector("#action");
      if (action) breads.removeChild(action);
      console.log("beforeDestroy123", breads);
      console.log(breads.children, "/////////", breads.children.length);
    });
    pub.$off("pageChange");
    pub.$off("pageChangeInput");
    pub.$off("tbPlotInfo");
  }, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁完成
  activated() {}, //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
//@import url(); 引入公共css类

.gateway {
  flex: 1;
  display: flex;
  flex-direction: column;
}
::v-deep.vxe-modal--wrapper .vxe-modal--content {
  padding: 0;
}

::v-deep.vxe-radio-group {
  width: 100%;
  display: flex;
}

::v-deep.vxe-radio {
  flex: 1;
}

::v-deep.vxe-radio-button > input:checked + .vxe-radio--label {
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: #505976;
  border-color: #505976;
}

::v-deep.vxe-radio-button > input:hover + .vxe-radio--label {
  width: 100%;
  text-align: center;
  color: "none" !important;
}

::v-deep.vxe-radio-button .vxe-radio--label {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #505976;
  background-color: #fff;
  border: 1px solid rgba(80, 89, 118, 100);
}

::v-deep.vxe-radio-button .vxe-radio--label:nth-child(1) {
  border-left: 0;
  border-right: 0;
}

::v-deep
  .vxe-table--render-default
  .vxe-cell--radio
  .vxe-radio--checked-icon:after {
  content: "";
  position: absolute;
  height: 0.64em;
  width: 0.32em;
  top: 50%;
  left: 50%;
  border: 2px solid #fff;
  border-left: 0;
  border-top: 0;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #409eff;
}
::v-deep .el-tabs__active-bar {
  background-color: #568ce6;
  height: 4px;
}

::v-deep .el-tabs__item.is-active {
  font-family: SourceHanSansSC-regular;
  color: #484848;
  font-size: 18px !important;
}

::v-deep .el-tabs__item {
  font-family: SourceHanSansSC-regular;
  color: #a3a3a3;
  font-size: 18px !important;
}

::v-deep .el-form-item__error {
  top: -70% !important;
  left: 10px !important;
}
</style>
