<!-- 房源录入首页表 -->
<template>
  <div style="height: 100%;" class="displayFlexC p0 mt0">
    <div class="table-top jcsb">
      <div class="d_a_center">
        <span class="searchLabel fl">地块名称1：</span>
        <!-- <el-input class="fl inputMargin" v-model="searchVal1" @input="searchEvents(searchVal1, ['plotName'])" prefix-icon="el-icon-search"></el-input> -->
        <el-input
          class="fl inputMargin"
          v-model="searchParams.lotName"
          placeholder="单行输入"
        ></el-input>
        <span class="searchLabel fl">小区名称：</span>
        <!-- <el-input class="fl inputMargin" v-model="searchVal1" @input="searchEvents(searchVal1, ['plotName'])" prefix-icon="el-icon-search"></el-input> -->
        <el-input
          class="fl inputMargin"
          v-model="searchParams.plotName"
          placeholder="单行输入"
        ></el-input>
        <span class="searchLabel fl">录入单位：</span>
        <el-input
          class="fl inputMargin"
          v-model="searchParams.unit"
          placeholder="单行输入"
        ></el-input>
        <vxe-button class="h40 plusBtn inputMargin" @click="handleSearch">
          搜索
        </vxe-button>
      </div>

      <div class="d_a_center">
        <vxe-button
          class="fr plusBtn h40"
          @click="add(0)"
          v-show="isShow && !noOperation"
          ><i class="vxe-icon--plus"></i> 新建</vxe-button
        >
        <!-- <vxe-button
          class="fr inputMargin h40"
          @click="exportDataEvent"
          v-show="isShow && !noOperation"
          ><i class="vxe-icon--download"></i> 导出</vxe-button
        > -->
      </div>
    </div>

    <div class="myTable f1">
      <vxe-table
        ref="xTable"
        auto-resize
        align="center"
        max-height="2000px"
        highlight-hover-row
        :data="indexTableData"
        :export-config="{}"
        :radio-config="{ highlight: true }"
        @radio-change="radioChangeEvent"
        row-id="id"
        :seq-config="{
          startIndex: (tablePage.currentPage - 1) * tablePage.pageSize,
        }"
        :checkbox-config="{ reserve: true }"
      >
        <vxe-table-column
          type="checkbox"
          width="60"
          v-if="isShow"
        ></vxe-table-column>
        <vxe-table-column
          type="radio"
          width="60"
          v-if="!isShow"
        ></vxe-table-column>
        <!-- <vxe-table-column type="seq" title="序号" width="100"></vxe-table-column> -->
        <vxe-table-column field="lotName" title="地块名称" show-overflow>
          <template #default="{ row }">
            <p @click="check(row)">{{ row.lotName }}</p>
          </template>
        </vxe-table-column>
        <vxe-table-column field="plotName" title="小区名称" show-overflow>
          <template #default="{ row }">
            <p @click="check(row)">{{ row.plotName }}</p>
          </template>
        </vxe-table-column>
        <vxe-table-column field="unit" title="录入单位" show-overflow>
          <template #default="{ row }">
            <p @click="check(row)">{{ row.unit }}</p>
          </template>
        </vxe-table-column>
        <vxe-table-column
          field="realityTotal"
          title="实际设计总套数"
          show-overflow
        >
          <template #default="{ row }">
            <p @click="check(row)">{{ row.realityTotal }}</p>
          </template>
        </vxe-table-column>
        <vxe-table-column
          field="planTotal"
          title="规划设计总套数"
          show-overflow
        >
          <template #default="{ row }">
            <p @click="check(row)">{{ row.planTotal }}</p>
          </template>
        </vxe-table-column>
        <vxe-table-column
          field="turnTotal"
          title="实际移交总套数"
          show-overflow
        >
          <template #default="{ row }">
            <p @click="check(row)">{{ row.turnTotal }}</p>
          </template>
        </vxe-table-column>
        <vxe-table-column field="becTime" title="实际竣工时间" show-overflow>
          <template #default="{ row }">
            <p @click="check(row)">{{ row.becTime }}</p>
          </template>
        </vxe-table-column>
        <vxe-table-column
          field="planTime"
          title="预计实物移交时间"
          show-overflow
        >
          <template #default="{ row }">
            <p @click="check(row)">{{ row.planTime }}</p>
          </template>
        </vxe-table-column>
        <vxe-table-column
          title="操作"
          width="100"
          v-if="isShow && !noOperation"
        >
          <template #default="{ row }">
            <div class="d_center">
              <img
                class="operationBtnSize mr5"
                src="@/assets/icon/check.svg"
                @click="approval(row.id)"
                alt=""
              />
              <img
                class="operationBtnSize mr5"
                src="@/assets/icon/edit.png"
                @click="edit(row)"
                alt=""
              />
              <img
                class="operationBtnSize"
                src="@/assets/icon/del.png"
                @click="del(row)"
                alt=""
              />
            </div>
          </template>
        </vxe-table-column>
      </vxe-table>
      <!-- 分页 -->
      <!-- <vxe-pager
            class="paginationBlock"
            size="mini"
            :current-page="tablePage.currentPage"
            :page-size="tablePage.pageSize"
            :page-sizes="tablePage.pageSizes"
            :total="tablePage.totalResult"
            @page-change="pageChange"
            :layouts="['PrevPage', 'JumpNumber', 'NextPage', 'FullJump', 'Total']">
            </vxe-pager> -->
      <vxe-pager
        class="paginationBlock"
        size="mini"
        :current-page="tablePage.currentPage"
        :page-size="tablePage.pageSize"
        :page-sizes="tablePage.pageSizes"
        :total="tablePage.totalResult"
        @page-change="pageChange"
        :layouts="[
          'Total',
          'Sizes',
          'PrevPage',
          'JumpNumber',
          'NextPage',
          'FullJump',
        ]"
      >
      </vxe-pager>
    </div>
    <vxe-modal
      v-model="alertVal3"
      showFooter
      width="90%"
      height="60%"
      title="房屋具体信息"
      @confirm="chooseHouseDetails"
    >
      <template #default>
        <div class="myPadding" style="height:calc(100% - 40px);">
          <houseDetails ref="houseDetails"></houseDetails>
        </div>
      </template>
    </vxe-modal>
  </div>
</template>

<script>
//这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
//例如：import 《组件名称》 from '《组件路径》';
import { delHouseInputInfo, isSendingPutInto } from "@/api/house";
import pub from "./Input/public.js";
import houseDetails from "@/views/house/info/receive/houseDetails.vue";
export default {
  //import引入的组件需要注入到对象中才能使用
  components: {
    houseDetails,
  },
  props: {
    noOperation: false,
  },
  data() {
    //这里存放数据
    return {
      isShow: true,
      searchParams: {},
      list: [],
      indexTableData: [],
      // 分页
      tablePage: {
        currentPage: 1,
        pageSize: 10,
        totalResult: 0,
      },
      // 选择房屋--具体房屋信息
      alertVal3: false,
      chooseHouseDetailsVal: null,
    };
  },
  //监听属性 类似于data概念
  computed: {},
  //监控data中的数据变化
  watch: {},
  //方法集合
  methods: {
    approval(id) {
      this.$confirm("确定发送?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(async () => {
        let res = await isSendingPutInto({
          id,
          whetherToSend: 1,
        });

        if (res.resp_code == 200) {
          this.$message.success("发送成功！");
        } else {
          this.$message.error("发送失败！");
        }
      });
    },
    handleSearch() {
      console.log("handleSearch");
      this.$emit("search", this.searchParams);
    },
    // 根据页切换
    pageChange(val) {
      console.log("page val", val);
      this.tablePage.currentPage = val.currentPage;
      this.tablePage.pageSize = val.pageSize;
      let page = val.currentPage;
      let limit = val.pageSize;
      // 调用父组件方法
      this.$parent.init(this.searchVal, val.currentPage, val.pageSize);
    },
    init(data) {
      console.log("父组件传过来的值 indexTable", data);
      this.list = data.data;
      this.indexTableData = this.list;
      this.tablePage.totalResult = data.count;
    },
    add(data) {
      // 房源录入--新增
      this.addBreadcrumb("录入");
      this.isOption = data;
      this.alertValue = true;
      console.log("add from indexTable", data, this.isOption);
      this.$emit("alertfun", {
        alertVal: this.alertValue,
        isOption: this.isOption,
      });
    },
    addBreadcrumb(text) {
      const breads = document.querySelector("#breadcrumbSpan");
      const span = document.createElement("span");
      span.setAttribute(
        "style",
        "font-size: 18px !important;font-family: SourceHanSansSC-regular;cursor: pointer;"
      );
      span.setAttribute("id", "action");
      span.className = "el-breadcrumb__item";
      span.ariaCurrent = "page";
      const a = breads.childNodes[2].children[0].children[0];
      a.className = "no-redirect";
      span.innerText = text;
      breads.appendChild(span);
    },
    edit(row) {
      console.log("edit from indexTable", row);
      this.addBreadcrumb("修改");
      // 房源录入--修改
      this.isOption = 1;
      this.alertValue = true;
      this.$emit("alertfun", {
        alertVal: this.alertValue,
        isOption: this.isOption,
        rowId: row.id,
      });
    },
    check(row) {
      console.log("check from indexTable", row);
      this.addBreadcrumb("详情");
      if (this.isShow) {
        // 房源录入--查看
        this.isOption = 2;
        this.alertValue = true;
        this.$emit("alertfun", {
          alertVal: this.alertValue,
          isOption: this.isOption,
          rowId: row.id,
        });
      } else {
        // 房源接收--添加具体房源
        this.alertVal3 = true;
      }
    },
    del(data) {
      this.$confirm("此操作将删除该数据, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(() => {
        //删除
        delHouseInputInfo(data.id).then((res) => {
          console.log("del res", res);
          this.$parent.init({}, 1, 10, "", "");
          this.$message({ type: "success", message: "删除成功!" });
        });
      });
    },
    // 搜索
    searchEvents(searchVal, PropsList) {
      this.indexTableData = this.$search.searchEvents(
        this.list,
        searchVal,
        PropsList
      );
      this.tablePage.totalResult = this.indexTableData.length;
    },
    // 导出
    async exportDataEvent() {
      await this.$refs.xTable.openExport({
        // 默认勾选源
        original: true,
      });
      this.$refs.xTable.clearCheckboxRow();
    },
    radioChangeEvent({ row }) {
      console.log("单选", row);
    },
    // 选择房屋--弹窗--不展示某些功能
    getShow(data) {
      this.isShow = data;
    },
    // 获取选中的值
    getChoose() {
      return this.$refs.xTable.getCheckboxRecords();
    },
    // 选择的具体房屋信息
    chooseHouseDetails() {
      this.chooseHouseDetailsVal = this.$refs.houseDetails.getChooseDetails();
      this.$refs.xTableDetails.clearCheckboxRow();
      console.log("选中的具体房屋信息", this.chooseHouseDetailsVal);
    },
  },
  //生命周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {},
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //生命周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁完成
  activated() {}, //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
//@import url(); 引入公共css类
.h40 {
  height: 32px !important;
}
.vxe-table {
  flex: 1;
}
.paginationBlock {
  background-color: #fff!important;
}
</style>
