<!-- 审核详情 -->
<template>
  <div id="myMain" class="pr0">
    <div class="f1 displayFlexR" style="position: relative;">
      <div class="tabbar pt20">
        <Input-Table1 ref="Table1"></Input-Table1>
        <el-divider></el-divider>
        <Input-Table1 ref="Table2"></Input-Table1>
        <!-- <div
          style="width: 100%; text-align: right; margin-top: 214px;"
          @click="next"
        >
          <div
            style="float: right; color: #fff;border-radius: 4px; margin-bottom: 10px; width: 111px; height: 40px; text-align: center; line-height: 40px; background-color: #505976"
          >
            {{ activeTab == "basic" ? "下一步" : "完成" }}
          </div>
        </div> -->
      </div>

      <div
        v-if="true"
        class="myPadding myBR myRight mt20 ml20"
        style=" background-color: white; width: 335px;"
      >
        <p>历史处理意见：</p>
        <el-timeline>
          <el-timeline-item
            v-for="(item, index) in opinions"
            :key="index"
            placement="top"
          >
            <!-- <el-timeline-item :timestamp="formData.time" placement="top"> -->
            <div>
              <p>
                {{ item.nodeName }}：
                <span v-if="item.a1FlowTaskTrajectoryEntity">
                  {{
                    item.a1FlowTaskTrajectoryEntity.userName == null
                      ? item.identityLinks
                      : item.a1FlowTaskTrajectoryEntity.userName
                  }}
                </span>
                {{ item.completeTime }}
              </p>
              <p v-if="item.type == 'userTask' && !item.reason">
                处理意见：{{
                  item.a1FlowTaskTrajectoryEntity.status == "agree"
                    ? "同意"
                    : ""
                }}
                {{
                  item.a1FlowTaskTrajectoryEntity.opinion == null
                    ? "正在审批"
                    : item.a1FlowTaskTrajectoryEntity.opinion
                }}
              </p>
            </div>
          </el-timeline-item>
          <!-- <el-timeline-item placement="top">
            <div>
              <p>发起人： xxx 2021-09-01</p>
              <p>处理结果： 同意</p>
            </div>
          </el-timeline-item> -->
        </el-timeline>
        <div class="btn">
          <el-button class="baseBG" @click="submit">确认</el-button>
          <el-button @click="cancel">取消</el-button>
        </div>
      </div>
    </div>
    <vxe-modal
      v-model="alertVal1"
      title="请选择"
      width="60%"
      height="70%"
      show-footer
      @confirm="addApprove"
    >
      <template #default>
        <div style="display: flex; margin-top: 20px;">
          <div style="width: 260px;">
            <el-tree
              slot="left-footer"
              :data="treeData"
              :props="{ label: 'title', children: 'children' }"
              @node-click="handleNodeClick"
            ></el-tree>
          </div>
          <div style="margin-left: 10px;">
            <el-transfer
              v-model="selectedUsers"
              :data="users"
              :props="{ label: 'fullname', key: 'fullname' }"
              :titles="['该部门人员列表', '该部门加签人员']"
            >
            </el-transfer>
          </div>
        </div>
        <div>
          <div class="mb10">已选择人员：</div>
          <span v-for="(item, index) in selectedUsers" :key="index">
            {{ item }}
          </span>
        </div>
      </template>
    </vxe-modal>
    <vxe-modal
      v-model="alertVal2"
      title="加签"
      width="35%"
      show-footer
      @confirm="confirmApprove('approveForm')"
    >
      <template #default>
        <el-form
          :model="approveForm"
          :rules="approveFormRules"
          ref="approveForm"
          label-width="130px"
          class="demo-ruleForm"
        >
          <el-form-item label="请选择人员:" prop="usersInfo" required>
            <div v-if="approveForm.usersInfo.length !== 0">
              <span
                style="position: relative;padding: 5px 10px;
              border: 1px solid #409EFF;
              margin-right: 10px;
              border-radius: 5px;"
                v-for="(item, index) in approveForm.usersInfo"
                :key="index"
                >{{ item.fullname }}
                <span
                  style="position: absolute; top: -3px;"
                  @click="removeUser(index)"
                  >x</span
                ></span
              >
            </div>
            <span @click="alertVal1 = true">添加</span>
          </el-form-item>
          <!-- <el-form-item label="设置节点权限:" prop="b" required>
            <el-input v-model="approveForm.b"></el-input>
          </el-form-item> -->
          <el-form-item label="流程模式:" prop="parallel" required>
            <el-radio-group v-model="approveForm.parallel" size="mini">
              <el-radio style="height: 50px;" label="false" border>
                并发
                <img
                  style="width: 55px;
                height: 30px;"
                  src="~@/assets/img/bing.png"
                />
              </el-radio>
              <el-radio style="height: 50px;" class="mt20" label="true" border>
                串发
                <img
                  style="width: 179px;
                height: 30px;"
                  src="~@/assets/img/chuan.png"
                />
              </el-radio>
              <!-- <el-radio label="3" border>
                与下一节点并发
                <img src="~@/assets/img/xiabing.png">
              </el-radio> -->
            </el-radio-group>
          </el-form-item>
          <el-form-item label="加签节点同意后:" prop="pass" required>
            <el-radio-group v-model="approveForm.pass" size="mini">
              <el-radio label="pre">流程回到我</el-radio>
              <el-radio label="next">流程进入下个节点</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="加签节点拒绝后:" prop="unPass" required>
            <el-radio-group v-model="approveForm.unPass" size="mini">
              <el-radio label="pre">流程回到我</el-radio>
              <el-radio label="next">流程进入下个节点</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="加签任务名称:" prop="userTaskName" required>
            <el-input v-model="approveForm.userTaskName"></el-input>
          </el-form-item>
          <!-- <el-form-item label="提醒前提:" prop="b" required>
            <el-input v-model="approveForm.b"></el-input>
          </el-form-item> -->
        </el-form>
      </template>
    </vxe-modal>
  </div>
</template>

<script>
//这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
//例如：import 《组件名称》 from '《组件路径》';
import {
  renderByTaskId,
  opinionTask,
  getTaskBtn,
  completeTask,
  getNextNode,
  getOutgoingFlows,
  addNodeOperate,
  getApprovalHouseInfos,
  editHouseApprove,
  renderHisForm,
} from "@/api/house";
import {
  invalidTask,
  addSignOperate,
  getBackNode,
  changeActivity,
  getBackNodeUser,
} from "@/api/action";
import {
  saveDemension,
  getRole,
  updateRole,
  saveJob,
  getDemensionById,
  getOrgPostList,
  getJobList,
  saveOrgPost,
  getOrgPostById,
  removeOrgUser,
  setMaster,
  setLeader,
  setCancleLeader,
  setNormalLeader,
  setCancleNormalLeader,
  removeOrgPost,
  getByOrgUser,
  getOrgTree,
  getDemensionTypesByKey,
} from "@/api/uc";
import InputTable1 from "@/components/houseInfoTable/table1.vue";
import InputTable2 from "@/components/houseInfoTable/table2.vue";
import treeTransfer from "el-tree-transfer";
import { Loading } from "element-ui";
export default {
  //import引入的组件需要注入到对象中才能使用
  components: {
    InputTable1,
    InputTable2,
    treeTransfer,
  },
  data() {
    //这里存放数据
    return {
      backNodeId: null,
      backNodesArr: [],
      soleId: null,
      taskId: null,
      preUserName: "",
      taskFormData: {},
      activeTab: "basic",
      opinion: "",
      opinions: [],
      checkNodeValue: null,
      textarea: "",
      checkList: [],
      formData: {},
      alertVal1: false,
      // 穿梭框
      parentId: "parentId",
      mode: "transfer", //设置模式，字段可选值为transfer|addressList 类型：String 必填：false 补充：mode默认为transfer模式，即树形穿梭框模式，可配置字段为addressList改为通讯录模式，通讯录模式时按钮不可自定义名字，如要自定义标题名在title数组传入四个值即可，addressList模式时标题默认为通讯录、收件人、抄送人、密送人

      treeData: [],
      toData: [],
      // 权限
      alertVal2: false,
      approveForm: {
        all: false,
        allStrage: "true",
        doUserId: "",
        nextId: "",
        parallel: "false",
        pass: "next",
        signScale: "100",
        signType: "scale",
        taskId: "",
        unPass: "pre",
        userTaskName: "",
        usersInfo: "",
      },
      approveFormRules: {
        name: [{ required: true, message: "请输入", trigger: "blur" }],
      },
      currentRoute: null,
      // 入库房源修改审批详情
      isShow: false,
      explain: null,
      taskSequenceForm: {
        taskTitle: "",
        userInfo: [],
        taskName: "",
        choose: true,
        taskId: "",
        opinion: "",
        formType: "inner",
        actionName: "",
        action: "",
        nodeType: "",
        usersIds: [],
        userNames: [],
        nextNode: [],
        chooseNode: "",
        chooseNodeUser: "",
        formData: "",
        nodeIndex: 0,
        priority: "50",
      },
      backForm: {
        option: null,
        taskTitle: null,
        taskId: null,
        priority: 50,
        newActivityId: null,
        operate: "backToNode",
        userId: null,
        userName: null,
      },
      submited: false,
      users: [],
      allUsers: [],
      selectedUsers: [],
      onlyOneNodeToAddTask: "",
      showApproveBtn: true,
      loadingInstance: null,
    };
  },
  //监听属性 类似于data概念
  computed: {},
  //监控data中的数据变化
  watch: {
    async checkNodeValue(val) {
      if (val == 2) {
        let res = await getBackNode(this.taskId);
        this.backNodesArr = res.data;
      }
    },
  },
  //方法集合
  methods: {
    async chooseBackNode(node) {
      console.log("chooseBackNode", node);
      let res = await getBackNodeUser(this.taskId, node);
      this.backForm.userId = res.data[0].assignee;
      this.backForm.userName = res.data[0].assigneeName;
      this.backForm.newActivityId = node;
    },
    removeUser(index) {
      let arr = this.approveForm.usersInfo;
      arr.splice(index, 1);
      console.log("removeUser", arr);
    },
    async handleNodeClick(data) {
      console.log(data.deptCode);
      let obj = {
        groupId: null,
        code: data.deptCode,
        groupName: null,
        page: 1,
        length: 10,
      };
      let res = await getByOrgUser(obj);
      console.log("handleNodeClick", res);
      this.users = res.page.aaData;
      this.allUsers = [...this.allUsers, ...res.page.aaData];
      var tempObj = {};
      let arr = this.allUsers.reduce(function(item, next) {
        tempObj[next.id] ? "" : (tempObj[next.id] = true && item.push(next));
        return item;
      }, []);
      this.allUsers = arr;
      console.log("newArr", arr);
      console.log("allUsers", this.allUsers);
    },
    async init() {
      if (this.$route.query.data.index == 'finished') {
          this.taskId = this.$route.query.data.procId;
      } else {
        this.taskId = this.$route.query.data.processInstanceId;
      }
      let res = await renderHisForm(this.taskId);
      let opinionId = await getTaskBtn(this.taskId);
      let opinions = await opinionTask(this.taskId);

      this.opinions = opinions.data;
      this.taskFormData = JSON.parse(res.editData);

      console.log(
        "init",
        this.taskFormData.id,
        this.taskFormData.houseId,
        opinions.data
      );
      let info = await getApprovalHouseInfos(
        this.taskFormData.houseId,
        this.taskId
      );
      console.log("getAcceptDetails bookBuildApprove", info);
      this.$refs.Table1.getDataByJSON(4, JSON.stringify(info.tbHousing));
      this.$refs.Table2.getDataByJSON(4, JSON.stringify(info.tbHousingMsg));
    },
    async submit() {
      this.$confirm("是否发送审核?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(async () => {
        console.log(
          "this.$refs.Table2.tableData[0]",
          this.$refs.Table2.tableData[0]
        );
        let data = this.$refs.Table2.tableData;
        // return;
        if (this.submited === true) {
          console.log("?????????", typeof this.submited);
          this.$message.error("请勿重复提交审批！");
          return;
        }
        this.submited = true;
        let taskNode = await getNextNode(this.taskId);
        if (taskNode) {
          this.taskSequenceForm.chooseNode = taskNode.data[0].taskId;
          this.taskSequenceForm.chooseNodeUser = taskNode.data[0].users[0];
        }
        if (this.checkNodeValue !== null) {
          let loadingInstance = Loading.service({
            fullscreen: true,
            target: "#myMain",
            // background: "#fff",
          });
          this.loadingInstance = loadingInstance;

          if (this.checkNodeValue == "1") {
            this.taskSequenceForm.actionName = "agree";
            this.taskSequenceForm.action = "agree";
            this.taskSequenceForm.opinion = this.opinion;
            this.taskSequenceForm.formData = JSON.stringify(this.taskFormData);
            console.log("submit", this.taskSequenceForm);
            let res = await completeTask(this.taskSequenceForm);

            data.map((val) => {
              val.status = 1;
            });
            if (res.code == 0) {
              if (
                taskNode.data.length === 0 ||
                taskNode.data[0].nodeType == "endEvent"
              ) {
                await editHouseApprove(data);
              }
              this.$nextTick(() => {
                // 以服务的方式调用的 Loading 需要异步关闭
                this.loadingInstance.close();
              });
              this.submited = false;
              this.$router.go(-1);
            } else {
              this.submited = false;
              this.$message.error("审批失败!!");
              this.$nextTick(() => {
                // 以服务的方式调用的 Loading 需要异步关闭
                this.loadingInstance.close();
              });
            }
          } else if (this.checkNodeValue == "0") {
            let res = await invalidTask(this.taskId);
            console.log("wwwwwwwwwwwwwwwww", res);

            data.map((val) => {
              val.status = 2;
            });
            if (res.code == 0) {
              await editHouseApprove(data);
              this.$router.go(-1);
              this.submited = false;
            } else {
              this.$message.error("审批失败!");
              this.$nextTick(() => {
                // 以服务的方式调用的 Loading 需要异步关闭
                this.loadingInstance.close();
              });
              this.submited = false;
            }
          } else if (this.checkNodeValue == "2") {
            this.backForm.option = this.opinion;
            this.backForm.taskId = this.taskId;
            let res = await changeActivity(this.backForm);
            if (res.code == 0) {
              this.$nextTick(() => {
                // 以服务的方式调用的 Loading 需要异步关闭
                this.loadingInstance.close();
              });
              this.submited = false;
              this.$message({ type: "success", message: "发送复核成功！" });
              this.$router.go(-1);
            }
          } else {
          }
        } else {
          this.submited = false;
          this.$message.error("请填写审批意见！");
        }
      });
    },

    async add() {
      let res = await getDemensionTypesByKey("事务");

      let taskNode = await getNextNode(this.taskId);
      this.approveForm.nextId = taskNode.data[0].taskId;
      this.alertVal2 = true;
      this.treeData.push(res.data);
    },
    async addApprove() {
      let temp = [];
      this.approveForm.taskId = this.taskId;
      this.selectedUsers.forEach((v) => {
        temp = [
          ...temp,
          ...this.allUsers.filter((i) => {
            return i.fullname == v;
          }),
        ];
      });
      console.log("addApprove", temp);
      this.approveForm.usersInfo = temp;
      this.alertVal1 = false;
    },
    async confirmApprove(formName) {
      this.$confirm("确认提交该加签?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(() => {
        // 提交加签操作
        this.$refs[formName].validate(async (valid) => {
          if (valid) {
            let res = await addSignOperate(this.approveForm);
            if (res.code == 0) {
              this.$router.go(-1);
            } else {
              this.$message.error(res.message);
            }
          } else {
            console.log("失败");
          }
        });
      });
    },
    // 监听穿梭框组件添加
    add2(fromData, toData, obj) {
      console.log("fromData:", fromData);
      console.log("toData:", toData);
      console.log("obj:", obj);
    },
    // 监听穿梭框组件移除
    remove(fromData, toData, obj) {
      console.log("fromData:", fromData);
      console.log("toData:", toData);
      console.log("obj:", obj);
    },
    cancel() {
      this.$router.go(-1);
    },
    confirmEvent() {
      // 弹出==具体加签权限
      this.alertVal2 = true;
    },
    confirmEvent2(formName) {
      // 提交加签操作
      this.$refs[formName].validate((valid) => {
        if (valid) {
          //
        } else {
          console.log("失败");
        }
      });
    },
  },
  //生命周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    this.init();
    let _this = this;
    const breads = document.querySelector("#breadcrumbSpan");
    breads.children[1].addEventListener("click", function() {
      _this.$router.push({
        path: "/house/layout_info/house_info_approval",
      });
    });
    // 获取当前路由
    this.currentRoute = this.$route.path;
    if (this.currentRoute == "/house/layout_info/house_info_approval_details") {
      // 房源信息审核详情
      this.isShow = false;
      setTimeout(() => {
        this.$refs.Table01.getData(0, "房源信息接收表");
      }, 100);
    } else if (
      this.currentRoute ==
      "/house/layout_Warehouse/house_warehouse_approve_details"
    ) {
      // 入库审核详情
      this.isShow = false;
      setTimeout(() => {
        this.$refs.Table01.getData(0, "房源入库申请表");
      }, 100);
    } else {
      // 入库房源修改审批详情
      this.isShow = true;
      // setTimeout(() => {
      //   this.$refs.Table01.getData(0, "入库房源信息修改表");
      //   this.$refs.Table02.getData(0, "入库房源信息修改表");
      // }, 100);
    }
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //生命周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁完成
  activated() {}, //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
//@import url(); 引入公共css类

.myRight {
  // 线的颜色
  ::v-deep.el-timeline-item__tail {
    border-left: 2px solid #28567f;
  }
  // 圆点颜色
  ::v-deep.el-timeline-item__node {
    background-color: #28567f;
  }
  ::v-deep.person {
    width: auto !important;
  }
  ::v-deep .el-radio-group {
    margin: 2vh 0;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
::v-deep.el-timeline {
  padding-left: 0;
}

::v-deep .vxe-radio > input:checked + .vxe-radio--icon {
  background-color: #5677fc;
  border-color: #5677fc;
}
::v-deep .vxe-radio > input:checked + .vxe-radio--icon + .vxe-radio--label {
  color: #8c8c8c;
}
::v-deep .vxe-radio > input + .vxe-radio--icon {
  border-radius: 0;
}
label {
  font-weight: 500;
}
::v-deep .vxe-radio > input:checked + .vxe-radio--icon:before {
  content: "";
  position: absolute;
  height: 0.64em;
  width: 0.32em;
  top: 40%;
  left: 50%;
  border: 2px solid #fff;
  border-left: 0;
  border-top: 0;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #5677fc;
}
::v-deep .el-radio__inner {
  border-radius: 0;
}
.tabbar {
  // height: 100%;
  width: 100px;
  margin-top: 20px;
  padding: 0 20px;
  background-color: #fff;
  overflow: hidden;
  flex: 1;

  .tabs {
    margin-top: 10px;
  }
}

::v-deep .vxe-modal--wrapper .vxe-modal--header {
  border-bottom: 1px solid #fff;
  background-color: #fff;
}
</style>
