<!-- 房源建册 -->
<template>
  <div id="myMain">
    <div class="myMain-padding displayFlexC mt0" v-show="!hideTable">
      <div class="table-top jcsb">
        <div class="d_a_center">
          <span class="searchLabel fl">小区名称：</span>
          <el-input
            class="fl inputMargin"
            v-model="searchForm.plotName"
            placeholder="单行输入"
          ></el-input>
          <!-- <span class="searchLabel fl">开发单位：</span>
          <el-input
            class="fl inputMargin"
            v-model="searchForm.unit"
            placeholder="单行输入"
          ></el-input> -->
          <vxe-button
            size="mini"
            class="h40 plusBtn "
            @click="handleSearch"
          >
            搜索
          </vxe-button>
          <vxe-button class="h40" @click="refresh">重置</vxe-button>
        </div>

        <div class="d_a_center">
          <!-- <vxe-button class="fr  h40" @click="exportDataEvent"
            ><i class="vxe-icon--download"></i> 导出</vxe-button
          > -->
          <vxe-button class="fr plusBtn h40" @click="add(1)"
            ><i class="vxe-icon--plus"></i> 小区修改</vxe-button
          >
          <vxe-button class="fr plusBtn  h40" @click="add(2)"
            ><i class="vxe-icon--plus"></i> 房屋修改</vxe-button
          >
          <vxe-button class="fr plusBtn h40" @click="add(3)"
            ><i class="vxe-icon--plus"></i> 发起入库</vxe-button
          >
        </div>
      </div>
      <!-- :export-config="{}" -->
      <!-- :checkbox-config="{ reserve: true }" -->
      <div class="myTable f1">
        <vxe-table
          ref="xTable"
          :radio-config="{ strict: false }"
          :data="tableData"
          resizable
          auto-resize
          align="center"
          row-id="id"
          :seq-config="{
            startIndex: (tablePage.currentPage - 1) * tablePage.pageSize,
          }"
          :export-config="{}"
          @radio-change="selectChangeEvent"
        >
          <vxe-table-column width="80" type="radio"></vxe-table-column>
          <vxe-table-column
            width="50"
            type="seq"
            title="序号"
          ></vxe-table-column>
          <vxe-table-column
            @click.sync="check(row)"
            field="lotName"
            title="地块名称"
            width="200"
          >
            <template #default="{ row }">
              <p @click="check(row)">{{ row.lotName }}</p>
            </template>
          </vxe-table-column>
          <vxe-table-column
            @click.sync="check(row)"
            field="plotName"
            title="小区名称"
          >
            <template #default="{ row }">
              <p @click="check(row)">{{ row.plotName }}</p>
            </template>
          </vxe-table-column>
          <!-- <vxe-table-column
            @click.stop="check(row)"
            width="90"
            field="lotName"
            title="地块名称"
          >
            <template #default="{ row }">
              <p @click="check(row)">{{ row.lotName }}</p>
            </template>
          </vxe-table-column> -->
          <vxe-table-column
            @click="check(row)"
            width="130"
            field="holdArea"
            title="面积（平方米）"
          >
            <template #default="{ row }">
              <p @click="check(row)">{{ row.holdArea }}</p>
            </template>
          </vxe-table-column>
          <vxe-table-column
            @click="check(row)"
            width="130"
            field="planTotal"
            title="规划设计总套数"
          >
            <template #default="{ row }">
              <p @click="check(row)">{{ row.planTotal }}</p>
            </template>
          </vxe-table-column>
          <vxe-table-column
            @click="check(row)"
            width="120"
            field="realityTotal"
            title="实际设计总套数"
          >
            <template #default="{ row }">
              <p @click="check(row)">{{ row.realityTotal }}</p>
            </template>
          </vxe-table-column>
          <vxe-table-column
            width="80"
            field="housingType1"
            title="单间"
            @click="check(row)"
          >
            <template #default="{ row }">
              <p @click="check(row)">{{ row.housingType1 }}</p>
            </template>
          </vxe-table-column>
          <vxe-table-column
            @click="check(row)"
            width="80"
            field="housingType2"
            title="1房1厅"
          >
            <template #default="{ row }">
              <p @click="check(row)">{{ row.housingType2 }}</p>
            </template>
          </vxe-table-column>
          <vxe-table-column
            @click="check(row)"
            width="80"
            field="housingType3"
            title="1房2厅"
          >
            <template #default="{ row }">
              <p @click="check(row)">{{ row.housingType3 }}</p>
            </template>
          </vxe-table-column>
          <vxe-table-column
            @click="check(row)"
            width="80"
            field="housingType4"
            title="2房1厅"
          >
            <template #default="{ row }">
              <p @click="check(row)">{{ row.housingType4 }}</p>
            </template>
          </vxe-table-column>
          <vxe-table-column
            @click="check(row)"
            width="80"
            field="housingType5"
            title="2房2厅"
          >
            <template #default="{ row }">
              <p @click="check(row)">{{ row.housingType5 }}</p>
            </template>
          </vxe-table-column>
          <vxe-table-column
            @click="check(row)"
            width="80"
            field="housingType6"
            title="3房1厅"
          >
            <template #default="{ row }">
              <p @click="check(row)">{{ row.housingType6 }}</p>
            </template>
          </vxe-table-column>
          <vxe-table-column
            @click="check(row)"
            width="80"
            field="housingType7"
            title="3房2厅"
          >
            <template #default="{ row }">
              <p @click="check(row)">{{ row.housingType7 }}</p>
            </template>
          </vxe-table-column>
          <vxe-table-column
            @click="check(row)"
            width="80"
            field="housingType8"
            title="4房及以上"
          >
            <template #default="{ row }">
              <p @click="check(row)">{{ row.housingType8 }}</p>
            </template>
          </vxe-table-column>
          <vxe-table-column
            width="110"
            field="planTime"
            title="合同约定时间"
            @click="check(row)"
          >
            <template #default="{ row }">
              <p @click="check(row)">{{ row.planTime }}</p>
            </template>
          </vxe-table-column>
          <!-- <vxe-table-column
            @click="check(row)"
            width="110"
            field="becTime"
            title="实际竣工时间"
          >
            <template #default="{ row }">
              <p @click="check(row)">{{ row.becTime }}</p>
            </template>
          </vxe-table-column> -->
          <!-- <vxe-table-column
            @click="check(row)"
            width="130"
            field="planTime"
            title="预计实物移交时间"
          >
            <template #default="{ row }">
              <p @click="check(row)">{{ row.planTime }}</p>
            </template>
          </vxe-table-column> -->
          <!-- <vxe-table-column width="110" field="c" title="预留房源项目">
          </vxe-table-column>
          <vxe-table-column width="80" field="reservedArea" title="预留面积">
          </vxe-table-column>
          <vxe-table-column width="80" field="c" title="说明">
          </vxe-table-column> -->
          <!-- <vxe-table-column
            @click="check(row)"
            width="80"
            field="unit"
            title="录入单位"
          >
            <template #default="{ row }">
              <p @click="check(row)">{{ row.unit }}</p>
            </template>
          </vxe-table-column> -->
          <!-- <vxe-table-column title="操作" width="80">
            <template #default="{ row }">
              <img
                class="operationBtnSize"
                src="@/assets/icon/del.png"
                @click="del(row)"
                alt=""
              />
            </template>
          </vxe-table-column> -->
        </vxe-table>
        <!-- 分页 -->
        <vxe-pager
          class="paginationBlock"
          size="mini"
          :current-page="tablePage.currentPage"
          :page-size="tablePage.pageSize"
          :page-sizes="tablePage.pageSizes"
          :total="tablePage.totalResult"
          @page-change="pageChange"
          :layouts="['PrevPage', 'JumpNumber', 'NextPage', 'FullJump', 'Total']"
        >
        </vxe-pager>
      </div>
    </div>

    <div v-if="putInStorage">
      <div class="tabbar">
        <el-tabs class="tabs" v-model="activeTab">
          <el-tab-pane label="基本信息" name="basic">
            <input-Table2 ref="Table2"></input-Table2>
          </el-tab-pane>
          <el-tab-pane label="房屋信息" name="house">
            <input-Table1
              :showTotalDetail="true"
              :showRadio="true"
              ref="Table1"
            ></input-Table1>
          </el-tab-pane>
        </el-tabs>
        <div
          style="width: 100%; text-align: right; margin-top: 214px;"
          @click=""
        >
          <div
            id="putIntoButton"
            @click="putInfoStorageApprove"
            style="float: right; color: #fff;border-radius: 4px; margin-bottom: 10px; width: 111px; height: 40px; text-align: center; line-height: 40px; background-color: #505976"
          >
            {{ activeTab == "basic" ? "下一步" : "发布审核" }}
          </div>
        </div>
      </div>
    </div>

    <div class="tabbar" v-if="editPlotMsg">
      <inputTable2 ref="Table21"></inputTable2>
      <el-divider content-position="left"></el-divider>
      <inputTable2 :editMsg="true" ref="Table22"></inputTable2>

      <div class="editionExplain">
        <div>修改说明：</div>
        <el-input
          type="textarea"
          v-model="editPlotExplain"
          rows="3"
          style="width: 500px;"
          placeholder="请输入修改说明"
        ></el-input>
      </div>

      <div style="width: 100%; text-align: right; margin-top: 20px;" @click="">
        <div
          style="float: right; color: #fff;border-radius: 4px; margin-bottom: 10px; width: 111px; height: 40px; text-align: center; line-height: 40px; background-color: #505976"
          @click="editPlotInfoApprove"
        >
          发布审核
        </div>
      </div>
    </div>

    <!-- <div> -->
    <div class="tabbar mt78 pt20" v-show="editHouseMsg && !bindingHouse">
      <el-button
        class="floatButton"
        size="small"
        icon="el-icon-plus"
        type="info"
        @click="openPlotModal"
      >
        绑定房屋
      </el-button>

      <el-button
        class="floatButton_right"
        size="small"
        icon="el-icon-delete"
        type="info"
        @click="deleteHouses"
      >
        删除房屋
      </el-button>
      <div>
        <inputTable1 ref="Table01" :showTopBar="false"></inputTable1>
        <el-divider content-position="left"></el-divider>
        <inputTable1 ref="Table02" :showTopBar="false" :showEdit="true"></inputTable1>
        <div class="editionExplain">
          <div>修改说明：</div>
          <el-input
            type="textarea"
            v-model="editHouseExplain"
            rows="3"
            style="width: 500px;"
            placeholder="请输入修改说明"
          ></el-input>
        </div>
      </div>

      <div style="width: 100%; text-align: right; margin-top: 20px;" @click="">
        <div
          style="float: right; color: #fff;border-radius: 4px; margin-bottom: 10px; width: 111px; height: 40px; text-align: center; line-height: 40px; background-color: #505976"
          @click="editHouseInfoApprove"
        >
          发布审核
        </div>
      </div>
    </div>
    <!-- </div> -->
    <vxe-modal
      v-model="plotModal"
      showFooter
      width="85%"
      height="90%"
      title="选择区属"
      @confirm="choosePlot"
    >
      <template #default>
        <div class="myPadding" style="height:calc(100% - 40px);">
          <indexTable :noOperation="true" ref="indexTable"></indexTable>
        </div>
      </template>
    </vxe-modal>

    <div style="margin-top: 20px;" v-show="bindingHouse">
      <div style="position: relative;padding: 30px; background-color: #fff;">
        <div
          style="position: absolute;
          top: 35px;
          font-size: 38px!important;
          right: 40px;
          z-index: 999;"
          @click="bindingHouse = false"
        >
          X
        </div>
        <inputTable1
          :showSearchBar="2"
          :chooseHouse="false"
          :isBindingHouse="true"
          ref="chooseHouseTable"
        ></inputTable1>
      </div>
    </div>
    <!-- <vxe-modal
      v-model="bindingHouse"
      width="90%"
      height="80%"
      title="选择房屋12"
    >
      <template #default>

      </template>
    </vxe-modal> -->
  </div>
</template>

<script>
//这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
//例如：import 《组件名称》 from '《组件路径》';
import pub from "@/views/house/info/Input/public.js";
import {
  selectHouse,
  getTbHousingCopies,
  getTbHousingCopies1,
  getBuild,
  getHouseInputInfoById,
  getHouseInputInfoById1,
  getHouseInputInfoById2,
  saveEditingTbPlotMsg,
  saveEditingTbHouseMsg,
  savePutIntoStorage,
} from "@/api/house";
import { startDef } from "@/api/panguBpm";
import { getStartBtn } from "@/api/loadwfmodule";
import inputTable1 from "@/components/houseInfoTable/table1.vue";
import inputTable2 from "@/components/houseInfoTable/table2.vue";
import inputTable3 from "@/components/houseInfoTable/table3.vue";
import { Loading } from "element-ui";
export default {
  //import引入的组件需要注入到对象中才能使用
  components: {
    inputTable1,
    inputTable2,
    inputTable3,
  },
  data() {
    //这里存放数据
    return {
      loadingInstance: null,
      hideTable: false,
      activeTab: "basic",
      searchForm: {},
      searchVal1: null,
      searchVal2: null,
      searchVal3: null,
      list: [],
      tableData: [],
      // 分页
      tablePage: {
        currentPage: 1,
        pageSize: 10,
        pageSizes: [10, 20, 30, 40],
        totalResult: 0,
      },
      // 弹窗--小区
      alertVal1: false,
      explain1: null,
      explain2: null,
      plotModal: false,
      putInStorage: false,
      editPlotMsg: false,
      editHouseMsg: false,
      bindingHouse: false,
      isCheck: false,
      alertVal4: false, // 具体房屋信息
      searchVal4: null,
      plotId: null,
      dkName: null,
      houseId: null,
      editPlotExplain: "",
      editHouseExplain: "",
      tempRecords: [],
      receiveForm: {
        realityTotal: 0,
        planTotal: 0,
      },
      defaultSelecteRows: [],
      checkPlot: false
    };
  },
  //监听属性 类似于data概念
  computed: {},
  //监控data中的数据变化
  watch: {
    editHouseMsg() {
      this.$refs.Table01.getData(3, []);
      this.$refs.Table02.getData(3, []);
      this.editHouseExplain = null;
    },
  },
  //方法集合
  methods: {
    initBackEvent() {
      console.log("initBackEvent start123");
      let _this = this;
      const breads = document.querySelector("#breadcrumbSpan");
      setTimeout(() => {
        console.log("initBackEvent setTimeout");
        breads.children[2].onclick = function() {
          console.log("initBackEvent start1");

          _this.editPlotMsg = false;
          _this.hideTable = false;
          _this.editHouseMsg = false;
          _this.putInStorage = false;
          _this.checkPlot = false;
          _this.$refs.xTable.clearRadioRow();

          const breads = document.querySelector("#breadcrumbSpan");
          _this.activeTab = "basic";
          console.log(breads.children);
          if (breads.children.length == 4) {
            breads.removeChild(breads.lastChild);

            console.log("initBackEvent success");
          }
          console.log("initBackEvent start2");
        };
        const menu = document.querySelector(".is-active");
        menu.onclick = function () {
          _this.editPlotMsg = false;
          _this.hideTable = false;
          _this.editHouseMsg = false;
          _this.putInStorage = false;
          _this.bindingHouse = false;
          _this.checkPlot = false;
          _this.$refs.xTable.clearRadioRow();
          _this.activeTab = "basic";
          const breads = document.querySelector("#breadcrumbSpan");
          const action = document.querySelector("#action");
          if (action) breads.removeChild(action);
        }
      }, 500);
    },
    addBreadcrumb(text) {
      const breads = document.querySelector("#breadcrumbSpan");
      const span = document.createElement("span");
      span.setAttribute(
        "style",
        "font-size: 18px !important;font-family: SourceHanSansSC-regular;cursor: pointer;"
      );
      span.setAttribute("id", "action");
      span.className = "el-breadcrumb__item";
      span.ariaCurrent = "page";
      const a = breads.childNodes[2].children[0].children[0];
      a.className = "no-redirect";
      span.innerText = text;
      breads.appendChild(span);
    },
    removeBreadcrumb() {
      console.log("removeBreadcrumb2");
      const breads = document.querySelector("#breadcrumbSpan");
      breads.removeChild(breads.lastChild);
    },
    exportDataEvent() {
      this.$refs.xTable.openExport({
        // 默认勾选源
        original: true,
      });
    },
    deleteHouses() {
      let H = this.$refs.Table02.deleteHouses();
      console.log("deleteHouses456", H);

      let data = JSON.stringify(H);
      // this.$refs.Table01.getDataByJSON(4, data);
      this.$refs.Table02.getDataByJSON(4, data);
    },
    radioChangeEvent({ row }) {
      console.log("单选事件 bookBuild index", row.plotId, this.isOption);
      this.plotId = row.plotId;
      // this.dkName = row.lotName;
      if (this.isOption == 1 || this.isOption == 3) {
        pub.$emit("changeTab", "house");
        return;
      }
      // this.selectRow = row;
      // pub.$emit("chooseReceivedPlot", row);
    },
    handleSearch() {
      this.init(1, 10, this.searchForm.plotName);
    },
    refresh() {
      this.searchForm = {};
      this.handleSearch();
    },
    async getTbHousingCopies(obj) {},
    choosePlot() {},
    openPlotModal() {
      console.log("bindingHouse");
      this.bindingHouse = true;
      let obj = {
        id: this.plotId,
        page: 1,
        limit: 10,
        receiveStatus: 1,
      };
      this.getHousesList(1, 10);
    },
    getHousesList(page, limit, floorNo, ladderNo, houseNo, allArea, cardStatus) {
      console.log("getHouseInputInfoById111111", this.dkName);
      getHouseInputInfoById(
        this.plotId,
        this.dkName,
        floorNo,
        ladderNo,
        houseNo,
        allArea,
        page,
        limit,
        2,
        cardStatus
      ).then((res) => {
        console.log("table 1 2 3 res 12", res);
        // this.$refs.chooseHouseTable.tableData = res.data;
        this.$refs.chooseHouseTable.getData(3, res.data);
        this.$refs.chooseHouseTable.tablePage.totalResult = res.count;
        // 传小区信息给 table2 table3  isAdd=0 不是新增
        // pub.$emit("tbHouseList", { tbPlot: res.tbPlot, isAdd: 0 });
      });
    },
    async next() {
      let validBasicForm = null;
      let validTotalDetailForm = null;
      let validTable = null;
      // console.log("valid", validBasicForm, validTotalDetailForm, validTable);

      if (this.activeTab == "basic") {
        validBasicForm = this.$refs.Table2.basicFormValidator();
        if (!validBasicForm) return;
        this.activeTab = "house";
      } else {
        validTotalDetailForm = this.$refs.Table1.totalDetailFormValidator();
        validTable = await this.$refs.Table1.tableValidator();

        // console.log("validTotalDetailForm", validTotalDetailForm);
        // console.log("validTable1111", validTable);
        if (!validTotalDetailForm || !validTable) return;

        this.tbPlot = {
          ...this.$refs.Table2.basicForm,
          ...this.$refs.Table1.totalDetailForm,
        };
        this.tbHousing = this.$refs.Table1.tableData;

        if (!this.isAdd) {
          let data = await putHouseInputInfo({
            tbHousing: this.tbHousing,
            tbPlot: this.tbPlot,
          });
        } else {
          let data = await addHouseInputInfo({
            tbHousing: this.tbHousing,
            tbPlot: this.tbPlot,
          });
        }
        this.init();
        // console.log("picList", this.$refs.Table2.picList);
        this.activeTab = "basic";
        this.alertVal = false;
      }
    },
    // 根据页切换
    pageChange(val) {
      console.log("page val", val);
      this.tablePage.currentPage = val.currentPage;
      this.tablePage.pageSize = val.pageSize;
      let page = val.currentPage;
      let limit = val.pageSize;
      this.init(page, limit, this.searchForm.plotName);
    },
    async init(page, limit, plotName) {
      let res = await getBuild(2, page, limit, plotName);
      // let res = await getTbHousingCopies(obj.page, obj.limit);
      console.log("await", res);
      this.tableData = res.data;
      this.tablePage.totalResult = res.count;

      // this.tableData = this.list;
      // if (type == "house") {
      //   selectHouse(page, limit).then((res) => {
      //     if (res.code == 0) {
      //       this.$refs.chooseHouseTable.init(res);
      //     } else {
      //       this.$message({ type: "success", message: "暂无数据" });
      //     }
      //   });
      // }
    },
    selectChangeEvent({ checked, records }) {
      let houses = [];
      this.tempRecords[this.tablePage.currentPage - 1] = records;
      // let selectRecords = this.$refs.inputTable2.getCheckboxRecords();
      let selectRecords = this.$refs.xTable.getRadioRecord();
      console.log("selectChangeEvent", records, selectRecords);
      console.log("tempRecords", this.tempRecords);
      this.plotId = selectRecords.plotId;

      // this.receiveForm.realityTotal = 0;
      // this.receiveForm.planTotal = 0;
      // this.tempRecords.forEach((v) => {
      //   this.receiveForm.realityTotal += v.length;
      //   v.forEach((i) => {
      //     this.defaultSelecteRows.push(i.id);
      //     this.receiveForm.planTotal += Number(i.totalArea);
      //     houses.push(i);
      //   });
      // });
      // this.housesInfo = houses;
      // console.log("...a....", houses);
    },
    async add(num) {
      let radio = this.$refs.xTable.getRadioRecord();
      console.log("房屋修改 add", num, radio);

      if (radio) {
        
        // 为1，小区修改
        if (num == 1) {
          if (radio.updateStatus == 0) {
            this.$message.error("小区正在进行修改审批！");
            return;
          }
          // 小区
          this.addBreadcrumb("小区修改");
          this.editPlotMsg = true;
          this.hideTable = true;
          setTimeout(async () => {
            console.log("0000000000000000", this.plotId);
            let res = await getHouseInputInfoById1(radio.plotId, 1, 10, null);
            this.$refs.Table21.getDataByJSON(2, JSON.stringify(res.tbPlot));
            this.$refs.Table22.getDataByJSON(null, JSON.stringify(res.tbPlot));
            // this.$refs.Table22.getData(res.tbPlot);
          }, 100);
          // 为2，房屋修改
        } else if (num == 2) {
          // 房屋
          this.$refs.chooseHouseTable.setIsBindingHouses(true);
          this.addBreadcrumb("房屋修改");
          this.editHouseMsg = true;
          this.hideTable = true;
          // setTimeout(() => {
          //   this.$refs.Table01.getData(0, "房屋信息");
          //   this.$refs.Table02.getData(3, "房屋信息");
          // }, 100);
          // 为3，新建入库
        } else {
          // 入库
          this.addBreadcrumb("发起入库");
          this.putInStorage = true;
          this.hideTable = true;
          this.checkPlot == false;
          let res = await this.getDetailById(radio.plotId);
          this.$refs.Table2.getData(2, res.tbPlot);
          this.$refs.Table1.getData(2, res);
          this.$refs.Table1.tbPlotId = this.plotId;
        }
        // this.$refs.xTable.clearRadioRow();
      } else {
        this.$message({ type: "error", message: "请选择至少一条数据!" });
      }
    },
    async getDetailById(id, page = 1, limit = 10) {
      this.plotId = id;
      // 1
      console.log('x1', this.checkPlot == true ? null : '已办证');
      let res = await getHouseInputInfoById2(id, page, limit, 2, 0, this.checkPlot == true ? null : '已办证');
      console.log("getDetailById", res);
      return res;
    },
    submit(num) {
      this.$confirm("是否发送审核?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(() => {
        if (num == 1) {
          // 小区
        } else if (num == 2) {
          // 房屋
        } else {
          // 入库
        }
        this.close();
        this.$message({ type: "success", message: "发送成功!" });
      });
    },
    editPlotInfoApprove() {
      this.$confirm("是否发送小区修改审核?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(async () => {
        if (this.editPlotExplain == "") {
          this.$message.error('请填写小区修改说明！');
          return ;
        }
        let loadingInstance = Loading.service({
          fullscreen: true,
          target: "#myMain",
          // background: "#fff",
        });
        this.loadingInstance = loadingInstance;
        //审核
        let data = this.$refs.Table22.basicForm;
        data.state = this.editPlotExplain;

        // data.plotImg = JSON.stringify(data.plotImg);
        data.accessory = JSON.stringify(data.accessory);
        data.plotId = data.id;
        delete data.id;
        console.log("editPlotInfoApprove______1", data);
        // this.$delete(this.data, id);

        let info = await getStartBtn("plot_info_edit");

        let res = await startDef({
          defId: info.defId,
          modelId: info.modelId,
          typeTitle: "小区信息修改审批",
          formData: JSON.stringify({
            plotId: this.plotId,
            plotName: data.plotName,
          }),
          groupId: 66740,
          typeKey: "小区信息修改审批",
          defKey: "plot_info_edit",
        });
        data.instId = res.processInstanceId;
        if (res.code == 0) {
          await saveEditingTbPlotMsg(data);
          this.$nextTick(() => {
            // 以服务的方式调用的 Loading 需要异步关闭
            this.loadingInstance.close();
          });
          this.$message({
            type: "success",
            message: "发送审批成功！！",
          });
          this.removeBreadcrumb();
          this.editPlotMsg = false;
          this.hideTable = false;
        } else {
          this.$nextTick(() => {
            // 以服务的方式调用的 Loading 需要异步关闭
            this.loadingInstance.close();
          });
          this.$message({
            type: "error",
            message: "发送审批失败！",
          });
        }
        this.init(this.tablePage.currentPage, this.tablePage.pageSize);
      });
    },
    editHouseInfoApprove() {
      this.$confirm("是否发送审核?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(async () => {
        if (this.editHouseExplain == null) {
          this.$message.error('请填写房屋修改说明！');
          return ;
        }
        let loadingInstance = Loading.service({
          fullscreen: true,
          target: "#myMain",
          // background: "#fff",
        });
        this.loadingInstance = loadingInstance;
        //审核
        let data = this.$refs.Table02.importDataTable;

        let arr = [];
        data.forEach((val) => {
          arr.push(val.id);
        });
        this.houseId = arr.join(",");

        console.log("editHouseInfoApprove", data);

        let info = await getStartBtn("house_info_edit");
        // this.$delete(this.data, id);
        let res = await startDef({
          defId: info.defId,
          modelId: info.modelId,
          typeTitle: "建册信息修改审批",
          formData: JSON.stringify({
            houseId: this.houseId,
            plotName: data[0].site + "...",
          }),
          groupId: 66737,
          typeKey: "建册信息修改审批",
          defKey: "house_info_edit",
        });

        data.map((val) => {
          val.instId = res.processInstanceId;
          val.state = this.editHouseExplain;
          val.housingId = val.id;
          delete val.id;
        });

        if (res.code == 0) {
          await saveEditingTbHouseMsg(data);
          this.editHouseMsg = false;
          this.hideTable = false;
          this.$nextTick(() => {
            // 以服务的方式调用的 Loading 需要异步关闭
            this.loadingInstance.close();
          });

          this.removeBreadcrumb();
          this.$message({
            type: "success",
            message: "发送审批成功！！",
          });
        } else {
          this.editHouseMsg = false;
          this.hideTable = false;
          this.$nextTick(() => {
            // 以服务的方式调用的 Loading 需要异步关闭
            this.loadingInstance.close();
          });
          this.$message({
            type: "error",
            message: "发送审批失败！",
          });
        }
        this.init(
          this.tablePage.currentPage,
          this.tablePage.pageSize,
          this.searchForm.plotName
        );
      });
    },
    // 发起入库审批
    putInfoStorageApprove() {
      if (this.activeTab == "basic") {
        // validBasicForm = this.$refs.Table2.basicFormValidator();
        // if (!validBasicForm) return;
        if (this.hideTable && this.checkPlot) {
          let btn = document.querySelector("#putIntoButton");
          btn.innerText = "完成"
        }
        this.activeTab = 'house'
      } else {
        if (this.hideTable && this.checkPlot) {
          this.putInStorage = false;
          this.hideTable = false;
          this.checkPlot = false;
          this.activeTab = 'basic';
          return;
        }
        if (this.$refs.Table1.tempRecords.length == 0) {
          this.$message.error("请选择入库房屋！");
          return;
        }
        this.$confirm("是否发送审核?", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning",
        }).then(async () => {
          let loadingInstance = Loading.service({
            fullscreen: true,
            target: "#myMain",
            // background: "#fff",
          });
          this.loadingInstance = loadingInstance;
          let tbHousing = [];
          this.$refs.Table1.tempRecords.forEach((i) => {
            i.forEach((v) => {
              tbHousing.push(v);
            });
          });
          let tbPlot = this.$refs.Table2.basicForm;
          console.log("发起入库审批", this.tbHousing, tbHousing);
          // return;
          let data = await savePutIntoStorage({
            tbHousing,
            tbPlot,
          });

          if (data.code == 0) {
            let info = await getStartBtn("put_into_storage");

            let res = await startDef({
              defId: info.defId,
              modelId: info.modelId,
              typeTitle: "房源入库审批",
              formData: JSON.stringify({
                soleId: data.data,
              }),
              groupId: 66730,
              typeKey: "房源入库审批",
              defKey: "put_into_storage",
            });
            if (res.code == 0) {
              this.$nextTick(() => {
                // 以服务的方式调用的 Loading 需要异步关闭
                this.loadingInstance.close();
              });
              this.removeBreadcrumb();
              this.$message({
                type: "success",
                message: "发送审批成功！！",
              });
            }
            this.putInStorage = false;
            this.hideTable = false;
          } else {
            this.putInStorage = false;
            this.hideTable = false;
            this.$nextTick(() => {
              // 以服务的方式调用的 Loading 需要异步关闭
              this.loadingInstance.close();
            });
            this.$message({
              type: "error",
              message: "发送审批失败！",
            });
          }

          this.init(
            this.tablePage.currentPage,
            this.tablePage.pageSize,
            this.searchForm.plotName
          );
          // console.log("putInfoStorageApprove", res);
        });
      }
    },
    close() {
      this.alertVal1 = false;
      this.alertVal2 = false;
      this.alertVal3 = false;
      this.isCheck = false;
    },
    // 选择房屋--弹窗
    choose() {
      this.alertVal4 = true;
      setTimeout(() => {
        this.$refs.Table03.getData(2, "房屋信息");
      }, 100);
    },
    toSearch() {
      // 选择房屋--搜索
    },
    async check(row) {
      console.log("bookBuild check");
      this.putInStorage = true;
      this.hideTable = true;
      this.checkPlot = true;
      this.addBreadcrumb("详情");
      let res = await this.getDetailById(row.plotId);
      this.$refs.Table2.getData(2, res.tbPlot);
      this.$refs.Table1.getData(2, res);
      this.$refs.Table1.tbPlotId = this.plotId;
    },
    del(data) {
      this.$confirm("此操作将删除该数据, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(() => {
        //删除
        this.$message({ type: "success", message: "删除成功!" });
      });
    },
    // 搜索
    searchEvents(searchVal, PropsList) {
      this.tableData = this.$search.searchEvents(
        this.list,
        searchVal,
        PropsList
      );
      // this.total = this.list1.length
    },
    // 导出
    async exportDataEvent() {
      await this.$refs.xTable.openExport({
        // 默认勾选源
        original: true,
      });
      this.$refs.xTable.clearCheckboxRow();
    },
    // 上传图片
    handleRemovePic(file, fileList) {
      // console.log("handleRemovePic", file, fileList);
      // this.picList = fileList;
    },
    beforeAvatarUpload() {},
  },
  //生命周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    this.initBackEvent();
    this.init(
      this.tablePage.currentPage,
      this.tablePage.pageSize,
      this.searchForm.plotName
    );
    pub.$on("pageChangeBookBuild", async (data) => {
      console.log("pageChangeBookBuild", data);
      console.log('x2');
      let info = await getHouseInputInfoById2(
        this.plotId,
        data.page,
        data.limit,
        2,
        0,
        this.checkPlot == true ? null : '已办证'
      );
      this.$refs.Table1.getData(2, info);
    });
    pub.$on("pageChangeBookBuildBindinghouse", async (data) => {
      console.log("pageChangeBookBuildBindinghouse", data);
      let info = await this.getHousesList(data.page, data.limit, data.floorNo, data.ladderNo, data.houseNo, data.allArea, data.cardStatus);
    });

    pub.$on("chooseHouse", (data) => {
      this.tbHousing = data;
    });
    pub.$on("initHousesList", (data) => {
      console.log("initPlotList123", data);
      this.getHousesList(
        data.page,
        data.limit,
        data.floorNo,
        data.ladderNo,
        data.houseNo,
        data.allArea
      );
    });
    pub.$on("houseInfo", (data) => {
      console.log("on houseInfo", this.houseId, data);
      this.houseId = data.id;
      data = JSON.stringify(data);
      this.$refs.Table01.getDataByJSON(5, data);
      this.$refs.Table02.getDataByJSON(4, data);
      this.$nextTick(function() {});

      this.bindingHouse = false;
    });
    pub.$on("cancelChooseHouse", (data) => {
      console.log("bookBuild index", data);
      this.bindingHouse = data;
    });
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //生命周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {
    pub.$off("initHousesList");
    pub.$off("houseInfo");
    pub.$off("pageChange");
    pub.$off("deleteHouses");
    pub.$off("pageChangeBookBuild");

    const breads = document.querySelector("#breadcrumbSpan");
    const action = document.querySelector("#action");
    if (action) breads.removeChild(action);
    console.log("beforeDestroy123", breads);
    console.log(breads.children, "/////////", breads.children.length);
  }, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁完成
  activated() {}, //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
//@import url(); 引入公共css类
.floatButton {
  position: absolute;
  z-index: 999;
  top: 20px;
  left: 20px;
}
.floatButton_right {
  position: absolute;
  z-index: 999;
  top: 20px;
  left: 150px;
}
::v-deep.vxe-modal--wrapper .vxe-modal--content {
  padding: 0;
}
// 分割线
.el-divider--horizontal {
  height: 2px;
}
.h40 {
  height: 32px !important;
}

::v-deep .vxe-modal--wrapper .vxe-modal--header {
  border-bottom: 1px solid #fff;
  background-color: #fff;
}

::v-deep .vxe-modal--title {
  font-size: 18px !important;
  font-weight: normal;
  padding: 15px;
  padding-bottom: 0;
}

/* ::v-deep .vxe-header--column .vxe-cell--title {
  line-height: 1.5;
  font-size: 15px !important;
  font-weight: normal;
} */

::v-deep .vxe-header--column .vxe-cell--required-icon {
  display: none;
}

::v-deep .vxe-table--render-default .vxe-cell {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

::v-deep
  .vxe-table--render-default
  .is--checked.vxe-cell--radio
  .vxe-radio--checked-icon:before {
  border-color: #409eff;
  background-color: #409eff;
}
::v-deep .vxe-table--render-default .vxe-cell--radio .vxe-radio--icon:before {
  content: "";
  position: absolute;
  height: 1em;
  width: 1em;
  top: 0;
  left: 0;
  background-color: #fff;
  border-radius: 2px;
  border: 2px solid #dcdfe6;
}

::v-deep
  .vxe-table--render-default
  .vxe-cell--radio
  .vxe-radio--checked-icon:after {
  content: "";
  position: absolute;
  height: 0.64em;
  width: 0.32em;
  top: 50%;
  left: 50%;
  border: 2px solid #fff;
  border-left: 0;
  border-top: 0;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #409eff;
}

::v-deep .vxe-table--render-default.border--default .vxe-table--header-wrapper,
.vxe-table--render-default.border--full .vxe-table--header-wrapper,
.vxe-table--render-default.border--outer .vxe-table--header-wrapper {
  background-color: #f0f1f3;
}
::v-deep .el-tabs__active-bar {
  background-color: #568ce6;
  height: 4px;
}

::v-deep .el-tabs__item.is-active {
  font-family: SourceHanSansSC-regular;
  color: #484848;
  font-size: 18px !important;
}

::v-deep .el-tabs__item {
  font-family: SourceHanSansSC-regular;
  color: #a3a3a3;
  font-size: 18px !important;
}

::v-deep .el-button--info {
  color: #fff;
  background-color: #505976;
  border-color: #505976;
}
::v-deep .el-form-item__error {
  top: -75%!important;
}
</style>
