<template>
  <div id="myMain" class="pt30">
    <el-row :gutter="20">
      <el-col :span="24">
        <div class="outside">
          <div class="tab">
            <div :class="[ category == 'wait' ? 'tab_item_active' : 'tab_item']" @click="changeTab('wait')">
              我的待办 <span class="count" v-if="category == 'wait'">{{ waitTotal }} 条</span>
            </div>
            <div class="line"></div>
            <div :class="[ category == 'post' ? 'tab_item_active' : 'tab_item']" @click="changeTab('post')">
              我发起 <span class="count">{{ postTotal }} 条</span>
            </div>
            <div class="line"></div>
            <div :class="[ category == 'running' ? 'tab_item_active' : 'tab_item']" @click="changeTab('running')">
              进行中 <span class="count">{{ runningTotal }} 条</span>
            </div>
            <div class="line"></div>
            <div :class="[ category == 'finished' ? 'tab_item_active' : 'tab_item']" @click="changeTab('finished')">
              已完成 <span class="count">{{ finishTotal }} 条</span>
            </div>
          </div>
          <el-table
            v-if="refresh"
            ref="multipleTable"
            :data="tableData"
            height="calc(100vh - 212px)"
            tooltip-effect="dark"
            style="width: 100%"
            @selection-change=""
            @cell-click="flowImageAction"
          >
            <el-table-column
              type="selection"
              width="55">
            </el-table-column>
            <el-table-column
              v-if="category == 'wait' || category == 'running'"
              prop="taskTitle"
              label="发起人"
              :formatter="getName"
              align="center"
            >
            </el-table-column>
            <el-table-column
            v-if="category == 'post'"
              prop="subject"
              label="发起人"
              :formatter="getName2"
              align="center"
            >
            </el-table-column>
            <el-table-column
              v-if="category == 'finished'"
              prop="subject"
              label="发起人"
              align="center"
            >
            </el-table-column>
            <el-table-column
              v-if="category == 'wait'"
              prop="categoryName"
              label="标题"
              align="center"
            >
            </el-table-column>
            <el-table-column
              v-if="category == 'running'"
              prop="processDefName"
              label="标题"
              align="center"
            >
            </el-table-column>
            <el-table-column
            v-if="category == 'post' || category == 'finished'"
              prop="procDefName"
              label="标题"
              align="center"
            >
            </el-table-column>
            <el-table-column
              v-if="category == 'running'"
              prop="startTime"
              label="发起时间"
              align="center"
            >
            </el-table-column>
            <el-table-column
              v-if="category !== 'finished' && category !== 'running'"
              prop="createTime"
              label="发起时间"
              align="center"
            >
            </el-table-column>
            <el-table-column
              v-if="category == 'finished'"
              prop="endTime"
              label="结束时间"
              align="center"
            >
            </el-table-column>
            <el-table-column
            v-if="category == 'wait'"
              prop="name"
              label="当前处理节点"
              width="120"
              align="center"
            >
            </el-table-column>
            <el-table-column
              v-if="category == 'wait'"
              prop="preUserName"
              label="上一个处理节点"
              width="120"
              align="center"
            >
            </el-table-column>
            <el-table-column
              v-if="category !== 'finished'"
              prop="instStatus"
              label="流程状态"
              align="center"
            >
              <span style="color: #00B711;">进行中</span>
            </el-table-column>
            <el-table-column
              v-if="category == 'finished'"
              prop="instStatus"
              label="流程状态"
              align="center"
            >
              <span style="color: #FF6E6E;">完成</span>
            </el-table-column>
            <el-table-column
              prop="instStatus"
              label="流程跟踪"
              align="center"
            >
              <span
              style="color: #1B9FFC;">详情</span>
              
            </el-table-column>
            <el-table-column
            fixed="right"
              label="操作"
              align="center"
              width="120">
              <template slot-scope="scope">
                <img
                  class="operationBtnSize mr5"
                  src="@/assets/icon/approve2.svg"
                  @click="approval(scope)"
                  alt=""
                />
              </template>
            </el-table-column>
          </el-table>
          <div>
            <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="page"
            :page-sizes="[10, 20, 30, 40]"
            :page-size="limit"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total">
          </el-pagination>
          </div>
        </div>
      </el-col>
      <!-- <el-col :span="9">
        <div style="width: 100%;background-color: #fff;border-radius: 5px;display: flex;flex-direction: column;">
          <div class="msg_header">我的消息</div>
          <div class="msg_list">
            <div class="msgblock" v-for="(item, index) in msgData">
              <div class="block_top">
                <span>{{ item.preUserName }}</span>
                <span>审批标题：{{ item.taskTitle }}</span>
              </div>
              <div class="block_bottom">
                <span>意见：{{ item.preOpinion }}</span>
                <span>时间：{{ item.createTime }}</span>
              </div>
            </div>
          </div>
          <el-pagination
            @size-change="handleMsgSizeChange"
            @current-change="handleMsgCurrentChange"
            :current-page="msgPage"
            :page-sizes="[100, 200, 300, 400]"
            :page-size="msgLimit"
            layout="total, prev, pager, next"
            :total="msgTotal">
          </el-pagination>
        </div>
      </el-col> -->
    </el-row>
    <Modal
      :mask-closable="false"
      v-model="flowImage.show"
      title="流程图"
      width="85%"
      :transfer="false"
    >
      <iframe
        id="flowImageframe"
        width="100%"
        style="min-height: 400px"
        height="100%"
        frameborder="0"
        align="center"
        allowfullscreen="true"
        allow="autoplay"
        :src="flowImage.src"
      />
      <div slot="footer" />
    </Modal>
  </div>
</template>

<script>
  import {
    getTbCheckHousingByPG,
    getTbCheckHousingByPGHistory,
  } from "@/api/house";
  import {
    getStartUpRuningList,
    getStartUpHisList
  } from "@/api/startup";
import { mapGetters } from 'vuex'
export default {
  components: {},
  data() {
    return {
      flowImage: {
        show: false,
        src: "",
        base:
          process.env.VUE_APP_BASE_BPM_API +
          "/view/tab.html?fireHoverAction=true&table=true" +
          "&instId=",
      },
      refresh: true,
      category: null,
      page: 1,
      limit: 10,
      total: 0,
      tableData: [],
      msgPage: 1,
      msgLimit: 10,
      msgTotal: 0,
      msgData: [],
      waitTotal: 0,
      postTotal: 0,
      runningTotal: 0,
      finishTotal: 0,
      finishedAllData: []
    };
  },
  computed: {
    ...mapGetters(["name"]),
  },
  watch: {
    finishedAllData: {
      handler(v) {
        this.tableData = this.finishedAllData.filter(
          (item, index) =>
            index < this.limit * this.page &&
            index >= this.limit * (this.page - 1)
        );
      },
      immediate: false,
      deep: true,
    }
  },
  mounted() {
    this.changeTab('wait');
    this.getMsgData();
    this.getTotalData();
  },
  methods: {
    flowImageAction(row, column, cell, event) {
      console.log('flowImageAction',row, row.procId, row.processInstanceId);
      let id = row.processInstanceId || row.procId
      if (column.property == 'instStatus') {
        this.flowImage.src =
        this.flowImage.base +
        id +
        "&t=" +
        new Date().getTime();
      this.flowImage.show = true;
      }
      
    },
    approval(scope) {
      console.log("approval", scope.row, scope.row.categoryName, scope.row.procDefName, scope.row.processDefName);

      if (scope.row.categoryName == "房源接收审批" || scope.row.procDefName == "房源接收审批" || scope.row.processDefName == "房源接收审批") {
        console.log('房源接收审批');

        if (this.category == 'finished' || this.category == 'running' || this.category == 'post') {
          this.$router.push({
            path: "/house/layout_info/house_info_approval_details_history",
            query: {
              data: { ...scope.row, index: this.category },
              history: true 
            },
          });

          return;
        }
        this.$router.push({
          path: "/house/layout_info/house_info_approval_details",
          query: { data: { ...scope.row, index: this.category } },
        });
      }
      if (scope.row.categoryName == "小区信息修改审批" || scope.row.procDefName == "小区信息修改审批" || scope.row.processDefName == "小区信息修改审批") {
        console.log('小区信息修改审批');
        if (this.category == 'finished' || this.category == 'running' || this.category == 'post') {
          this.$router.push({
            path: "/house/layout_info/house_info_approval_area_approve_history",
            query: {
              data: { ...scope.row, index: this.category },
              history: true 
            },
          });

          return;
        }
        this.$router.push({
          path: "/house/layout_info/house_info_approval_area_approve",
          query: { data: { ...scope.row, index: this.category } },
        });
      }
      if (scope.row.categoryName == "建册信息修改审批" || scope.row.procDefName == "建册信息修改审批" || scope.row.processDefName == "建册信息修改审批") {
        console.log('建册信息修改审批');
        if (this.category == 'finished' || this.category == 'running' || this.category == 'post') {
          this.$router.push({
            path: "/house/layout_info/house_info_approval_book_build_approve_history",
            query: {
              data: { ...scope.row, index: this.category },
              history: true 
            },
          });

          return;
        }
        this.$router.push({
          path: "/house/layout_info/house_info_approval_book_build_approve",
          query: { data: { ...scope.row, index: this.category } },
        });
      }
      if (scope.row.categoryName == "房源入库审批" || scope.row.procDefName == "房源入库审批" || scope.row.processDefName == "房源入库审批") {
        console.log('房源入库审批');
        if (this.category == 'finished' || this.category == 'running' || this.category == 'post') {
          this.$router.push({
            path: "/house/layout_Warehouse/warehouse_put_into_approve_history_detail",
            query: {
              data: { ...scope.row, index: this.category },
              history: true 
            },
          });

          return;
        }
        this.$router.push({
          path: "/house/layout_Warehouse/put_into_approve_details",
          query: { data: { ...scope.row, index: this.category } },
        });
      }
      if (scope.row.categoryName == "入库房源修改审批" || scope.row.procDefName == "入库房源修改审批" || scope.row.processDefName == "入库房源修改审批") {
        console.log('入库房源修改审批');
        if (this.category == 'finished' || this.category == 'running' || this.category == 'post') {
          this.$router.push({
            path: "/house/layout_Warehouse/warehouse_edit_approve_history_detail",
            query: {
              data: { ...scope.row, index: this.category },
              history: true
           },
          });

          return;
        }
        this.$router.push({
          path: "/house/layout_Warehouse/warehouse_edit_approve",
          query: { data: { ...scope.row, index: this.category } },
        });
      }
    },
    getName(row, column, cellValue, index) {
      let start = cellValue.indexOf("的");
      return cellValue.slice(1, start);
    },
    getName3(row, column, cellValue, index) {
      let start = cellValue.lastIndexOf('\"');
      let end = cellValue.indexOf("在");
      return cellValue.slice(start, end);
    },
    getName2(row, column, cellValue, index) {
      let name = null;

      if (this.category == 'post') {
        let start = cellValue.lastIndexOf('\"');
        let end = cellValue.indexOf("在");
        name = cellValue.slice(start+1, end);
        console.log('getName2', cellValue, name);
      }
      if (this.category == 'running') {
        if (row.procDefName == '建册信息修改审批' || row.procDefName == '房源接收审批' || row.procDefName == '小区信息修改审批') {
          let start = cellValue.lastIndexOf('\"');
          let end = cellValue.indexOf("在");
          name = cellValue.slice(start+1, end);
          console.log('getName2', cellValue, name);
        } else {
          let start = cellValue.indexOf('"');
          let end = cellValue.indexOf("在");
          name = cellValue.slice(start+1, end);
          console.log('getName2', cellValue, name);
        }
        
      }
      // if (row.procDefName == '建册信息修改审批') {
        
      // } else if (row.procDefName == '房源接收审批') {
      //   let start = cellValue.lastIndexOf('\"');
      //   let end = cellValue.indexOf("在");
      //   name = cellValue.slice(start+1, end);
      //   console.log('getName2', cellValue, name);
      // } else {

      // }
      return name
    },
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
      this.limit = val;
      this.getTableData(this.category);
    },
    handleMsgSizeChange(val) {
      this.msgLimit = val;
      this.getMsgData();
    },
    handleCurrentChange(val) {
      console.log(`当前页: ${val}`);
      this.page = val;
      if (this.finishedAllData.length > 0) {
        this.tableData = this.finishedAllData.filter(
          (item, index) =>
            index < this.limit * this.page &&
            index >= this.limit * (this.page - 1)
        );
        return;
      }
      this.getTableData(this.category);
    },
    handleMsgCurrentChange(val) {
      this.msgPage = val;
      this.getMsgData();
    },
    changeTab(cate) {
      this.category = cate;
      this.page = 1;
      this.getTableData(cate);
    },
    async getMsgData() {
      let res = await getTbCheckHousingByPG({
        page: this.msgPage,
        limit: this.msgLimit
      });
      this.msgData = res.data;
      this.msgTotal = Number(res.count);
    },
    async getTotalData() {
      let waitres = await getTbCheckHousingByPG({
        page: this.page,
        limit: this.limit
      });
      let postres = await getStartUpRuningList({
        page: this.page,
        limit: this.limit
      });
      let runningres = await getTbCheckHousingByPGHistory({
        page: this.page,
        limit: this.limit
      });
      let finishedres = await getStartUpHisList({
        page: this.page,
        limit: this.limit
      });
      this.waitTotal = waitres.count;
      this.postTotal = postres.count;
      this.runningTotal = runningres.count;
      this.finishTotal = finishedres.count;
    },
    async getTableData(cate) {
      console.log('getTableData');
      this.refresh = false;
      let res = null;
      let res1 = null;
      let res2 = null;
      if (cate == 'wait') {
        res = await getTbCheckHousingByPG({
          page: this.page,
          limit: this.limit
        });
      this.total = Number(res.count);
      this.refresh = true;
      this.tableData = res.data;
      } else if (cate == 'post') {
        res = await getStartUpRuningList({
          page: this.page,
          limit: this.limit
        });
      this.total = Number(res.count);
      this.refresh = true;
      this.tableData = res.data;
      } else if (cate == 'running') {
        res = await getTbCheckHousingByPGHistory({
          page: this.page,
          limit: this.limit
        });
      this.total = Number(res.count);
      this.refresh = true;
      this.tableData = res.data;
      } 
      
      if (cate == 'finished')  {
        res1 = await getStartUpHisList({
          page: this.page,
          limit: 10000
        });
        res2 = await getTbCheckHousingByPGHistory({
          page: this.page,
          limit: 10000
        });
        
        res1.data.map(v => {
          v.startTime = v.createTime;
          delete v.groupId;
          delete v.fetch;
          delete v.forbidden;
          delete v.newTask;
          delete v.startUserName;
          delete v.startUserNo;
          delete v.statusDesc;
          delete v.duration;
          delete v.id;
          delete v.modelId;
          delete v.skipUserTaskId;
          delete v.startUserName;
          delete v.startUserNo;
          delete v.status;
          delete v.statusDesc;
          delete v.groupName;
          delete v.bizKey;
          delete v.createTime;
          v.type = 1;
        })
        res2.data.map(v => {
          v.subject = v.taskTitle;
          v.procId = v.processInstanceId;
          v.type = 2;
          v.procDefName = v.processDefName
          delete v.bizKey;
          delete v.taskTitle;
          delete v.categoryName
          delete v.flowInstanceEntity
          delete v.processInstanceName
          delete v.processKey
          delete v.startUserId
          delete v.handerId
          delete v.opinion
          delete v.priority

        });
        this.finishedAllData = [...res1.data, ...res2.data];
        this.finishedAllData.map(v => {
          console.log('finishedAllData', v);
          var date = '';
          date = v.endTime.substring(0,19);    
          date = v.endTime.replace(/-/g,'/');
          v.endTime = new Date(date).getTime();
        })
        console.log('finishedAllData1', this.finishedAllData);
        this.finishedAllData = this.finishedAllData.sort((a, b) => {
          return a.endTime - b.endTime < 0 ? 1 : -1
        })

        this.finishedAllData.forEach(v => {
          if (v.procDefName == '房源入库审批') {
          console.log(v.type, v.procDefName, v.subject);
          }
        })
        this.finishedAllData.map(v => {
          if (v.procDefName == '房源接收审批') {
            
            if(v.type == 1) {
              let end1 = v.subject.lastIndexOf('在');
              let str1 = v.subject.slice(0, end1);
              let start1 = str1.lastIndexOf('"');
              let str2 = str1.slice(start1+1, str1.length);
              // console.log('aaaa', str2);
              v.subject = str2;
            } else {
              let start = v.subject.lastIndexOf('【');
              let end = v.subject.lastIndexOf('的');

              let str = v.subject.slice(start+1, end);
              // console.log('bbb', str);
              v.subject = str;
            }
          } else if (v.procDefName == '房源入库审批') {
            if (v.type == 1) {
              let end = v.subject.lastIndexOf('在');

              let str = v.subject.slice(0, end);
              // console.log('bbb', str);
              v.subject = str;
            } else {
              let start = v.subject.lastIndexOf('【');
              let end = v.subject.lastIndexOf('的');

              let str = v.subject.slice(start+1, end);
              // console.log('bbb', str);
              v.subject = str;
            }

          } else if (v.procDefName == '入库房源修改审批') {
            if (v.type == 1) {
              let end = v.subject.lastIndexOf('在');
              let str = v.subject.slice(0, end);
              v.subject = str;
            } else {
              

              let start = v.subject.lastIndexOf('【');
              let end = v.subject.lastIndexOf('的');

              let str = v.subject.slice(start+1, end);
              // console.log('bbb', str);
              v.subject = str;
            }
            
          } else if (v.procDefName == '小区信息修改审批') {
            if (v.type == 1) {
              let start = v.subject.lastIndexOf('"');
              let end = v.subject.lastIndexOf('在');
              let str = v.subject.slice(start+1, end);
              v.subject = str;
            } else {
              

              let start = v.subject.lastIndexOf('【');
              let end = v.subject.lastIndexOf('的');

              let str = v.subject.slice(start+1, end);
              // console.log('bbb', str);
              v.subject = str;
            }
          } else if (v.procDefName == '建册信息修改审批') {
            if (v.type == 1) {
              let start = v.subject.lastIndexOf('"');
              let end = v.subject.lastIndexOf('在');
              let str = v.subject.slice(start+1, end);
              v.subject = str;
            } else {
              

              let start = v.subject.lastIndexOf('【');
              let end = v.subject.lastIndexOf('的');

              let str = v.subject.slice(start+1, end);
              // console.log('bbb', str);
              v.subject = str;
            }
          } else {
            return v.subject;
          }
        })
        console.log('finishedAllData2', this.finishedAllData);
        this.finishedAllData.map(v => {
          console.log('endTime', typeof String(v.endTime));
          let d = new Date(v.endTime);
          var date = (d.getFullYear()) + "-" + 
           (d.getMonth() + 1) + "-" +
           (d.getDate()) + " " + 
           (d.getHours()) + ":" + 
           (d.getMinutes()) + ":" + 
           (d.getSeconds());
          v.endTime = date;
        })

        var obj = {};
        this.finishedAllData = this.finishedAllData.reduce(function(item, next) {
          obj[next.procId] ? '' : obj[next.procId] = true && item.push(next);
          return item;
        }, []);
        this.refresh = true;
        this.total = this.finishedAllData.length;
        this.finishTotal = this.finishedAllData.length;
      }
    }
  }
};
</script>
<style lang="scss" scoped>
#myMain {
  .el-row {
    margin-bottom: 20px;
  }
  .grid-content {
    background-color: #fff;
    height: 140px;
    position: relative;
    .left,
    .right {
      width: 50%;
      text-align: center;
    }
    .left {
      left: 0;
    }
    .right {
      right: 0;
    }
  }
  img {
    width: 60px;
  }
  span {
    color: #999;
  }
  p.title {
    font-family: SourceHanSansSC-regular;
    font-size: 28px !important;
    color: #6c6c6c;
    font-weight: 400;
  }
}

.circleBg {
  width: 100px !important;
  height: 100px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 69px;
}

.inputColor {
  background-color: #f46a6e;
}
.notInputColor {
  background-color: #6c97f2;
}
.numberColor {
  background-color: #f46ea3;
}
.notnumberColor {
  background-color: #67e7a7;
}
.outside {
  width: 100%;
  flex: 1;
  border-radius: 5px;
  background-color: #fff;
}
.tab {
  width: 100%;
  height: 62px;
  line-height: 62px;
  border-bottom: 3px solid rgba(219, 219, 219, 100);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  color: rgba(174, 174, 174, 100);
  font-size: 15px;
  font-family: SourceHanSansSC-regular;
  .line {
    width: 1px;
    height: 15px;
    background-color: rgba(187, 187, 187, 100);
    margin: 0 10px;
  }
  .tab_item_active {
    font-size: 15px;
    color: rgba(27, 159, 252, 100);
    .count {
      color: rgba(27, 159, 252, 100)!important;
    }
  }
}

.msg_header {
  width: 100%;
  height: 62px;
  line-height: 62px;
  padding: 0 20px;
  border-bottom: 3px solid rgba(219, 219, 219, 100);
  font-size: 15px;
  font-family: SourceHanSansSC-regular;
}

.msg_list {
  flex: 1;
  overflow-y: auto;
  .msgblock {
    width: 100%;
    /* height: 80px;
    line-height: 80px; */
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border-bottom: 1px solid rgba(219, 219, 219, 100);

    .block_top{
      width: 100%;
      height: 20px;
      span {

      }
    }
    .block_bottom{
      width: 100%;
      height: 20px;
      display: flex;
      justify-content: space-between;
    }
  }
}

::v-deep .el-col {
  display: flex;
}
::v-deep .el-row {
  display: flex;
}
</style>
