<template>
  <div class="binding" style="margin:20px;">
    <span class="title">网关基本信息</span>
    <div class="line"></div>
    <div>
      <el-form :inline="true" v-model="gatewayData" label-width="180px" class="demo-form-inline">
        <!-- <p>网关信息</p> -->
        <el-row>
          <el-col :span="24">
            <el-form-item label="网关名称：">
              <el-input v-model="gatewayData.name" disabled size="medium"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item label="序列号：">
              <el-input v-model="gatewayData.number" disabled size="medium"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item label="安装位置：">
              <el-input v-model="gatewayData.location" disabled size="medium"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item label="备注：">
              <el-input v-model="gatewayData.remark" disabled size="medium"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </div>
    <span class="title">绑定设备信息</span>
    <div class="line"></div>
    <p>绑定摄像头</p>
    <div style="display:flex;">
      <div style="flex:4;">
        <el-form :inline="true" label-width="180px" class="demo-form-inline">
          <div
            v-for="formData in formData.camera"
            style="margin-bottom:20px;"
            :key="formData.id"
          >
            <el-row>
              <el-col :span="24">
                <el-form-item label="设备名称：">
                  <el-input
                    v-model="formData.a"
                    @focus="openCameraWindow(formData.id)"
                    size="medium"
                  ></el-input>
                </el-form-item>
                <el-form-item label="设备编号：">
                  <el-input
                    v-model="formData.b"
                    disabled
                    size="medium"
                  ></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <el-form-item label="设备型号：">
                  <el-input
                    v-model="formData.c"
                    disabled
                    size="medium"
                  ></el-input>
                </el-form-item>
                <el-form-item label="端口：">
                  <el-input
                    v-model="formData.d"
                    disabled
                    size="medium"
                  ></el-input>
                </el-form-item>
              </el-col>
            </el-row>
          </div>
        </el-form>
      </div>
      <div class="add_information" style="flex:2;">
        <i @click="addCamera" class="el-icon-plus"></i>
      </div>
    </div>
    <el-divider></el-divider>
    <p>绑定红外线传感器</p>
    <div style="display:flex;">
      <div style="flex:4;">
        <el-form :inline="true" label-width="180px" class="demo-form-inline">
          <div
            v-for="formData in formData.infrared"
            style="margin-bottom:20px;"
            :key="formData.id"
          >
            <el-row>
              <el-col :span="24">
                <el-form-item label="设备名称：">
                  <el-input
                    @focus="openInfraredWindow()"
                    size="medium"
                  ></el-input>
                </el-form-item>
                <el-form-item label="设备编号：">
                  <el-input disabled size="medium"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <el-form-item label="设备型号：">
                  <el-input disabled size="medium"></el-input>
                </el-form-item>
                <el-form-item label="端口：">
                  <el-input disabled size="medium"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <!-- <el-divider></el-divider> -->
          </div>
        </el-form>
      </div>
      <div class="add_information" style="flex:2;">
        <i @click="addInfrared" class="el-icon-plus"></i>
      </div>
    </div>
    <el-divider></el-divider>
    <p>绑定温度传感器</p>
    <div style="display:flex;">
      <div style="flex:4;">
        <el-form :inline="true" label-width="180px" class="demo-form-inline">
          <div
            v-for="formData in formData.temperature"
            style="margin-bottom:20px;"
            :key="formData.id"
          >
            <el-row>
              <el-col :span="24">
                <el-form-item label="设备名称：">
                  <el-input
                    @focus="openTemperatureWindow()"
                    size="medium"
                  ></el-input>
                </el-form-item>
                <el-form-item label="设备编号：">
                  <el-input disabled size="medium"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <el-form-item label="设备型号：">
                  <el-input disabled size="medium"></el-input>
                </el-form-item>
                <el-form-item label="端口：">
                  <el-input disabled size="medium"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <!-- <el-divider></el-divider> -->
          </div>
        </el-form>
      </div>
      <div class="add_information" style="flex:2;">
        <i @click="addTemperature" class="el-icon-plus"></i>
      </div>
    </div>
    <el-divider></el-divider>
    <p>绑定刷卡器</p>
    <div style="display:flex;">
      <div style="flex:4;">
        <el-form :inline="true" label-width="180px" class="demo-form-inline">
          <div
            v-for="formData in formData.swiping_card"
            style="margin-bottom:20px;"
            :key="formData.id"
          >
            <el-row>
              <el-col :span="24">
                <el-form-item label="设备名称：">
                  <el-input
                    @focus="openSwiping_cardWindow()"
                    size="medium"
                  ></el-input>
                </el-form-item>
                <el-form-item label="设备编号：">
                  <el-input disabled size="medium"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <el-form-item label="设备型号：">
                  <el-input disabled size="medium"></el-input>
                </el-form-item>
                <el-form-item label="端口：">
                  <el-input disabled size="medium"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <!-- <el-divider></el-divider> -->
          </div>
        </el-form>
      </div>
      <div class="add_information" style="flex:2;">
        <i @click="addSwiping_card" class="el-icon-plus"></i>
      </div>
    </div>
    <el-divider></el-divider>
    <!-- 完成按钮 -->
    <el-row>
      <el-button
        type="primary"
        style="float:right; margin-right:20px;"
        @click="searchEvent"
        >完成</el-button
      >
    </el-row>
    <!-- 摄像头弹窗 -->
    <vxe-modal
      title="选择摄像头设备"
      v-model="alertCamera"
      width="1100px"
      height="780px"
    >
      <template #default>
        <!-- 搜索功能 -->
        <el-form label-width="80px" :inline="true" :model="alterCameraTable">
          <el-form-item label="设备名称">
            <el-input
              v-model="alterCameraTable.name"
              maxlength="20"
              size="medium"
            ></el-input>
          </el-form-item>
          <el-form-item label="设备编码">
            <el-input
              v-model="alterCameraTable.number"
              size="medium"
            ></el-input>
          </el-form-item>
          <el-form-item label="型号">
            <el-input v-model="alterCameraTable.model" size="medium"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary">搜索</el-button>
            <el-button>重置</el-button>
          </el-form-item>
        </el-form>
        <!-- 表单信息 -->
        <div class="vxe-table-box">
          <vxe-table
            ref="houseTable"
            :export-config="{}"
            border
            resizable
            auto-resize
            sync-resize
            height="540px"
            :loading="loading"
            :data="cameraTable"
          >
            <vxe-table-column type="radio" width="60"></vxe-table-column>
            <vxe-table-column field="a" title="序号" />
            <vxe-table-column field="b" title="网关名称" />
            <vxe-table-column field="c" show-overflow title="序列号" />
            <vxe-table-column field="d" title="校验码" />
            <vxe-table-column field="e" title="创建时间" />
            <vxe-table-column field="f" title="激活时间" />
            <vxe-table-column field="g" title="状态" />
            <vxe-table-column field="h" title="备注" />
            <template #empty>
              <span style="color: red;">
                <img :src="require('@/assets/yellowduck.gif')" />
                <p>没有更多数据了！</p>
              </span>
            </template>
          </vxe-table>
          <div>
            <el-row>
              <el-button
                style="float:right; margin:10px;"
                size="medium"
                @click="cameraAffirm"
                type="primary"
                >确定</el-button
              >
              <el-button
                style="float:right; margin:10px;"
                size="medium"
                @click="cameraCancel"
                type="danger"
                >取消</el-button
              >
            </el-row>
          </div>
        </div>
        <!-- :current-page.sync="searchFrom.current"当前页1
             :page-size.sync="searchFrom.size"  每页10个
             总条数0 -->
        <vxe-pager
          perfect
          :current-page.sync="tablePage.current"
          :page-size.sync="tablePage.size"
          :total="tablePage.total"
          :layouts="[
            'PrevJump',
            'PrevPage',
            'JumpNumber',
            'NextPage',
            'NextJump',
            'Sizes',
            'FullJump',
            'Total'
          ]"
          @page-change="handlePageChangeCamera"
        />
      </template>
    </vxe-modal>
    <!-- 红外线传感器弹窗 -->
    <vxe-modal
      title="选择红外线传感器设备"
      v-model="alertInfrared"
      width="1100px"
      height="780px">
      <template #default>
        <!-- 搜索功能 -->
        <el-form label-width="80px" :inline="true" :model="alterInfraredTable">
          <el-form-item in label="设备名称">
            <el-input
              v-model="alterInfraredTable.name"
              maxlength="20"
              size="medium"
            ></el-input>
          </el-form-item>
          <el-form-item label="设备编码">
            <el-input
              v-model="alterInfraredTable.number"
              size="medium"
            ></el-input>
          </el-form-item>
          <el-form-item label="型号">
            <el-input
              v-model="alterInfraredTable.model"
              size="medium"
            ></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary">搜索</el-button>
            <el-button>重置</el-button>
          </el-form-item>
        </el-form>
        <!-- 表单信息 -->
        <div class="vxe-table-box">
          <vxe-table
            ref="houseTable"
            :export-config="{}"
            border
            resizable
            auto-resize
            sync-resize
            height="540px"
            :loading="loading"
            :data="cameraTable"
          >
            <vxe-table-column type="radio" width="60"></vxe-table-column>
            <vxe-table-column field="a" title="序号" />
            <vxe-table-column field="b" title="网关名称" />
            <vxe-table-column field="c" show-overflow title="序列号" />
            <vxe-table-column field="d" title="校验码" />
            <vxe-table-column field="e" title="创建时间" />
            <vxe-table-column field="f" title="激活时间" />
            <vxe-table-column field="g" title="状态" />
            <vxe-table-column field="h" title="备注" />
            <template #empty>
              <span style="color: red;">
                <img :src="require('@/assets/yellowduck.gif')" />
                <p>没有更多数据了！</p>
              </span>
            </template>
          </vxe-table>
          <div>
            <el-row>
              <el-button
                style="float:right; margin:10px;"
                size="medium"
                @click="infraredAffirm"
                type="primary"
                >确定</el-button
              >
              <el-button
                style="float:right; margin:10px;"
                size="medium"
                @click="infraredCancel"
                type="danger"
                >取消</el-button
              >
            </el-row>
          </div>
        </div>
        <!-- :current-page.sync="searchFrom.current"当前页1
             :page-size.sync="searchFrom.size"  每页10个
             总条数0 -->
        <vxe-pager
          perfect
          :current-page.sync="tablePage.current"
          :page-size.sync="tablePage.size"
          :total="tablePage.total"
          :layouts="[
            'PrevJump',
            'PrevPage',
            'JumpNumber',
            'NextPage',
            'NextJump',
            'Sizes',
            'FullJump',
            'Total'
          ]"
          @page-change="handlePageChangeInfrared"
        />
      </template>
    </vxe-modal>
    <!-- 温度传感器弹窗 -->
    <vxe-modal
      title="选择温度传感器设备"
      v-model="alertTemperature"
      width="1100px"
      height="780px">
      <template #default>
        <!-- 搜索功能 -->
        <el-form
          label-width="80px"
          :inline="true"
          :model="alterTemperatureTable"
        >
          <el-form-item in label="设备名称">
            <el-input
              v-model="alterTemperatureTable.name"
              maxlength="20"
              size="medium"
            ></el-input>
          </el-form-item>
          <el-form-item label="设备编码">
            <el-input
              v-model="alterTemperatureTable.number"
              size="medium"
            ></el-input>
          </el-form-item>
          <el-form-item label="型号">
            <el-input
              v-model="alterTemperatureTable.model"
              size="medium"
            ></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary">搜索</el-button>
            <el-button>重置</el-button>
          </el-form-item>
        </el-form>
        <!-- 表单信息 -->
        <div class="vxe-table-box">
          <vxe-table
            ref="houseTable"
            :export-config="{}"
            border
            resizable
            auto-resize
            sync-resize
            height="540px"
            :loading="loading"
            :data="cameraTable"
          >
            <vxe-table-column type="radio" width="60"></vxe-table-column>
            <vxe-table-column field="a" title="序号" />
            <vxe-table-column field="b" title="网关名称" />
            <vxe-table-column field="c" show-overflow title="序列号" />
            <vxe-table-column field="d" title="校验码" />
            <vxe-table-column field="e" title="创建时间" />
            <vxe-table-column field="f" title="激活时间" />
            <vxe-table-column field="g" title="状态" />
            <vxe-table-column field="h" title="备注" />
            <template #empty>
              <span style="color: red;">
                <img :src="require('@/assets/yellowduck.gif')" />
                <p>没有更多数据了！</p>
              </span>
            </template>
          </vxe-table>
          <div>
            <el-row>
              <el-button
                style="float:right; margin:10px;"
                size="medium"
                @click="temperatureAffirm"
                type="primary"
                >确定</el-button
              >
              <el-button
                style="float:right; margin:10px;"
                size="medium"
                @click="temperatureCancel"
                type="danger"
                >取消</el-button
              >
            </el-row>
          </div>
        </div>
        <!-- :current-page.sync="searchFrom.current"当前页1
             :page-size.sync="searchFrom.size"  每页10个
             总条数0 -->
        <vxe-pager
          perfect
          :current-page.sync="tablePage.current"
          :page-size.sync="tablePage.size"
          :total="tablePage.total"
          :layouts="[
            'PrevJump',
            'PrevPage',
            'JumpNumber',
            'NextPage',
            'NextJump',
            'Sizes',
            'FullJump',
            'Total'
          ]"
          @page-change="handlePageChangeTemperature"
        />
      </template>
    </vxe-modal>
    <!-- 刷卡器弹窗 -->
    <vxe-modal
      title="绑定刷卡器弹窗设备"
      v-model="alertSwiping_card"
      width="1100px"
      height="780px">
      <template #default>
        <!-- 搜索功能 -->
        <el-form label-width="80px" :inline="true" :model="alterCardTable">
          <el-form-item in label="设备名称">
            <el-input
              v-model="alterCardTable.name"
              maxlength="20"
              size="medium"
            ></el-input>
          </el-form-item>
          <el-form-item label="设备编码">
            <el-input v-model="alterCardTable.number" size="medium"></el-input>
          </el-form-item>
          <el-form-item label="型号">
            <el-input v-model="alterCardTable.model" size="medium"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary">搜索</el-button>
            <el-button>重置</el-button>
          </el-form-item>
        </el-form>
        <!-- 表单信息 -->
        <div class="vxe-table-box">
          <vxe-table
            ref="houseTable"
            :export-config="{}"
            border
            resizable
            auto-resize
            sync-resize
            height="540px"
            :loading="loading"
            :data="cameraTable"
          >
            <vxe-table-column type="radio" width="60"></vxe-table-column>
            <vxe-table-column field="a" title="序号" />
            <vxe-table-column field="b" title="网关名称" />
            <vxe-table-column field="c" show-overflow title="序列号" />
            <vxe-table-column field="d" title="校验码" />
            <vxe-table-column field="e" title="创建时间" />
            <vxe-table-column field="f" title="激活时间" />
            <vxe-table-column field="g" title="状态" />
            <vxe-table-column field="h" title="备注" />
            <template #empty>
              <span style="color: red;">
                <img :src="require('@/assets/yellowduck.gif')" />
                <p>没有更多数据了！</p>
              </span>
            </template>
          </vxe-table>
          <div>
            <el-row>
              <el-button
                style="float:right; margin:10px;"
                size="medium"
                @click="Swiping_cardAffirm"
                type="primaryAffirm"
                >确定</el-button
              >
              <el-button
                style="float:right; margin:10px;"
                size="medium"
                @click="Swiping_cardCancel"
                type="danger"
                >取消</el-button
              >
            </el-row>
          </div>
        </div>
        <!-- :current-page.sync="searchFrom.current"当前页1
             :page-size.sync="searchFrom.size"  每页10个
             总条数0 -->
        <vxe-pager
          perfect
          :current-page.sync="tablePage.current"
          :page-size.sync="tablePage.size"
          :total="tablePage.total"
          :layouts="[
            'PrevJump',
            'PrevPage',
            'JumpNumber',
            'NextPage',
            'NextJump',
            'Sizes',
            'FullJump',
            'Total'
          ]"
          @page-change="handlePageChangeSwiping_card"
        />
      </template>
    </vxe-modal>
  </div>
</template>

<script>
import { getGatewayInfoListById } from '@/api/vacant_house/gateway.js'
export default {
  data() {
    return {
      gatewayData:{},
      //表单的数据
      formData: {
        camera: [
          {
            id: 1,
            a: "",
            b: "",
            c: "",
            d: ""
          }
        ],
        infrared: [
          {
            id: 1,
            name: "",
            number: "",
            model: "",
            port: ""
          }
        ],
        temperature: [
          {
            id: 1,
            name: "",
            number: "",
            model: "",
            port: ""
          }
        ],
        swiping_card: [
          {
            id: 1,
            name: "",
            number: "",
            model: "",
            port: ""
          }
        ]
      },
      alertCamera: false,
      alertInfrared: false,
      alertTemperature: false,
      alertSwiping_card: false,
      loading: false,
      //点击弹窗保存的id标识
      Camera_id: "",
      Infrared_id: "",
      Temperature_id: "",
      Card_id: "",
      cameraTable: [
        {
          a: "测试1",
          b: "测试2",
          c: "测试3",
          d: "测试4",
          e: "测试5",
          f: "测试6",
          g: "测试7",
          h: "测试8"
        },
        {
          a: "测试1",
          b: "测试2",
          c: "测试3",
          d: "测试4",
          e: "测试5",
          f: "测试6",
          g: "测试7",
          h: "测试8"
        },
        {
          a: "测试1",
          b: "测试2",
          c: "测试3",
          d: "测试4",
          e: "测试5",
          f: "测试6",
          g: "测试7",
          h: "测试8"
        }
      ],
      tablePage: {
        current: 1,
        size: 10,
        total: 30,
        areaId: null,
        villageName: null,
        status: null
      },
      alterCameraTable: {
        name: "",
        number: "",
        model: ""
      },
      alterInfraredTable: {
        name: "",
        number: "",
        model: ""
      },
      alterTemperatureTable: {
        name: "",
        number: "",
        model: ""
      },
      alterCardTable: {
        name: "",
        number: "",
        model: ""
      },
      rowId: this.$route.query.id
    };
    
  },
  created(){
    this.init()
  },
  methods: {
    init(){
      getGatewayInfoListById(this.rowId).then(res => {
        console.log("11", res);
        if(res.code === 0){
          this.gatewayData = res.data
        }
        
      })
    },
    //绑定摄像头
    addCamera() {
      let len = this.formData.camera.length;
      this.formData.camera.push({
        id: len + 1,
        name: "",
        number: "",
        model: "",
        port: ""
      });
    },
    //绑定红外传感器
    addInfrared() {
      let len = this.formData.infrared.length;
      this.formData.infrared.push({
        id: len + 1,
        name: "",
        number: "",
        model: "",
        port: ""
      });
    },
    //绑定温度传感器
    addTemperature() {
      let len = this.formData.temperature.length;
      this.formData.temperature.push({
        id: len + 1,
        name: "",
        number: "",
        model: "",
        port: ""
      });
    },
    //绑定刷卡器
    addSwiping_card() {
      let len = this.formData.swiping_card.length;
      this.formData.swiping_card.push({
        id: len + 1,
        name: "",
        number: "",
        model: "",
        port: ""
      });
    },
    // 确定返回上一级
    searchEvent() {
      this.$router.go(-1);
    },
    //摄像头点击弹窗
    openCameraWindow(id) {
      this.Camera_id = id - 1;
      this.alertCamera = true;
    },
    //摄像头分页功能
    handlePageChangeCamera({ currentPage, pageSize }) {
      //   this.tablePage.current = currentPage;
      //   this.tablePage.size = pageSize;
    },
    //摄像头取消功能
    cameraCancel() {
      this.alertCamera = false;
    },
    //摄像头确认功能
    cameraAffirm() {
      this.alertCamera = false;
      console.log(this.$refs.houseTable.getRadioRecord());
      if (this.$refs.houseTable.getRadioRecord() === null) return;
      this.formData.camera[
        this.Camera_id
      ] = this.$refs.houseTable.getRadioRecord();
      console.log(this.formData.camera);
    },
    //红外传感器点击弹窗
    openInfraredWindow() {
      this.alertInfrared = true;
    },
    //红外传感器分页功能
    handlePageChangeInfrared({ currentPage, pageSize }) {
      //   this.tablePage.current = currentPage;
      //   this.tablePage.size = pageSize;
    },
    //红外传感器取消功能
    infraredCancel() {
      this.alertInfrared = false;
    },
    //红外传感器确认功能
    infraredAffirm() {
      this.alertInfrared = false;
    },
    //温度传感器点击弹窗
    openTemperatureWindow() {
      this.alertTemperature = true;
    },
    //温度传感器分页功能
    handlePageChangeTemperature({ currentPage, pageSize }) {
      //   this.tablePage.current = currentPage;
      //   this.tablePage.size = pageSize;
    },
    //温度传感器取消功能
    temperatureCancel() {
      this.alertTemperature = false;
    },
    //温度传感器确认功能
    temperatureAffirm() {
      this.alertTemperature = false;
    },
    //刷卡器点击弹窗
    openSwiping_cardWindow() {
      this.alertSwiping_card = true;
    },
    //刷卡器分页功能
    handlePageChangeSwiping_card({ currentPage, pageSize }) {
      //   this.tablePage.current = currentPage;
      //   this.tablePage.size = pageSize;
    },
    //刷卡器取消功能
    Swiping_cardCancel() {
      this.alertSwiping_card = false;
    },
    //刷卡器确认功能
    Swiping_cardAffirm() {
      this.alertSwiping_card = false;
    }
  }
};
</script>

<style lang="scss" scoped>
.binding {
  background: #ffffff;
  padding: 20px;
  flex: 1;
  // overflow-y: scroll;
  .title {
    padding: 4px;
    background: #525b74;
    font-size: 16px;
    color: white;
  }
  .line {
    width: 100%;
    height: 3px;
    margin-bottom: 20px;
    background: #525b74;
  }
  .add_information {
    i {
      margin: 0;
      width: 65px;
      height: 100px;
      background: #f2f2f2;
      line-height: 100px;
      text-align: center;
      font-size: 20px;
      color: #aaaaaa;
    }
  }
}
</style>
