<template>
  <div class="binding">
    <span class="title">网关基本信息</span>
    <div class="line"></div>
    <div>
      <el-form :inline="true" v-model="gatewayData" label-width="180px" class="demo-form-inline">
        <!-- <p>网关信息</p> -->
        <el-row>
          <el-col :span="24">
            <el-form-item label="网关名称：">
              <el-input v-model="gatewayData.deviceName" disabled size="medium"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item label="序列号：">
              <el-input v-model="gatewayData.number" disabled size="medium"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item label="安装位置：">
              <el-input v-model="gatewayData.location" disabled size="medium"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item label="备注：">
              <el-input v-model="gatewayData.remark" disabled size="medium"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </div>
    <span class="title">绑定设备信息</span>
    <div class="line"></div>
    <!-- <p>绑定摄像头</p> -->
    <el-divider content-position="left">（1）绑定摄像头</el-divider>
    <!-- <el-divider content-position="left"><el-tag>绑定摄像头</el-tag></el-divider> -->
    <!-- <el-divider content-position="left"><i class="el-icon-paperclip"></i>绑定摄像头</el-divider> -->
    <div style="display:flex;">
        <el-form :inline="true" label-width="180px" class="demo-form-inline" style="flex:1;">
          <div
            v-for="(item,index) in formData.camera"
            style="margin-bottom:20px;display:flex;"
            :key="index"
            :class="{'bd': index != (formData.camera.length - 1) && formData.camera.length != 1}">
            <div style="flex:4;">
              <el-row>
                <el-col :span="24">
                  <el-form-item label="设备名称：">
                    <el-input
                      v-model="item.deviceName"
                      @focus="openCameraWindow('camera', item.id)"
                      size="medium"
                      :disabled=" item.deviceName != null && item.deviceName != '' ? true : false"
                    ></el-input>
                  </el-form-item>
                  <el-form-item label="设备编号：">
                    <el-input
                      v-model="item.coding"
                      disabled
                      size="medium"
                    ></el-input>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row>
                <el-col :span="24">
                  <el-form-item label="直播地址：">
                    <el-input
                      v-model="item.site"
                      disabled
                      size="medium"
                    ></el-input>
                  </el-form-item>
                  <el-form-item label="厂家：">
                    <el-input
                      v-model="item.factory"
                      disabled
                      size="medium"
                    ></el-input>
                  </el-form-item>
                </el-col>
              </el-row>
            </div>
            <div class="add_information" style="flex:2;">
              <i @click="addCamera('camera')" class="el-icon-plus" style="margin-right: 15px;" v-if="index == 0"></i>
              <i @click="delCamera('camera', item)" class="el-icon-delete" style="color: white;background: #F56C6C;"></i>
            </div>
          </div>
        </el-form>
    </div>
    <!-- <el-divider></el-divider>
    <p>绑定红外线传感器</p> -->
    <el-divider content-position="left">（2）绑定红外线传感器</el-divider>
    <div style="display:flex;">
        <el-form :inline="true" label-width="180px" class="demo-form-inline" style="flex: 1;">
          <div
            v-for="(item, index) in formData.infrared"
            style="margin-bottom:20px;display:flex;"
            :key="index"
            :class="{'bd': index != (formData.infrared.length - 1) && formData.infrared.length != 1}">
            <div style="flex:4;">
              <el-row>
                <el-col :span="24">
                  <el-form-item label="设备名称：">
                    <el-input
                      v-model="item.deviceName"
                      @focus="openCameraWindow('infrared',item.id)"
                      size="medium"
                      :disabled=" item.deviceName != null && item.deviceName != '' ? true : false"
                    ></el-input>
                  </el-form-item>
                  <el-form-item label="设备编号：">
                    <el-input
                      v-model="item.coding"
                      disabled
                      size="medium"
                    ></el-input>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row>
                <el-col :span="24">
                  <el-form-item label="设备型号：">
                    <el-input
                      v-model="item.model"
                      disabled
                      size="medium"
                    ></el-input>
                  </el-form-item>
                  <el-form-item label="厂家：">
                    <el-input
                      v-model="item.factory"
                      disabled
                      size="medium"
                    ></el-input>
                  </el-form-item>
                </el-col>
              </el-row>
            </div>
            <div class="add_information" style="flex:2;">
              <i @click="addCamera('infrared')" class="el-icon-plus" style="margin-right: 15px;" v-if="index == 0"></i>
              <i @click="delCamera('infrared', item)" class="el-icon-delete" style="color: white;background: #F56C6C;"></i>
            </div>
          </div>
        </el-form>
    </div>
    <!-- <el-divider></el-divider> -->
    <!-- <p>绑定烟雾传感器</p> -->
    <el-divider content-position="left">（3）绑定烟雾传感器</el-divider>
    <div style="display:flex;">
        <el-form :inline="true" label-width="180px" class="demo-form-inline" style="flex: 1;">
          <div
            v-for="(item, index) in formData.temperature"
            style="margin-bottom:20px;display:flex;"
            :key="index"
             :class="{'bd': index != (formData.temperature.length - 1) && formData.temperature.length != 1}">
            <div style="flex:4;">
              <el-row>
                <el-col :span="24">
                  <el-form-item label="设备名称：">
                    <el-input
                      v-model="item.deviceName"
                      @focus="openCameraWindow('temperature', item.id)"
                      size="medium"
                      :disabled=" item.deviceName != null && item.deviceName != '' ? true : false"
                    ></el-input>
                  </el-form-item>
                  <el-form-item label="设备编号：">
                    <el-input
                      v-model="item.coding"
                      disabled
                      size="medium"
                    ></el-input>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row>
                <el-col :span="24">
                  <el-form-item label="设备型号：">
                    <el-input
                      v-model="item.model"
                      disabled
                      size="medium"
                    ></el-input>
                  </el-form-item>
                  <el-form-item label="厂家：">
                    <el-input
                      v-model="item.factory"
                      disabled
                      size="medium"
                    ></el-input>
                  </el-form-item>
                </el-col>
              </el-row>
            </div>
            <div class="add_information" style="flex:2;">
              <i @click="addCamera('temperature')" class="el-icon-plus" style="margin-right: 15px;" v-if="index == 0"></i>
              <i @click="delCamera('temperature', item)" class="el-icon-delete" style="color: white;background: #F56C6C;"></i>
            </div>
          </div>
        </el-form>
    </div>
    <!-- <el-divider></el-divider>
    <p>绑定刷卡器</p> -->
    <el-divider content-position="left">（4）绑定刷卡器</el-divider>
    <div style="display:flex;">
        <el-form :inline="true" label-width="180px" class="demo-form-inline" style="flex: 1;">
          <div
            v-for="(item, index) in formData.swiping_card"
            style="margin-bottom:20px;display:flex;"
            :key="index"
            :class="{'bd': index != (formData.swiping_card.length - 1) && formData.swiping_card.length != 1 }">
            <div style="flex:4;">
              <el-row>
                <el-col :span="24">
                  <el-form-item label="设备名称：">
                    <el-input
                      v-model="item.deviceName"
                      @focus="openCameraWindow('swiping_card', item.id)"
                      size="medium"
                      :disabled=" item.deviceName != null && item.deviceName != '' ? true : false"
                    ></el-input>
                  </el-form-item>
                  <el-form-item label="设备编号：">
                    <el-input
                      v-model="item.coding"
                      disabled
                      size="medium"
                    ></el-input>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row>
                <el-col :span="24">
                  <el-form-item label="设备型号：">
                    <el-input
                      v-model="item.model"
                      disabled
                      size="medium"
                    ></el-input>
                  </el-form-item>
                  <el-form-item label="厂家：">
                    <el-input
                      v-model="item.factory"
                      disabled
                      size="medium"
                    ></el-input>
                  </el-form-item>
                </el-col>
              </el-row>
            </div>
            <div class="add_information" style="flex:2;">
              <i @click="addCamera('swiping_card')" class="el-icon-plus" style="margin-right: 15px;" v-if="index == 0"></i>
              <i @click="delCamera('swiping_card', item)" class="el-icon-delete" style="color: white;background: #F56C6C;"></i>
            </div>
          </div>
        </el-form>
    </div>
    <!-- <el-divider></el-divider> -->
    <!-- 完成按钮 -->
    <el-row>
      <el-button
        type="primary"
        style="float:right; margin-right:20px;"
        @click="submitEvent"
        >确定</el-button>
    </el-row>
    <!-- 弹窗 -->
    <vxe-modal
      title="选择绑定的设备"
      v-model="alertCamera"
      width="1100px"
      height="780px">
      <template #default>
        <!-- 搜索功能 -->
        <el-form label-width="80px" :model="tablePage" :inline="true" ref="eqSearch">
          <el-form-item label="设备名称" prop="deviceName">
            <el-input
              v-model="tablePage.deviceName"
              maxlength="20"
              size="medium"
            ></el-input>
          </el-form-item>
          <el-form-item label="设备编号" prop="coding">
            <el-input
              v-model="tablePage.coding"
              size="medium"
            ></el-input>
          </el-form-item>
          <el-form-item label="型号" prop="model">
            <el-input v-model="tablePage.model" size="medium"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="searchEvent()">搜索</el-button>
            <el-button @click="cancelEvent('eqSearch')">重置</el-button>
          </el-form-item>
        </el-form>
        <!-- 表单信息 -->
        <div class="vxe-table-box">
          <vxe-table
              ref="xTable"
              :export-config="{}"
              border
              resizable
              auto-resize
              sync-resize
              height="540px"
              :loading="loading"
              :data="cameraTable"
              row-id="id"
              :radio-config="{highlight: true}"
              @radio-change="radioChangeEvent"
              :seq-config="{startIndex: (tablePage.page - 1) * tablePage.limit}">
              <vxe-table-column type="radio" width="60">
                <template #header>
                  <vxe-button type="text" @click="clearRadioRowEevnt" :disabled="!selectRow">取消</vxe-button>
                </template>
              </vxe-table-column>
              <vxe-table-column type="seq" title="序号" width="60"></vxe-table-column>
              <vxe-table-column field="deviceName" title="设备名称" />
              <vxe-table-column field="factory" show-overflow title="厂家" />
              <vxe-table-column field="model" title="型号" />
              <vxe-table-column field="coding" title="设备编号" />
              <vxe-table-column field="remark" title="备注" />
              <template #empty>
                <span style="color: red;">
                  <img :src="require('@/assets/yellowduck.gif')" />
                  <p>没有更多数据了！</p>
                </span>
              </template>
            </vxe-table>
          <!-- :current-page.sync="searchFrom.current"当前页1
             :page-size.sync="searchFrom.size"  每页10个
             总条数0 -->
          <vxe-pager
            perfect
            :current-page.sync="tablePage.page"
            :page-size.sync="tablePage.limit"
            :total="tablePage.total"
            :layouts="[
              'PrevJump',
              'PrevPage',
              'JumpNumber',
              'NextPage',
              'NextJump',
              'FullJump',
              'Total'
            ]"
            @page-change="handlePageChangeCamera"
          />
          <div>
            <el-row>
              <el-button
                style="float:right; margin:10px;"
                size="medium"
                @click="cameraAffirm"
                type="primary"
                >确定</el-button>
              <el-button
                style="float:right; margin:10px;"
                size="medium"
                @click="cameraCancel"
                type="danger"
                >取消</el-button>
            </el-row>
          </div>
        </div>
      </template>
    </vxe-modal>
  </div>
</template>

<script>

import { getGatewayInfoListById, getEQInfoByNoUse,binGatewayByEQ, delBinGatewayByEQ } from '@/api/vacant_house/gateway.js'
export default {
  data() {
    return {
      gatewayData:{},
      //表单的数据
      formData: { 
        camera: [],
        infrared: [],
        temperature: [],
        swiping_card: []
      },
      alertCamera: false,
      loading: false,
      cameraTable: [],
      tablePage: {
        page: 1,
        limit: 10,
        total: 0,
        nodeType: 2, // 2 摄像头， 3 刷卡器， 4 烟感， 5 红外
        parentId: 0,
        deviceName: null,
        coding: null,
        model: null
      },
      rowId: this.$route.query.id,
      rowEquipId: this.$route.query.equipId,
      // 单选
      selectRow: null,
      rowLabel: 'camera',
      currentId: null,
    };
    
  },
  created(){
    this.init()
  },
  watch:{
    alertCamera(val, oldVal){
      if(!val){
        this.$refs['eqSearch'].resetFields();
      }
    }
  },
  mounted(){
    
  },
  methods: {
    async init(){
      // 查网关与其绑定的设备
      await getGatewayInfoListById(this.rowId, this.rowEquipId).then(res => {
        console.log("11", res);
        res.sysGateway!= null ? this.gatewayData = res.sysGateway : this.gatewayData =[]
        res.SXT != null ? this.formData.camera = res.SXT : this.formData.camera = []
        res.HW != null ? this.formData.infrared = res.HW : this.formData.infrared = []
        res.YG != null ? this.formData.temperature = res.YG : this.formData.temperature = []
        res.SKQ != null ? this.formData.swiping_card = res.SKQ : this.formData.swiping_card = []
        this.infoLen(this.formData.camera)
        this.infoLen(this.formData.infrared)
        this.infoLen(this.formData.temperature)
        this.infoLen(this.formData.swiping_card)
      })
    },
    // 判断是不是一条设备信息都没有
    infoLen(list){
      if(list.length == 0){
        list.push({
          id: 0,
          deviceName: "",
          coding: "",
          model: "",
          factory: "",
        });
      }
    },
    //绑定摄像头
    addCamera(label) {
      let len = this.formData[label].length;
      let lastId = this.formData[label][len - 1].id
      this.formData[label].push({
        id: lastId + 1,
        deviceName: "",
        coding: "",
        model: "",
        factory: "",
      });
    },
    delCamera(label, item) {
      this.$confirm('是否解绑该设备？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        var index = this.formData[label].indexOf(item)
        if (index !== -1) {
          this.formData[label].splice(index, 1)
        }
        // 删除
        item.parentId = 0
        delete item.time
        console.log("item", item);
        delBinGatewayByEQ(item).then(res => {
          if(res.code === 0){
            this.$message({
              message: '解绑成功！',
              type: 'success'
            });
            this.init()
          }
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消解绑!'
        });          
      });
    },
    // 确定
    submitEvent() {
      this.$router.go(-1);
    },
    // 设备搜索
    searchEvent(){
      this.getEQInfo()
    },
    cancelEvent(formName){
      this.$refs[formName].resetFields();
      this.getEQInfo()
    },
    //摄像头点击弹窗
    async openCameraWindow(label, id) {
      console.log("current id", id);
      this.currentId = id
      switch(label){
        case 'camera':
          this.tablePage.nodeType = 2;
          this.rowLabel = 'camera'
          break;
        case 'infrared':
          this.tablePage.nodeType = 5;
          this.rowLabel = 'infrared'
          break;
        case 'temperature':
          this.tablePage.nodeType = 4;
          this.rowLabel = 'temperature'
          break;
        case 'swiping_card':
          this.tablePage.nodeType = 3;
          this.rowLabel = 'swiping_card'
          break;
      }
      this.alertCamera = true;
      await this.getEQInfo()
    },
    getEQInfo(){
      this.loading = true
      // 查可以绑定的设备
      getEQInfoByNoUse(this.tablePage).then(res => {
        console.log("22", res);
        if(res.code === 200){
          this.cameraTable = res.data
          this.tablePage.total = res.count
          this.loading = false
        }
      })
    },
    //摄像头分页功能
    handlePageChangeCamera({ currentPage, pageSize }) {
      this.tablePage.page = currentPage
      this.getEQInfo()
    },
    //摄像头取消功能
    cameraCancel() {
      this.$refs.xTable.clearRadioRow()
      this.alertCamera = false;
    },
    //摄像头确认功能
    cameraAffirm() {
      // this.formData[this.rowLabel].forEach(ele => {
      //   if(ele.id == this.currentId){
      //     ele.id = this.selectRow.id
      //     ele.name = this.selectRow.name
      //     ele.coding = this.selectRow.coding
      //     ele.model = this.selectRow.model
      //     ele.factory = this.selectRow.factory
      //   }
      // })
      // 设备绑定当前网关
      // console.log("this.gatewayData", this.gatewayData);
      this.selectRow.parentId = this.gatewayData.equipId
      delete this.selectRow.time
      binGatewayByEQ(this.selectRow).then(res => {
        if(res.code === 0){
          this.$refs.xTable.clearRadioRow()
          this.alertCamera = false;
          this.$message({
            message: '绑定成功！',
            type: 'success'
          });
          this.init()
        }
      })
    },
    // 单选
    radioChangeEvent({ row }){
      this.selectRow = row
    },
    clearRadioRowEevnt () {
      this.$refs.xTable.clearRadioRow()
    },
  }
};
</script>

<style lang="scss" scoped>
.bd{
  border-bottom: 1px #ddd dashed;
}
.el-divider__text.is-left{
  font-weight: 900;
  color: cornflowerblue;
}
.binding {
  background: #ffffff;
  padding: 20px;
  flex: 1;
  // overflow-y: scroll;
  .title {
    padding: 4px;
    background: #525b74;
    font-size: 16px;
    color: white;
  }
  .line {
    width: 100%;
    height: 3px;
    margin-bottom: 20px;
    background: #525b74;
  }
  .add_information {
    i {
      margin: 0;
      width: 40px;
      height: 29px;
      background: #67C23A;
      line-height: 100px;
      text-align: center;
      font-size: 14px;
      color: white;
      line-height: 30px;
      border-radius: 3px;
    }
  }
}
</style>
