<!-- 房屋管理 -->
<template>
  <div class="gateway">
    <el-form
      ref="tablePage"
      :inline="true"
      :model="tablePage"
      class="form-inline">
      <!-- <el-form-item label="网关名称:" prop="name">
        <el-input v-model="tablePage.name" placeholder="网关名称" />
      </el-form-item> -->
      <el-form-item label="SIM 卡号:" prop="sim">
        <el-input v-model="tablePage.sim" placeholder="网关 SIM 卡号" />
      </el-form-item>
      <el-form-item label="网关机身号:" prop="number">
        <el-input v-model="tablePage.number" placeholder="网关机身号" />
      </el-form-item>
      <!-- <el-form-item label="校验码:" prop="status">
        <el-input v-model="tablePage.status" placeholder="校验码" />
      </el-form-item> -->
      <el-form-item>
        <el-button type="primary" @click="screening">查询</el-button>
      </el-form-item>
      <el-form-item>
        <el-button type="default" @click="reset('tablePage')">重置</el-button>
      </el-form-item>
    </el-form>
    <div class="app-nav" style="margin:0px;width: auto;height: auto;flex: 1;">
      <div class="son-nav">
        <div class="tenAccountList-top">
          <span>状态:</span>
          <vxe-radio-group v-model="tablePage.status">
            <vxe-radio-button :label="null" :value="null" content="全部"></vxe-radio-button>
            <vxe-radio-button :label="0" :value="0" content="在线"></vxe-radio-button>
            <vxe-radio-button :label="1" :value="1" content="离线"></vxe-radio-button>
          </vxe-radio-group>
          
          <vxe-button status="success" @click="addGateway" class="on_button"
            ><i class="vxe-icon--plus"></i>添加网关</vxe-button
          >
          <!-- <vxe-button @click="importDataEvent" class="on_button"
            ><i class="vxe-icon--download"></i>导入</vxe-button
          > -->
          <vxe-button @click="exportDataEvent" class="on_button"
            ><i class="vxe-icon--download"></i>导出</vxe-button
          >
        </div>
        <div class="vxe-table-box">
          <vxe-table
            ref="xTable"
            :export-config="{}"
            border
            resizable
            auto-resize
            sync-resize
            height="auto"
            :loading="loading"
            :data="tableData"
            row-id="id"
            :seq-config="{startIndex: (tablePage.page - 1) * tablePage.limit}">
            <vxe-table-column type="checkbox" width="60"></vxe-table-column>
            <vxe-table-column type="seq" title="序号" width="60"></vxe-table-column>
            <vxe-table-column field="deviceName" title="网关名称" />
            <!-- <vxe-table-column field="location" show-overflow title="安装位置" /> -->
            <vxe-table-column field="factory" title="厂家" />
            <vxe-table-column field="sim" title="SIM卡号" />
            <vxe-table-column field="number" title="网关机身号" />
            <vxe-table-column field="time" title="创建时间" />
            <!-- <vxe-table-column field="coding" title="序列号" /> -->
            <!-- <vxe-table-column field="model" title="型号" /> -->
            <vxe-table-column field="status" title="状态">
              <template #default="{ row }">
                <span
                  :style="row.status == 0 ? 'color:green;' : 'color:red;'"
                  >{{ statusList[row.status] }}</span
                >
              </template>
            </vxe-table-column>
            <vxe-table-column field="remark" title="备注" />
            <vxe-table-column title="操作" show-overflow>
              <template #default="{ row }">
                <vxe-button
                style="color:green;"
                  type="text"
                  title="绑定设备"
                  icon="el-icon-connection"
                  @click="openDialogEventThree(row)"
                />
                <vxe-button
                style="color:blue;"
                  type="text"
                  title="修改网关"
                  icon="el-icon-edit"
                  @click="openDialogEvent(row)"
                />
                <vxe-button
                style="color:red;"
                  type="text"
                  title="删除"
                  icon="el-icon-delete"
                  @click="del(row)"
                />
              </template>
            </vxe-table-column>
            <template #empty>
              <span style="color: red;">
                <img :src="require('@/assets/yellowduck.gif')" />
                <p>没有更多数据了！</p>
              </span>
            </template>
          </vxe-table>
        </div>
        <vxe-pager
          perfect
          :current-page.sync="tablePage.page"
          :page-size.sync="tablePage.limit"
          :total="tablePage.total"
          :layouts="[
            'PrevJump',
            'PrevPage',
            'JumpNumber',
            'NextPage',
            'NextJump',
            'FullJump',
            'Total'
          ]"
          @page-change="handlePageChange"
        />
      </div>
      <!-- 网关弹窗 -->
      <vxe-modal v-model="gatewayVal" :title="dialogTitle ? '添加网关' : '修改网关'" width="35%" @close="resetEvent('form')">
        <template #default>
          <el-form ref="form" :rules="formRules" :model="form" label-width="170px" :inline="true">
            <el-row>
              <el-col :span="24">
                <el-form-item label="网关名称：" prop="deviceName"> 
                  <el-input v-model="form.deviceName" placeholder="请输入网关名称"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <el-form-item label="网关机身号：" prop="number">
                  <el-input v-model="form.number" placeholder="请输入网关机身号"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <el-form-item label="厂家：" prop="factoryId">
                  <el-select v-model="form.factoryId" placeholder="请选择">
                    <el-option
                      v-for="item in GatewayFactoryList"
                      :key="item.id"
                      :label="item.factory"
                      :value="item.id">
                    </el-option>
                  </el-select>
                  <!-- <el-input v-model="form.factoryId" placeholder="请输入厂家"></el-input> -->
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <el-form-item label="SIM卡号：" prop="sim">
                  <el-input v-model="form.sim" placeholder="请输入SIM卡号"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <!-- <el-row>
              <el-col :span="24">
                <el-form-item label="安装位置：" prop="location">
                  <el-input v-model="form.location" placeholder="请输入安装位置"></el-input>
                </el-form-item>
              </el-col>
            </el-row> -->
            <el-form-item label="备注：">
              <el-input v-model="form.remark" type="textarea" :rows="5" placeholder="请输入备注">
              </el-input>
            </el-form-item>
          </el-form>
          <el-divider></el-divider>
          <div class="alert_button">
            <el-row>
              <el-button size="medium" @click="submitForm('form')" type="primary"
                >确定</el-button
              >
              <el-button size="medium" @click="resetEvent('form')" type="danger"
                >取消</el-button
              >
            </el-row>
          </div>
        </template>
      </vxe-modal>
    </div>
  </div>
</template>

<script>
// 这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
// 例如：import 《组件名称》 from '《组件路径》';
import pub from '@/views/vacant_house/dashboard/bus.js'
import { getGatewayInfoList,getGatewayFactory, addGatewayInfo, delGatewayInfoById, editGatewayInfoById } from '@/api/vacant_house/gateway.js'
export default {
  // import引入的组件需要注入到对象中才能使用
  components: {},
  data() {
    // 这里存放数据
    return {
      cityVal: "440100",
      tablePage: {
        page: 1,
        limit: 10,
        total: 0,
        sim: null,
        number: null,
        nodeType:1,
        status: null,
      },
      loading: false,
      tableData: [],
      statusList: {
        0: "在线",
        1: "离线"
      },
      // 添加网关
      dialogTitle:false,
      gatewayVal: false,
      form: {
        deviceName: null,
        number: null,
        location: null,
        remark: null,
        factoryId: null,
        sim: null,
        status: 0
      },
      formRules: {
        deviceName: [
          {
            required: true,
            message: "请输入网关名称",
            trigger: "blur"
          }
        ],
        number: [
          {
            required: true,
            message: "请输入序列号",
            trigger: "blur"
          }
        ],
        // location: [
        //   {
        //     required: true,
        //     message: "请输入安装位置",
        //     trigger: "blur"
        //   }
        // ],
        factoryId: [
          {
            required: true,
            message: "请输入厂家",
            trigger: "blur"
          }
        ],
        sim: [
          {
            required: true,
            message: "请输入SIM卡号",
            trigger: "blur"
          }
        ],
      },
      GatewayFactoryList: []
    };
  },
  // 监听属性 类似于data概念
  computed: {},
  // 监控data中的数据变化
  watch: {
    'tablePage.status'(val, oldVal){
      val == null ? this.tablePage.status = null : this.tablePage.status = val
      this.init()
    }
  },
  // 生命周期 - 创建完成（可以访问当前this实例）
  created() {
    this.init();
  },
  // 生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    // 实时告警信息
    pub.$on('WG', (data) => { 
        this.tableData.forEach((ele,index) => {
            if(ele.id === data.data.id){
                this.tableData.splice(index, 1, data.data);
            }
        })
    })
  },
  beforeCreate() {}, // 生命周期 - 创建之前
  beforeMount() {}, // 生命周期 - 挂载之前
  beforeUpdate() {}, // 生命周期 - 更新之前
  updated() {}, // 生命周期 - 更新之后
  beforeDestroy() {}, // 生命周期 - 销毁之前
  destroyed() {}, // 生命周期 - 销毁完成
  activated() {},
  // 方法集合
  methods: {
    async init() {
      this.loading = true
      // 获取网关厂家 // nodeId 1 网关
      await getGatewayFactory(1).then(res => {
        if(res.code === 0){
          this.GatewayFactoryList = res.data.records
        }
      })
      // 获取网关信息
      await getGatewayInfoList(this.tablePage).then((res) => {
        console.log("init ", res);
        if(res.code === 200){
          this.loading = false
          this.tableData = res.data
          this.tablePage.total = res.count
        }
      })
      
    },
    handlePageChange({ currentPage, pageSize }) {
      this.tablePage.page = currentPage;
      this.tablePage.limit = pageSize;
      this.init()
    },
    screening() {
      this.tablePage.page = 1;
      this.init()
    },
    addGateway(){
      this.gatewayVal = true
      this.dialogTitle = true
      this.$nextTick(() => {
        this.form = {
          deviceName:null,
          serial:null,
          nodeType: this.tablePage.nodeType,
          model:null,
          remark:null,
          factory: null,
          safety: null,
          site:null,
        }
        this.$refs['form'].resetFields();
      })
    },
    reset(formName) {
      this.$refs[formName].resetFields();
      this.init()
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if(this.dialogTitle){
            this.form.nodeType = this.tablePage.nodeType
            addGatewayInfo(this.form).then(res => {
              if(res.code == 0){
                this.$message({
                  type: "success",
                  message: "添加成功!"
                });
                this.init();
                this.gatewayVal = false
                this.$refs[formName].resetFields();
              }
            })
          }else{
            delete this.form.time
            editGatewayInfoById(this.form).then(res => {
              if(res.code == 0){
                this.$message({
                  type: "success",
                  message: "修改成功!"
                });
                this.init();
                this.gatewayVal = false
                this.$refs[formName].resetFields();
              }
            })
          }
        } else {
          return false;
        }
      });
    },
    resetEvent(formName) {
      this.$refs[formName].resetFields();
      this.gatewayVal = false
    },
    openDialogEventThree(row) {
      this.$router.push({
        path: "/vacant_house/eq/binding_gateway",
        query: { id: row.id , equipId: row.equipId}
      });
    },
    // 修改网关
    openDialogEvent(val) {
      this.gatewayVal = true
      this.dialogTitle = false
      console.log("this.form", val);
      this.form = JSON.parse(JSON.stringify(val))
    },
    del(row) {
      this.$confirm("此操作将永久删除数据, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          delGatewayInfoById(row.equipId).then(res => {
            console.log("del", res);
            this.init();
            this.$message({
              type: "success",
              message: "删除成功!"
            });
          })
            
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    exportDataEvent () {
        this.$refs.xTable.openExport({
            // 默认勾选源
            original: true
        })
    },
    importDataEvent(){}
  } // 如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
//@import url(); 引入公共css类
.gateway {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.app-nav {
  //   display: block;
  background-color: white;
  .dialog-form-button {
    text-align: center;
    margin-bottom: 20px;
  }
  .tenAccountList-top {
    margin-bottom: 20px;
    span {
      margin-right: 15px;
    }
    .on_button {
      float: right;
      margin-left: 15px;
    }
  }
  ::v-deep.dialogThree {
    .vxe-modal--content {
      display: flex;
      flex-direction: column;
    }
  }
  #poi {
    width: 100%;
    height: 100%;
  }
  #panel {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    overflow: auto;
    width: 300px;
    z-index: 999;
    border-left: 1px solid #eaeaea;
    background: #fff;
  }

  #searchBar {
    height: 30px;
    background: #ccc;
  }

  #searchInput {
    width: 100%;
    height: 30px;
    line-height: 30%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 0 5px;
  }

  #searchResults {
    overflow: auto;
    height: calc(100% - 30px);
  }

  .amap_lib_placeSearch,
  .amap-ui-poi-picker-sugg-container {
    border: none !important;
  }

  .amap_lib_placeSearch .poibox.highlight {
    background-color: #cae1ff;
  }

  .poi-more {
    display: none !important;
  }
}
//jie
.alert_button {
  .el-button {
    float: right;
    margin-left: 20px;
  }
}
</style>
