<!-- 房屋管理 -->
<template>
  <div class="gateway">
    <el-form
      ref="tablePage"
      :inline="true"
      :model="tablePage"
      class="form-inline"
    >
      <el-form-item label="网关名称:" prop="areaId">
        <!-- <el-select v-model="tablePage.areaId" placeholder="设备名称">
            <el-option
              v-for="item in areaList"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            />
          </el-select> -->
        <el-input v-model="tablePage.areaId" placeholder="网关名称" />
      </el-form-item>
      <el-form-item label="序列号:" prop="villageName">
        <el-input v-model="tablePage.villageName" placeholder="网关序号" />
      </el-form-item>
      <el-form-item label="校验码:" prop="status">
        <!-- <el-select v-model="tablePage.status" placeholder="设备名称">
            <el-option label="未绑定" value="0" />
            <el-option label="已绑定" value="1" />
          </el-select> -->
        <el-input v-model="tablePage.status" placeholder="校验码" />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="screening">查询</el-button>
      </el-form-item>
      <el-form-item>
        <el-button type="default" @click="reset('tablePage')">重置</el-button>
      </el-form-item>
      <!-- <el-form-item>
          <el-button type="default" @click="daochu">导出</el-button>
        </el-form-item>
        <el-form-item>
          <el-button type="default" @click="openDialogEvent()">添加</el-button>
        </el-form-item> -->
    </el-form>
    <div class="app-nav" style="margin:0px;width: auto;height: auto;flex: 1;">
      <div class="son-nav">
        <div class="tenAccountList-top">
          <span>状态:</span>
          <vxe-radio-group v-model="radio_value">
            <vxe-radio-button label="1" content="全部"></vxe-radio-button>
            <vxe-radio-button label="2" content="已启用"></vxe-radio-button>
            <vxe-radio-button label="3" content="未启用"></vxe-radio-button>
            <vxe-radio-button label="4" content="已完善"></vxe-radio-button>
            <vxe-radio-button label="5" content="待完善"></vxe-radio-button>
          </vxe-radio-group>
          <vxe-button status="primary" @click="addGateway" class="on_button"
            ><i class="vxe-icon--download"></i>添加网关</vxe-button
          >
          <vxe-button @click="daoru" class="on_button"
            ><i class="vxe-icon--download"></i>导入</vxe-button
          >
          <vxe-button @click="daochu" class="on_button"
            ><i class="vxe-icon--download"></i>导出</vxe-button
          >
        </div>
        <div class="vxe-table-box">
          <vxe-table
            ref="houseTable"
            :export-config="{}"
            border
            resizable
            auto-resize
            sync-resize
            height="auto"
            :loading="loading"
            :data="tableData"
          >
            <vxe-table-column type="checkbox" width="60"></vxe-table-column>
            <vxe-table-column field="areaName" title="序号" />
            <vxe-table-column field="villageName" title="网关名称" />
            <vxe-table-column field="location" show-overflow title="序列号" />
            <vxe-table-column field="buildNo" title="校验码" />
            <vxe-table-column field="roomNo" title="创建时间" />
            <vxe-table-column field="shareArea" title="激活时间" />
            <vxe-table-column field="inArea" title="状态" />
            <vxe-table-column field="behoof" title="备注" />
            <vxe-table-column title="操作" show-overflow>
              <template #default="{ row }">
                <vxe-button
                  type="text"
                  title="绑定网关"
                  icon="el-icon-connection"
                  @click="openDialogEventThree(row.id)"
                />
                <vxe-button
                  type="text"
                  title="修改网关"
                  icon="el-icon-edit"
                  @click="openDialogEvent(row)"
                />
                <vxe-button
                  type="text"
                  title="删除"
                  icon="el-icon-delete"
                  @click="del(row)"
                />
              </template>
            </vxe-table-column>
            <template #empty>
              <span style="color: red;">
                <img :src="require('@/assets/yellowduck.gif')" />
                <p>没有更多数据了！</p>
              </span>
            </template>
          </vxe-table>
        </div>
        <vxe-pager
          perfect
          :current-page.sync="tablePage.current"
          :page-size.sync="tablePage.size"
          :total="tablePage.total"
          :layouts="[
            'PrevJump',
            'PrevPage',
            'JumpNumber',
            'NextPage',
            'NextJump',
            'Sizes',
            'FullJump',
            'Total'
          ]"
          @page-change="handlePageChange"
        />
      </div>
      <!-- //添加网关弹窗 -->
      <vxe-modal v-model="gatewayVal" title="添加网关" width="35%">
        <template #default>
          <el-form ref="form" :model="form" label-width="100px" :inline="true">
            <el-row>
              <el-col :span="24">
                <el-form-item label="网关名称：">
                  <el-input></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <el-form-item label="序列号：">
                  <el-input></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <el-form-item label="校验码：">
                  <el-input></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-form-item label="备注：">
              <el-input type="textarea" :rows="5" placeholder="多行输入">
              </el-input>
            </el-form-item>
          </el-form>
          <el-divider></el-divider>
          <div class="alert_button">
            <el-row>
              <el-button size="medium" @click="searchEvent" type="primary"
                >确定</el-button
              >
              <el-button size="medium" @click="resetEvent" type="danger"
                >取消</el-button
              >
            </el-row>
          </div>
        </template>
      </vxe-modal>
      <!-- //修改网关弹窗 -->
      <vxe-modal v-model="dialog" title="修改网关" width="35%">
        <template #default>
          <el-form ref="form" :model="form" label-width="100px" :inline="true">
            <el-row>
              <el-col :span="24">
                <el-form-item label="网关名称：">
                  <el-input></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <el-form-item label="序列号：">
                  <el-input></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <el-form-item label="校验码：">
                  <el-input></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-form-item label="备注：">
              <el-input type="textarea" :rows="5" placeholder="多行输入">
              </el-input>
            </el-form-item>
          </el-form>
          <el-divider></el-divider>
          <div class="alert_button">
            <el-row>
              <el-button size="medium" @click="searchEvent" type="primary"
                >确定</el-button
              >
              <el-button size="medium" @click="resetEvent" type="danger"
                >取消</el-button
              >
            </el-row>
          </div>
        </template>
      </vxe-modal>
      <!-- <vxe-modal v-model="dialog2" title="新增小区" :z-index="90" width="400">
        <template #default>
          <el-form
            ref="form2"
            :rules="rules2"
            :model="form2"
            label-width="80px"
          >
            <el-form-item label="区属" prop="areaId">
              <el-select v-model="form2.areaId" placeholder="请选择区属">
                <el-option
                  v-for="item in areaList"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
              <el-button icon="el-icon-plus" @click="openDialogEventFour" />
            </el-form-item>
            <el-form-item label="小区名称" prop="name">
              <el-input v-model="form2.name" placeholder="请输入小区名称" />
            </el-form-item>
            <el-form-item label="小区坐标" prop="center">
              <el-input v-model="form2.center" placeholder="请输入小区坐标" />
            </el-form-item>
            <el-form-item label="位置" prop="location">
              <el-input v-model="form2.location" placeholder="请输入位置" />
            </el-form-item>
            <div class="dialog-form-button">
              <el-button type="default" @click="reset2('form2')"
                >取消</el-button
              >
              <el-button type="primary" @click="submitForm2('form2')"
                >新增</el-button
              >
            </div>
          </el-form>
        </template>
      </vxe-modal>
      <vxe-modal
        v-model="dialog3"
        class-name="dialogThree"
        title="关联网关"
        :z-index="91"
        width="1000"
        height="500"
      >
        <template #default>
          <el-form
            ref="searchFrom"
            :inline="true"
            :model="searchFrom"
            class="form-inline"
          >
            <el-form-item label="" prop="number">
              <el-input v-model="searchFrom.villageId" placeholder="设备序号" />
            </el-form-item>
            <el-form-item label="" prop="name">
              <el-input v-model="searchFrom.name" placeholder="设备名称" />
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="screening2">查询</el-button>
            </el-form-item>
            <el-form-item>
              <el-button type="default" @click="reset2('searchFrom')"
                >重置</el-button
              >
            </el-form-item>
          </el-form>
          <div class="vxe-table-box">
            <vxe-table
              ref="eqTable"
              border
              resizable
              :loading="loading"
              auto-resize
              sync-resize
              height="auto"
              :data="tableDataThree"
            >
              <vxe-table-column field="id" title="编号" />
              <vxe-table-column field="name" title="设备名称" />
              <vxe-table-column field="type" title="设备类型" />
              <vxe-table-column
                field="location"
                title="安装位置"
                show-overflow
              />
              <vxe-table-column field="number" title="设备序号" />
              <vxe-table-column field="status" title="状态">
                <template #default="{ row }">
                  <span
                    :style="row.status == 0 ? 'color:green;' : 'color:red;'"
                    >{{ statusList[row.status] }}</span
                  >
                </template>
              </vxe-table-column>
              <vxe-table-column title="操作" show-overflow>
                <template #default="{ row }">
                  <vxe-button
                    title="绑定"
                    icon="vxe-icon--zoomout"
                    @click="merge(row.id)"
                  />
                </template>
              </vxe-table-column>
            </vxe-table>
          </div>
          <vxe-pager
            perfect
            :current-page.sync="searchFrom.current"
            :page-size.sync="searchFrom.size"
            :total="searchFrom.total"
            :layouts="[
              'PrevJump',
              'PrevPage',
              'JumpNumber',
              'NextPage',
              'NextJump',
              'Sizes',
              'FullJump',
              'Total'
            ]"
            @page-change="handlePageChange"
          />
        </template>
      </vxe-modal>
      <vxe-modal
        v-model="dialog4"
        title="选择小区坐标"
        :z-index="92"
        width="1200"
        height="600"
        @show="show"
      >
        <template #default>
          <div id="poi">
            <div id="panel" class="scrollbar1">
              <div id="searchBar">
                <input id="searchInput" placeholder="输入关键字搜素POI" />
              </div>
              <div id="searchResults" />
            </div>
          </div>
        </template>
      </vxe-modal> -->
    </div>
  </div>
</template>

<script>
// 这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
// 例如：import 《组件名称》 from '《组件路径》';
import {
  getListSysArea,
  getListOnlyWG,
  updateByHouseId,
  editEQ
} from "@/api/vacant_house/eq.js";
import {
  getList,
  addHouse,
  editHouse,
  delHouse,
  getListSysVillage,
  addSysVillage
} from "@/api/vacant_house/house";
import { getToken } from "@/utils/auth";
import { delFile } from "@/api/vacant_house/upload";
import AMap from "AMap";
import AMapUI from "AMapUI";
export default {
  // import引入的组件需要注入到对象中才能使用
  components: {},
  data() {
    // 这里存放数据
    return {
      cityVal: "440100",
      radio_value: "1",
      areaList: [],
      tablePage: {
        current: 1,
        size: 10,
        total: 0,
        areaId: null,
        villageName: null,
        status: null
      },
      loading: false,
      tableData: [],
      tablelist: [
        {
          a: "01",
          b: "网关",
          c: "12345",
          d: "123456",
          e: "2020-1-1",
          f: "2020-1-1",
          g: "在线",
          h: "备注"
        }
      ],
      gatewayVal: false,
      dialog: false,
      dialogTitle: true,
      form: {
        id: null,
        areaId: null,
        villageId: null,
        villageName: null,
        location: null,
        buildNo: null,
        ladder: null,
        roomNo: null,
        shareArea: null,
        inArea: null,
        behoof: null,
        image: null
      },
      villageName: null,
      file_list: [],
      action: process.env.VUE_APP_BASE_API + "/upload/uploadFile",
      headers: {
        Authorization: "Bearer " + getToken()
      },
      mergeList: {
        0: "未绑定",
        1: "已绑定"
      },
      rules: {
        areaId: [
          {
            required: true,
            message: "请选择区属",
            trigger: "change"
          }
        ],
        villageName: [
          {
            required: true,
            message: "请输入小区名称",
            trigger: "blur"
          }
        ],
        location: [
          {
            required: true,
            message: "请输入位置",
            trigger: "blur"
          }
        ],
        buildNo: [
          {
            required: true,
            message: "请输入楼号",
            trigger: "blur"
          }
        ],
        ladder: [
          {
            required: true,
            message: "请输入梯号",
            trigger: "blur"
          }
        ],
        roomNo: [
          {
            required: true,
            message: "请输入房号",
            trigger: "blur"
          }
        ],
        shareArea: [
          {
            required: true,
            message: "请输入分摊面积",
            trigger: "blur"
          }
        ],
        inArea: [
          {
            required: true,
            message: "请输入套内面积",
            trigger: "blur"
          }
        ]
      },
      dialog2: false,
      form2: {
        name: null,
        center: null,
        location: null,
        areaId: null
      },
      rules2: {
        name: [
          {
            required: true,
            message: "请输入小区名称",
            trigger: "blur"
          }
        ],
        center: [
          {
            required: true,
            message: "请输入小区坐标",
            trigger: "blur"
          }
        ],
        location: [
          {
            required: true,
            message: "请输入位置",
            trigger: "blur"
          }
        ],
        areaId: [
          {
            required: true,
            message: "请选择区属",
            trigger: "change"
          }
        ]
      },
      searchFrom: {
        number: null,
        name: null,
        houseId: 0,
        parentId: 0,
        current: 1,
        size: 10,
        total: 0
      },
      dialog3: false,
      statusList: {
        0: "在线",
        1: "离线"
      },
      form3: {
        id: null,
        status: null
      },
      tableDataThree: [],
      dialog4: false
    };
  },
  // 监听属性 类似于data概念
  computed: {},
  // 监控data中的数据变化
  watch: {},
  // 生命周期 - 创建完成（可以访问当前this实例）
  created() {
    this.init();
  },
  // 生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {},
  beforeCreate() {}, // 生命周期 - 创建之前
  beforeMount() {}, // 生命周期 - 挂载之前
  beforeUpdate() {}, // 生命周期 - 更新之前
  updated() {}, // 生命周期 - 更新之后
  beforeDestroy() {}, // 生命周期 - 销毁之前
  destroyed() {}, // 生命周期 - 销毁完成
  activated() {},
  // 方法集合
  methods: {
    init() {
      this.loading = true;
      // 区域信息
      getListSysArea({ current: 1, size: 20 }).then(res => {
        this.areaList = res.data.records;
      });
      this.getList_api();
    },
    // 获取房屋信息
    getList_api() {
      this.loading = true;
      getList(this.tablePage).then(res => {
        this.tableData = res.data.records;
        this.tablePage.total = res.data.total;
        this.dialog = false;
        this.loading = false;
        console.log(this.tableData);
      });
    },
    //添加网关功能
    addGateway() {
      this.gatewayVal = true;
    },
    // 导出
    exportDataEvent() {
      this.$refs.houseTable.openExport({
        // 默认勾选源
        original: true
      });
    },
    daoru() {
      this.$refs.houseTable.importData();
    },
    daochu() {
      this.$refs.houseTable.openExport({
        // 默认勾选源
        original: true
      });
    },
    openDialogEvent(val) {
      this.file_list = [];
      this.villageName = null;
      if (val) {
        this.dialogTitle = false;
        this.form = Object.assign({}, val);
        if (this.form.image) {
          this.file_list[0] = {
            url: this.form.image
          };
        }
        this.villageName = val.villageName;
        console.log(this.file_list);
      } else {
        this.form = {};
        this.dialogTitle = true;
      }
      this.dialog = true;
    },
    openDialogEventTwo() {
      this.form2 = {};
      this.dialog2 = true;
    },
    screening() {
      this.tablePage.current = 1;
      this.getList_api();
    },
    screening2() {
      getListOnlyWG(this.searchFrom).then(res => {
        this.tableDataThree = res.data.records;
        this.searchFrom.total = res.data.total;
      });
    },
    reset(formName) {
      this.$refs[formName].resetFields();
      this.dialog = false;
    },
    reset2(formName) {
      this.$refs[formName].resetFields();
      this.dialog2 = false;
    },
    handlePageChange({ currentPage, pageSize }) {
      this.tablePage.current = currentPage;
      this.tablePage.size = pageSize;
      this.getList_api();
    },
    //弹窗确定按钮
    searchEvent() {
      this.dialog = false;
    },
    //弹窗取消按钮
    resetEvent() {
      this.dialog = false;
    },
    openDialogEventThree(id) {
      //   this.form3.id = id;
      //   getListOnlyWG(this.searchFrom).then(res => {
      //     this.tableDataThree = res.data.records;
      //     this.searchFrom.total = res.data.total;
      //     this.dialog3 = true;
      //   });
      this.$router.push({
        path: "/eq/binding_gateway"
        // query: { id: data.fid }
      });
    },
    openDialogEventFour() {
      if (this.form2.areaId) {
        const obj = this.areaList.find(
          o => o.id + "" === this.form2.areaId + ""
        );
        this.cityVal = obj.adCode;
        this.dialog4 = true;
      } else {
        this.$message({
          message: "请先选择区属",
          type: "warning"
        });
      }
    },
    show() {
      this.mapInit(this.cityVal);
    },
    merge(id) {
      this.dialog3 = true;
      this.form3.status = 1;
      this.$confirm("是否绑定此网关?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          updateByHouseId({ id: id, houseId: this.form3.id }).then(() => {
            editHouse(this.form3).then(() => {
              this.$notify({
                title: "成功",
                message: "绑定成功",
                type: "success",
                duration: 2000
              });
              this.getList_api();
              this.dialog3 = false;
            });
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消绑定"
          });
        });
    },
    del(item) {
      this.$confirm("此操作将永久删除数据, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          delHouse({ idList: item.id }).then(res => {
            if (item.eqId) {
              editEQ({ id: item.eqId, houseId: 0 });
            }
            this.getList_api();
            this.$message({
              type: "success",
              message: "删除成功!"
            });
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          if (this.dialogTitle) {
            addHouse(this.form).then(res => {
              this.getList_api();
              this.$notify({
                title: "成功",
                message: "操作成功",
                type: "success",
                duration: 2000
              });
            });
          } else {
            editHouse(this.form).then(res => {
              this.getList_api();
              this.$notify({
                title: "成功",
                message: "操作成功",
                type: "success",
                duration: 2000
              });
            });
          }
        } else {
          return false;
        }
      });
    },
    submitForm2(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          addSysVillage(this.form2).then(res => {
            this.dialog2 = false;
            this.$notify({
              title: "成功",
              message: "操作成功",
              type: "success",
              duration: 2000
            });
            this.cityVal = "440100";
          });
        } else {
          return false;
        }
      });
    },
    change() {
      this.form.villageId = null;
      this.villageName = null;
    },
    handleSelect(item) {
      this.form.villageId = item.id;
    },
    querySearch(queryString, cb) {
      getListSysVillage({ areaId: this.form.areaId, name: queryString }).then(
        res => {
          // 调用 callback 返回建议列表的数据
          cb(res.data.data);
        }
      );
    },
    handleRemove(file, fileList) {
      let url = null;
      if (file.response)
        url = file.response.data[0].split("/")[
          file.response.data[0].split("/").length - 1
        ];
      else url = file.url.split("/")[file.url.split("/").length - 1];
      delFile(url);
    },
    handSuccess(response, file, fileList) {
      this.form.image = response.data[0];
    },
    mapInit(cityVal) {
      const that = this;
      var map = new AMap.Map("poi", {
        zoom: 10
      });
      AMapUI.loadUI(["misc/PoiPicker"], function(PoiPicker) {
        var poiPicker = new PoiPicker({
          input: "searchInput",
          placeSearchOptions: {
            map: map,
            city: cityVal,
            citylimit: true,
            pageSize: 10
          },
          searchResultsContainer: "searchResults"
        });

        poiPicker.on("poiPicked", function(poiResult) {
          poiPicker.hideSearchResults();
          var source = poiResult.source;
          var poi = poiResult.item;
          // 开始赋值
          const form = {
            name: poi.name,
            center: poi.location.toString(),
            location: poi.address
          };
          Object.assign(that.form2, form);
          that.form2 = Object.assign({}, that.form2, form);
          console.log(that.form2);
          if (source !== "search") {
            // suggest来源的，同样调用搜索
            poiPicker.searchByKeyword(poi.name);
          } else {
            // console.log(poi);
          }
        });

        poiPicker.onCityReady(function() {
          poiPicker.searchByKeyword("");
        });
      });
    }
  } // 如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
//@import url(); 引入公共css类
.gateway {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.app-nav {
  //   display: block;
  background-color: white;
  .dialog-form-button {
    text-align: center;
    margin-bottom: 20px;
  }
  .tenAccountList-top {
    margin-bottom: 20px;
    span {
      margin-right: 15px;
    }
    .on_button {
      float: right;
      margin-left: 15px;
    }
  }
  ::v-deep.dialogThree {
    .vxe-modal--content {
      display: flex;
      flex-direction: column;
    }
  }
  #poi {
    width: 100%;
    height: 100%;
  }
  #panel {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    overflow: auto;
    width: 300px;
    z-index: 999;
    border-left: 1px solid #eaeaea;
    background: #fff;
  }

  #searchBar {
    height: 30px;
    background: #ccc;
  }

  #searchInput {
    width: 100%;
    height: 30px;
    line-height: 30%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 0 5px;
  }

  #searchResults {
    overflow: auto;
    height: calc(100% - 30px);
  }

  .amap_lib_placeSearch,
  .amap-ui-poi-picker-sugg-container {
    border: none !important;
  }

  .amap_lib_placeSearch .poibox.highlight {
    background-color: #cae1ff;
  }

  .poi-more {
    display: none !important;
  }
}
//jie
.alert_button {
  .el-button {
    float: right;
    margin-left: 20px;
  }
}
</style>
