<template>
  <div>
    <div id="condition"></div>
  </div>
</template>

<script>
import * as echarts from "echarts";
import { getJoinParkData } from "@/api/company";
import {
  getTaxRevenueData,
  getParkCountAreaData,
  getFirmCountData,
} from "@/api/index";
export default {
  name: "",

  data() {
    return {
      timeArea: {
        time: "",
        endTime: "",
      },
    };
  },

  mounted() {
    this.initEchart(this.timeArea);
  },

  methods: {
    async initEchart(timeArea) {
      console.log("timeArea........", timeArea);
      let res = await getParkCountAreaData();
      let xData = res.data.listDate;
      let y1Data = [];
      let y2Data = [];
      res.data.listCount.forEach((val) => {
        y1Data.push(val.parkCount);
        y2Data.push(val.parkSum || 0);
      });
      console.log("initEchart222", y1Data, y2Data);

      var div = document.getElementById("condition");
      var myChart = echarts.init(div);
      myChart.resize({
        height: 333,
      });
      var option = {
        color: ["#3398DB"],
        legend: {
          // rect是矩形图例   circle是圆点图例
          icon: "roundRect",
          data: ["园区个数", "园区面积"],
          top: "2%",
          right: "210",
          textStyle: {
            color: "#A7AEB2",
            fontSize: 14,
          },
          itemWidth: 35,
          itemHeight: 15,
        },
        xAxis: {
          data: xData,
        },
        yAxis: [
          {
            name: "面积（万平方米）",
            min: 0,
            max: 1500,
            nameTextStyle: {
              padding: [0, 0, 10, -10], // 四个数字分别为上右下左与原位置距离
            },
            type: "value",
            axisLine: {
              show: false,
            },
          },
          {
            name: "个数（个）",
            min: 0,
            max: 100,
            interval: 20,
            nameTextStyle: {
              padding: [0, 0, 10, -10], // 四个数字分别为上右下左与原位置距离
            },
            type: "value",
            axisLine: {
              show: false,
            },
          },
        ],
        series: [
          {
            name: "园区个数",
            type: "bar",
            data: y1Data,
            barGap: 0,
            yAxisIndex: 0,
            itemStyle: {
              normal: {
                opacity: 1,
                color: "#5087EC",
              },
            },
          },
          {
            name: "园区面积",
            type: "bar",
            data: y2Data,
            barGap: 0,
            yAxisIndex: 0,
            itemStyle: {
              normal: {
                opacity: 1,
                color: "#68BBC4",
              },
            },
          },
        ],
      };
      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);
    },
  },
};
</script>

<style lang="scss" scoped></style>
