<template>
  <div style="margin-bottom: 20px;">
    <div style="width: 100%;height: 70px; line-height: 70px; padding: 0 20px; background-color: #fff;display: flex; justify-content: space-between;">
      <h2>户型统计</h2>
      <el-date-picker
        v-model="year"
        type="year"
        format="yyyy 年"
        value-format="yyyy"
        @change="initEchart"
      >
      </el-date-picker>
    </div>
    <div id="houseType"></div>
  </div>
</template>
<style scoped>
#houseType {
  background-color: #fff;
    padding: 0 20px;
}
</style>
<script>
import * as echarts from "echarts";
import { getHouseTypeStatistics1 } from '@/api/house'
export default {
  name: "",
  data() {
    return {
      attribute: null,
      year: '2022',
    };
  },
  mounted() {
    this.initEchart();
  },
  methods: {
    // 加载页面时获取
    async initEchart() {
      let res = await getHouseTypeStatistics1(this.year);
      let y1Data = [];
      let y2Data = [];
      res.data.forEach(v => {
        
        console.log('forEach', v);
        y1Data.push(v.enterHouse);
        y2Data.push(v.notHouse)
      })

      var chartDom = document.getElementById("houseType");
      var myChart = echarts.init(chartDom);
      myChart.resize({
        height: 370,
      });
      var option;
      option = {
        grid: {
          top: "17%",
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true,
        },
        tooltip: {
          trigger: "axis",
          axisPointer: {
            // 坐标轴指示器，坐标轴触发有效
            type: "shadow", // 默认为直线，可选为：'line' | 'shadow'
          },
          formatter: function(e) {
            return "已入库：" + e[0].data + "<br>未入库：" + e[1].data;
          },
        },
        backgroundColor: "#fff",
        legend: {
          // rect是矩形图例   circle是圆点图例
          icon: "circle",
          data: ["已入库", "未入库"],
          top: "2%",
          right: "10",
          textStyle: {
            color: "#000",
            fontSize: 14,
          },
          itemWidth: 10,
          itemHeight: 10,
        },
        xAxis: {
          data: [
            "单间",
            "一室一厅",
            "一室二厅",
            "二室一厅",
            "二室二厅",
            "三室一厅",
            "三室二厅",
            "四室及以上",
          ],
          axisLine: {
            show: true, //隐藏X轴轴线
          },
          axisTick: {
            //去掉轴刻度
            show: false,
          },
        },
        yAxis: [
          {
            type: "value",
            min: 0,
            max: 3000,
            name: "单位：套",
            splitLine: {
              show: false,
            },
            axisTick: {
              show: true,
            },
            axisLine: {
              show: true,
            },
            axisLabel: {
              show: true,
            },
          },
          {
            type: "value",
            /*name: "同比",*/
            nameTextStyle: {
              color: "#ebf8ac",
              fontSize: 14,
            },
            position: "right",
            splitLine: {
              show: false,
            },
            axisTick: {
              show: false,
            },
            axisLine: {
              show: false,
            },
            axisLabel: {
              show: true,
              formatter: "{value} ", //右侧Y轴文字显示
              textStyle: {
                color: "#000",
                fontSize: 14,
              },
            },
          },
        ],
        series: [
          {
            name: "已入库",
            type: "bar",
            data: y1Data,
            barWidth: 10,
            itemStyle: {
              normal: {
                opacity: 1,
                color: "#E3925A",
                barBorderRadius: [20, 20, 0, 0],
              },
            },
          },
          {
            name: "未入库",
            type: "bar",
            data: y2Data,
            barWidth: 10,
            itemStyle: {
              normal: {
                opacity: 1,
                color: "#5883D9",
                barBorderRadius: [20, 20, 0, 0],
              },
            },
          },
        ],
      };
      option && myChart.setOption(option);
    },
  },
};
</script>
