<template>
    <div id="myMain">
        <el-row :gutter="20">
            <el-col :span="15"><div class="grid-content myBR">
                <div class="left fl vertical">
                    <img src="~@/assets/icon/dataStatistics4.png">
                </div>
                <div class="right fr vertical">
                    <p class="title">88956<span>套</span></p>
                    <span>已入库数量</span>
                </div>
            </el-col>
            <el-col :span="5"><div class="grid-content myBR">
                <div class="left fl vertical">
                    <img src="~@/assets/icon/dataStatistics1.png">
                </div>
                <div class="right fr vertical">
                    <p class="title">75246<span>套</span></p>
                    <span>未入库数量</span>
                </div>
            </el-col>
        </el-row>
    </div>
</template>

<script>
import placeHouse from "@/views/house/statistics/placeHouse"
import regionalAllocation from "@/views/house/statistics/regionalAllocation"
import regionalReporting from "@/views/house/statistics/regionalReporting"
import houseType from "@/views/house/statistics/houseType"
export default {
  components: {
    placeHouse,
    regionalAllocation,
    regionalReporting,
    houseType
  },
  data () {
    return {
    }
  }
}
</script>
<style lang="scss" scoped>
  #myMain{
      .el-row {
          margin-bottom: 20px;
      }
      .grid-content {
          background-color: #fff;
          height: 12vh;
          position: relative;
          .left, .right{
              width: 50%;
              text-align: center;
          }
          .left{
              left: 0;
          }
          .right{
              right: 0;
          }
      }
      img{
          width: 60px;
      }
      span{
          color: #999;
      }
      p.title{
          font-size: 20px !important;
      }
  }
</style>
