<template>
  <div style="margin-bottom: 20px;">
    <div style="width: 100%;height: 70px; line-height: 70px; padding: 0 20px; background-color: #fff;display: flex; justify-content: space-between;">
      <h2>安置房入库数量</h2>
      <el-date-picker
        v-model="year"
        type="year"
        format="yyyy 年"
        value-format="yyyy"
        @change="initEchart"
      >
      </el-date-picker>
    </div>
    <div id="condition"></div>
  </div>
</template>

<script>
import * as echarts from "echarts";
import { getPutIntoStatistics } from '@/api/house'
export default {
  name: "",

  data() {
    return {
      attribute: null,
      year: '2022',
      timeArea: {
        time: "",
        endTime: "",
      },
    };
  },

  mounted() {
    this.initEchart();
  },

  methods: {
    async initEchart() {
      let xData = ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月'];
      console.log('placeHouse initEchart', this.$parent);
      let res = await getPutIntoStatistics(this.year, this.$parent.attribute);
      let y1Data = [];
      let y2Data = [];
      res.data.forEach(v => {
        y1Data.push(v.enterHouse);
        y2Data.push(v.notHouse)
      })
      console.log("initEchart222", y1Data, y2Data);

      var div = document.getElementById("condition");
      var myChart = echarts.init(div);
      myChart.resize({
        height: 370,
      });
      var option = {
        color: ["#3398DB"],
        legend: {
          // rect是矩形图例   circle是圆点图例
          icon: "roundRect",
          // rect是矩形图例   circle是圆点图例
          x: "center",
          data: ["已入库", "未入库"],
          top: "top",
          right: "35%",
          textStyle: {
            color: "#A7AEB2",
            fontSize: 14,
          },
          itemWidth: 35,
          itemHeight: 15,
        },
        grid: {
          top: "20%",
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true,
        },
        tooltip: {
          trigger: "axis",
          axisPointer: {
            // 坐标轴指示器，坐标轴触发有效
            type: "shadow", // 默认为直线，可选为：'line' | 'shadow'
          },
          formatter: function(e) {
            return "已入库：" + e[0].data + "<br>未入库：" + e[1].data;
          },
        },
        xAxis: {
          data: xData,
        },
        yAxis: [
          {
            // name: "面积（万平方米）",
            min: 0,
            max: 3000,
            nameTextStyle: {
              padding: [0, 0, 10, -10], // 四个数字分别为上右下左与原位置距离
            },
            type: "value",
            axisLine: {
              show: false,
            },
          },
        ],
        series: [
          {
            name: "已入库",
            type: "bar",
            data: y1Data,
            barGap: 0,
            yAxisIndex: 0,
            itemStyle: {
              normal: {
                opacity: 1,
                color: "#5087EC",
              },
            },
          },
          {
            name: "未入库",
            type: "bar",
            data: y2Data,
            barGap: 0,
            yAxisIndex: 0,
            itemStyle: {
              normal: {
                opacity: 1,
                color: "#68BBC4",
              },
            },
          },
        ],
      };
      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);
    },
  },
};
</script>

<style lang="scss" scoped>
  #condition {
    background-color: #fff;
    padding: 0 20px;
  }
</style>
