<template>
  <div id="placeHouse" class="myBR f1"></div>
</template>
<style scoped>
#placeHouse {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}
</style>

<script>
import * as echarts from "echarts";
export default {
  name: "",
  data() {
    return {};
  },
  mounted() {
    this.getPlaceHouse();
  },
  methods: {
    // 加载页面时获取
    getPlaceHouse() {
      var chartDom = document.getElementById("placeHouse");
      var myChart = echarts.init(chartDom);
      myChart.resize({
        height: 370,
      });
      var option;
      var path = "path://M214,1079l8-6h16l8,6-8,6H222Z";
      var zzx1 = [300, 223, 320, 285, 224, 310, 285, 260, 301, 320, 290];
      var wgx1 = [194, 323, 302, 180, 300, 250, 265, 220, 310, 350, 320];

      option = {
        backgroundColor: "#fff",
        title: {
          subtext: "安置房入库数量",
          subtextStyle: {
            color: "#6C6C6C",
            fontSize: 18,
          },
          top: "top",
          left: "left",
        },
        tooltip: {
          trigger: "axis",
          axisPointer: {
            // 坐标轴指示器，坐标轴触发有效
            type: "shadow", // 默认为直线，可选为：'line' | 'shadow'
          },
          formatter: function(e) {
            return "已入库：" + e[0].data + "<br>未入库：" + e[1].data;
          },
        },
        grid: {
          top: "17%",
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true,
        },
        legend: {
          // rect是矩形图例   circle是圆点图例
          icon: "circle",
          data: ["已入库", "未入库"],
          top: "2%",
          right: "10",
          textStyle: {
            color: "#000",
            fontSize: 14,
          },
          itemWidth: 10,
          itemHeight: 10,
          // itemGap: 35
          color: "#000",
        },
        xAxis: {
          type: "category",
          data: [
            "越秀区",
            "海珠区",
            "荔湾区",
            "天河区",
            "白云区",
            "黄埔区",
            "南沙区",
            "番禺区",
            "花都区",
            "增城区",
            "从化区",
          ],
          axisLine: {
            show: true,
          },
          axisTick: {
            //去掉轴刻度
            show: false,
          },
        },

        yAxis: {
          type: "value",
          name: "单位：套",
          min: 0,
          // max: 200,
          nameTextStyle: {
            padding: [0, 25, -10, 0], // 四个数字分别为上右下左与原位置距离
          },
          splitLine: {
            show: false,
          },
          // axisLabel: {
          //   formatter: "{value}",
          // },
          axisLine: {
            show: true,
          },
        },
        series: [
          {
            name: "已入库",
            type: "bar",
            barWidth: "10",
            // barGap: "5",
            itemStyle: {
              normal: {
                opacity: 1,
                color: "#FA8E8E",
                barBorderRadius: [20, 20, 0, 0],
              },
            },
            data: zzx1,
          },
          {
            name: "未入库",
            type: "bar",
            barWidth: "10",
            itemStyle: {
              normal: {
                opacity: 1,
                color: "#5A86E3",
                barBorderRadius: [20, 20, 0, 0],
              },
            },
            data: wgx1,
          },
        ],
      };
      option && myChart.setOption(option);
    },
  },
};
</script>
