<template>
  <div style="margin-bottom: 20px;">
    <div style="width: 100%;height: 70px; line-height: 70px; padding: 0 20px; background-color: #fff;display: flex; justify-content: space-between;">
      <h2>安置房建册数量</h2>
      <el-date-picker
        v-model="year"
        type="year"
        format="yyyy 年"
        value-format="yyyy"
        @change="initEchart"
        placeholder="选择年">
      </el-date-picker>
    </div>
    <div id="regionalReporting" class="myBR f1"></div>
  </div>
</template>
<style scoped>
#regionalReporting {
  background-color: #fff;
  padding: 0 20px;
}
</style>
<script>
import * as echarts from "echarts";
import { getIntoStatistics } from '@/api/house'
export default {
  name: "",
  data() {
    return {
      attribute: null,
      year: '2022',
      regionTitle: ["已建册", "未建册"],
    };
  },
  mounted() {
    this.initEchart();
  },
  methods: {
    async initEchart() {
      let xData = ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月'];
      let res = await getIntoStatistics(this.year, this.$parent.attribute);
      let y1Data = [];
      let y2Data = [];
      res.data.forEach(v => {
        y1Data.push(v.havePicture);
        y2Data.push(v.nonePicture)
      })
      var chartDom = document.getElementById("regionalReporting");
      var myChart = echarts.init(chartDom);
      myChart.resize({
        height: 370,
      });
      var option;

      option = {
        color: this.colors,
        tooltip: {
          trigger: "axis",
        },
        legend: {
          // rect是矩形图例   circle是圆点图例
          x: "center",
          data: this.regionTitle,
          textStyle: {
            color: "#000",
            fontSize: 14,
          },
          itemWidth: 20,
          itemHeight: 10,
        },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true,
        },
        xAxis: {
          type: "category",
          boundaryGap: false,
          data: xData,
          axisTick: {
            //去掉轴刻度
            show: false,
          },
        },
        yAxis: {
          type: "value",
            min: 0,
            max: 3000,
          axisLine: {
            show: true,
          },
          // 带单位  轴的数值大小
          axisLabel: {
            formatter: "{value}",
          },
        },
        series: [
          {
            name: this.regionTitle[0],
            type: "line",
            // 拐点大小
            symbolSize: 5,
            data: y1Data,
            // 平滑线
            smooth: false,
            showSymbol: true,
            lineStyle: {
              width: 2,
            },
            itemStyle: {
              normal: {
                opacity: 1,
                color: "#C5DEF0",
              },
            },
            areaStyle: {
              // normal: {
              //   color: "#FABC8A",
              // },
              normal: {
                color: '#C5DEF0'
              }
            },
          },
          {
            name: this.regionTitle[1],
            type: "line",
            symbolSize: 5,
            data: y2Data,
            smooth: false,
            showSymbol: true,
            lineStyle: {
              width: 2,
            },
            itemStyle: {
              normal: {
                opacity: 1,
                color: "#638EDE",
              },
            },
            areaStyle: {
              // normal: {
              //   color: "#638EDE",
              // },
              normal: {
                color: '#DCE7FB'
              },
            },
          },
        ],
      };

      option && myChart.setOption(option);
    },
  },
};
</script>
