<template>
  <div style="margin-bottom: 20px;">
    <div style="width: 100%;height: 70px; line-height: 70px; padding: 0 20px; background-color: #fff;display: flex; justify-content: space-between;">
      <h2>安置房资产情况</h2>
      <el-date-picker
        v-model="year"
        type="year"
        format="yyyy 年"
        value-format="yyyy"
        @change="initEchart"
        placeholder="选择年">
      </el-date-picker>
    </div>
    <div id="regionalAllocation"></div>
  </div>
</template>
<style scoped>
#regionalAllocation {
  background-color: #fff;
  padding: 0 20px;
}
</style>
<script>
import * as echarts from "echarts";
import { getPaperStatistics1 } from '@/api/house'
export default {
  name: "",
  data() {
    return {
      attribute: null,
      year: '2022',
      // 可视化
      colors: ["#00d4c7", "#0092f6"],
      regionTitle: ["数量", "占比"],
      regionData: [
        [153, 143, 225, 231, 218, 254, 227, 231, 262, 224, 287],
        [63, 38, 85, 41, 89, 44, 87, 45, 89, 54, 37],
      ],
    };
  },
  mounted() {
    this.initEchart();
  },
  methods: {
    async initEchart() {
      let res = await getPaperStatistics1(this.year);
      let y1Data = [];
      let y2Data = [];
      res.data.forEach(v => {
        y1Data.push(v.longCount);
        y2Data.push(Number(v.longPaper))
      })
      var chartDom = document.getElementById("regionalAllocation");
      var myChart = echarts.init(chartDom);
      myChart.resize({
        height: 370,
      });
      var option;

      option = {
        color: this.colors,
        // title: {
        //   subtext: "安置房资产情况1",
        //   subtextStyle: {
        //     color: "#000",
        //     fontSize: 14,
        //   },
        //   top: "-2%",
        //   left: "left",
        // },
        tooltip: {
          trigger: "axis",
        },
        legend: {
          // rect是矩形图例   circle是圆点图例
          x: "center",
          data: this.regionTitle,
          textStyle: {
            color: "#000",
            fontSize: 14,
          },
          itemWidth: 20,
          itemHeight: 10,
        },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true,
        },
        xAxis: {
          type: "category",
          boundaryGap: false,
          data: [
            "从化区",
            "南沙区",
            "花都区",
            "番禺区",
            "海珠区",
            "荔湾区",
            "增城区",
            "天河区",
            "越秀区",
            "黄埔区",
            "白云区",
          ],
          axisTick: {
            //去掉轴刻度
            show: true,
          },
          axisLine: {
            show: true,
          },
        },
        yAxis: [
          {
            type: "value",
            // name: "单位：套",
            min: 0,
            max: 3000,
            axisLabel: {
              formatter: "{value}%",
            },
            axisTick: {
              show: false,
            },
            splitLine: { show: false }, // 去除网格
            axisLine: {
              show: true,
            },
          },
          {
            type: "value",
            // name: "占比",
            min: 0,
            max: 100,
            axisLabel: {
              show: true,
              interval: 'auto',
              formatter: "{value}",
            },
            splitLine: { show: false }, // 去除网格
          },
        ],
        series: [
          {
            name: this.regionTitle[0],
            type: "line",
            // 拐点大小
            symbolSize: 5,
            data: y1Data,
            // 平滑线
            smooth: false,
            showSymbol: true,
            // 线的大小
            lineStyle: {
              width: 2,
            },
            yAxisIndex: 0,
            itemStyle: {
              normal: {
                color: "#00d4c7",
              },
            },
          },
          {
            name: this.regionTitle[1],
            type: "line",
            symbolSize: 5,
            data: y2Data,
            smooth: false,
            showSymbol: true,
            lineStyle: {
              width: 2,
            },
            itemStyle: {
              normal: {
                color: "#0092f6",
              },
            },
            yAxisIndex: 1,
          },
        ],
      };

      option && myChart.setOption(option);
    },
  },
};
</script>
