<template>
  <div style="margin-bottom: 20px;">
    <div style="width: 100%;height: 70px; line-height: 70px; padding: 0 20px; background-color: #fff;display: flex; justify-content: space-between;">
      <h2>安置房建册数量</h2>
      <el-date-picker
        v-model="year"
        type="year"
        format="yyyy 年"
        value-format="yyyy"
        @change="initEchart"
      >
      </el-date-picker>
    </div>
    <div id="regionalReporting1"></div>
  </div>
</template>
<style scoped>
#regionalReporting1 {
  background-color: #fff;
    padding: 0 20px;
}
</style>
<script>
import * as echarts from "echarts";
import { getIntoStatistics1 } from '@/api/house'
export default {
  name: "",
  data() {
    return {
      attribute: null,
      year: '2022',
      regionTitle: ["已建册", "未建册"],
      regionData: [
        [33, 43, 25, 31, 18, 54, 27, 31, 62, 24, 87],
        [13, 38, 85, 41, 89, 24, 87, 45, 89, 54, 37],
      ],
    };
  },
  mounted() {
    this.initEchart();
  },
  methods: {
    async initEchart() {
      let res = await getIntoStatistics1(this.year);
      let y1Data = [];
      let y2Data = [];
      res.data.forEach(v => {
        y1Data.push(v.havePicture);
        y2Data.push(v.nonePicture)
      })
      var chartDom = document.getElementById("regionalReporting1");
      var myChart = echarts.init(chartDom);
      myChart.resize({
        height: 370,
      });
      var option;

      option = {
        color: this.colors,
        tooltip: {
          trigger: "axis",
        },
        legend: {
          // rect是矩形图例   circle是圆点图例
          icon: "circle",
          x: "right",
          data: this.regionTitle,
          textStyle: {
            color: "#000",
            fontSize: 14,
          },
          itemWidth: 10,
          itemHeight: 10,
        },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true,
        },
        xAxis: {
          type: "category",
          boundaryGap: false,
          data: [
            "从化区",
            "南沙区",
            "花都区",
            "番禺区",
            "海珠区",
            "荔湾区",
            "增城区",
            "天河区",
            "越秀区",
            "黄埔区",
            "白云区",
          ],
          axisTick: {
            //去掉轴刻度
            show: false,
          },
        },
        yAxis: {
          type: "value",
            min: 0,
            max: 3000,
          name: "单位：套",
          splitLine: { show: false }, // 去除网格
          axisLine: {
            show: true,
          },
          // 带单位  轴的数值大小
          axisLabel: {
            formatter: "{value}",
          },
        },
        series: [
          {
            name: this.regionTitle[0],
            type: "line",
            // 拐点大小
            symbolSize: 1,
            data: y1Data,
            // 平滑线
            smooth: true,
            showSymbol: false,
            lineStyle: {
              width: 3,
            },
            itemStyle: {
              normal: {
                opacity: 1,
                color: "#FABC8A",
              },
            },
            areaStyle: {
              // normal: {
              //   color: "#FABC8A",
              // },
              normal: {
                color: new echarts.graphic.LinearGradient(
                  0,
                  0,
                  0,
                  1,
                  [
                    {
                      offset: 0,
                      color: "rgba(252,188,129, 1)",
                    },
                    {
                      offset: 1,
                      color: "rgba(253,249,245,0)",
                    },
                  ],
                  false
                ),
              },
            },
          },
          {
            name: this.regionTitle[1],
            type: "line",
            symbolSize: 10,
            data: y2Data,
            smooth: true,
            showSymbol: false,
            lineStyle: {
              width: 3,
            },
            itemStyle: {
              normal: {
                opacity: 1,
                color: "#638EDE",
              },
            },
            areaStyle: {
              // normal: {
              //   color: "#638EDE",
              // },
              normal: {
                color: new echarts.graphic.LinearGradient(
                  0,
                  0,
                  0,
                  1,
                  [
                    {
                      offset: 0,
                      color: "rgba(114,152,228, 1)",
                    },
                    {
                      offset: 1,
                      color: "rgba(114,152,228,0)",
                    },
                  ],
                  false
                ),
              },
            },
          },
        ],
      };

      option && myChart.setOption(option);
    },
  },
};
</script>
