<template>
  <div style="margin-bottom: 20px;">
    <div style="width: 100%;height: 70px; line-height: 70px; padding: 0 20px; background-color: #fff;display: flex; justify-content: space-between;">
      <h2>安置房资产情况</h2>
      <el-date-picker
        v-model="year"
        type="year"
        format="yyyy 年"
        value-format="yyyy"
        @change="initEchart"
        placeholder="选择年">
      </el-date-picker>
    </div>
    <div id="z" class="myBR f1"></div>
  </div>
</template>
<style scoped>
#z {
    background-color: #fff;
    padding: 0 20px;
}
</style>
<script>
import * as echarts from "echarts";
import { getPaperStatistics } from '@/api/house'
export default {
  name: "",
  data() {
    return {
      attribute: null,
      year: '2022',
      colors: ["#00d4c7", "#0092f6"],
      regionTitle: ["数量", "占比"],
    };
  },
  mounted() {
    this.initEchart();
  },
  methods: {
    async initEchart() {
      let xData = ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月'];
      let res = await getPaperStatistics(this.year, this.$parent.attribute);
      let y1Data = [];
      let y2Data = [];
      res.data.forEach(v => {
        y1Data.push(v.longCount);
        y2Data.push(v.longPaper)
      })
      var chartDom = document.getElementById("z");
      var myChart = echarts.init(chartDom);
      myChart.resize({
        height: 370,
      });
      var option;

      option = {
        color: this.colors,
        tooltip: {
          trigger: "axis",
        },
        legend: {
          // rect是矩形图例   circle是圆点图例
          x: "center",
          data: this.regionTitle,
          textStyle: {
            color: "#000",
            fontSize: 14,
          },
          itemWidth: 20,
          itemHeight: 10,
        },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true,
        },
        xAxis: {
          type: "category",
          boundaryGap: false,
          data: xData,
          axisTick: {
            //去掉轴刻度
            show: false,
          },
        },
        // yAxis: {
        //   type: "value",
        //   splitLine: { show: false }, // 去除网格
        //   axisLine: {
        //     show: true,
        //   },
        //   // 带单位  轴的数值大小
        //   axisLabel: {
        //     formatter: "{value}",
        //   },
        // },
        yAxis: [
          {
            type: "value",
            // name: "单位：套",
            min: 0,
            max: 3000,
            axisLabel: {
              formatter: "{value}",
            },
            axisTick: {
              show: false,
            },
            axisLine: {
              show: true,
            },
          },
          {
            type: "value",
            // name: "占比",
            min: 0,
            max: 100,
            axisLabel: {
              formatter: "{value}%",
            },
            axisTick: {
              show: false,
            },
            splitLine: { show: false }, // 去除网格
          },
        ],
        series: [
          {
            name: this.regionTitle[0],
            type: "line",
            // 拐点大小
            symbolSize: 5,
            data: y1Data,
            // 平滑线
            smooth: false,
            showSymbol: true,
            lineStyle: {
              width: 2,
            },
            yAxisIndex: 0,
          },
          {
            name: this.regionTitle[1],
            type: "line",
            symbolSize: 5,
            data: y2Data,
            smooth: false,
            showSymbol: true,
            lineStyle: {
              width: 2,
            },
            yAxisIndex: 1,
          },
        ],
      };

      option && myChart.setOption(option);
    },
  },
};
</script>
