<template>
  <div class="app-nav">
    <div class="son-nav">
      <div class="eq-button">
        <el-button size="small" icon="el-icon-refresh" @click="refresh">刷新</el-button>
        <el-button size="small" type="primary" icon="el-icon-plus" @click="openDialogEvent()">新增</el-button>
      </div>
      <div class="vxe-table-box">
        <vxe-table
          ref="eqTable"
          border
          resizable
          :loading="loading"
          auto-resize
          sync-resize
          height="auto"
          :export-config="{}"
          :tree-config="{children: 'children'}"
          :data="tableData"
        >
          <vxe-table-column field="id" title="编号" tree-node />
          <vxe-table-column field="name" title="设备名称" />
          <vxe-table-column field="type" title="设备类型" />
          <vxe-table-column field="location" title="安装位置" show-overflow />
          <vxe-table-column field="number" title="设备序号" />
          <vxe-table-column field="status" title="状态">
            <template #default="{ row }">
              <span :style="row.status == 0?'color:green;':'color:red;'">{{ statusList[row.status] }}</span>
            </template>
          </vxe-table-column>
          <vxe-table-column title="操作" show-overflow>
            <template #default="{ row }">
              <vxe-button v-if="row.parentId == 0" type="text" title="添加子级" icon="el-icon-plus" @click="openDialogEvent2(row.id)" />
              <vxe-button type="text" title="修改" icon="el-icon-edit" @click="openDialogEvent(row)" />
              <vxe-button type="text" title="删除" icon="el-icon-delete" @click="del(row.id)" />
            </template>
          </vxe-table-column>
        </vxe-table>
      </div>
    </div>
    <vxe-modal v-model="dialog" :title="dialogTitle?'新增设备':'修改设备'" width="400">
      <template #default>
        <el-form ref="form" :rules="rules" :model="form" label-width="80px">
          <el-form-item label="设备名称" prop="name">
            <el-input v-model="form.name" placeholder="请输入设备名称" />
          </el-form-item>
          <el-form-item label="设备类型" prop="nodeType">
            <el-select v-model="form.nodeType" placeholder="请选择设备绑定">
              <el-option
                v-for="(item,index) in typeList"
                :key="index"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
          <el-form-item label="安装位置" prop="location">
            <el-input v-model="form.location" placeholder="请输入安装位置" />
          </el-form-item>
          <el-form-item label="设备序号" prop="number">
            <el-input v-model="form.number" placeholder="请输入设备序号" />
          </el-form-item>
          <el-form-item label="状态">
            <el-radio-group v-model="form.status">
              <el-radio :label="1">离线</el-radio>
              <el-radio :label="0">在线</el-radio>
            </el-radio-group>
          </el-form-item>
          <div class="dialog-form-button">
            <el-button type="default" @click="reset('form')">取消</el-button>
            <el-button type="primary" @click="submitForm('form')">{{ dialogTitle?'新增':'修改' }}</el-button>
          </div>
        </el-form>
      </template>
    </vxe-modal>
  </div>
</template>

<script>
import { getList, getListSysArea, addEQ, editEQ, delEQ, getListsysNodeType } from '@/api/vacant_house/eq.js'
export default {

  data() {
    return {
      areaList: [
      ],
      parkList: [
        {
          value: 1,
          label: '华景园区'
        }, {
          value: 2,
          label: '逸景翠园'
        }
      ],
      tableData: [],
      loading: false,
      dialog: false,
      form: {
        id: null,
        name: null,
        nodeType: null,
        location: null,
        number: null,
        ststus: 0,
        parentId: 0
      },
      rules: {
        name: [
          {
            required: true,
            message: '请输入设备名称',
            trigger: 'blur'
          }
        ],
        nodeType: [
          {
            required: true,
            message: '请选择设备类型',
            trigger: 'change'
          }
        ],
        location: [
          {
            required: true,
            message: '请输入安装地址',
            trigger: 'blur'
          }
        ]
      },
      dialogTitle: true,
      statusList: {
        0: '在线',
        1: '离线'
      }
    }
  },
  computed: {
  },
  watch: {
  },
  created() {
    this.init()
  },
  methods: {
    init() {
      this.loading = true
      this.getList_api()
      // 区域信息
      getListSysArea({ current: 1, size: 20 }).then(res => {
        this.areaList = res.data.records
      })
      getListsysNodeType({ current: 1, size: 20 }).then(res => {
        this.typeList = res.data.records
      })
    },
    // 设备信息
    getList_api() {
      getList().then(res => {
        this.tableData = res.data
        this.loading = false
        this.dialog = false
      })
    },
    screening() {
      this.tablePage.current = 1
      this.getList_api()
    },
    reset(formName) {
      this.$refs[formName].resetFields()
      this.dialog = false
    },
    refresh() {
      this.getList_api()
      // this.$refs.eqTable.openExport()
    },
    openDialogEvent(val) {
      if (val) {
        this.dialogTitle = false
        this.form = Object.assign({}, val)
      } else {
        this.form = {}
        this.form.parentId = 0
        this.dialogTitle = true
      }
      this.dialog = true
    },
    openDialogEvent2(val) {
      this.dialogTitle = true
      this.form = {}
      this.form.parentId = val
      this.dialog = true
    },
    del(id) {
      this.$confirm('此操作将永久删除数据, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        delEQ({
          idList: id
        }).then(res => {
          this.getList_api()
          this.$message({
            type: 'success',
            message: '删除成功!'
          })
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    handlePageChange({ currentPage, pageSize }) {
      this.tablePage.current = currentPage
      this.tablePage.size = pageSize
      this.getList_api()
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          if (this.dialogTitle) {
            addEQ(this.form).then(res => {
              this.getList_api()
              this.$notify({
                title: '成功',
                message: '操作成功',
                type: 'success',
                duration: 2000
              })
            })
          } else {
            editEQ(this.form).then(res => {
              this.getList_api()
              this.$notify({
                title: '成功',
                message: '操作成功',
                type: 'success',
                duration: 2000
              })
            })
          }
        } else {
          return false
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.app-nav {
  background-color: white;
  display: flex;
  .eq-button{
    margin-bottom: 20px;
  }
  .dialog-form-button{
    text-align: center;
  }
}
</style>

