<!-- 菜单 -->
<template>
  <div class="app-nav">
    <div class="son-nav">
      <div class="menu-button">
        <el-button size="small" icon="el-icon-refresh" @click="refresh">刷新</el-button>
        <!-- <el-button size="small" type="primary" icon="el-icon-plus" @click="openDialog()">新增</el-button> -->
      </div>
      <div class="vxe-table-box">
        <vxe-table
          ref="xTree"
          border
          resizable
          auto-resize
          sync-resize
          height="auto"
          :loading="loading"
          :tree-config="{children: 'children'}"
          :data="tableData"
        >
          <vxe-table-column field="name" title="菜单名称" tree-node />
          <vxe-table-column field="path" title="菜单路径" />
          <vxe-table-column field="createTime" formatter="formatDate" title="创建时间" />
          <vxe-table-column field="sort" title="排序" />
          <vxe-table-column title="操作" show-overflow>
            <template #default="{ row }">
              <vxe-button type="text" title="修改" icon="el-icon-edit" @click="openDialog(row)" />
            </template>
          </vxe-table-column>
          <template #empty>
            <span style="color: red;">
              <img :src="require('@/assets/yellowduck.gif')">
              <p>没有更多数据了！</p>
            </span>
          </template>
        </vxe-table>
      </div>
    </div>
    <vxe-modal v-model="dialog" :title="dialogTitle?'新增菜单':'修改菜单'" width="400">
      <template #default>
        <el-form ref="form" :rules="rules" :model="form" label-width="80px">
          <el-form-item label="上级菜单" prop="parentId">
            <el-select v-model="form.parentId" placeholder="不选默认顶级菜单" style="width:100%">
              <el-option label="顶级菜单" :value="-1" />
              <el-option
                v-for="item in tableData"
                :key="item.id"
                :label="item.name"
                :value="parseInt(item.id)"
              />
            </el-select>
          </el-form-item>
          <el-form-item label="菜单名称" prop="name">
            <el-input v-model="form.name" placeholder="最多输入50个字符" />
          </el-form-item>
          <el-form-item label="菜单路径" prop="path">
            <el-input v-model="form.path" placeholder="最多输入255个字符" />
          </el-form-item>
          <el-form-item label="排序" prop="sort">
            <el-input v-model.number="form.sort" placeholder="只能输入正整数, 最大999" />
          </el-form-item>
          <div class="dialog-form-button">
            <el-button type="default" @click="resetForm('form')">取消</el-button>
            <el-button type="primary" @click="submitForm('form')">{{ dialogTitle?'新增':'修改' }}</el-button>
          </div>
        </el-form>
      </template>
    </vxe-modal>
  </div>
</template>

<script>
// 这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
// 例如：import 《组件名称》 from '《组件路径》';
import { getList, saveOrUpdate } from '@/api/menu'
export default {
// import引入的组件需要注入到对象中才能使用
  components: {},
  data() {
    const validateSort = (rule, value, callback) => {
      if (!value) {
        callback()
        return
      }
      if (!Number.isInteger(value)) {
        callback(new Error('请输入数字值'))
      } else {
        if (value < 1 || value > 999) {
          callback(new Error('大小在 1 到 999 之间'))
        } else {
          callback()
        }
      }
    }
    // 这里存放数据
    return {
      tableData: [],
      loading: false,
      dialog: false,
      dialogTitle: true,
      form: {
        id: undefined,
        name: undefined,
        parentId: -1,
        sort: undefined,
        path: undefined
      },
      rules: {
        name: [
          { required: true, message: '请输入菜单名称', trigger: 'blur' },
          { min: 2, max: 50, message: '长度在 2 到 50 个字符', trigger: 'blur' }
        ],
        path: [
          { required: true, message: '请输入菜单路径', trigger: 'blur' },
          { min: 2, max: 255, message: '长度在 2 到 255 个字符', trigger: 'blur' }
        ],
        sort: [
          { validator: validateSort, trigger: 'blur' }
        ]
      }
    }
  },
  // 监听属性 类似于data概念
  computed: {
  },
  // 监控data中的数据变化
  watch: {},
  // 生命周期 - 创建完成（可以访问当前this实例）
  created() {
    this.init()
  },
  // 生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {

  },
  beforeCreate() {}, // 生命周期 - 创建之前
  beforeMount() {}, // 生命周期 - 挂载之前
  beforeUpdate() {}, // 生命周期 - 更新之前
  updated() {}, // 生命周期 - 更新之后
  beforeDestroy() {}, // 生命周期 - 销毁之前
  destroyed() {}, // 生命周期 - 销毁完成
  activated() {},
  // 方法集合
  methods: {
    init() {
      this.loading = true
      getList().then(res => {
        this.tableData = res
        this.loading = false
      })
    },
    refresh() {
      this.init()
    },
    openDialog(row) {
      if (row) {
        this.dialogTitle = false
        this.form = JSON.parse(JSON.stringify(row))
      } else {
        this.form = {}
        this.dialogTitle = true
      }
      this.dialog = true
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          saveOrUpdate(this.form).then(res => {
            this.dialog = false
            this.init()
            this.$notify({
              title: '成功',
              message: '操作成功',
              type: 'success',
              duration: 2000
            })
          })
        } else {
          return false
        }
      })
    },
    resetForm(formName) {
      this.$refs[formName].resetFields()
      this.dialog = false
    }
  } // 如果页面有keep-alive缓存功能，这个函数会触发
}
</script>
<style lang='scss' scoped>
//@import url(); 引入公共css类
.app-nav{
    background-color: white;
    display: flex;
    .menu-button{
      margin-bottom: 20px;
    }
    .dialog-form-button{
      text-align: center;
    }
}
</style>
