<template>
  <div class="app-nav">
    <div class="son-nav">
      <div class="user-button">
        <el-button size="small" icon="el-icon-refresh" @click="refresh">刷新</el-button>
        <el-button size="small" type="primary" icon="el-icon-plus" @click="openDialog()">新增</el-button>
      </div>
      <div class="vxe-table-box">
        <vxe-table
          ref="userTable"
          border
          resizable
          auto-resize
          sync-resize
          height="auto"
          :loading="loading"
          :data="tableData"
        >
          <vxe-table-column field="username" title="用户名" />
          <vxe-table-column field="phone" title="手机号" />
          <vxe-table-column field="createTime" formatter="formatDate" title="创建时间" />
          <vxe-table-column field="sex" title="标签">
            <template #default="{ row }">
              <el-tag>{{ sexStatus[row.sex] }}</el-tag>
            </template>
          </vxe-table-column>
          <vxe-table-column field="nickname" title="昵称" />
          <vxe-table-column title="操作" show-overflow>
            <template #default="{ row }">
              <vxe-button type="text" title="修改" icon="el-icon-edit" @click="openDialog(row)" />
            </template>
          </vxe-table-column>
          <template #empty>
            <span style="color: red;">
              <img :src="require('@/assets/yellowduck.gif')">
              <p>没有更多数据了！</p>
            </span>
          </template>
        </vxe-table>
      </div>
      <vxe-pager
        perfect
        :current-page.sync="tablePage.page"
        :page-size.sync="tablePage.limit"
        :total="tablePage.total"
        :layouts="['PrevJump', 'PrevPage', 'JumpNumber', 'NextPage', 'NextJump', 'Sizes', 'FullJump', 'Total']"
        @page-change="handlePageChange"
      />
    </div>
    <vxe-modal v-model="dialog" :title="dialogTitle?'新增用户':'修改用户'" width="400">
      <template #default>
        <el-form ref="form" :rules="rules" :model="form" label-width="80px">
          <el-form-item v-if="dialogTitle" label="用户名" prop="username">
            <el-input v-model="form.username" placeholder="请输入用户名" />
          </el-form-item>
          <el-form-item v-if="dialogTitle" label="密码" prop="password">
            <el-input v-model="form.password" type="password" placeholder="请输入密码" />
          </el-form-item>
          <el-form-item label="手机号" prop="phone">
            <el-input v-model="form.phone" placeholder="请输入手机号" />
          </el-form-item>
          <el-form-item label="用户昵称" prop="nickname">
            <el-input v-model="form.nickname" placeholder="请输入用户昵称" />
          </el-form-item>
          <el-form-item label="性别">
            <el-radio-group v-model="form.sex">
              <el-radio :label="1">男</el-radio>
              <el-radio :label="0">女</el-radio>
            </el-radio-group>
          </el-form-item>
          <div class="dialog-form-button">
            <el-button type="default" @click="resetForm('form')">取消</el-button>
            <el-button type="primary" @click="submitForm('form')">{{ dialogTitle?'新增':'修改' }}</el-button>
          </div>
        </el-form>
      </template>
    </vxe-modal>
  </div>
</template>

<script>
import { findUsers, saveOrUpdate } from '@/api/user'
export default {
  data() {
    return {
      tableData: [],
      loading: false,
      dialog: false,
      dialogTitle: true,
      form: {
        username: undefined,
        password: undefined,
        nickname: undefined,
        phone: undefined,
        sex: 1

      },
      sexStatus: {
        0: '女',
        1: '男'
      },
      tablePage: {
        page: 1,
        limit: 10,
        total: 0
      },
      rules: {
        username: [
          {
            required: true,
            message: '请输入账户',
            trigger: 'blur'
          },
          {
            min: 2,
            max: 20,
            message: '长度在 2 到 20 个字符',
            trigger: 'blur'
          },
          {
            trigger: 'blur',
            validator: (rule, value, callback) => {
              const reg = /^[a-zA-Z0-9]+$/
              if (!reg.test(value)) {
                callback(new Error('只能包含英文和数字'))
              } else {
                callback()
              }
            }
          }
        ],
        password: [
          {
            required: true,
            message: '请输入密码',
            trigger: 'blur'
          },
          {
            min: 6,
            max: 20,
            message: '长度在 6 到 20 个字符',
            trigger: 'blur'
          }
        ],
        nickname: [
          {
            required: true,
            message: '请输入昵称',
            trigger: 'blur'
          },
          {
            min: 2,
            max: 6,
            message: '长度在 2 到 6 个字符',
            trigger: 'blur'
          }
        ],
        phone: [
          {
            required: true,
            message: '手机号',
            trigger: 'blur'
          },
          {
            min: 11,
            max: 11,
            message: '长度在11 个字符',
            trigger: 'blur'
          }
        ]
      }
    }
  },
  created() {
    this.init()
  },
  methods: {
    init() {
      this.loading = true
      findUsers(this.tablePage).then(res => {
        this.tableData = res.data
        this.tablePage.total = res.count
        this.loading = false
      })
    },
    refresh() {
      this.init()
    },
    openDialog(row) {
      if (row) {
        this.dialogTitle = false
        this.form = JSON.parse(JSON.stringify(row))
      } else {
        this.form = {}
        this.dialogTitle = true
      }
      this.dialog = true
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          this.form.roleId = ['1']
          console.log(this.form)
          saveOrUpdate(this.form).then(res => {
            this.dialog = false
            this.init()
            this.$notify({
              title: '成功',
              message: '操作成功',
              type: 'success',
              duration: 2000
            })
          })
        } else {
          return false
        }
      })
    },
    resetForm(formName) {
      // this.$refs[formName].resetFields()
      this.dialog = false
    },
    handlePageChange({ currentPage, pageSize }) {
      this.tablePage.page = currentPage
      this.tablePage.limit = pageSize
      this.init()
    }
  }
}
</script>

<style lang='scss' scoped>
.app-nav{
    background-color: white;
    display: flex;
    .user-button{
          margin-bottom: 20px;
      }
    .dialog-form-button{
        text-align: center;
    }
}
</style>

