.app-main {
  display: flex;
  flex-direction: column;
}
#myMain {
  padding: 20px;
  background-color: #eee;
  flex: 1;
  display: flex;
  flex-direction: column;
  .myMain-padding {
    flex: 1;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
  }
  .boxShadow {
    box-shadow: 3px 3px 10px 3px #eee;
    border-radius: 5px;
  }
  .main-top {
    border: 1px solid #eee;
    padding: 10px;
    box-shadow: 3px 3px 5px #eee;
    border-radius: 5px;
  }
}
.el-divider--horizontal {
  margin: 15px 0;
}
.el-input,
el-select {
  width: 25vh;
}
.vxe-table {
  flex: 1;
}
.baseBG {
  background-color: RGB(48, 65, 86);
  color: white;
}
.vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.marginLeft {
  margin-left: 2px;
}
.marginRight {
  margin-right: 20px;
}
.paddingSize {
  padding: 20px;
}
.displayFlexR {
  display: flex;
  flex-direction: row;
}
.displayFlexC {
  display: flex;
  flex-direction: column;
}
.bigBtn {
  float: left;
  padding: 30px 40px !important;
  height: 100px !important;
  background-color: RGB(20, 149, 231) !important;
  color: white !important;
  border-color: RGB(20, 149, 231) !important;
}
.sureBtn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
