@import "./variables.scss";
@import "./mixin.scss";
@import "./transition.scss";
@import "./element-ui.scss";
@import "./sidebar.scss";

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
  flex: 1;
  background-color: $appContainerBackgroundColor;
  .app-form {
    flex: 1;
    padding: 24px;
    background-color: white;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    .mytablebox {
      flex: 1;
    }
    .vxe-pager {
      border: 1px solid #e8eaec;
    }
  }
  .el-dialog__wrapper {
    .el-dialog {
      .el-dialog__header {
        border-bottom: 1px solid #e8e8e8;
      }
    }
  }
}

.main-div {
  padding: 20px;
  flex: 1;
  background-color: $appContainerBackgroundColor;
}

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
