<!-- 告警信息 -->
<template>
  <div class="app-nav">
    <div class="son-nav">
      <el-form ref="tablePage" :inline="true" :model="tablePage" class="form-inline">
        <el-form-item label="" prop="areaName">
          <el-select v-model="tablePage.areaName" placeholder="区属">
            <el-option
              v-for="item in areaList"
              :key="item.id"
              :label="item.name"
              :value="item.name"
            />
          </el-select>
        </el-form-item>
        <el-form-item label="" prop="villageName">
          <el-input v-model="tablePage.villageName" placeholder="小区名称" />
        </el-form-item>
        <el-form-item label="">
          <el-select v-model="dealStatus1" placeholder="状态筛选">
            <el-option
              label="烟感报警"
              value="烟感报警"
            />
            <el-option
              label="入侵报警"
              value="入侵报警"
            />
            <el-option
              label="红外报警"
              value="红外报警"
            />
          </el-select>
        </el-form-item>
        <el-form-item label="">
          <el-select v-model="dealStatus2" placeholder="处理状态">
            <el-option
              label="未处理"
              :value="0"
            />
            <el-option
              label="已处理"
              :value="1"
            />
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="screening">查询</el-button>
        </el-form-item>
        <el-form-item>
          <el-button type="default" @click="reset('tablePage')">重置</el-button>
        </el-form-item>
      </el-form>
      <div class="li-table my-scrollbar">
        <div v-if="tablePage.total == 0" class="noData">暂无告警数据~</div>
        <div v-for="(item,index) in tableData" :key="index" class="li">
          <!-- <img :src="item.image" class="img" alt=""> -->
          <el-image v-if="item.image != null && item.image != ''" class="img" :src="item.image"></el-image>
          <el-image v-else class="img">
            <div slot="error" class="image-slot" style="display: flex;justify-content: center;line-height: 100px;color: #ccc;">
              <span>暂无图片</span>
            </div>
          </el-image>
          <div class="box2">
            <div class="one">{{ item.areaName +" "+ item.villageName +" "+ (item.buildNo != null ?item.buildNo:'') + " " + item.roomNo }}</div>
            <!-- <div class="two">
              <div v-if="item.enterStatus == 1" class="two1 r">闯入报警</div>
              <div v-if="item.smokeStatus == 1" class="two1 r">烟感报警</div>
              <div :class="item.dealStatus==0?'two1 y':'two1 g'">{{ dealObj[item.dealStatus] }}</div>
            </div> -->
            <div class="two" style="    margin-bottom: 10px;">
              <el-tag v-if="item.smokeStatus == 1">烟感</el-tag>
              <el-tag v-if="item.imprinterStatus == 1" type="success">刷卡器</el-tag>
              <el-tag v-if="item.infraredStatus == 1" type="warning">红外</el-tag>
              <el-tag v-if="item.enterStatus == 1" type="danger">入侵</el-tag>
              
              <el-tag v-if="item.smokeStatus==0&&item.enterStatus==0&&item.infraredStatus==0" type="success">已处理</el-tag>
              <el-tag v-else type="danger">未处理</el-tag>
            </div>
            <div class="three">
              <i class="el-icon-location" /> <span>{{ item.location }}</span>
            </div>
          </div>
          <div class="box1">
            <div :class="item.smokeStatus==0?'one g': item.smokeStatus==1 ? 'one r': 'one' ">{{ item.smokeStatus != 1 ?  statusObj[item.smokeStatus] : formatDate(item.smokeTime) }}</div>
            <!-- <div :class="item.smokeStatus==0?'one g':'one r'">{{ item.smokeStatus != 1 ?  statusObj[item.smokeStatus] : formatDate(item.smokeTime) }}</div> -->
            <div class="two">烟感状态</div>
          </div>
          <div class="box1">
            <div :class="item.enterStatus==0?'one g': item.enterStatus==1 ? 'one r': 'one'">{{ item.enterStatus != 1 ?  statusObj[item.enterStatus] : formatDate(item.enterTime) }}</div>
            <div class="two">入侵状态</div>
          </div>
          <div class="box1">
            <div :class="item.infraredStatus==0?'one g': item.infraredStatus==1 ? 'one r': 'one'">{{ item.infraredStatus != 1 ?  statusObj[item.infraredStatus] : formatDate(item.infraredTime) }}</div>
            <div class="two">红外状态</div>
          </div>
          <!-- <div class="box1">
            <div :class="item.imprinterStatus==0?'one g': item.imprinterStatus==1 ? 'one r': 'one'">{{ item.imprinterStatus != 1 ?  statusObj[item.imprinterStatus] : formatDate(item.imprinterTime) }}</div>
            <div class="two">刷卡器状态</div>
          </div> -->
          <!-- <div class="box1">
            <div class="one">{{ formatDate(item.time) }}</div>
            <div class="one">{{ item.time }}</div>
            <div class="two">告警发生时间</div>
          </div> -->
          <div class="box1" style="align-items: center;flex-direction: row;">
            <el-button type="warning" style="width:50px" @click="historyInfo(item)"><i class="el-icon-document"></i> </el-button>
            <el-button 
              :style="{'width':'50px','background': item.smokeStatus==0&&item.enterStatus==0&&item.infraredStatus==0 ? '#C8C8C8' : '#03B368','color':'white'}" 
              @click="deal(item)">
              <i class="el-icon-s-check"></i>
            </el-button>
          </div>
        </div>
      </div>
      <vxe-pager
        perfect
        :current-page.sync="tablePage.page"
        :page-size.sync="tablePage.limit"
        :total="tablePage.total"
        :layouts="['PrevJump', 'PrevPage', 'JumpNumber', 'NextPage', 'NextJump', 'Sizes', 'FullJump', 'Total']"
        @page-change="handlePageChange"
      />
    </div>
    <vxe-modal v-model="alertVal" width="30%" height="50%" title="历史告警信息">
      <template #default>
        <vxe-table
          border
          show-header-overflow
          show-overflow
          highlight-hover-row
          align="center"
          :loading="loading2"
          :data="tableData2"
          :seq-config="{startIndex: (tablePage2.page - 1) * tablePage2.limit}">
          <vxe-column type="seq" title="序号" width="60"></vxe-column>
          <!-- 烟感，入侵，红外，设备离线 -->
          <vxe-column field="warnType" title="告警类型"></vxe-column>
          <vxe-column field="warnTime" title="告警时间"></vxe-column>
          <vxe-column field="status" title="状态">
            <template #default="{row}">
              <span v-if="row.status == 1">已处理</span>
              <span v-else style="color:red;">未处理</span>
            </template>
          </vxe-column>
          <vxe-column title="操作">
            <template #default="{ row }">
              <el-button @click="details(row)"
                :style="{'background': row.status==1 ? '#C8C8C8' : '#03B368','color':'white'}">
                <i class="el-icon-thumb"></i>
              </el-button>
            </template>
          </vxe-column>
        </vxe-table>
        <vxe-pager
        perfect
        :current-page.sync="tablePage2.page"
        :page-size.sync="tablePage2.limit"
        :total="tablePage2.total"
        :pager-count="5"
        :layouts="['PrevJump', 'PrevPage', 'JumpNumber', 'NextPage', 'NextJump', 'FullJump', 'Total']"
        @page-change="handlePageChange2"
      />
      </template>
    </vxe-modal>
  </div>
</template>

<script>
// 这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
// 例如：import 《组件名称》 from '《组件路径》';
import { getWarnHistory, updateDealStatus, getList, updateOneWarn } from '@/api/vacant_house/house'
import { getHistoryList } from '@/api/vacant_house/mana.js'
var moment = require('moment')
import { getListSysArea } from '@/api/vacant_house/eq'
export default {
// import引入的组件需要注入到对象中才能使用
  components: {},
  data() {
    // 这里存放数据
    return {
      dealStatus1: null,
      dealStatus2: null,
      tablePage: {
        page: 1,
        limit: 10,
        total: 0,
        areaName: null,
        villageName: null,
        fStatus: null,
        gStatus: null,
        hStatus: null,
        status: 1
      },
      tableData: [],
      areaList: [],
      dealObj: {
        0: '未处理',
        1: '已处理'
      },
      statusObj: {
        0: '正常',
        1: '异常',
        2: '网关离线',
        3: '无绑定设备'
      },
      // 历史信息
      alertVal: false,
      loading2: false,
      tableData2: [],
      tablePage2: {
        page: 1,
        limit: 10,
        total: 0
      },
      rowData: null
    }
  },
  // 监听属性 类似于data概念
  computed: {},
  // 监控data中的数据变化
  watch: {},
  // 生命周期 - 创建完成（可以访问当前this实例）
  created() {
    this.init()
  },
  // 生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
  },
  beforeCreate() {}, // 生命周期 - 创建之前
  beforeMount() {}, // 生命周期 - 挂载之前
  beforeUpdate() {}, // 生命周期 - 更新之前
  updated() {}, // 生命周期 - 更新之后
  beforeDestroy() {}, // 生命周期 - 销毁之前
  destroyed() {}, // 生命周期 - 销毁完成
  activated() {},
  // 方法集合
  methods: {
    formatDate(time) {
      if (time) {
        return moment(parseInt(time)).format('YYYY-MM-DD HH:mm:ss')
      }
      return time
    },
    init() {
      // 区域信息
      getListSysArea({ current: 1, size: 20 }).then(res => {
        this.areaList = res.data.records
      })
      this.getWarnHistory_api()
    },
    // 房屋设备状态最新状态
    getWarnHistory_api() {
      getList(this.tablePage).then(res => {
        if(res.code === 200){
          this.tableData = res.data
          this.tablePage.total = res.count
        }
      })
    },
    reset(formName) {
      this.dealStatus1 = null
      this.dealStatus2 = null
      this.tablePage.fStatus = null
      this.tablePage.gStatus = null
      this.tablePage.hStatus = null
      this.$refs[formName].resetFields()
      this.getWarnHistory_api()
    },
    async screening() {
      this.tablePage.page = 1
      switch (this.dealStatus1) {
        case '入侵报警':
          this.tablePage.fStatus = 0
          this.tablePage.gStatus = null
          this.tablePage.hStatus = null
          break;
        case '红外报警':
          this.tablePage.fStatus = null
          this.tablePage.gStatus = 0
          this.tablePage.hStatus = null
          break;
        case '烟感报警':
          this.tablePage.fStatus = null
          this.tablePage.gStatus = null
          this.tablePage.hStatus = 0
          break;
      }
      switch (this.dealStatus2) {
        case 0:
          this.tablePage.fStatus = 0
          this.tablePage.gStatus = 0
          this.tablePage.hStatus = 0
          break;
        case 1:
          this.tablePage.fStatus = 1
          this.tablePage.gStatus = 1
          this.tablePage.hStatus = 1
          break;
      }
      await this.getWarnHistory_api()
    },
    handlePageChange({ currentPage, pageSize }) {
      this.tablePage.page = currentPage
      this.tablePage.size = pageSize
      this.getWarnHistory_api()
    },
    // 历史告警信息
    historyInfo(rowData){
      this.alertVal = true
      this.rowData = rowData
      this.tablePage2.sid = rowData.id
      // this.tablePage2.houseId = rowData.id
      getHistoryList(this.tablePage2).then(res => {
        console.log("历史告警信息", res);
        this.tableData2 = res.warn
        this.tablePage2.total = res.total
      })
    },
    // 历史告警处理
    details(row){
      if(row.status == 0){
        updateOneWarn({ id: row.id,  WarnType: row.warnType }).then(res => {
            this.$message({
              type: 'success',
              message: '操作成功!'
            })
            this.tablePage2.sid = this.rowData.id
            getHistoryList(this.tablePage2).then(res => {
              this.tableData2 = res.warn
              this.tablePage2.total = res.total
            })
          })
      }else{
        // 已处理
      }
    },
    handlePageChange2({ currentPage, pageSize }) {
      this.tablePage2.page = currentPage
      this.historyInfo(this.rowData)
    },
    deal(item) {
      if(item.smokeStatus==0&&item.enterStatus==0&&item.infraredStatus==0){
        // 已处理
      }else{
        this.$confirm('是否处理?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          updateDealStatus({ houseId: item.id,  status: 1 }).then(res => {
            this.$message({
              type: 'success',
              message: '操作成功!'
            })
            this.getWarnHistory_api()
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消'
          })
        })
      }
      
    }
  } // 如果页面有keep-alive缓存功能，这个函数会触发
}
</script>
<style lang='scss' scoped>
//@import url(); 引入公共css类
.el-tag{
  margin-right: 5px;
}
::v-deep.vxe-modal--wrapper .vxe-modal--content{
  display: flex;
  flex-direction: column;
}
.vxe-table{
  flex: 1;
}
.app-nav{
    background-color: white;
    .son-nav{
      .li-table{
        flex: 1;
        border: 1px solid #e8eaec;
        .noData{
          text-align: center;
          height: 40px;
          color: red;
          line-height: 40px;
        }
        .li{
          padding: 20px 40px;
          display: flex;
          flex-direction: row;
          border-bottom: 1px solid #e8eaec;
          &:last-child{
            border-bottom: none;
          }
          .img{
            width: 160px;
            height: 100px;
            border-radius: 5px;
            margin-right: 30px;
            background-color: rgba(0,0,0,0.02);
            border: 1px solid #eee;
          }
          .box1{
            flex: 1;
            padding-left: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            //align-items: center;
            .one{
              font-size: 16px;
              color: #8C8C8C;
              margin-bottom: 10px;
            }
            .two{
              // color: #8C8C8C;
              font-weight: 900;
            }
            .r{
              color: #FA4040;
            }
            .g{
              color: #6ADC7C;
            }
          }
          .box2{
            flex: 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .one{
              color: #4B4B4B;
              font-size: 18px;
              max-width: 452px;
              overflow: hidden;
              text-overflow:ellipsis;
              white-space: nowrap;
              margin-bottom: 10px;
            }
            .two{
              display: flex;
              flex-direction: row;
              .two1{
                width: 95px;
                height: 27px;
                margin-right: 10px;
                text-align: center;
                line-height: 27px;
                border-radius: 3px;
              }
              .r{
                background-color: #FEEDED;
                color: #FA4040;
              }
              .y{
                color: #FF8D00;
                background-color: #FFEFD8;
              }
              .g{
                background-color: #F0FCF3;
                color: #6ADC7C;
              }
            }
            .three{
              color: #8C8C8C;
              max-width: 452px;
              overflow: hidden;
              text-overflow:ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
    }
}

</style>
