<template>
  <view class="data-table1">
    <u-toast ref="uToast" />
    <view class="uForm">
      <u-form :model="form" label-position="top" style="margin-top: 80rpx">
        <!-- ele.name是 submitForm的key-->
        <block v-for="(ele, index1) in form.table" :key="index1">
          <block v-if="ele.showType == 'input'">
            {{ submitForm[["z000" + index + 1].name] }}
            <u-form-item :label="ele.title">
              <u-input v-model="submitForm[ele.name]" disabled />
            </u-form-item>
          </block>
          <block v-if="ele.showType == 'number'">
            <u-form-item :label="ele.title">
              <u-input type="number" v-model="submitForm[ele.name]" />
            </u-form-item>
          </block>
          <block v-else-if="ele.showType == 'data'">
            <u-form-item :label="ele.title">
              <u-input
                @click="show2 = true"
                v-model="submitForm[ele.name]"
                placeholder="请选择日期"
              >
              </u-input>
              <u-picker
                mode="time"
                v-model="show2"
                :params="params2"
                @confirm="getDate($event, ele.name)"
              >
              </u-picker>
            </u-form-item>
          </block>
          <block v-else-if="ele.showType == 'radio'">
            <u-form-item :label="ele.title">
              <u-radio-group
                v-model="submitForm[ele.name]"
                @change="radioGroupChange($event, ele.name)"
              >
                <u-radio
                  v-for="(item, index2) in ele.arr"
                  :key="index2"
                  :name="item.name"
                >
                  {{ item.name }}
                </u-radio>
              </u-radio-group>
            </u-form-item>
          </block>
          <block v-else-if="ele.showType == 'checkbox'">
            <u-form-item :label="ele.title">
              <u-checkbox-group @change="checkboxGroupChange($event, ele.name)">
                <u-checkbox
                  v-for="(item, index3) in ele.arr"
                  :key="index3"
                  :name="item.name"
                  v-model="item.checked"
                  >{{ item.name }}</u-checkbox
                >
              </u-checkbox-group>
            </u-form-item>
          </block>
          <block v-else-if="ele.showType == 'img'">
            <u-form-item :label="ele.title">
              <!-- :file-list="submitForm[ele.name]" -->
              <u-upload
                :action="action"
                :header="header"
                :file-list="submitForm[ele.name]"
                @on-remove="onRemove"
                @on-success="onSuccess($event, ele.name)"
                @on-preview="onPreview"
                :max-size="5 * 1024 * 1024"
                max-count="6"
              ></u-upload>
            </u-form-item>
          </block>

          <block v-else-if="ele.showType == 'file'">
            <u-form-item :label="ele.title">
              <view
                class="u-flex"
                style="width: 100%; justify-content: space-between"
              >
                <uni-file-picker
                  :action="action"
                  limit="1"
                  file-mediatype="all"
                  title="最多选择1个文件"
                  @select="select($event, ele.name)"
                  @fail="fail"
                  fileMediatype="all"
                  :value="{
                    name: submitForm[ele.name].name,
                    extname: 'txt',
                    url: submitForm[ele.name].url,
                  }"
                >
                  <!-- :value="{ 'name':submitForm[ele.name].name,'extname':'txt','url':submitForm[ele.name].url}" -->
                </uni-file-picker>
                <view style="padding: 30rpx" @click="downLoad(ele.name)"
                  >预览</view
                >
              </view>
            </u-form-item>
          </block>
          <block v-else-if="ele.showType == 'map'">
            <u-form-item :label="ele.title">
              <map
                style="width: 92%; height: 20vh; margin: 0 auto"
                :latitude="mapData.latitude"
                :longitude="mapData.longitude"
                :markers="mapData.marker"
              ></map>
            </u-form-item>
          </block>
        </block>
      </u-form>
    </view>
    <block v-if="option.isChange != 2">
      <view class="u-flex btnBox">
        <button class="u-btn1" @click="sumbit()">一键提交</button>
        <button class="u-btn2" @click="caogao()">提交到草稿箱</button>
      </view>
    </block>
  </view>
</template>

<script>
import url from "../../../common/http/URL.js";
import store from "../../../store/index.js";
let token = uni.getStorageSync("token", token);

export default {
  data() {
    return {
      option: null,
      showdata: "",
      params2: {
        year: true,
        month: true,
        day: true,
        hour: false,
        minute: false,
        second: false,
        // 选择时间的时间戳
        timestamp: true,
      },
      form: {
        table: [],
      },
      submitForm: {},
      isshow: false,
      show2: false,
      mode: "date",
      action: store.state.baseUrl + "/upload/uploadFile",
      header: {
        client_id: "jeecp",
        client_secret: "webApp",
        Authorization: "Bearer " + token,
      },
      fileList: [],
      mapData: {
        // 经纪人id
        agentId: 0,
        title: "map", //地图标题
        latitude: 23.12463,
        longitude: 113.36199,
        marker: [
          {
            id: 0,
            latitude: 23.12463,
            longitude: 113.36199,
            iconPath: "", //显示的图标
            rotate: 0, // 旋转度数
            width: 20, //宽
            height: 20, //高
            title: "你在哪了", //标注点名
            alpha: 1, //透明度
            label: {
              //为标记点旁边增加标签   //因背景颜色H5不支持
              content: "唐山迁安", //文本
              color: "red",
            },
            callout: {
              //自定义标记点上方的气泡窗口 点击有效
              content: "水秀一路", //文本
              color: "#000", //文字颜色
              fontSize: 14, //文本大小
              borderRadius: 5, //边框圆角
              //bgColor:'#00c16f',//背景颜色
              display: "BYCLICK", //常显
              padding: 10, //文本边缘留白
            },
          },
        ],
      },
    };
  },
  onLoad(option) {
    this.option = option;
    option.dataId == "null"
      ? this.getFormDetail(url.getParkFormDetail, {
          id: option.templateId,
        })
      : this.xiugai(url.caogao, option);
  },
  onReady() {},
  methods: {
    //新增入口
    getFormDetail(url, data) {
      this.$u.api.GET(url, data).catch((res) => {
        this.isshow = true;
        let data = res.tableList;
        for (let i = 0; i < data.length; i++) {
          this.judge(data[i], data[i].remark, data[i].type);

          if (data[i].remark.indexOf("img") != -1) {
            this.submitForm[data[i].name] = [];
          } else if (data[i].remark.indexOf("file") != -1) {
            this.submitForm[data[i].name] = {};

            console.log(this.submitForm[data[i].name], "我是文件啊");
          } else {
            this.submitForm[data[i].name] = null;
          }
        }
      });
    },
    //编辑入口
    xiugai(url, data) {
      console.log(this.form.table, "table");
      this.$u.api.POST(url, data).then((res) => {
        this.isshow = true;
        let data = res.data.table;
        let vals = res.data.list.data[0];
        for (let i = 0; i < data.length; i++) {
          this.judge(data[i], data[i].remark, data[i].type);
          this.submitForm[data[i].name] = vals[data[i].name];
          switch (this.form.table[i].showType) {
            case "img":
              let imgArr = this.submitForm[data[i].name].split(",");
              this.submitForm[data[i].name] = imgArr.map((ele) => {
                return {
                  url: ele,
                };
              });
              this.fileList.push({ url: this.submitForm[data[i].name] });
              break;

            case "checkbox":
              let needTrue2 = this.form.table[i].arr;
              let val = vals[data[i].name];
              let checkboxArr = [];
              if (val.indexOf(",") != -1) {
                checkboxArr = val.split(",");
                needTrue2.map((ele, index) => {
                  checkboxArr.includes(ele.name)
                    ? (needTrue2[index].checked = true)
                    : (needTrue2[index].checked = false);
                });
              } else {
                needTrue2.map((ele, index) => {
                  ele.name == val
                    ? (needTrue2[index].checked = true)
                    : (needTrue2[index].checked = false);
                });
              }

              this.form.table[i].arr = needTrue2;
              break;

            case "file":
              this.submitForm[data[i].name] = JSON.parse(
                this.submitForm[data[i].name]
              );
              break;
          }
        }

        console.log(this.submitForm, "this.submitForm");
      });
    },
    // 上传附件成功
    select(e, key) {
      uni.uploadFile({
        url: this.action,
        header: this.header,
        name: "file",
        filePath: e.tempFilePaths[0],
        success: (uploadFileRes) => {
          let data = JSON.parse(uploadFileRes.data);

          this.submitForm[key] = {
            name: e.tempFiles[0].name,
            url: data.data[0],
          };
        },
      });
    },
    //预览附件
    downLoad(key) {
      wx.downloadFile({
        url: this.submitForm[key].url,
        success(res) {
          // 只要服务器有响应数据，就会把响应内容写入文件并进入 success 回调，业务需要自行判断是否下载到了想要的内容
          if (res.statusCode === 200) {
            switch (res.header["Content-Type"]) {
              case "image/png" || "image/jpeg":
                wx.previewMedia({
                  sources: [
                    {
                      url: res.tempFilePath,
                    },
                  ],
                });
                break;
              default:
                wx.openDocument({
                  //打开
                  filePath: res.tempFilePath,
                  success(res) {
                    console.log(res, "看");
                  },
                });
            }
          }
        },
      });
    },
    // 上传附件失败
    fail(e) {
      console.log("上传失败：", e);
    },
    checkboxChange(e) {
      console.log(e);
    },
    checkboxGroupChange(e, val) {
      this.submitForm[val] = e.toString();
    },
    radioGroupChange(e, val) {
      this.submitForm[val] = e;
    },
    getDate(e, val) {
      console.log(e, this.submitForm[val]);
      this.submitForm[val] = e.year + "-" + e.month + "-" + e.day;
    },
    //全屏预览
    onPreview(url) {
      console.log("预览");
    },
    //上传图片成功回调
    onSuccess(event, val) {
      if (this.option.dataId == "null") {
        this.submitForm[val].push(event.data.toString());
      } else {
        this.submitForm[val].push({
          url: event.data.toString(),
        });
      }
    },
    showTip(title, type) {
      this.$refs.uToast.show({
        title: title,
        type: type,
      });
    },
    onRemove(index, lists) {
      console.log("图片已被移除");
    },
    //一键提交
    sumbit() {
      this.submitForm.is_delete = 1;
      this.submitForm.task_id = this.option.id;
      this.submitForm.firm_id = this.option.firmId;
      let params = {
        taskId: this.option.id,
        id: this.option.templateId,
        text: this.submitForm,
      };
      console.log(params, "params一键提交");
      // this.sumbitPost(url.postTable, params)
    },
    //提交到草稿
    caogao() {
      if (this.option.dataId == "null") {
        //新填报数据
        this.sumbitIsArr();
        console.log(this.submitForm, "新填报数据2");
        this.submitForm.task_id = this.option.id;
        let params = {
          id: this.option.templateId,
          text: this.submitForm,
        };
        this.sumbitPost(url.postTable, params);
      } else {
        //修改数据
        this.sumbitIsArr();
        this.submitForm.task_id = this.option.taskId;
        this.submitForm.is_delete = 0;
        this.submitForm.id = this.option.dataId;
        this.submitForm.firm_id = this.option.firmId;
        let params2 = {
          templateId: this.option.id,
          text: this.submitForm,
        };
        console.log(params2, " 修改数据");
        this.sumbitPost(url.updataCaogao, params2);
      }
    },
    sumbitIsArr() {
      for (let key in this.submitForm) {
        if (Array.isArray(this.submitForm[key])) {
          if (typeof this.submitForm[key][0] == "object") {
            //修改
            this.submitForm[key] = this.submitForm[key].map((ele) => {
              return ele.url;
            });
            this.submitForm[key] = this.submitForm[key].toString();
          } else {
            //新增
            this.submitForm[key] = this.submitForm[key].toString();
          }
        } else if (this.submitForm[key] == undefined) {
          //表单未填完
          this.showTip("请完善表单", "error");
        } else if (typeof this.submitForm[key] == "object") {
          //附件
          this.submitForm[key] = JSON.stringify(this.submitForm[key]);
        }
      }
    },

    sumbitPost(url, params) {
      this.$u.api.POST(url, params).catch((res) => {
        if (res.resp_code == 200) {
          setTimeout(() => {
            this.$u.route({
              type: "back",
            });
          }, 2000);

          this.showTip("提交成功", "success");
        } else {
          this.showTip("请检查网络", "error");
        }
      });
    },
    judge(obj, remark, type) {
      obj.title = obj.remark.split(";")[0] + " :";
      switch (type) {
        case "date":
          obj.showType = "data";
          this.form.table.push(obj);
          break;
        case "int":
          obj.showType = "number";
          this.form.table.push(obj);
          break;
        default:
          let showType = obj.remark.split(";")[1];

          if (showType.indexOf(",") != -1) {
            obj.showType = "radio";
            obj.arr = showType.split(",").map((ele) => {
              return {
                name: ele,
                checked: false,
              };
            });
            this.form.table.push(obj);
          } else if (showType.indexOf("&") != -1) {
            obj.showType = "checkbox";
            obj.arr = showType.split("&").map((ele) => {
              return {
                name: ele,
                checked: false,
              };
            });
            this.form.table.push(obj);
          } else {
            if (showType == "img") {
              obj.showType = "img";
              this.form.table.push(obj);
            } else if (showType == "map") {
              obj.showType = "map";
              this.form.table.push(obj);
            } else if (showType == "file") {
              obj.showType = "file";
              this.form.table.push(obj);
            } else {
              obj.showType = "input";
              this.form.table.push(obj);
            }
          }
          break;
      }
    },
  },
};
</script>

<style lang="scss">
.a {
  height: unset;
}

.data-table1 {
  // margin-bottom: 100rpx;
  padding-bottom: 120rpx;

  .uForm {
    min-height: 83vh;
    padding: 0rpx 30rpx 0rpx 30rpx;

    /deep/.u-form-item--left__content__label {
      font-weight: 600;
    }
  }

  .addBtn {
    background-color: #1e3c72;
    font-size: $uni-font-size-lg;
    color: white;
    border-radius: 110rpx;
    width: 240rpx;
    margin-left: 65%;
  }
  .btnBox {
    width: 100%;
    position: fixed;
    bottom: 0 !important;
    .u-btn1,
    .u-btn2 {
      width: 50%;
      margin: unset;
      border: unset;
      background: #4caf50;
      font-size: 34rpx;
      color: white;
      border-radius: unset;
      padding: 2rpx;
      z-index: 99;
    }
    .u-btn2 {
      background: #1e3c72;
    }
  }
}
</style>
