<template>
  <div id="myMain">
    <div class="f1 displayFlexR mt20">
      <div
        class="f1 myPadding myBR displayFlexC"
        style="background-color: white;margin-right: 20px;width:700px;"
      >
        <p class="title">
          <!-- <span class="vxe-icon--arrow-left" @click="goBack"></span> -->
          {{ houseDetailForm.attribute }} {{ houseDetailForm.plot_name }}
        </p>
        <houseSwiper :images="images"></houseSwiper>
      </div>
      <div
        class="f1 myPadding myBR"
        style="background-color: white;padding: 20px 20px;"
      >
        <div class="displayFlexC">
          <h4>房源信息</h4>
          <div class="line">
            <span>地块名称：</span>
            <span>{{ houseDetailForm.lot_name }}</span>
          </div>
          <div class="line">
            <span>录入单位：</span>
            <span>{{ houseDetailForm.unit }}</span>
          </div>
          <div class="line">
            <span>账面原值：</span>
            <span>{{ houseDetailForm.paper }}</span>
          </div>
          <div class="line">
            <span>评估价值：</span>
            <span>{{ houseDetailForm.assess }}</span>
          </div>
          <div class="line">
            <span>办证状态：</span>
            <span>{{ houseDetailForm.card_status }}</span>
          </div>
        </div>
        <div class="displayFlexC">
          <el-divider content-position="left"></el-divider>
          <h4>详情信息</h4>
          <div class="line single_line">
            <div class="single_line_item">
              <span>区属：</span>
              <span>{{ houseDetailForm.attribute }}</span>
            </div>

            <div class="single_line_item">
              <span>小区名称：</span>
              <span>{{ houseDetailForm.plot_name }}</span>
            </div>
          </div>
          <div class="line single_line">
            <div class="single_line_item">
              <span>楼号：</span>
              <span>{{ houseDetailForm.floor_no }}</span>
            </div>

            <div class="single_line_item">
              <span>梯号：</span>
              <span>{{ houseDetailForm.ladder_no }}</span>
            </div>
          </div>

          <div class="line single_line">
            <div class="single_line_item">
              <span>房号：</span>
              <span>{{ houseDetailForm.house_no }}</span>
            </div>

            <div class="single_line_item">
              <span>房屋户型：</span>
              <span>{{ houseDetailForm.house_type_id | formatterHouseType }}</span>
            </div>
          </div>

          <div class="line single_line">
            <div class="single_line_item">
              <span>套内面积：</span>
              <span>{{ houseDetailForm.cover_area }}</span>
            </div>

            <div class="single_line_item">
              <span>分摊面积：</span>
              <span>{{ houseDetailForm.all_area }}</span>
            </div>
          </div>
          <div class="line" style="width: 50%;">
            <span>总面积：</span>
            <span>{{ houseDetailForm.total_area }}</span>
          </div>
          <div class="line">
            <span style="width: 12.5%;">房产证地址：</span>
            <span>{{ houseDetailForm.site }}</span>
          </div>
          <div class="line">
            <span style="width: 12.5%;">产权证号：</span>
            <span>{{ houseDetailForm.property_no }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
.line {
  width: 100%;
  line-height: 25px;
  clear: both;
  span {
    line-height: 25px;
    width: 30%;
    float: left;
  }
  span:nth-of-type(even) {
    line-height: 25px;
    font-weight: bold;
    color: #4b4b4b;
    /* width: 15%; */
    text-align: justify;
  }
  span:nth-of-type(odd):after {
    display: inline-block;
    width: 100%;
    content: "";
  }
  span:nth-of-type(even) {
    margin-left: 5%;
  }
}
.single_line {
  display: flex;

  .single_line_item {
    display: flex;
    width: 100%;
  }
}
</style>
<script>
import houseSwiper from "@/components/houseInfoTable/houseSwiper.vue";
export default {
  components: {
    houseSwiper,
  },
  data() {
    return {
      houseDetailForm: {},
      images: null,
    };
  },
  filters: {
    formatterHouseType(v) {
      let houseTypeArr = ['单间', '1房1厅', '1房2厅', '2房1厅', '2房2厅', '3房1厅', '3房2厅', '4房及以上']
      return houseTypeArr[v];
    }
  },
  methods: {
    goBack() {
      this.$router.go(-1);
    },
  },
  created() {},
  mounted() {
    this.houseDetailForm = this.$route.query.data;
    console.log(
      this.houseDetailForm.img.split(",")
      // JSON.parse(this.houseDetailForm.plot_img)[0]
    );
    this.images = this.houseDetailForm.img.split(",");
    let _this = this;
    const breads = document.querySelector("#breadcrumbSpan");
    breads.children[1].addEventListener("click", function() {
      _this.$router.push({
        path: "/house/layout_Warehouse/house_warehouse_info",
      });
    });
  },
};
</script>
