<!-- 入库房源 -->
<template>
  <div id="myMain">
    <div v-if="!alertVal1" class="myMain-padding displayFlexC myWbc">
      <div
        class="table-top"
        style="position: relative;flex-direction: column;padding: 0 20px;"
      >
        <div class="houseInfor-top-line">
          <span>区属</span>
          <el-checkbox-group
            v-model="checkedCities"
            @change="handleCheckedCitiesChangeRegion"
            class="checkedCities"
          >
            <el-checkbox v-for="city in cities" :label="city" :key="city">{{
              city
            }}</el-checkbox>
          </el-checkbox-group>
        </div>
        <div class="houseInfor-top-line">
          <span>房型</span>
          <el-checkbox-group
            v-model="checkedHouses"
            @change="handleCheckedHousesChangeHouse"
            class="checkedHouses"
          >
            <el-checkbox
              v-for="house in houses"
              :label="house.value"
              :key="house.value"
              >{{ house.label }}</el-checkbox
            >
          </el-checkbox-group>
        </div>
        <div class="positionPager">
          <el-button
            @click="toChange"
            icon="el-icon-edit-outline"
            type="info"
            size="mini"
            >发起修改</el-button
          >

          <!-- <el-button icon="el-icon-download" size="mini">导出</el-button> -->
        </div>
      </div>
      <el-divider content-position="left"></el-divider>
      <div class="myTable f1">
        <vxe-table
          ref="xTable"
          row-id="id"
          :show-header="false"
          :data="tableData"
          :checkbox-config="{
            reserve: true,
            checkRowKeys: defaultSelecteRows,
            highlight: false,
            checkMethod: canCheck
          }"
          @checkbox-change="checkboxChangeEvent"
        >
          <vxe-table-column type="checkbox" width="60"></vxe-table-column>
          <vxe-column field="img" title="" width="130px">
            <template #default="{ row }">
              <router-link
                :to="{
                  path: '/house/layout_Warehouse/house_info_details',
                  query: { data: row },
                }"
              >
                <img
                  v-if="row.img"
                  :src="row.img"
                  style="width: 100px;height: 60px;border-radius: 5px;"
                />
                <img
                  v-else
                  src="~@/assets/images/no_picture.png"
                  style="width: 100px;height: 60px;border-radius: 5px;"
                />
              </router-link>
            </template>
          </vxe-column>
          <vxe-column field="b" title="" width="300px">
            <template #default="{ row }">
              <router-link
                :to="{
                  path: '/house/layout_Warehouse/house_info_details',
                  query: { data: row },
                }"
              >
                <p>{{ row.attribute }} {{ row.plot_name }} {{ row.house_no }}</p>
                <p>
                  <span class="zhuzhai">住宅</span>
                  <!-- <span class="kongfang" v-if="row.empty == 0">空房</span>
                  <span class="yizhu" v-else>已住</span> -->
                  <!-- <span class="dianti">
                    {{
                      row.empty == 0 ? "电梯" : "无电梯"
                    }}
                  </span> -->
                </p>
                <p style="font-size:1.4rem;color: #999;">
                  <i class="el-icon-location"></i>{{ row.site }}
                </p>
              </router-link>
            </template>
          </vxe-column>
          <vxe-column field="count1" title="">
            <template #default="{ row }">
              <router-link
                :to="{
                  path: '/house/layout_Warehouse/house_info_details',
                  query: { data: row },
                }"
              >
                <p>{{ row.total_area }}㎡</p>
                <p style="font-size:1.4rem;color: #999;">
                  面积
                </p>
              </router-link>
            </template>
          </vxe-column>
          <vxe-column field="count1" title="">
            <template #default="{ row }">
              <router-link
                :to="{
                  path: '/house/layout_Warehouse/house_info_details',
                  query: { data: row },
                }"
              >
                <p>{{ row.house_type_id | houseTypeFormatter }}</p>
                <p style="font-size:1.4rem;color: #999;">
                  户型
                </p>
              </router-link>
            </template>
          </vxe-column>
          <vxe-column field="count1" title="">
            <template #default="{ row }">
              <router-link
                :to="{
                  path: '/house/layout_Warehouse/house_info_details',
                  query: { data: row },
                }"
              >
                <p>{{ row.high }}层</p>
                <p style="font-size:1.4rem;color: #999;">
                  楼层
                </p>
              </router-link>
            </template>
          </vxe-column>
          <vxe-column field="count1" title="">
            <template #default="{ row }">
              <router-link
                :to="{
                  path: '/house/layout_Warehouse/house_info_details',
                  query: { data: row },
                }"
              >
                <p>道扩办</p>
                <p style="font-size:1.4rem;color: #999;">权属信息</p>
              </router-link>
            </template>
          </vxe-column>
        </vxe-table>
        <!-- 分页按钮 -->

        <vxe-pager
          class="paginationBlock"
          size="mini"
          :current-page="tablePage.currentPage"
          :page-size="tablePage.pageSize"
          :page-sizes="tablePage.pageSizes"
          :total="tablePage.totalResult"
          @page-change="pageChange"
          :layouts="[
            'Total',
            'Sizes',
            'PrevPage',
            'JumpNumber',
            'NextPage',
            'FullJump',
          ]"
        >
        </vxe-pager>
      </div>
    </div>

    <div
      v-if="alertVal1"
      style="padding: 20px 20px;
      background-color: #fff;
      margin-top: 20px;"
    >
      <inputTable1 ref="Table1"></inputTable1>

      <el-divider content-position="left"></el-divider>

      <inputTable1 ref="Table2" :showEdit="true" :doNotChangeCardStatus="true"></inputTable1>

      <div class="editionExplain">
        <div>修改说明：</div>
        <el-input
          type="textarea"
          v-model="editHouseExplain"
          rows="3"
          style="width: 500px;"
          placeholder="请输入修改说明"
        ></el-input>
      </div>
      <div style="width: 100%; text-align: right; margin-top: 20px;" @click="">
        <div
          style="float: right; color: #fff;border-radius: 4px; margin-bottom: 10px; width: 111px; height: 40px; text-align: center; line-height: 40px; background-color: #505976"
          @click="editStoragedHouseInfoApprove"
        >
          发布审核
        </div>
      </div>
    </div>

    <vxe-modal
      v-model="alertVal2"
      showFooter
      width="70%"
      height="50%"
      title="选择房屋"
    >
      <template #default>
        <div class="myPadding" style="line-height: 40px;height: 50px;">
          <span class="searchLabel fl">地块名称：</span>
          <el-input
            class="fl inputMargin"
            v-model="searchVal"
            @input="toSearch"
            prefix-icon="el-icon-search"
            style="width: 25vh;"
          ></el-input>
        </div>
        <inputTable1 ref="Table03"></inputTable1>
      </template>
    </vxe-modal>
  </div>
</template>

<script>
const cityOptions = [
  "越秀区",
  "海珠区",
  "荔湾区",
  "天河区",
  "白云区",
  "黄埔区",
  "南沙区",
  "番禺区",
  "花都区",
  "增城区",
  "从化区",
];
const houseOptions = [
  {
    label: "单间",
    value: 1,
  },
  {
    label: "1房2厅",
    value: 2,
  },
  {
    label: "2房1厅",
    value: 3,
  },
  {
    label: "2房2厅",
    value: 4,
  },
  {
    label: "3房1厅",
    value: 5,
  },
  {
    label: "3房2厅",
    value: 6,
  },
  {
    label: "4房以上",
    value: 7,
  },
];
const AreaOptions = [
  "40",
  "40-60",
  "60-80",
  "80-100",
  "100-120",
  "120-140",
  "144",
];
import inputTable1 from "@/components/houseInfoTable/table1.vue";
import {
  getTbCheckHousingStoredHouse,
  getStoredHouseById,
  editStorageHouseApprove,
} from "@/api/house";
import { startDef } from "@/api/panguBpm";
import { Loading } from "element-ui";
import { getStartBtn } from "@/api/loadwfmodule";
export default {
  //import引入的组件需要注入到对象中才能使用
  components: {
    inputTable1,
  },
  data() {
    //这里存放数据
    return {
      searchForm: {
        houseTypeId: [],
        attribute: [],
      },
      // 区属--多选框
      checkAllHouses: false,
      checkedCities: [],
      cities: cityOptions,
      isIndeterminateCities: true,
      // 房型--多选框
      checkAllCities: false,
      checkedHouses: [],
      houses: houseOptions,
      isIndeterminateHouses: true,
      // 面积--多选框
      checkAllAreas: false,
      checkedAreas: [],
      Areas: AreaOptions,
      isIndeterminateAreas: true,
      // 先选择区属才能筛选
      disabledVal: "disabled",
      // 表
      list: [
        {
          id: 1,
          a: require("@/assets/img/houseDisplay5.jpg"),
          b: "海珠区",
          c: "逸景翠园111",
          d: "9层",
          e: "901室",
          f: "东南",
          g: "普通住宅",
          h: "共12层",
          i: "220",
          j: "20",
          k: "200",
          l: "住宅",
          m: "广州市城市建设事务中心",
          n: "是",
          o: "是",
          p: "广州大道南1028号逸景翠园9楼901室",
          q: "王建军",
          r: "2020-05-26",
          s: "杜国瑛",
          t: "2020-12-25",
        },
        {
          id: 1,
          a: require("@/assets/img/houseDisplay5.jpg"),
          b: "海珠区",
          c: "逸景翠园111",
          d: "9层",
          e: "901室",
          f: "东南",
          g: "普通住宅",
          h: "共12层",
          i: "220",
          j: "20",
          k: "200",
          l: "住宅",
          m: "广州市城市建设事务中心",
          n: "是",
          o: "是",
          p: "广州大道南1028号逸景翠园9楼901室",
          q: "王建军",
          r: "2020-05-26",
          s: "杜国瑛",
          t: "2020-12-25",
        },
      ],
      tableData: [],
      // 分页
      tablePage: {
        currentPage: 1,
        pageSize: 10,
        pageSizes: [10, 20, 30, 40],
        totalResult: 0,
      },
      alertVal1: false,
      alertVal2: false,
      explain: null,
      searchVal: null,
      houseId: null,
      submited: false,
      loadingInstance: null,
      tempRecords: [],
      defaultSelecteRows: [],
      editHouseExplain: null
    };
  },
  //监听属性 类似于data概念
  computed: {},
  //监控data中的数据变化
  watch: {},
  filters: {
    houseTypeFormatter(val) {
      console.log("approvedFormat", val);
      let approvedArr = [
        "单间",
        "1房2厅",
        "2房1厅",
        "2房2厅",
        "3房1厅",
        "3房2厅",
        "4房以上",
      ];
      return approvedArr[Number(val) - 1];
      // return val;
    },
  },
  //方法集合
  methods: {
    editStoragedHouseInfoApprove() {
      this.$confirm("是否发送审核?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(async () => {
        if (this.editHouseExplain == null) {
          this.$message.error('请填写房屋修改说明！');
          return ;
        }
        let loadingInstance = Loading.service({
          fullscreen: true,
          target: "#myMain",
          // background: "#fff",
        });
        this.loadingInstance = loadingInstance;
        if (this.submited === true) {
          this.$message.error("请勿重复提交审核！");
          return;
        }
        this.submited = true;
        //审核
        let data = this.$refs.Table2.importDataTable;

        // data.state = this.editHouseExplain;

        for (let i = 0; i < data.length; i++) {
          data[i].housingId = data[i].id;
          delete data[i].id;
          console.log("for", data[i]);
        }

        // data.housingId = data.id;
        // delete data.id;
        console.log(
          "editStoragedHouseInfoApprove______1234",
          data,
          this.houseId
        );

        let info = await getStartBtn("edit_storage_house");

        // this.$delete(this.data, id);
        let res = await startDef({
          defId: info.defId,
          modelId: info.modelId,
          typeTitle: "入库房源修改审批",
          formData: JSON.stringify({
            houseId: this.houseId,
          }),
          groupId: 66731,
          typeKey: "入库房源修改审批",
          defKey: "edit_storage_house",
        });
        data.map((v) => {
          v.instId = res.processInstanceId;
          v.state = this.editHouseExplain;
        });
        if (res.code == 0) {
          let res = await editStorageHouseApprove(data);
          console.log("editStorageHouseApprove", res);
          this.$nextTick(() => {
            // 以服务的方式调用的 Loading 需要异步关闭
            this.loadingInstance.close();
          });
          this.$message({
            type: "success",
            message: "发送审批成功！！",
          });
          this.alertVal1 = false;
          this.submited = false;
        } else {
          this.$nextTick(() => {
            // 以服务的方式调用的 Loading 需要异步关闭
            this.loadingInstance.close();
          });
          this.$message({
            type: "error",
            message: "发送审批失败！",
          });
          this.submited = false;
        }
        this.init(this.searchForm, 1, 10);
        // this.init(
        //   this.tablePage.currentPage,
        //   this.tablePage.pageSize,
        //   this.searchForm
        // );
      });
    },
    radioChangeEvent({ row }) {
      console.log("单选事件 table1", row, this.isOption);
      this.houseId = row.id;
      // if (this.isOption == 1 || this.isOption == 3) {
      //   pub.$emit("changeTab", "house");
      //   return;
      // }
      // this.selectRow = row;
      // pub.$emit("chooseReceivedPlot", row);
    },
    canCheck({ row }) {
        return row.updateStatus == 1;
    },
    checkboxChangeEvent({ checked, records }) {
      console.log("checkboxChangeEvent", checked, records);
      this.tempRecords[this.tablePage.currentPage - 1] = records;
      let arr = [];
      this.tempRecords.forEach((val) => {
        val.forEach((v) => {
          this.defaultSelecteRows.includes(v.id)
            ? this.defaultSelecteRows.push(v.id)
            : "";
          arr.push(v.id);
        });
      });
      this.houseId = arr.join(",");
      // this.houseId = arr;
    },
    // 根据页切换
    pageChange(val) {
      console.log("page val", val.currentPage, val.pageSize);
      this.tablePage.currentPage = val.currentPage;
      this.tablePage.pageSize = val.pageSize;
      let page = val.currentPage;
      let limit = val.pageSize;
      this.init(this.searchForm, page, limit);
    },
    async init(obj, page, limit) {
      let res = await getTbCheckHousingStoredHouse({
        ...obj,
        page,
        limit,
      });
      console.log("getTbCheckHousingStoredHouse", res);
      this.tableData = res.data;
      this.tablePage.totalResult = res.count;
    },
    async toChange() {
      if (!this.houseId) {
        this.$message({
          type: "error",
          message: "请选择修改的房屋！",
        });
        return;
      }
      // 修改房屋
      this.alertVal1 = true;
      this.addBreadcrumb("入库房源修改");
      let res = await getStoredHouseById(this.houseId);
      // this.$refs.Table1.tableData.push(res);
      this.$refs.Table1.getDataByJSON(3, JSON.stringify(res));
      this.$refs.Table2.getDataByJSON(4, JSON.stringify(res));
      this.$nextTick(() => {});

      console.log("toChange", res);
      // if (checkBoxList.length != 0) {
      //   this.alertVal1 = true;
      //   setTimeout(() => {
      //     this.$refs.Table02.getData(3, "房屋信息");
      //     this.$refs.Table01.getData(0, "房屋信息");
      //   }, 100);
      // } else {
      //   this.$message({ type: "error", message: "请至少选择一条数据!" });
      // }
    },
    submit() {
      this.$confirm("是否确定修改?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(() => {
        this.close();
        this.$message({ type: "success", message: "修改成功!" });
      });
    },
    close() {
      this.alertVal1 = false;
      this.alertVal2 = false;
    },
    // 选择具体房屋信息
    choose() {
      this.alertVal2 = true;
      setTimeout(() => {
        this.$refs.Table03.getData(2, "房屋信息");
      }, 100);
    },
    toSearch() {
      // 选择房屋--搜索
    },
    // 多个复选框--区属
    handleCheckedCitiesChangeRegion(value) {
      this.searchForm.attribute = value;
      this.init(this.searchForm, 1, 10);
      console.log("handleCheckedCitiesChangeRegion", value);
      let checkedCount = value.length;
      this.checkAllCities = checkedCount === this.cities.length;
      this.isIndeterminateCities =
        checkedCount > 0 && checkedCount < this.cities.length;
      this.checkAList = value;
      if (value != "") {
        this.disabledVal = false;
        // this.getCheckedList();
      } else {
        this.disabledVal = true;
        // this.$message({ type: "error", message: "请选择所属区！" });
        // this.getAllInfo();
      }
    },
    // 多个复选框--房型
    handleCheckedHousesChangeHouse(value) {
      this.searchForm.houseTypeId = value;
      this.init(this.searchForm, 1, 10);
      console.log("handleCheckedHousesChangeHouse", value);
      let checkedCount = value.length;
      this.checkAllHouses = checkedCount === this.houses.length;
      this.isIndeterminateHouses =
        checkedCount > 0 && checkedCount < this.houses.length;
      this.checkBList = value;
      if (this.checkAList != "") {
        // this.getCheckedList();
      } else {
        // this.$message({ type: "error", message: "请选择所属区！" });
        // this.getAllInfo();
      }
    },
    // 多个复选框--面积
    handleCheckedAreasChangeHouse(value) {
      this.searchForm.total_area = value;
      this.init(this.searchForm, 1, 10);

      console.log("handleCheckedAreasChangeHouse", value);
      let checkedCount = value.length;
      this.checkAllAreas = checkedCount === this.Areas.length;
      this.isIndeterminateAreas =
        checkedCount > 0 && checkedCount < this.Areas.length;
      this.checkCList = value;
      if (this.checkAList != "") {
        // this.getCheckedList();
      } else {
        // this.$message({ type: "error", message: "请选择所属区！" });
        // this.getAllInfo();
      }
    },
    initBackEvent() {
      let _this = this;
      const breads = document.querySelector("#breadcrumbSpan");
      breads.children[2].setAttribute(
        "style",
        "font-size: 18px !important;font-family: SourceHanSansSC-regular;cursor: pointer;"
      );
        setTimeout(() => {
          breads.children[2].addEventListener("click", function() {
            _this.alertVal1 = false;
            const breads = document.querySelector("#breadcrumbSpan");
            console.log(breads.children);
            if (breads.children.length == 4) {
              console.log("removeChild");
              breads.removeChild(breads.lastChild);
            }
          });
          const menu = document.querySelector(".is-active");
          menu.onclick = function () {
            _this.alertVal1 = false;
            const breads = document.querySelector("#breadcrumbSpan");
            const action = document.querySelector("#action");
            if (action) breads.removeChild(action);
          }
        }, 100);
        console.log("click.......", _this.alertVal);
    },
    addBreadcrumb(text) {
      const breads = document.querySelector("#breadcrumbSpan");
      const span = document.createElement("span");
      span.setAttribute(
        "style",
        "font-size: 18px !important;font-family: SourceHanSansSC-regular;"
      );
      span.setAttribute("id", "action");
      span.className = "el-breadcrumb__item";
      span.ariaCurrent = "page";
      const a = breads.childNodes[2].children[0].children[0];
      a.className = "no-redirect";
      span.innerText = text;
      breads.appendChild(span);
    },
  },
  //生命周期 - 创建完成（可以访问当前this实例）

  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    this.initBackEvent();
    this.init(this.searchForm, 1, 10);
    // let _this = this;
    // setTimeout(() => {
    //   const disabledCheckboxs = document.querySelectorAll("span.is--disabled");
    //   console.log('disabledCheckbox', disabledCheckboxs);
    //   disabledCheckboxs.forEach(v => {
    //     v.onclick = function () {
    //       _this.$message.error("当前房屋正在修改！")
    //     }
    //   })
    // }, 500)
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //生命周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {
    setTimeout(() => {
      const breads = document.querySelector("#breadcrumbSpan");
      const action = document.querySelector("#action");
      if (action) breads.removeChild(action);
      console.log("beforeDestroy123", breads);
      console.log(breads.children, "/////////", breads.children.length);
    });
  }, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁完成
  activated() {}, //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
//@import url(); 引入公共css类
::v-deep.vxe-modal--wrapper .vxe-modal--content {
  padding: 0;
}
.table-top {
  .houseInfor-top-line {
    width: 100%;
    height: 40px;
    line-height: 40px;
    clear: both;
  }
  span {
    float: left;
    margin-right: 20px;
  }
  .el-checkbox {
    width: 100px;
  }
}
.myTable {
  p {
    color: #000;
    span {
      padding: 5px 7px;
      border-radius: 3px;
      margin-right: 15px;
    }
  }
  p:first-of-type {
    font-weight: bold;
  }
  i {
    padding: 5px 8px;
    border-radius: 3px;
    margin-right: 5px;
  }
}
::v-deep .el-checkbox-group {
  display: flex;
}

::v-deep
  .vxe-table--render-default
  .is--checked.vxe-cell--radio
  .vxe-radio--checked-icon:before {
  border-color: #409eff;
  background-color: #409eff;
}
::v-deep .vxe-table--render-default .vxe-cell--radio .vxe-radio--icon:before {
  content: "";
  position: absolute;
  height: 1em;
  width: 1em;
  top: 0;
  left: 0;
  background-color: #fff;
  border-radius: 2px;
  border: 2px solid #dcdfe6;
}

::v-deep
  .vxe-table--render-default
  .vxe-cell--radio
  .vxe-radio--checked-icon:after {
  content: "";
  position: absolute;
  height: 0.64em;
  width: 0.32em;
  top: 50%;
  left: 50%;
  border: 2px solid #fff;
  border-left: 0;
  border-top: 0;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #409eff;
}

::v-deep .el-button--info {
  color: #fff;
  background-color: #505976;
  border-color: #505976;
}
</style>
