
<template>
  <div class="main-div">
    <Row>
      <Col span="24">
        <Card dis-hover class="task-card">
          <div class="app-container">
            <el-row class="margin:30px;">
              <el-col>
                <el-table
                  :data="tableData"
                  size="mini"
                  style="width: 100%"
                  :height="tableHeight"
                  border
                >
                  <el-table-column type="expand" fixed label="详情" width="60">
                    <template slot-scope="props">
                      <el-form label-width="80px" class="demo-table-expand">
                        <el-form-item label="sqlId">
                          <span>{{ props.row.sqlId }}</span>
                        </el-form-item>
                        <el-form-item label="资源文件">
                          <span>{{ props.row.resource }}</span>
                        </el-form-item>
                        <el-form-item label="唯一标识">
                          <span>{{ props.row.myBatisId }}</span>
                        </el-form-item>
                        <el-form-item label="Sql语句">
                          <span>{{ props.row.sqlContent }}</span>
                        </el-form-item>
                      </el-form>
                    </template>
                  </el-table-column>
                  <el-table-column
                    prop="costTime"
                    label="耗时（毫秒）"
                    show-overflow-tooltip
                  />

                  <el-table-column
                    prop="operate"
                    label="性能"
                    show-overflow-tooltip
                  >
                    <template slot-scope="scope">
                      <el-tag v-if="scope.row.costTime<=100" type="success">高</el-tag>
                      <el-tag v-else-if="scope.row.costTime>100 && scope.row.costTime<1000" type="primary">中</el-tag>
                      <el-tag v-else type="danger">低</el-tag>
                    </template>
                  </el-table-column>

                </el-table>
              </el-col>
            </el-row>
            <el-row type="flex" justify="center">
              <el-pagination
                background
                :current-page="queryForm.page"
                :page-size="queryForm.pageSize"
                layout="total, prev, pager, next, jumper"
                :total="total"
                @current-change="handleCurrentChange"
              />
            </el-row>

            <Modal v-model="msgModal" :mask-closable="false" fullscreen title="查看消息模板" :transfer="false">

              <Form :model="messageTemplate" :label-width="120">
                <FormItem label="模版名称">
                  <Input v-model="messageTemplate.subject" disabled />
                </FormItem>
                <FormItem label="模版业务键">
                  <Input v-model="messageTemplate.keyName" disabled />
                </FormItem>
                <FormItem label="是否默认模板">
                  <el-tag v-if="messageTemplate.isDefault=='1'" type="success">是</el-tag>
                  <el-tag v-else type="error">否</el-tag>
                </FormItem>
                <FormItem label="标题">
                  <Input v-model="messageTemplate.subject" disabled />
                </FormItem>
                <FormItem label="纯文本">
                  <Input v-model="messageTemplate.plain" disabled />
                </FormItem>
                <FormItem label="纯文本模板">
                  <Input v-model="messageTemplate.plainTemplate" disabled />
                </FormItem>
              </Form>
            </Modal>

          </div>
        </Card>
      </Col>

    </Row>

    <Row>
      <Col span="24">
        <footer />
      </Col>
    </Row>
  </div>

</template>

<script>
import { getSql } from '@/api/analy'
import Footer from '../../../common/footer'

export default {
  name: 'Task',
  components: {
    Footer
  },

  data() {
    return {
      tableData: [],
      tableHeight: 450,
      queryDate: [],
      total: 0,
      chartVisible: false,
      forbiddenSwitch: false,
      modal_loading: false,
      msgModal: false,
      delMsgModal: false,
      delMsgModalId: '',
      chartData: {},
      sellerId: 0,
      shopName: [],
      messageTemplate: {},
      queryForm: {
        page: 0,
        limit: 10
      },
      categoryData: [
      ]
    }
  },
  mount() {
    this.getData()
    this.tableHeight = window.innerHeight - this.$refs.table.$el.offsetTop
  },
  created() {
    this.getData()
  },
  methods: {
    openMsgDialog: function(id) {
      // 加载数据
      getMessageTemplateById(id).then((response) => {
        this.messageTemplate = response.data
      })
      this.msgModal = true
    },
    delMsg: function(id) {
      // 加载数据
      this.delMsgModalId = id
      this.delMsgModal = true
    },
    queryFormCreateTime: function(e) {
      this.queryForm.tmpCreateTime = e
    },
    queryFormEndTime: function(e) {
      this.queryForm.tmpEndTime = e
    },
    queryMethod: function() {
      var name = this.queryForm.name
      var tmpCreateTime = this.queryForm.tmpCreateTime
      if (tmpCreateTime) {
        if (tmpCreateTime[0]) {
          this.queryForm.createTime = tmpCreateTime[0] + ' - ' + tmpCreateTime[1]
        }
      }
      getInstanceList(this.queryForm).then((response) => {
        this.tableData = response.data

        this.total = parseInt(response.count)
      })
    },

    getData: function() {
      getSql(this.queryForm).then((response) => {
        this.tableData = response.data
        this.total = parseInt(response.count)
      })
    },
    handleCurrentChange(val) {
      this.queryForm.page = val
      this.getData()
    },
    search() {
      this.queryForm.page = 0
      this.queryMethod()
    },
    reset() {
      this.queryForm.name = ''
      this.queryForm.queryForm = ''
      this.queryForm.whereSql = ''
      this.queryForm.subject = ''
      this.queryForm.procDefName = ''
      this.queryForm.tmpCreateTime = ''
      this.queryForm.tmpEndTime = ''
      this.queryForm.createTime = ''
      this.queryForm.endTime = ''
      this.queryDate = []
      this.getData()
    }

  }

}

</script>
<style lang="scss" scoped>
  .main-div {
    background-color: #f3f3f3!important;
  }
.task-card{
  margin-top: 10px;
}

</style>
