<!-- 房源录入 -->
<template>
  <div id="myMain">
    <div class="myMain-padding displayFlexC mt0" v-show="!alertVal">
      <div class="table-top jcsb">
        <div class="d_a_center">
          <span class="searchLabel fl">接收套数：</span>
          <el-input
            class="fl inputMargin"
            v-model="searchForm.account"
            placeholder="单行输入"
          ></el-input>
          <span class="searchLabel fl">接收面积：</span>
          <el-input
            class="fl inputMargin"
            v-model="searchForm.receiveArea"
            placeholder="单行输入"
          ></el-input>
          <span class="searchLabel fl">账面原值：</span>
          <el-input
            class="fl inputMargin"
            v-model="searchForm.receiveCycle"
            placeholder="单行输入"
          ></el-input>
          <vxe-button class="h40 plusBtn " @click="handleSearch">
            搜索
          </vxe-button>
          <vxe-button class="h40" @click="refresh">重置</vxe-button>
        </div>

        <div class="d_a_center">
          <!-- <vxe-button class="fr inputMargin h40" @click="exportDataEvent"
            ><i class="vxe-icon--download"></i> 导出</vxe-button
          > -->
          <vxe-button class="fr plusBtn h40" @click="add(null)"
            ><i class="vxe-icon--plus"></i> 新建</vxe-button
          >
        </div>
      </div>

      <div class="myTable f1">
        <vxe-table
          ref="xTable"
          align="center"
          highlight-hover-row
          :data="tableData"
          :export-config="{}"
          row-id="id"
          :seq-config="{
            startIndex: (tablePage.currentPage - 1) * tablePage.pageSize,
          }"
          :checkbox-config="{ reserve: true }"
        >
          <vxe-table-column type="checkbox" width="60"></vxe-table-column>
          <vxe-table-column field="title" title="标题">
            <template #default="{ row }">
              <p @click="check(row)">{{ row.title }}</p>
            </template>
          </vxe-table-column>
          <vxe-table-column field="i" title="发起人">
            <template #default="{ row }">
              <p @click="check(row)">{{ row.initiator }}</p>
            </template>
          </vxe-table-column>
          <vxe-table-column field="receiveCycle" title="接收套数">
            <template #default="{ row }">
              <p @click="check(row)">{{ row.account }}</p>
            </template>
          </vxe-table-column>
          <vxe-table-column field="receiveArea" title="接收面积">
            <template #default="{ row }">
              <p @click="check(row)">{{ row.receiveArea }}</p>
            </template>
          </vxe-table-column>
          <vxe-table-column field="paper" title="账面原值">
            <template #default="{ row }">
              <p @click="check(row)">{{ row.receiveCycle }}</p>
            </template>
          </vxe-table-column>
          <vxe-table-column field="createTime" title="接收时间">
            <template #default="{ row }">
              <p @click="check(row)">{{ row.createTime }}</p>
            </template>
          </vxe-table-column>
          <vxe-table-column title="操作" width="150">
            <template #default="{ row }">
              <div class="d_center">
                <img
                  v-if="row.checkStatus == 0"
                  class="operationBtnSize mr5"
                  src="@/assets/icon/check.svg"
                  @click="approval(row)"
                  alt=""
                />
                <img
                  v-if="row.checkStatus == 0"
                  class="operationBtnSize mr5"
                  src="@/assets/icon/edit.png"
                  @click="edit(row)"
                  alt=""
                />
                <img
                  v-if="row.checkStatus == 0"
                  class="operationBtnSize"
                  src="@/assets/icon/del.png"
                  @click="del(row)"
                  alt=""
                />
              </div>
            </template>
          </vxe-table-column>
        </vxe-table>
        <vxe-pager
          class="paginationBlock"
          size="mini"
          :current-page="tablePage.currentPage"
          :page-size="tablePage.pageSize"
          :page-sizes="tablePage.pageSizes"
          :total="tablePage.totalResult"
          @page-change="pageChange"
          :layouts="[
            'Total',
            'Sizes',
            'PrevPage',
            'JumpNumber',
            'NextPage',
            'FullJump',
          ]"
        >
        </vxe-pager>
      </div>
    </div>

    <div v-show="alertVal" style="display: flex;
    flex-direction: column;
    flex: 1;">
      <div class="tabbar">
        <el-tabs class="tabs" v-model="activeTab">
          <el-tab-pane label="基本信息" name="basic">
            <InputTable4 :showSearchBar="3" ref="Table4"></InputTable4>
          </el-tab-pane>
          <el-tab-pane label="房屋信息" name="house">
              <Input-Table1
              :bindingHouse="true"
              :showTotalDetail="2"
              :showTopBar="true"
              :showRadio="false"
              :showEdit="true"
              ref="Table1"
            ></Input-Table1>
          </el-tab-pane>
        </el-tabs>
        <div class="btnLine" @click="next">
          <div class="btn">
            {{ activeTab == "basic" ? "下一步" : "完成" }}
          </div>
        </div>
      </div>
    </div>

    <vxe-modal
      v-model="plotModal"
      showFooter
      width="85%"
      height="90%"
      title="选择区属"
      @confirm="choosePlot"
    >
      <template #default>
        <div class="myPadding" style="height:calc(100% - 40px);">
          <indexTable :noOperation="true" ref="indexTable"></indexTable>
        </div>
      </template>
    </vxe-modal>

    <vxe-modal
      v-model="houseModal"
      showFooter
      width="85%"
      height="90%"
      title="选择房屋"
      @confirm="chooseHouse"
    >
      <template #default>
        <div class="myPadding" style="height:calc(100% - 40px);">
          <InputTable1
            :noOperation="true"
            :showTotalDetail="false"
            ref="chooseHouseTable"
          ></InputTable1>
        </div>
      </template>
    </vxe-modal>
  </div>
</template>

<script>
//这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
//例如：import 《组件名称》 from '《组件路径》';
import {
  selectplot,
  selectHouse,
  getAccept,
  deleteAccept,
  getAcceptMock,
  getHouseInputInfo,
  getReceiveHouseInputInfo,
  saveAccept,
  getAcceptDetails,
  putHouseInputInfo2,
  sendToApprove,
  getHouseInputInfoById,
  getHouseInputInfoById1,
} from "@/api/house";
import { startDef } from "@/api/panguBpm";
import { getStartBtn } from "@/api/loadwfmodule";
import InputTable1 from "@/components/houseInfoTable/table1.vue";
import InputTable2 from "@/components/houseInfoTable/table2.vue";
import InputTable3 from "@/components/houseInfoTable/table3.vue";
import InputTable4 from "@/components/houseInfoTable/table4.vue";
import indexTable from "@/views/house/info/indexTable.vue";
import pub from "@/views/house/info/Input/public.js";
export default {
  //import引入的组件需要注入到对象中才能使用
  components: {
    InputTable1,
    InputTable2,
    InputTable3,
    InputTable4,
    indexTable,
  },
  data() {
    //这里存放数据
    return {
      searchVal1: null,
      searchVal2: null,
      searchVal3: null,
      list: [
        {
          name: "hhh",
          b: "dd",
          c: "oo",
        },
        {
          name: "aaa",
          b: "cc",
          c: "oo",
        },
      ],
      tableData: [],
      searchForm: {},
      // 分页
      tablePage: {
        currentPage: 1,
        pageSize: 10,
        pageSizes: [10, 20, 30, 40],
        totalResult: 0,
      },
      // 弹窗
      alertVal: false,
      isOption: 3,
      // 选择房屋--小区
      plotModal: false,
      houseModal: false,
      chooseHouseVal: null,
      activeTab: "basic",
      tbHousing: {},
      tbPlot: {},
      submited: false,
    };
  },
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    this.initBackEvent();
    console.log("房源接收。。。。。。");
    this.init(1, 10, null, null, null);
    pub.$on("initPlotList", (data) => {
      console.log("initPlotList", data);
      this.initPlotList(data.page, data.limit);
    });
    pub.$on("pageChange", async (data) => {
      console.log("aaaaaaaaaaaaa", data);
      // this.getDetailById(data.tbPlotId, data.page, data.limit);
      let res = await getHouseInputInfoById1(
        data.tbPlotId,
        data.page,
        data.limit
      );

      this.$refs.Table1.getData(1, res);
    });
    pub.$on("chooseReceivedPlot", (data) => {
      console.log("chooseReceivedPlot from receive", data);
      setTimeout(() => {
        console.log("setTimeout");
        this.activeTab = "house";
        this.tbPlot = data;
      }, 300);
    });
    pub.$on("initHousesList", (data) => {
      console.log("initPlotList123", data);
      this.getHousesList(data.page, data.limit, data.lotName, data.allArea);
    });
    pub.$on("chooseHouse", (data) => {
      this.tbHousing = data;
    });
    pub.$on("changeTab", (data) => {
      this.activeTab = data;
    });
  },
  //监听属性 类似于data概念
  computed: {},
  //监控data中的数据变化
  watch: {},
  //方法集合
  methods: {
    initBackEvent() {
      console.log("initBackEvent start");
      let _this = this;
      const breads = document.querySelector("#breadcrumbSpan");
      breads.children[2].setAttribute(
        "style",
        "font-size: 18px !important;font-family: SourceHanSansSC-regular;cursor: pointer;"
      );
      setTimeout(() => {
        console.log("initBackEvent setTimeout");
        breads.children[2].onclick = function() {
          console.log("initBackEvent start1");

          _this.alertVal = false;

          const breads = document.querySelector("#breadcrumbSpan");
          _this.activeTab = "basic";
          console.log(breads.children);
          if (breads.children.length == 4) {
            breads.removeChild(breads.lastChild);

            console.log("initBackEvent success");
          }
          console.log("initBackEvent start2");
        };
        const menu = document.querySelector(".is-active");
        menu.onclick = function () {
          _this.alertVal = false;
          _this.activeTab = 'basic'
          const breads = document.querySelector("#breadcrumbSpan");
          const action = document.querySelector("#action");
          if (action) breads.removeChild(action);
        }
      }, 500);

      this.$nextTick(function() {});
    },
    addBreadcrumb(text) {
      const breads = document.querySelector("#breadcrumbSpan");
      const span = document.createElement("span");
      span.setAttribute(
        "style",
        "font-size: 18px !important;font-family: SourceHanSansSC-regular;"
      );
      span.setAttribute("id", "action");
      span.className = "el-breadcrumb__item";
      span.ariaCurrent = "page";
      const a = breads.childNodes[2].children[0].children[0];
      a.className = "no-redirect";
      span.innerText = text;
      breads.appendChild(span);
      console.log("addBreadcrumb");
    },
    removeBreadcrumb() {
      console.log("removeBreadcrumb2");
      const breads = document.querySelector("#breadcrumbSpan");
      breads.removeChild(breads.lastChild);
    },
    test() {
      console.log("table4 test");
    },

    getHousesList(page, limit, lotName, allArea) {
      console.log("getHouseInputInfoById111111");
      getReceiveHouseInputInfo({}, page, limit, lotName, "").then((res) => {
        console.log("房源录入", res);
        if (res.code == 0) {
          this.$refs.Table4.tableData = res.data;
          this.$refs.Table4.tablePage.totalResult = res.count;
        } else {
          // this.$message({ type: "success", message: "暂无数据!" });
        }
      });
    },
    handleSearch() {
      console.log("handleSearch", this.searchForm);
      this.init(
        1,
        10,
        this.searchForm.account,
        this.searchForm.receiveArea,
        this.searchForm.receiveCycle
      );
    },
    refresh() {
      this.searchForm = {};
      this.handleSearch();
    },
    init(page, limit, account, receiveArea, receiveCycle) {
      console.log("init", page, limit, account, receiveArea, receiveCycle);
      getAccept(page, limit, account, receiveArea, receiveCycle).then((res) => {
        console.log("房源录入", res);
        if (res.code == 0) {
          // this.$refs.indexTable.init(res);
          this.tableData = res.data.tbAccepts;
          this.tablePage.totalResult = res.data.total;
          // this.$refs.Table4.getData(res.data, res.count);
          // this.$refs.Table4.tableData = res.data;
          // this.$refs.Table4.tablePage.totalResult = res.count;
          // this.tablePage.totalResult = res.data.total;
        } else {
          this.$message({ type: "success", message: "暂无数据!" });
        }
      });
      return;
      // 房源录入
      if (type == "plot") {
        selectplot(page, limit).then((res) => {
          console.log("房源录入", res);
          if (res.code == 0) {
            this.$refs.indexTable.init(res);
          } else {
            this.$message({ type: "success", message: "暂无数据!" });
          }
        });
      }

      if (type == "house") {
        selectHouse(page, limit).then((res) => {
          if (res.code == 0) {
            this.$refs.chooseHouseTable.init(res);
          } else {
            this.$message({ type: "success", message: "暂无数据" });
          }
        });
      }
    },
    initPlotList(page, limit) {
      getHouseInputInfo({}, page, limit, "", "").then((res) => {
        console.log("房源录入", res);
        if (res.code == 0) {
          this.$refs.Table4.tableData = res.data;
          this.$refs.Table4.tablePage.totalResult = res.count;
        } else {
          // this.$message({ type: "success", message: "暂无数据!" });
        }
      });
    },
    // 根据页切换
    pageChange(val) {
      console.log("page val", val);
      this.tablePage.currentPage = val.currentPage;
      this.tablePage.pageSize = val.pageSize;
      let page = val.currentPage;
      let limit = val.pageSize;
      this.init(
        val.currentPage,
        val.pageSize,
        this.searchForm.account,
        this.searchForm.receiveArea,
        this.searchForm.receiveCycle
      );
    },
    async next() {
      if (this.isOption == 3) {
        if (this.activeTab == "basic") {
          this.activeTab = "house";
        } else {
          this.alertVal = false;
          this.activeTab = "basic";
          this.removeBreadcrumb();
        }
        return;
      }

      if (!this.isOption) {
        console.log(
          "receive next...1",
          this.tbPlot,
          this.tbHousing,
          this.isOption
        );
        if (this.activeTab == "basic") {
          this.activeTab = "house";
        } else {
          if (this.tbHousing == null) {
            this.$message({ type: "error", message: "请选择接收的房屋！" });
            this.submited = false;
            return;
          }
          this.$confirm("确认提交此次接收?", "提示", {
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            type: "warning",
          }).then(async () => {
            if (this.submited == true) return;
            this.submited = true;
            let res = await saveAccept({
              tbPlot: {
                ...this.tbPlot,
                userName: this.$store.getters.name
              },
              tbHousing: this.tbHousing,
            });
            if (res.code == 0) {
              this.submited = false;
              // this.$refs.Table1.$refs.inputTable2.clearCheckboxRow();
              this.$refs.Table1.$refs.inputTable2.clearCheckboxRow();
              
              this.$refs.Table1.defaultSelecteRows = [];
              this.alertVal = false;
              this.activeTab = "basic";
              this.removeBreadcrumb();
              this.init(
                1,
                10,
                this.searchForm.account,
                this.searchForm.receiveArea,
                this.searchForm.receiveCycle
              );
            }
            this.$refs.Table1.tablePage.currentPage = 1;
            this.$refs.Table1.tableData = [];
            this.tbHousing = [];
            this.defaultSelecteRows = [];
          });
        }
      } else {
        if (this.activeTab == "basic") {
          this.activeTab = "house";
        } else {
          this.$confirm("确认修改此接收?", "提示", {
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            type: "warning",
          }).then(async () => {
            if (this.submited == true) return;
            this.submited = true;
            this.tbPlot = this.$refs.Table4.tableData[0];
            let arr = JSON.parse(JSON.stringify(this.$refs.Table1.importDataTable));
            arr.map(v => {
              if (v.logicStatus == null) v.logicStatus = 0;
              if (String(v.id).indexOf("row_") !== -1) {
                console.log('delete row_1', v.id);
                v.id = 0;
                v.logicStatus = 1;
                console.log('delete row_2', v);
              };
            })
            this.tbHousing = [...arr, ...this.$refs.Table1.deleteArr]
            console.log(
              "receive next...2",
              this.tbPlot,
              this.tbHousing,
              this.isOption
            );
            let res = await putHouseInputInfo2({
              tbPlot: this.tbPlot,
              tbHousing: this.tbHousing,
              soleId: this.$refs.Table1.soleId
            });
            if (res.resp_code == 0) {
              
              this.submited = false;
              this.alertVal = false;
              this.activeTab = "basic";
              this.$message({ type: "success", message: "修改成功！" });
              this.removeBreadcrumb();
              this.init(
                1,
                10,
                this.searchForm.account,
                this.searchForm.receiveArea,
                this.searchForm.receiveCycle
              );
              this.$refs.Table1.$refs.inputTable2.clearCheckboxRow();
              setTimeout(() => {
                this.$refs.Table1.clearTableCheckboxRow();
              }, 200)
              this.$refs.Table1.deleteArr = [];
            }
          });
        }
      }

      if (this.$route.path == "/house/layout_info/house_info_receive") return;
      let validBasicForm = null;
      let validTotalDetailForm = null;
      let validTable = null;
      // console.log("valid", validBasicForm, validTotalDetailForm, validTable);
      if (this.activeTab == "basic") {
        validBasicForm = this.$refs.Table2.basicFormValidator();
        if (!validBasicForm) return;
        this.activeTab = "house";
      } else {
        validTotalDetailForm = this.$refs.Table1.totalDetailFormValidator();
        validTable = await this.$refs.Table1.tableValidator();
        // console.log("validTotalDetailForm", validTotalDetailForm);
        // console.log("validTable1111", validTable);
        if (!validTotalDetailForm || !validTable) return;
        this.tbPlot = {
          ...this.$refs.Table2.basicForm,
          ...this.$refs.Table1.totalDetailForm,
        };
        this.tbHousing = this.$refs.Table1.tableData;
        if (!this.isAdd) {
          let data = await putHouseInputInfo({
            tbHousing: this.tbHousing,
            tbPlot: this.tbPlot,
          });
        } else {
          let data = await addHouseInputInfo({
            tbHousing: this.tbHousing,
            tbPlot: this.tbPlot,
          });
        }
        this.init(
          1,
          10,
          this.searchForm.account,
          this.searchForm.receiveArea,
          this.searchForm.receiveCycle
        );
        // console.log("picList", this.$refs.Table2.picList);
        this.activeTab = "basic";
        this.alertVal = false;
      }
    },
    openPlotModal() {
      console.log("openPlotModal");
      this.plotModal = true;
      this.init("plot", 1, 10);
    },
    openHouseModal() {
      console.log("openHouseModal");
      this.houseModal = true;
    },
    // init() {
    //   this.tableData = this.list;
    //   // 选择房屋
    //   // this.$refs.indexTable.init(res)
    // },
    add(data) {
      console.log("新建", this.isOption);
      let _this = this;
      setTimeout(() => {
        _this.$refs.Table4.isOption = null;
      }, 100)
      this.isOption = 0;
      this.addBreadcrumb("新增接收");
      getReceiveHouseInputInfo({}, 1, 10, "", "").then((res) => {
        console.log("房源录入", res);
        this.$refs.Table4.tableData = res.data;
        this.$refs.Table4.tablePage.totalResult = res.count;
        this.$refs.Table1.setShowEdit(false);
        this.$refs.Table1.isOption = 0;
        this.$refs.Table1.tableData = [];
        if (res.code == 0) {
          // this.$refs.indexTable.init(res);
        } else {
          this.$message({ type: "success", message: "暂无数据!" });
        }
      });
      this.alertVal = true;
      // setTimeout(() => {
      //   this.$refs.Table1.getData(this.isOption, "房源接收信息表");
      //   this.$refs.Table4.getData(this.isOption);
      // }, 100);
    },
    async edit(data) {
      this.isOption = 1;
      this.addBreadcrumb("修改接收");
      this.$refs.Table1.setShowEdit(true);
      // 将 data 传给子组件
      this.alertVal = true;
      let res = await getAcceptDetails(data.plotId, data.soleId, 1, 10, null);
      console.log(
        "修改",
        this.isOption,
        data.plotId,
        data.soleId,
        data.receiveArea,
        data.receiveCycle,
        data.assess
      );
      pub.$emit("tbPlotInfoFormIndex", {
        isOption: this.isOption,
        tableData: [
          {
            ...res.tbPlot,
            plotName: data.plotName,
            unit: data.unit,
            receiveArea: data.receiveArea,
            receiveCycle: data.receiveCycle,
            assess: data.assess,
          },
        ],
      });
      pub.$emit("tbHousingInfoFormIndex", {
        houses: res.tbHousing,
        plotId: data.plotId,
        soleId: data.soleId,
        option: 1,
      });
      // setTimeout(() => {
      //   this.$refs.Table1.getData(this.isOption, "房源接收信息表");
      //   this.$refs.Table2.getData(this.isOption);
      // }, 100);
    },
    async check(data) {
      this.isOption = 3;
      this.addBreadcrumb("接收详情");
      // 没有删除 选择房屋 的按钮
      this.alertVal = true;
      let res = await getAcceptDetails(data.plotId, data.soleId, 1, 10, null);
      console.log(
        "查看",
        this.isOption,
        data.plotId,
        data.soleId,
        data.receiveArea,
        data.receiveCycle,
        data.assess
      );
      pub.$emit("tbPlotInfoFormIndex", {
        isOption: this.isOption,
        tableData: [
          // {
          //   plotName: data.plotName,
          //   unit: data.unit,
          //   totalArea: data.receiveArea,
          //   receiveCycle: data.receiveCycle,
          //   assess: data.assess,
          //   ...res.tbPlot,
          // },
          {
            ...res.tbPlot,
            plotName: data.plotName,
            unit: data.unit,
            receiveArea: data.receiveArea,
            receiveCycle: data.receiveCycle,
            assess: data.assess,
          },
        ],
      });
      pub.$emit("tbHousingInfoFormIndex", {
        houses: res.tbHousing,
        plotId: data.plotId,
        soleId: data.soleId,
        option: 2,
      });
    },
    del(row) {
      this.$confirm("此操作将删除该数据, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(async () => {
        let res = await deleteAccept(row.soleId);
        console.log("del", res);
        //删除
        if (res.code == 0) {
          this.$message({ type: "success", message: "删除成功!" });
          this.init(
            1,
            10,
            this.searchForm.account,
            this.searchForm.receiveArea,
            this.searchForm.receiveCycle
          );
        }
      });
    },
    close() {
      this.alertVal = false;
    },
    save() {
      this.$confirm("是否保存该数据表?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(() => {
        // 保存数据表
        this.$message({ type: "success", message: "保存成功!" });
        this.alertVal = false;
      });
    },
    // 审核
    approval(row) {
      this.$confirm("是否发送审核?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(async () => {
        //审核
        console.log("approval______", row);

        let info = await getStartBtn("house_receive_approve");

        let res = await startDef({
          defId: info.defId,
          modelId: info.modelId,
          typeTitle: "房源接收审批",
          formData: JSON.stringify({
            id: row.plotId,
            soleId: row.soleId,
            plotName: row.title,
          }),
          groupId: 66729,
          typeKey: "房源接收审批",
          defKey: "house_receive_approve",
        });

        if (res.code == 0) {
          await sendToApprove(row.soleId, 1);

          this.$message({
            type: "success",
            message: "发送审批成功！",
          });
        } else {
          this.$message({
            type: "error",
            message: "发送审批失败！",
          });
        }
        this.init(1, 10, null, null, null);
      });
    },
    // 搜索
    searchEvents(searchVal, PropsList) {
      this.tableData = this.$search.searchEvents(
        this.list,
        searchVal,
        PropsList
      );
      // this.total = this.list1.length
    },
    // 导出
    async exportDataEvent() {
      await this.$refs.xTable.openExport({
        // 默认勾选源
        original: true,
      });
      this.$refs.xTable.clearCheckboxRow();
    },
    // 选择房屋--弹窗
    choose() {
      this.alertVal2 = true;
      setTimeout(() => {
        // indexTable 不展示该页面某些功能
        this.$refs.indexTable.getShow(false);
      }, 100);
    },
    choosePlot() {
      this.$confirm("是否添加选中的数据?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(() => {
        // this.chooseHouseVal = this.$refs.indexTable.getChoose();
        console.log("选中的小区房屋信息");
        this.$message({ type: "success", message: "添加成功!" });
        this.init("house", 1, 10);
        this.houseModal = true;
      });
    },
    chooseHouse() {
      // 获取子组件的选中的房屋信息--小区
      this.$confirm("是否添加选中的数据?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(() => {
        // this.chooseHouseVal = this.$refs.indexTable.getChoose();
        console.log("选中的小区房屋信息", chooseHouseVal);
        this.$message({ type: "success", message: "添加成功!" });
      });
    },
  },
  //生命周期 - 创建完成（可以访问当前this实例）
  created() {},
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //生命周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {
    setTimeout(() => {
      const breads = document.querySelector("#breadcrumbSpan");
      const action = document.querySelector("#action");
      if (action) breads.removeChild(action);
      console.log("beforeDestroy123", breads);
      console.log(breads.children, "/////////", breads.children.length);
    });
  }, //生命周期 - 销毁之前
  destroyed() {
    pub.$off("initPlotList");
    // pub.$off("chooseReceivedPlot");
    pub.$off("changeTab");
    pub.$off("initHousesList");
    pub.$off("pageChange");
  }, //生命周期 - 销毁完成
  activated() {}, //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
//@import url(); 引入公共css类
::v-deep.vxe-modal--wrapper .vxe-modal--content {
  padding: 0;
}

::v-deep.vxe-modal--wrapper .vxe-modal--content {
  padding: 0;
}

::v-deep.vxe-radio-group {
  width: 100%;
  display: flex;
}
.tabbar {
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 20px;
    padding-bottom: 20px;
    background-color: #fff;
    /* overflow: hidden; */
    /* flex: 1; */
}
::v-deep.vxe-radio {
  flex: 1;
}

::v-deep.vxe-radio-button > input:checked + .vxe-radio--label {
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: #505976;
  border-color: #505976;
}

::v-deep.vxe-radio-button > input:hover + .vxe-radio--label {
  width: 100%;
  text-align: center;
  color: "none" !important;
}

::v-deep.vxe-radio-button .vxe-radio--label {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #505976;
  background-color: #fff;
  border: 1px solid rgba(80, 89, 118, 100);
}

::v-deep.vxe-radio-button .vxe-radio--label:nth-child(1) {
  border-left: 0;
  border-right: 0;
}

::v-deep
  .vxe-table--render-default
  .is--checked.vxe-cell--radio
  .vxe-radio--checked-icon:before {
  border-color: #409eff;
  background-color: #409eff;
}
::v-deep .vxe-table--render-default .vxe-cell--radio .vxe-radio--icon:before {
  content: "";
  position: absolute;
  height: 1em;
  width: 1em;
  top: 0;
  left: 0;
  background-color: #fff;
  border-radius: 2px;
  border: 2px solid #dcdfe6;
}
::v-deep
  .vxe-table--render-default
  .vxe-cell--radio
  .vxe-radio--checked-icon:after {
  content: "";
  position: absolute;
  height: 0.64em;
  width: 0.32em;
  top: 50%;
  left: 50%;
  border: 2px solid #fff;
  border-left: 0;
  border-top: 0;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #409eff;
}
::v-deep .el-tabs__active-bar {
  background-color: #568ce6;
  height: 4px;
}

::v-deep .el-tabs__item.is-active {
  font-family: SourceHanSansSC-regular;
  color: #484848;
  font-size: 18px !important;
}

::v-deep .el-tabs__item {
  font-family: SourceHanSansSC-regular;
  color: #a3a3a3;
  font-size: 18px !important;
}
.h40 {
  height: 32px !important;
}
</style>
