<!-- 各区拆迁台账 -->
<template>
  <div id="myMain">
    <div class="myMain-padding displayFlexC" style="padding-top:0;">
      <div class="table-top">
        <vxe-button class="fl plusBtn" @click="add([])"
          ><i class="vxe-icon--plus"></i> 新建</vxe-button
        >
        <vxe-button class="fl" @click="exportDataEvent"
          ><i class="vxe-icon--download myGC"></i> 导出</vxe-button
        >
        <!-- <vxe-button class="fl" @click="importDataEvent"
          ><i class="vxe-icon--upload myGC"></i> 导入</vxe-button
        > -->
      </div>
      <div class="f1 displayFlexR">
        <div
          class="boxShadow myPadding myWbc"
          style="width:250px;margin-right:20px;"
        >
          <p
            class="baseBG myBR"
            style="margin: 0;padding: 5px 10px;line-height: 30px;text-align: center;"
          >
            年份
          </p>
          <ul>
            <li
              v-for="(item, key) in yearList"
              :key="key"
              @click="ck(item)"
              :class="[{ active: activeName == item }]"
            >
              {{ item }}
            </li>
          </ul>
        </div>
        <div class="f1 myPadding myWbc">
          <vxe-table
            border
            ref="xTable"
            align="center"
            :data="tableData"
            :export-config="{}"
            :checkbox-config="{ reserve: true }"
            show-footer
            :footer-method="footerMethod">
            <!-- <vxe-table-column type="checkbox" width="60"></vxe-table-column> -->
            <vxe-table-column type="seq" title="序号" width="60"/>
            <vxe-table-column field="housingMo" title="房管所"></vxe-table-column>
            <vxe-table-column field="produceNo" title="产号"></vxe-table-column>
            <vxe-table-column field="record" title="册记面积"></vxe-table-column>
            <vxe-table-column field="mend" title="补偿面积"></vxe-table-column>
            <vxe-table-column field="projectName" title="工程名称"></vxe-table-column>
            <vxe-table-column field="carryOut" title="拆迁实施单位"></vxe-table-column>
            <vxe-table-column title="操作" width="150">
              <template #default="{ row }">
                <div class="d_center">
                  <img
                    class="operationBtnSize mr5"
                    src="@/assets/icon/ze-description.svg"
                    @click="check(row)"
                    alt=""
                  />
                  <img
                    class="operationBtnSize"
                    src="@/assets/icon/antOutline-edit.svg"
                    @click="edit(row)"
                    alt=""
                  />
                </div>
              </template>
            </vxe-table-column>
          </vxe-table>
        </div>
      </div>
    </div>
    <vxe-modal
      v-model="alertVal1"
      width="100%"
      height="100%"
      :showHeader="false"
      :showFooter="false"
    >
      <template #default>
        <div class="plusBtn myPadding">
          <vxe-button class="" @click="save" v-if="isCheck"
            ><i class="vxe-icon--check myGC"></i> 保存</vxe-button
          >
          <vxe-button class="" @click="close"
            ><i class="vxe-icon--close myRC"></i> 关闭</vxe-button
          >
        </div>
        <standingBookTable2 ref="sbt2"></standingBookTable2>
      </template>
    </vxe-modal>
  </div>
</template>

<script>
//这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
//例如：import 《组件名称》 from '《组件路径》';
import {
  getYears,
  getRegionAll,
  getRegionOne,
  addRegionList
} from "@/api/house";
import standingBookTable2 from "@/components/houseInfoTable/standingBookTable2.vue";
export default {
  //import引入的组件需要注入到对象中才能使用
  components: {
    standingBookTable2,
  },
  data() {
    //这里存放数据
    return {
      yearList: ["2021", "2020", "2019", "2018"],
      activeName: "2022",
      tableData: [
        {
          a: "住宅",
          b: "越秀区",
          c: "21012",
          d: "21",
          e: "xxxxxxxxxxxxxxx",
        },
        {
          a: "商用",
          b: "越秀区",
          c: "21012",
          d: "21",
          e: "xxxxxxxxxxxxxxx",
        },
      ],
      alertVal1: false,
      isCheck: false
    };
  },
  //监听属性 类似于data概念
  computed: {},
  //监控data中的数据变化
  watch: {
    alertVal1(val){
      if(!val){
        this.getTbTementData(this.activeName);
        this.$refs.sbt2.searchForm = {
          lesseeName:null,
          carryOut:null,
          projectName:null,
        }
      }
    }
  },
  //方法集合
  methods: {
    async getYearsList() {
      this.yearList = await getYears();
    },
    async getTbTementData(enteringTime) {
      let res = await getRegionAll({enteringTime});
      this.tableData = res;
      console.log("getRegionAll", res);
    },
    add(data) {
      // 新增弹窗
      this.action = "add";
      this.alertVal1 = true;
      this.isCheck = true
      setTimeout(() => {
        this.$refs.sbt2.getData(data, true, this.activeName, null);
      }, 100);
    },
    async edit(data) {
      this.alertVal1 = true;
      this.action = "edit";
      this.isCheck = true
      let res = await getRegionOne({housingMo: data.housingMo  , enteringTime: this.activeName});
      setTimeout(() => {
        this.$refs.sbt2.getData(res.data, true, this.activeName, data.housingMo);
      }, 100);
    },
    async check(data) {
      this.alertVal1 = true;
      this.action = "check";
      this.isCheck = false
      let res = await getRegionOne({housingMo: data.housingMo  , enteringTime: this.activeName});
      setTimeout(() => {
        this.$refs.sbt2.getData(res.data, false, this.activeName, data.housingMo);
      }, 100);
    },
    ck(item) {
      this.activeName = item;
      this.getTbTementData(item);
    },
    sumNum(list, field) {
      let count = 0;
      list.forEach((item) => {
        count += Number(item[field]);
      });
      return count;
    },
    footerMethod({ columns, data }) {
      return [
        columns.map((column, columnIndex) => {
          if (columnIndex === 0) {
            return "合计";
          }
          if (["record", "mend"].includes(column.property)) {
            return this.sumNum(data, column.property);
          }
          return null;
        }),
      ];
    },
    // 导出
    async exportDataEvent() {
      this.$refs.xTable.exportData({ 
            filename: this.activeName+'各区拆迁台账',
            type: 'csv'
        })
      // await this.$refs.xTable.openExport({
      //   // 默认勾选源
      //   original: true,
      // });
      // this.$refs.xTable.clearCheckboxRow();
    },
    importDataEvent() {
      this.$refs.xTable.importData();
    },
    close() {
      this.alertVal1 = false;
    },
    async save() {
      let _this = this;
      this.$confirm("是否保存该数据表?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(async () => {
        // 保存数据表
        let tbTenement = this.$refs.sbt2.importDataTable;
        console.log('tbTenement', tbTenement, this.action);
        
        let validTable = null;
        validTable = await this.$refs.sbt2.tableValidator();
        if (!validTable) return;
        if (this.action == "add") {
          console.log("into if");
          tbTenement.forEach(ele => {
            delete ele.id
            ele.logicStatus = 1   // 0：默认,1：添加,2：删除,3：修改
          })
          await addRegionList(tbTenement).then(async (res) => {
            console.log("save tbTenement", res);
            if (res.code == 0) {
              this.$message({ type: "success", message: "保存成功!" });
              this.getTbTementData(this.activeName);
              this.alertVal1 = false;
              this.action = "";
            }
          });
        }
        if (this.action == "edit") {
          tbTenement.forEach(ele => {
            if(typeof(ele.id)=='string' || ele._XID != undefined){
              delete ele.id
              ele.logicStatus = 1
            }else{
              ele.logicStatus = 3   // 0：默认,1：添加,2：删除,3：修改
            }
            
          })
          await addRegionList(tbTenement).then((res) => {
            console.log("edit tbTenement", res);
            if (res.code == 0) {
              this.$message({ type: "success", message: "修改成功!" });
              this.getTbTementData(this.activeName);
              this.alertVal1 = false;
              this.action = "";
            }
          });
        }
      });
    },
  },
  //生命周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    this.getYearsList();
    this.getTbTementData(this.activeName);
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //生命周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁完成
  activated() {}, //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
//@import url(); 引入公共css类
ul {
  margin: 0;
  padding: 0;
}
li {
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 35px;
  cursor: pointer;
}
li:hover {
  background-color: #eaeaea;
}
li.active {
  background-color: #eaeaea;
}
::v-deep.vxe-modal--wrapper .vxe-modal--content {
  padding: 0;
  .vxe-modal--wrapper .vxe-modal--content {
    padding: 20px;
  }
}
</style>
