<template>
  <div class="thumb-example">
    <!-- swiper1 -->
    <swiper
      class="swiper gallery-top"
      :options="swiperOptionTop"
      ref="swiperTop"
    >
      <swiper-slide
        v-for="(item, index) in images"
        :key="index"
        :style="{ backgroundImage: 'url(' + item + ')' }"
        class="slide-1"
      ></swiper-slide>
    </swiper>
    <!-- swiper2 Thumbs -->
    <swiper
      class="swiper gallery-thumbs"
      :options="swiperOptionThumbs"
      ref="swiperThumbs"
    >
      <swiper-slide
        v-for="(item, index) in images"
        :key="index"
        :style="{ backgroundImage: 'url(' + item + ')' }"
        class="slide-1"
      ></swiper-slide>
      <div
        class="swiper-button-prev swiper-button-white"
        slot="button-prev"
      ></div>
      <div
        class="swiper-button-next swiper-button-white"
        slot="button-next"
      ></div>
    </swiper>
  </div>
</template>

<script>
import { swiper, swiperSlide } from "vue-awesome-swiper";
// >= Swiper 6.x
import "swiper/swiper-bundle.css";

export default {
  name: "swiper-example-thumbs-gallery",
  title: "Thumbs gallery with Two-way control",
  components: {
    swiper,
    swiperSlide,
  },
  props: {
    images: null,
  },
  data() {
    return {
      swiperOptionTop: {
        loop: true,
        loopedSlides: 3, // looped slides should be the same
        spaceBetween: 10,
        navigation: {
          prevEl: ".swiper-button-prev",
          nextEl: ".swiper-button-next",
        },
      },
      swiperOptionThumbs: {
        loop: false,
        loopedSlides: 1, // looped slides should be the same
        spaceBetween: 10,
        centeredSlides: false,
        slidesPerView: "auto",
        touchRatio: 0.2,
        slideToClickedSlide: true,
      },
    };
  },
  mounted() {
    this.$nextTick(() => {
      const swiperTop = this.$refs.swiperTop.$el.swiper;
      // const swiperThumbs = this.$refs.swiperThumbs.$el.swiper;
      // swiperTop.controller.control = swiperThumbs;
      // swiperThumbs.controller.control = swiperTop;
    });
  },
};
</script>

<style lang="scss" scoped>
.thumb-example {
  flex: 1;
  // height: 89%;
  background-color: #000;
}

.swiper {
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  &.gallery-top {
    height: 80%;
    width: 100%;
  }
  &.gallery-thumbs {
    height: 20%;
    // box-sizing: border-box;
    padding: 10px 0 0 0;
    background: #fff;
  }
  &.gallery-thumbs .swiper-slide {
    width: 33.3%;
    height: 100%;
    opacity: 0.6;
    // opacity: 0.4;
  }
  &.gallery-thumbs .swiper-slide-active {
    opacity: 1;
  }
}
.swiper-wrapper {
  transform: (0, 0, 0)!important;
}
</style>
