<!-- 各区拆迁台账表 -->
<template>
    <div class='myPadding displayFlexC'>
        <div class="table-top" v-show="isCheck">
            <vxe-button class="" @click="insertEvent()"><i class="vxe-icon--plus myBC"></i> 插入</vxe-button>
            <vxe-button class="" @click="copy"><i class="vxe-icon--zoomout myBC"></i> 复制行</vxe-button>
            <vxe-button class="" @click="del"><i class="el-icon-delete myRC"></i> 删除行</vxe-button>
            <vxe-button class="" @click="delAll"><i class="el-icon-delete myRC"></i> 删除全部</vxe-button>
            <vxe-button class="" @click="importData"><i class="vxe-icon--upload myGC"></i> 导入</vxe-button>
        </div>
        <div class="table-top" v-show="!isCheck">
            <span class="searchLabel fl">工程名称：</span>
            <el-input class="fl inputMargin" v-model="searchForm.projectName" @input="searchEvents()" prefix-icon="el-icon-search" clearable></el-input>
            <span class="searchLabel fl">实施单位：</span>
            <el-input class="fl inputMargin" v-model="searchForm.carryOut" @input="searchEvents()" prefix-icon="el-icon-search" clearable></el-input>
            <span class="searchLabel fl">租户名称：</span>
            <el-input class="fl inputMargin" v-model="searchForm.lesseeName" @input="searchEvents()" prefix-icon="el-icon-search" clearable></el-input>
        </div>
        <vxe-table
        border
        ref="xTable2"
        align="center"
        :export-config="{}"
        :data="tableData2"
        :checkbox-config="{reserve: true}"
        @edit-closed="editClosed"
        :edit-config="{trigger: triggerVal, mode: 'cell', showIcon: false}">
            <vxe-table-colgroup title="征用拆迁地块直管房情况明细表">
                <vxe-table-column type="checkbox" width="60"></vxe-table-column>
                <vxe-table-column title="序号" type="seq" width="60"></vxe-table-column>
                <vxe-table-column field="housingMo" title="房管所" :edit-render="{name: 'input'}"></vxe-table-column>
                <vxe-table-column field="projectName" title="工程名称" :edit-render="{name: 'input'}"></vxe-table-column>
                <vxe-table-column field="carryOut" title="实施单位" :edit-render="{name: 'input'}"></vxe-table-column>
                <vxe-table-colgroup title="拆迁房屋情况">
                    <vxe-table-column field="removes" title="拆迁地址" :edit-render="{name: 'input'}"></vxe-table-column>
                    <vxe-table-column field="zone" title="区段地号" :edit-render="{name: 'input'}"></vxe-table-column>
                    <vxe-table-column field="produceNo" title="产号" :edit-render="{name: 'input'}"></vxe-table-column>
                    <vxe-table-colgroup title="建筑面积">
                        <vxe-table-colgroup title="册记面积">
                            <vxe-table-column field="recordArea" title="住宅" :edit-render="{name: 'input'}"></vxe-table-column>
                            <vxe-table-column field="recordAreaWrong" title="非住宅" :edit-render="{name: 'input'}"></vxe-table-column>
                        </vxe-table-colgroup>
                        <vxe-table-colgroup title="现管面积">
                            <vxe-table-column field="nowadaysArea" title="住宅" :edit-render="{name: 'input'}"></vxe-table-column>
                            <vxe-table-column field="nowadaysAreaWrong" title="非住宅" :edit-render="{name: 'input'}"></vxe-table-column>
                        </vxe-table-colgroup>
                        <vxe-table-colgroup title="应补偿面积">
                            <vxe-table-column field="mendArea" title="住宅" :edit-render="{name: 'input'}"></vxe-table-column>
                            <vxe-table-column field="mendAreaWrong" title="非住宅" :edit-render="{name: 'input'}"></vxe-table-column>
                        </vxe-table-colgroup>
                    </vxe-table-colgroup>
                </vxe-table-colgroup>
                <vxe-table-colgroup title="产权补偿情况">
                    <vxe-table-colgroup title="已签协议">
                        <vxe-table-colgroup title="产交面积">
                            <vxe-table-column field="cfArea" title="住宅" :edit-render="{name: 'input'}"></vxe-table-column>
                            <vxe-table-column field="cfAreaWrong" title="非住宅" :edit-render="{name: 'input'}"></vxe-table-column>
                        </vxe-table-colgroup>
                        <vxe-table-column field="placementSite" title="安置房地址" :edit-render="{name: 'input'}"></vxe-table-column>
                        <vxe-table-column field="currency" title="货币补偿" :edit-render="{name: 'input'}"></vxe-table-column>
                    </vxe-table-colgroup>
                    <vxe-table-column field="notDeal" title="未签协议" :edit-render="{name: 'input'}"></vxe-table-column>
                </vxe-table-colgroup>
                <vxe-table-colgroup title="征用期间欠租情况">
                    <vxe-table-column field="lesseeName" title="租户名称" :edit-render="{name: 'input'}"></vxe-table-column>
                    <vxe-table-column field="protocol" title="安置协议号" :edit-render="{name: 'input'}"></vxe-table-column>
                    <vxe-table-column field="monthly" title="月租" :edit-render="{name: 'input'}"></vxe-table-column>
                    <vxe-table-colgroup title="欠租日期">
                        <vxe-table-column field="startDate" title="起始日期" :edit-render="{name: 'input'}"></vxe-table-column>
                        <vxe-table-column field="endingDate" title="结束日期" :edit-render="{name: 'input'}"></vxe-table-column>
                    </vxe-table-colgroup>
                    <vxe-table-column field="oweMonth" title="欠租月份" :edit-render="{name: 'input'}"></vxe-table-column>
                    <vxe-table-column field="total" title="合计（元）" :edit-render="{name: 'input'}"></vxe-table-column>
                </vxe-table-colgroup>
                <vxe-table-column field="remark" title="备注" :edit-render="{name: 'input'}"></vxe-table-column>
            </vxe-table-colgroup>
        </vxe-table>
        <vxe-pager
        class="paginationBlock"
        size="mini"
        :current-page="tablePage.currentPage"
        :page-size="tablePage.pageSize"
        :total="tablePage.totalResult"
        @page-change="pageChange"
        :layouts="['PrevPage', 'JumpNumber', 'NextPage', 'FullJump', 'Total']"
        />
        <vxe-modal v-model="alertVal" title="导入步骤" width="20%" @close="closeEvent">
            <template #default>
            <el-timeline>
                <el-timeline-item timestamp="1，下载模板" placement="top">
                <el-card>
                    <p>模板：<a href="https://ismart.loongtek.cn/image/tar/a74d8f9253004ec9875a22a2078e5121.xlsx" download="myFileName">
                                <vxe-button><i class="el-icon-download"></i> 下载</vxe-button>
                            </a>
                    </p>
                    <p>下载模板文件到本地。</p>
                </el-card>
                </el-timeline-item>
                <el-timeline-item timestamp="2，填写数据" placement="top">
                <el-card>
                    <p>根据模板文件的要求填写数据。</p>
                </el-card>
                </el-timeline-item>
                <el-timeline-item timestamp="3，导入数据" placement="top">
                <el-card>
                    <vxe-button @click="importDataEvent"><i class="el-icon-upload"></i> 导入</vxe-button>
                    <p>点击导入按钮，导入表格中的数据。</p>
                </el-card>
                </el-timeline-item>
            </el-timeline>
            </template>
        </vxe-modal>
    </div>
</template>

<script>
//这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
//例如：import 《组件名称》 from '《组件路径》';
import {
  addRegionList,
  getRegionOne,
  uploadRegionCsv
} from "@/api/house";
export default {
//import引入的组件需要注入到对象中才能使用
components: {},
data() {
    //这里存放数据
    return {
        triggerVal: '',
        tableData2: [],
        isCheck: null,
        searchForm:{
            lesseeName:null,
            carryOut:null,
            projectName:null,
            enteringTime: null,
            housingMo: null
        },
        addedRow: {
            housingMo: "",
            id: "row",
            years: ''
        },
        alertVal: false,
        // 分页
        tablePage: {
            currentPage: 1,
            pageSize: 10,
            totalResult: 0,
        },
        importDataTable: []
    };
},
//监听属性 类似于data概念
computed: {},
//监控data中的数据变化
watch: {},
//方法集合
methods: {
    // 根据页切换
    async pageChange(val) {
        console.log('val.currentPage', val.currentPage, val.pageSize);

        this.tablePage.totalResult = this.importDataTable.length
        let searchData = JSON.parse(JSON.stringify(this.importDataTable))
        
        this.tablePage.currentPage = val.currentPage;
        this.tablePage.pageSize = val.pageSize;
        if(val.pageSize * val.currentPage <= searchData.length){
          if(val.currentPage == 1){
            this.tableData2 = searchData.splice(0, val.pageSize)
          }else{
            this.tableData2 = searchData.splice(val.pageSize * (val.currentPage - 1), val.pageSize )
          }
        }else{
          if(val.currentPage == 1){
            this.tableData2 = searchData.splice(0, searchData.length )
          }else{
            this.tableData2 = searchData.splice(val.pageSize * (val.currentPage - 1), searchData.length )
          }
          
        }
      
    },
    async tableValidator() {
      let result = null;
      const $table = this.$refs.xTable2;
      const errMap = await $table.validate(true).catch((e) => e);
      if (errMap) {
        result = false;
        this.$XModal.message({ status: "error", content: "校验不通过！" });
      } else {
        result = true;
        console.log("____true", errMap, result);
        // this.$XModal.message({ status: "error", content: "校验通过！" });
      }
      return result;
    },
    getData(data, flag, years, housingMo){
        this.addedRow.housingMo = housingMo
        this.isCheck = flag
        console.log('row data', data, flag)
        if(flag == true){
            // 新增、修改
            this.triggerVal = 'click'
            this.addedRow.years = years
        }else{
            // 查看
            this.triggerVal = ''
        }
        this.importDataTable = JSON.parse(JSON.stringify(data))
        this.pageChange(this.tablePage)
        this.searchForm.enteringTime = years
        this.searchForm.housingMo = housingMo
    },
    async insertEvent (row) {
        const $table = this.$refs.xTable2
        this.addedRow.id = "row" + (this.importDataTable.length + 1)
        const record = this.addedRow;
        const { row: newRow } = await $table.insertAt(record, row);
        await $table.setActiveCell(newRow, "name");
        // 获取表数据
        // this.tableData2 = $table.getTableData().tableData;
        this.importDataTable.splice(0,0,this.addedRow)
        // this.importDataTable = this.$refs.xTable2.getTableData().tableData;
        console.log('this.importDataTable', this.importDataTable);
        
        this.pageChange(this.tablePage)
    },
    del(){
        let delData = this.$refs.xTable2.getCheckboxRecords()
        if (delData.length != 0) {
            this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                // 删除 tableData1
                delData.forEach(ele => {
                    if(typeof(ele.id) == 'string'){
                        ele.id = 0
                    }
                    ele.logicStatus = 2
                    this.importDataTable = this.importDataTable.filter((item, index) => item.id != ele.id)
                })
                addRegionList(delData).then(async (res) => {
                    console.log("del tbTenement", res);
                    if (res.code == 0) {
                    this.$refs.xTable2.removeCheckboxRow();
                    this.pageChange(this.tablePage)
                    this.$message({ type: "success", message: "删除成功!" });
                    }
                });
                // this.$refs.xTable2.clearCheckboxRow();
            }).catch(() => {
                this.$message({ type: "info", message: "已取消删除!" });          
            });
        }else{
            this.$message({type: 'error',message: '请选择需要删除的数据!'});
        }
    },
    delAll(){
        // 删除数据库全数据
        this.$confirm('此操作将删除全部数据, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
        }).then(() => {
            // 删除 tableData1
            this.tableData2.forEach(ele => {
                ele.logicStatus = 2
            })
            addRegionList(this.tableData2).then(async (res) => {
                console.log("del tbTenement", res);
                if (res.code == 0) {
                    this.tableData2 = []
                    this.$message({ type: "success", message: "删除成功!" });
                }
            });
        }).catch(() => {
            this.$message({ type: "info", message: "已取消删除!" });          
        })
    },
    editClosed(val){
        console.log("点击的单元格信息", val.row)
        let setData = JSON.parse(JSON.stringify(val.row))
        delete setData._XID
        this.importDataTable.forEach((ele,index) => {
            if(setData.id == ele.id){
                this.importDataTable[index] = setData
            }
        })
    },
    async copy(){
        if(this.$refs.xTable2.getCheckboxRecords().length != 0){
            // 复制并插入
            let lineData = this.$refs.xTable2.getCheckboxRecords();
            console.log('lineData', lineData);
            
            let copyLine = JSON.parse(JSON.stringify(lineData))
            await copyLine.forEach(ele => {
                ele.id = "row" + (this.importDataTable.length + 1)
                // this.$refs.xTable2.insertAt(ele, );
                // this.importDataTable.push(ele)
                this.importDataTable.splice(0,0,ele)
            })
            this.$refs.xTable2.clearCheckboxRow();
            // this.importDataTable = this.$refs.xTable2.getTableData().tableData;
            console.log('this.importDataTable', this.importDataTable);
            this.pageChange(this.tablePage)
            this.$message({type: 'success',message: '复制成功!'});
        }else{
            this.$message({ type: "error", message: "请选择复制的内容!" });
        }
    },
    closeEvent(){
        this.alertVal = false
    },
    importData(){
        this.alertVal = true
    },
    importDataEvent(){
        this.$refs.xTable2.readFile({
            types: ['xls', 'xlsx']
        }).then(params => {
            const { files } = params
            files.forEach(ele => {
                var formData = new FormData()
                formData.append("file", ele)
                formData.append("years", this.searchForm.enteringTime)
                formData.append("logicStatus", 1)
                uploadRegionCsv(formData).then(res => {
                    console.log('res', res)
                    if(res.code == 0 ){
                        this.$message({ type: 'success', message: '导入成功! 请保存！' })
                        this.alertVal = false
                        res.data.forEach(ele => {
                          ele.id = 'row'
                          ele.logicStatus = 1
                        })
                        // this.tableData2 = [...this.tableData2, ...res.data]
                        this.importDataTable = [...this.importDataTable, ...res.data]
                        this.pageChange(this.tablePage)
                    }else{
                        console.log('请求错误')
                    }
                })
            })
        })
    },
    // 搜索
    async searchEvents(){
        let res = await getRegionOne(this.searchForm);
        this.importDataTable = res.data
        this.pageChange(this.tablePage)
    },
},
//生命周期 - 创建完成（可以访问当前this实例）
created() {

},
//生命周期 - 挂载完成（可以访问DOM元素）
mounted() {

},
beforeCreate() {}, //生命周期 - 创建之前
beforeMount() {}, //生命周期 - 挂载之前
beforeUpdate() {}, //生命周期 - 更新之前
updated() {}, //生命周期 - 更新之后
beforeDestroy() {}, //生命周期 - 销毁之前
destroyed() {}, //生命周期 - 销毁完成
activated() {}, //如果页面有keep-alive缓存功能，这个函数会触发
}
</script>
<style lang='scss' scoped>
//@import url(); 引入公共css类
::v-deep.vxe-modal--content{
    padding: 20px;
}
</style>