<!-- 各区拆迁台账表 -->
<template>
    <div class='myPadding displayFlexC'>
        <div class="table-top" v-show="isCheck">
            <vxe-button class="" @click="insertEvent(-1)"><i class="vxe-icon--plus myBC"></i> 插入</vxe-button>
            <vxe-button class="" @click="copy"><i class="vxe-icon--zoomout myBC"></i> 复制行</vxe-button>
            <vxe-button class="" @click="del"><i class="el-icon-delete myRC"></i> 删除行</vxe-button>
            <vxe-button class="" @click="delAll"><i class="el-icon-delete myRC"></i> 删除全部</vxe-button>
            <vxe-button class="" @click="importDataEvent"><i class="vxe-icon--upload myGC"></i> 导入</vxe-button>
        </div>
        <div class="table-top" v-show="!isCheck">
            <span class="searchLabel fl">工程名称：</span>
            <el-input class="fl inputMargin" v-model="searchVal1" @input="searchEvents(searchVal1, ['a'])" prefix-icon="el-icon-search"></el-input>
            <span class="searchLabel fl">实施单位：</span>
            <el-input class="fl inputMargin" v-model="searchVal2" @input="searchEvents(searchVal2, ['b'])" prefix-icon="el-icon-search"></el-input>
            <span class="searchLabel fl">租户名称：</span>
            <el-input class="fl inputMargin" v-model="searchVal3" @input="searchEvents(searchVal3, ['b'])" prefix-icon="el-icon-search"></el-input>
        </div>
        <vxe-table
        border
        ref="xTable2"
        align="center"
        :data="tableData2"
        :checkbox-config="{reserve: true}"
        :edit-config="{trigger: triggerVal, mode: 'cell', showIcon: false}">
            <vxe-table-colgroup title="征用拆迁地块直管房情况明细表">
                <vxe-table-column type="checkbox" width="60"></vxe-table-column>
                <vxe-table-column title="序号" type="seq" width="60"></vxe-table-column>
                <vxe-table-column field="a" title="房管所" :edit-render="{name: 'input'}"></vxe-table-column>
                <vxe-table-column field="b" title="工程名称" :edit-render="{name: 'input'}"></vxe-table-column>
                <vxe-table-column field="c" title="实施单位" :edit-render="{name: 'input'}"></vxe-table-column>
                <vxe-table-colgroup title="拆迁房屋情况">
                    <vxe-table-column field="d" title="拆迁地址" :edit-render="{name: 'input'}"></vxe-table-column>
                    <vxe-table-column field="d" title="区段地号" :edit-render="{name: 'input'}"></vxe-table-column>
                    <vxe-table-column field="d" title="产号" :edit-render="{name: 'input'}"></vxe-table-column>
                    <vxe-table-colgroup title="建筑面积">
                        <vxe-table-column field="d" title="册记面积" :edit-render="{name: 'input'}"></vxe-table-column>
                        <vxe-table-column field="d" title="现管面积" :edit-render="{name: 'input'}"></vxe-table-column>
                        <vxe-table-column field="d" title="应补偿面积" :edit-render="{name: 'input'}"></vxe-table-column>
                    </vxe-table-colgroup>
                </vxe-table-colgroup>
                <vxe-table-colgroup title="产权补偿情况">
                    <vxe-table-colgroup title="已签协议">
                        <vxe-table-column field="d" title="住宅" :edit-render="{name: 'input'}"></vxe-table-column>
                        <vxe-table-column field="d" title="非住宅" :edit-render="{name: 'input'}"></vxe-table-column>
                        <vxe-table-column field="d" title="安置房地址" :edit-render="{name: 'input'}"></vxe-table-column>
                    </vxe-table-colgroup>
                    <vxe-table-column field="d" title="未签协议" :edit-render="{name: 'input'}"></vxe-table-column>
                </vxe-table-colgroup>
                <vxe-table-colgroup title="征用期间欠租情况">
                    <vxe-table-column field="d" title="租户名称" :edit-render="{name: 'input'}"></vxe-table-column>
                    <vxe-table-column field="d" title="安置协议号" :edit-render="{name: 'input'}"></vxe-table-column>
                    <vxe-table-column field="d" title="月租" :edit-render="{name: 'input'}"></vxe-table-column>
                    <vxe-table-colgroup title="欠租日期">
                        <vxe-table-column field="d" title="起始日期" :edit-render="{name: 'input'}"></vxe-table-column>
                        <vxe-table-column field="d" title="结束日期" :edit-render="{name: 'input'}"></vxe-table-column>
                    </vxe-table-colgroup>
                    <vxe-table-column field="d" title="欠租月份" :edit-render="{name: 'input'}"></vxe-table-column>
                    <vxe-table-column field="d" title="合计（元）" :edit-render="{name: 'input'}"></vxe-table-column>
                </vxe-table-colgroup>
                <vxe-table-column field="d" title="备注" :edit-render="{name: 'input'}"></vxe-table-column>
            </vxe-table-colgroup>
        </vxe-table>
    </div>
</template>

<script>
//这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
//例如：import 《组件名称》 from '《组件路径》';

export default {
//import引入的组件需要注入到对象中才能使用
components: {},
data() {
    //这里存放数据
    return {
        triggerVal: '',
        tableData2: [
            {
                a: '广州白云区白云大道',
                b: '2222222',
                c: '住宅',
                d: '212',
                e: 'xx'
            }
        ],
        isCheck: null,
        searchVal1: null,
        searchVal2: null,
        searchVal3: null
    };
},
//监听属性 类似于data概念
computed: {},
//监控data中的数据变化
watch: {},
//方法集合
methods: {
    getData(data, flag){
        this.isCheck = flag
        console.log('row data', data, flag)
        if(flag == true){
            // 新增、修改
            this.triggerVal = 'click'
        }else{
            // 查看
            this.triggerVal = ''
        }
    },
    async insertEvent (row) {
        const $table = this.$refs.xTable2
        const record = {
            name: 'test'
        }
        const { row: newRow } = await $table.insertAt(record, row)
        await $table.setActiveCell(newRow, 'name')
    },
    del(){
        if(this.$refs.xTable2.getCheckboxRecords().length != 0){
            this.$confirm('此操作将删除数据, 是否继续?', '提示', {
                confirmButtonText: '确定',
                cancelButtonText: '取消',
                type: 'warning'
            }).then(() => {
                // 删除 tableData1
                // this.$refs.xTable2.removeCheckboxRow()
                this.$message({type: 'success',message: '删除成功!'});
                this.$refs.xTable2.clearCheckboxRow()
            })
        }else{
            this.$message({type: 'error',message: '请选择需要删除的数据!'});
        }
    },
    delAll(){
        // 删除数据库全数据
        this.$confirm('此操作将删除全部数据, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
        }).then(() => {
            // 删除 tableData1
            this.$message({type: 'success',message: '删除成功!'});
        })
    },
    copy(){
        if(this.$refs.xTable2.getCheckboxRecords().length == 1){
            // 复制并插入
            let copyLine = this.$refs.xTable2.getCheckboxRecords()[0]
            this.$refs.xTable2.insertAt(copyLine, -1)
            this.$refs.xTable2.clearCheckboxRow()
            this.$message({type: 'success',message: '复制成功!'});
        }else{
            this.$message({type: 'error',message: '有且只能选择一条数据行!'});
        }
    },
    importDataEvent(){
        this.$refs.xTable2.importData()
    },
    // 搜索
    searchEvents(searchVal, PropsList){
        this.tableData2 = this.$search.searchEvents(this.tableData2, searchVal, PropsList)
    },
},
//生命周期 - 创建完成（可以访问当前this实例）
created() {

},
//生命周期 - 挂载完成（可以访问DOM元素）
mounted() {

},
beforeCreate() {}, //生命周期 - 创建之前
beforeMount() {}, //生命周期 - 挂载之前
beforeUpdate() {}, //生命周期 - 更新之前
updated() {}, //生命周期 - 更新之后
beforeDestroy() {}, //生命周期 - 销毁之前
destroyed() {}, //生命周期 - 销毁完成
activated() {}, //如果页面有keep-alive缓存功能，这个函数会触发
}
</script>
<style lang='scss' scoped>
//@import url(); 引入公共css类

</style>