<!-- 自有物业台账表 -->
<template>
  <div class="myPadding displayFlexC">
    <div class="table-top" v-show="isCheck">
      <vxe-button class="" @click="insertEvent(-1)"
        ><i class="vxe-icon--plus myBC"></i> 插入</vxe-button
      >
      <vxe-button class="" @click="copy"
        ><i class="vxe-icon--zoomout myBC"></i> 复制行</vxe-button
      >
      <vxe-button class="" @click="del"
        ><i class="el-icon-delete myRC"></i> 删除行</vxe-button
      >
      <vxe-button class="" @click="delAll"
        ><i class="el-icon-delete myRC"></i> 删除全部</vxe-button
      >
      <vxe-button class="" @click="importDataEvent"
        ><i class="vxe-icon--upload myGC"></i> 导入</vxe-button
      >
    </div>
    <div class="table-top" v-show="!isCheck">
      <span class="searchLabel fl">权属来源：</span>
      <el-input
        class="fl inputMargin"
        v-model="searchVal1"
        @input="searchEvents(searchVal1, ['a'])"
        prefix-icon="el-icon-search"
      ></el-input>
      <span class="searchLabel fl">小区名称：</span>
      <el-input
        class="fl inputMargin"
        v-model="searchVal2"
        @input="searchEvents(searchVal2, ['b'])"
        prefix-icon="el-icon-search"
      ></el-input>
      <span class="searchLabel fl">总面积：</span>
      <el-input
        class="fl inputMargin"
        v-model="searchVal3"
        @input="searchEvents(searchVal3, ['b'])"
        prefix-icon="el-icon-search"
      ></el-input>
    </div>
    <vxe-table
      border
      ref="xTable2"
      align="center"
      :data="tableData"
      :edit-rules="validTableRules"
      show-overflow
      :checkbox-config="{ reserve: true }"
      :edit-config="{ trigger: triggerVal, mode: 'cell', showIcon: false }"
    >
      <vxe-table-colgroup title="查册台账明细表">
        <vxe-table-column
          type="checkbox"
          width="60"
          fixed="left"
        ></vxe-table-column>
        <vxe-table-column
          title="序号"
          type="seq"
          width="60"
          fixed="left"
        ></vxe-table-column>
        <vxe-table-column
          field="ownership"
          title="权属来源"
          :edit-render="{ name: 'input' }"
          width="120"
        ></vxe-table-column>
        <vxe-table-colgroup title="安置房地址">
          <vxe-table-column
            field="attribute"
            title="区属"
            :edit-render="{ name: 'input' }"
            width="120"
          ></vxe-table-column>
          <vxe-table-column
            field="plotName"
            title="小区名称（路）"
            :edit-render="{ name: 'input' }"
            width="120"
          ></vxe-table-column>
          <vxe-table-column
            field="floorNo"
            title="楼号（街）"
            :edit-render="{ name: 'input' }"
            width="120"
          ></vxe-table-column>
          <vxe-table-column
            field="ladderNo"
            title="梯号（门牌）"
            :edit-render="{ name: 'input' }"
            width="120"
          ></vxe-table-column>
          <vxe-table-column
            field="houseNo"
            title="房号"
            :edit-render="{ name: 'input' }"
            width="120"
          ></vxe-table-column>
        </vxe-table-colgroup>
        <vxe-table-column
          field="site"
          title="房产证地址"
          :edit-render="{ name: 'input' }"
          width="120"
        ></vxe-table-column>
        <vxe-table-column
          field="planTime"
          title="移交来本单位及时间"
          :edit-render="{ name: 'input' }"
          width="120"
        ></vxe-table-column>
        <vxe-table-column
          field="titleDeed"
          title="房产证编号"
          :edit-render="{ name: 'input' }"
          width="120"
        ></vxe-table-column>
        <vxe-table-column
          field="exchange"
          title="是否办理产权调换"
          :edit-render="{ name: 'input' }"
          width="120"
        ></vxe-table-column>
        <vxe-table-column
          field="unit"
          title="调换单位"
          :edit-render="{ name: 'input' }"
          width="120"
        ></vxe-table-column>
        <vxe-table-column
          field="placement"
          title="是否安置"
          :edit-render="{ name: 'input' }"
          width="120"
        ></vxe-table-column>
        <vxe-table-column
          field="placementTime"
          title="安置时间"
          :edit-render="{ name: 'input' }"
          width="120"
        ></vxe-table-column>
        <vxe-table-column
          field="take"
          title="是否被领走"
          :edit-render="{ name: 'input' }"
          width="120"
        ></vxe-table-column>
        <vxe-table-column
          field="receiptor"
          title="领取人姓名"
          :edit-render="{ name: 'input' }"
          width="120"
        ></vxe-table-column>
        <vxe-table-column
          field="certificate"
          title="是否是土地使用证"
          :edit-render="{ name: 'input' }"
          width="120"
        ></vxe-table-column>
        <vxe-table-column
          field="cardStatus"
          title="是否已办证"
          :edit-render="{ name: 'input' }"
          width="120"
        ></vxe-table-column>
        <vxe-table-colgroup title="房产证面积">
          <vxe-table-column
            field="coverArea"
            title="套内面积"
            :edit-render="{ name: 'input' }"
            width="120"
          ></vxe-table-column>
          <vxe-table-column
            field="realityCoverArea"
            title="实际套内面积"
            :edit-render="{ name: 'input' }"
            width="120"
          ></vxe-table-column>
          <vxe-table-column
            field="shareArea"
            title="分摊面积"
            :edit-render="{ name: 'input' }"
            width="120"
          ></vxe-table-column>
          <vxe-table-column
            field="realityShareArea"
            title="实际分摊面积"
            :edit-render="{ name: 'input' }"
            width="120"
          ></vxe-table-column>
          <vxe-table-column
            field="totalArea"
            title="单元总面积"
            :edit-render="{ name: 'input' }"
            width="120"
          ></vxe-table-column>
          <vxe-table-column
            field="realityTotalArea"
            title="实际单元总面积"
            :edit-render="{ name: 'input' }"
            width="120"
          ></vxe-table-column>
        </vxe-table-colgroup>
        <vxe-table-column
          field="propertyNo"
          title="产权证号"
          :edit-render="{ name: 'input' }"
          width="120"
        ></vxe-table-column>
        <vxe-table-column
          field="purpose"
          title="房屋用途"
          :edit-render="{ name: 'input' }"
          width="120"
        ></vxe-table-column>
        <vxe-table-column
          field="figureImg"
          title="房地产平面附图"
          :edit-render="{ name: 'input' }"
          width="120"
        ></vxe-table-column>
        <vxe-table-column
          field="number"
          title="编号"
          :edit-render="{ name: 'input' }"
          width="120"
        ></vxe-table-column>
        <vxe-table-column
          field="fileNumber"
          title="档案编号"
          :edit-render="{ name: 'input' }"
          width="120"
        ></vxe-table-column>
        <vxe-table-column
          field="certificateTime"
          title="领证/移交日期"
          :edit-render="{ name: 'input' }"
          width="120"
        ></vxe-table-column>
        <vxe-table-column
          field="receiver"
          title="领证人"
          :edit-render="{ name: 'input' }"
          width="120"
        ></vxe-table-column>
        <vxe-table-column
          field="scanStatus"
          title="扫描状态"
          :edit-render="{ name: 'input' }"
          width="120"
        ></vxe-table-column>
        <vxe-table-column
          field="status"
          title="状态"
          :edit-render="{ name: 'input' }"
          width="120"
        ></vxe-table-column>
        <vxe-table-column
          field="nature"
          title="领证性质"
          :edit-render="{ name: 'input' }"
          width="120"
        ></vxe-table-column>
      </vxe-table-colgroup>
    </vxe-table>
  </div>
</template>

<script>
//这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
//例如：import 《组件名称》 from '《组件路径》';

export default {
  //import引入的组件需要注入到对象中才能使用
  components: {},
  data() {
    //这里存放数据
    return {
      triggerVal: "",
      tableData: [],
      isCheck: null,
      searchVal1: null,
      searchVal2: null,
      searchVal3: null,
      validTableRules: {
        attribute: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        cardStatus: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        certificate: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        certificateTime: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        exchange: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        figureImg: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        fileNumber: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        floorNo: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        houseNo: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        ladderNo: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        nature: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        number: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        ownership: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        placement: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        placementTime: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        planTime: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        plotName: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        propertyNo: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        purpose: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        coverArea: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        realityCoverArea: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        realityShareArea: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        realityTotalArea: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        receiptor: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        receiver: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        scanStatus: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        shareArea: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        site: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        status: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        take: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        titleDeed: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        totalArea: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        unit: [{ required: true, message: "此字段为必填", trigger: "blur" }],
      },
      addedRow: {
        attribute: "",
        cardStatus: "",
        certificate: "",
        certificateTime: "",
        coverArea: "",
        enteringTime: "",
        exchange: "",
        figureImg: "",
        fileNumber: "",
        floorNo: "",
        houseNo: "",
        id: 0,
        ladderNo: "",
        nature: "",
        number: "",
        ownership: "",
        placement: "",
        placementTime: "",
        planTime: "",
        plotName: "",
        propertyNo: "",
        purpose: "",
        realityCoverArea: "",
        realityShareArea: "",
        realityTotalArea: "",
        receiptor: "",
        receiver: "",
        scanStatus: "",
        shareArea: "",
        site: "",
        status: "",
        take: "",
        titleDeed: "",
        totalArea: "",
        unit: "",
      },
    };
  },
  //监听属性 类似于data概念
  computed: {},
  //监控data中的数据变化
  watch: {},
  //方法集合
  methods: {
    async tableValidator() {
      let result = null;
      const $table = this.$refs.xTable2;
      const errMap = await $table.validate(true).catch((e) => e);
      if (errMap) {
        result = false;
        this.$XModal.message({ status: "error", content: "校验不通过！" });
      } else {
        result = true;
        console.log("____true", errMap, result);
        // this.$XModal.message({ status: "error", content: "校验通过！" });
      }
      return result;
    },
    getData(data, flag) {
      this.isCheck = flag;
      console.log("row data", data, flag);
      if (flag == true) {
        // 新增、修改
        this.triggerVal = "click";
      } else {
        // 查看
        this.triggerVal = "";
      }
    },
    async insertEvent(row) {
      const $table = this.$refs.xTable2;
      const record = this.addedRow;
      const { row: newRow } = await $table.insertAt(record, row);
      await $table.setActiveCell(newRow, "name");
      // 获取表数据
      this.tableData = this.$refs.xTable2.getTableData().tableData;
    },
    del() {
      if (this.$refs.xTable2.getCheckboxRecords().length != 0) {
        this.$confirm("此操作将删除数据, 是否继续?", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning",
        }).then(() => {
          // 删除 tableData1
          // this.$refs.xTable2.removeCheckboxRow()
          this.$message({ type: "success", message: "删除成功!" });
          this.$refs.xTable2.clearCheckboxRow();
        });
      } else {
        this.$message({ type: "error", message: "请选择需要删除的数据!" });
      }
    },
    delAll() {
      // 删除数据库全数据
      this.$confirm("此操作将删除全部数据, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(() => {
        // 删除 tableData1
        this.$message({ type: "success", message: "删除成功!" });
      });
    },
    copy() {
      if (this.$refs.xTable2.getCheckboxRecords().length == 1) {
        // 复制并插入
        let copyLine = this.$refs.xTable2.getCheckboxRecords()[0];
        this.$refs.xTable2.insertAt(copyLine, -1);
        this.$refs.xTable2.clearCheckboxRow();
        this.$message({ type: "success", message: "复制成功!" });
      } else {
        this.$message({ type: "error", message: "有且只能选择一条数据行!" });
      }
    },
    importDataEvent() {
      this.$refs.xTable2.importData();
    },
    // 搜索
    searchEvents(searchVal, PropsList) {
      this.tableData2 = this.$search.searchEvents(
        this.tableData2,
        searchVal,
        PropsList
      );
    },
  },
  //生命周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {},
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //生命周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁完成
  activated() {}, //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
//@import url(); 引入公共css类
</style>
