<!-- 小区台账表 -->
<template>
  <div class="myPadding displayFlexC">
    <div class="table-top" v-show="isCheck">
      <vxe-button class="" @click="insertEvent(-1)"
        ><i class="vxe-icon--plus myBC"></i> 插入</vxe-button
      >
      <vxe-button class="" @click="copy"
        ><i class="vxe-icon--zoomout myBC"></i> 复制行</vxe-button
      >
      <vxe-button class="" @click="del"
        ><i class="el-icon-delete myRC"></i> 删除行</vxe-button
      >
      <vxe-button class="" @click="delAll"
        ><i class="el-icon-delete myRC"></i> 删除全部</vxe-button
      >
      <vxe-button class="" @click="importData"
        ><i class="vxe-icon--upload myGC"></i> 导入</vxe-button
      >
    </div>
    <div class="table-top" v-show="!isCheck">
      <span class="searchLabel fl">小区名称：</span>
      <el-input
        class="fl inputMargin"
        v-model="queryForm.attribute"
        prefix-icon="el-icon-search"
      ></el-input>
      <span class="searchLabel fl">房屋户型：</span>
      <vxe-select class="inputMargin" v-model="queryForm.houseType" clearable transfer>
        <vxe-option
          v-for="item in houseTypeArr"
          :key="item.id"
          :value="item.id"
          :label="item.name"
        ></vxe-option>
      </vxe-select>
      <span class="searchLabel fl">总面积：</span>
      <el-input
        class="fl inputMargin"
        v-model="queryForm.totalArea"
        prefix-icon="el-icon-search"
      ></el-input>
      <vxe-button class="h40 plusBtn inputMargin" @click="handleSearch">
        搜索
      </vxe-button>
      <vxe-button class="h40" @click="reset">
        重置
      </vxe-button>
    </div>
    <vxe-table
      border
      ref="xTable"
      align="center"
      row-id="id"
      :data="tableData"
      :checkbox-config="{ reserve: true, checkRowKeys: defaultSelecteRows, highlight: false }"
      :edit-rules="validTableRules"
      :edit-config="{ trigger: triggerVal, mode: 'cell', showIcon: false }"
      @checkbox-change="selectChangeEvent"
      @checkbox-all="selectAllChangeEvent">
      <vxe-table-colgroup title="小区台账明细表">
        <vxe-table-column type="checkbox" width="60"></vxe-table-column>
        <vxe-table-column title="序号" type="seq" width="60"></vxe-table-column>
        <vxe-table-column
          field="attribute"
          title="区属"
          :edit-render="{ name: 'input' }">
          <template #default="{ row }">
            <span>{{ row.attribute }}</span>
          </template>
          <template #edit="{ row }">
            <vxe-select v-model="row.attribute" clearable transfer>
              <vxe-option
                v-for="(item, index) in attributeArr"
                :key="index"
                :value="item"
                :label="item"
              ></vxe-option>
            </vxe-select>
          </template>
        </vxe-table-column>
        <vxe-table-colgroup title="房屋信息">
          <vxe-table-column
            field="plotName"
            title="小区名称（路）"
            :edit-render="{ name: 'input' }"
          ></vxe-table-column>
          <vxe-table-column
            field="floorNo"
            title="楼号（街）"
            :edit-render="{ name: 'input' }"
          ></vxe-table-column>
          <vxe-table-column
            field="ladderNo"
            title="梯号（门牌）"
            :edit-render="{ name: 'input' }"
          ></vxe-table-column>
          <vxe-table-column
            field="houseNo"
            title="房号"
            :edit-render="{ name: 'input' }"
          ></vxe-table-column>
          <vxe-table-column
            field="site"
            title="房产证地址"
            :edit-render="{ name: 'input' }"
          ></vxe-table-column>
          <vxe-table-column
            field="titleDeed"
            title="产权证号"
            :edit-render="{ name: 'input' }"
          ></vxe-table-column>
          <vxe-column
            field="houseType"
            title="房屋户型"
            width="102"
            :edit-render="{}"
          >
            <template #default="{ row }">
              <span>{{ formatterHouseType(row.houseType) }}</span>
            </template>
            <template #edit="{ row }">
              <vxe-select v-model="row.houseType" clearable transfer>
                <vxe-option
                  v-for="item in houseTypeArr"
                  :key="item.id"
                  :value="item.id"
                  :label="item.name"
                ></vxe-option>
              </vxe-select>
            </template>
          </vxe-column>
          <vxe-table-column field="img" title="房屋图片">
            <template #default="{ row }">
              <p
                class=""
                @click="toUpload(row)"
                style="color: blue;"
                v-if="(row.img == '' || row.img == null || row.img.indexOf('http') == -1)">
                上传
              </p>
              <p v-else @click="toDetails(row)" style="color: blue;">详情</p>
            </template>
          </vxe-table-column>
        </vxe-table-colgroup>
        <vxe-table-colgroup title="房屋面积">
          <vxe-table-column
            field="coverArea"
            title="套内面积"
            :edit-render="{ name: 'input' }"
          ></vxe-table-column>
          <vxe-table-column
            field="allArea"
            title="公摊面积"
            :edit-render="{ name: 'input' }"
          ></vxe-table-column>
          <vxe-table-column
            field="totalArea"
            title="总面积"
            :edit-render="{ name: 'input' }"
          ></vxe-table-column>
        </vxe-table-colgroup>
        <vxe-table-colgroup title="房屋价值（元）">
          <vxe-table-column
            field="paper"
            title="账面原值"
            :edit-render="{ name: 'input' }"
          ></vxe-table-column>
          <vxe-table-column
            field="assess"
            title="评估价值"
            :edit-render="{ name: 'input' }"
          ></vxe-table-column>
        </vxe-table-colgroup>
        <vxe-table-colgroup title="房屋状态">
          <vxe-table-column
            field="cardStatus"
            title="办证状态"
            :edit-render="{ name: 'input' }"
          ></vxe-table-column>
        </vxe-table-colgroup>
      </vxe-table-colgroup>
      <vxe-column v-if="isCheck" fixed="right" title="操作" width="160">
        <template #default="{ row }">
          <template v-if="$refs.xTable.isActiveByRow(row)">
            <vxe-button @click="saveRowEvent(row)">保存</vxe-button>
            <vxe-button @click="cancelRowEvent(row)">取消</vxe-button>
          </template>
          <template v-else>
            <vxe-button @click="editRowEvent(row)">编辑</vxe-button>
          </template>
        </template>
      </vxe-column>
    </vxe-table>
    <vxe-pager
      class="paginationBlock"
      size="mini"
      :current-page="tablePage.currentPage"
      :page-size="tablePage.pageSize"
      :page-sizes="tablePage.pageSizes"
      :total="tablePage.totalResult"
      @page-change="pageChange"
      :layouts="['PrevPage', 'JumpNumber', 'NextPage', 'FullJump', 'Total']"
    >
    </vxe-pager>
    <vxe-modal v-model="alertVal01" show-footer title="上传图片1"
    @confirm="closeUpload"
    @close="closeUpload">
      <template #default>
        <div class="myPadding">
          <el-upload
            action="http://192.168.1.145:9000/loongtek-member/upload/uploadFile"
            list-type="picture-card"
            ref="myUpload1"
            :on-remove="handleRemove"
            :before-upload="beforeAvatarUpload"
            :on-success="handlePictureSuccess"
            :file-list="fileList"
            :disabled="disabledVal"
          >
            <i class="el-icon-plus"></i>
            <div slot="tip" class="el-upload__tip">
              上传的图片只能是 JPG 或者 PNG 格式!
            </div>
          </el-upload>
        </div>
      </template>
    </vxe-modal>
    <vxe-modal v-model="alertVal" title="导入步骤" width="20%" @close="closeEvent">
        <template #default>
        <el-timeline>
            <el-timeline-item timestamp="1，下载模板" placement="top">
            <el-card>
                <p>模板：<a href="https://ismart.loongtek.cn/image/tar/ba872d76a6b3405db610ae34514877c8.xlsx" download="myFileName">
                            <vxe-button><i class="el-icon-download"></i> 下载</vxe-button>
                        </a>
                </p>
                <p>下载模板文件到本地。</p>
            </el-card>
            </el-timeline-item>
            <el-timeline-item timestamp="2，填写数据" placement="top">
            <el-card>
                <p>根据模板文件的要求填写数据。</p>
            </el-card>
            </el-timeline-item>
            <el-timeline-item timestamp="3，导入数据" placement="top">
            <el-card>
                <vxe-button @click="importDataEvent"><i class="el-icon-upload"></i> 导入</vxe-button>
                <p>点击导入按钮，导入表格中的数据。</p>
            </el-card>
            </el-timeline-item>
        </el-timeline>
        </template>
    </vxe-modal>
  </div>
</template>

<script>
//这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
//例如：import 《组件名称》 from '《组件路径》';
import {
  getHouseType,
  uploadCommunityCsv
} from "@/api/house";
export default {
  //import引入的组件需要注入到对象中才能使用
  components: {},
  data() {
    //这里存放数据
    return {
        attributeArr: [
          "越秀区",
          "海珠区",
          "荔湾区",
          "天河区",
          "白云区",
          "黄埔区",
          "南沙区",
          "番禺区",
          "花都区",
          "增城区",
          "从化区",
        ],
      queryForm: {
        attribute: null,
        houseType: null,
        totalArea: null
      },
      houseTypeArr: [],
      triggerVal: "",
      // 分页
      tablePage: {
        currentPage: 1,
        pageSize: 10,
        pageSizes: [10, 20, 30, 40],
        totalResult: 0,
      },
      tempRecords: [],
      tableData: [],
      defaultSelecteRows: [],
      isImportDataTable: false,
      importDataTable: [],
      deleteArr: [],
      addDataTable: [],
      validTableRules: {
        allArea: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        assess: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        attribute: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        cardStatus: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        coverArea: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        enteringTime: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        floorNo: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        houseNo: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        houseType: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        // img: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        ladderNo: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        paper: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        plotName: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        site: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        titleDeed: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        totalArea: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
      },
      isCheck: null,
      searchVal1: null,
      searchVal2: null,
      searchVal3: null,
      alertVal2: false,
      disabledVal: false,
      addedRow: {
        allArea: "",
        assess: "",
        attribute: "",
        cardStatus: "",
        coverArea: "",
        enteringTime: "",
        floorNo: "",
        houseNo: "",
        houseType: "",
        img: null,
        ladderNo: "",
        paper: "",
        plotName: "",
        site: "",
        titleDeed: "",
        totalArea: "",
        picList: [],
      },
      // 上传图片弹窗
      alertVal01: false,
      currentRowId: null,
      imgIndex: 0,
      fileList: [],
      alertVal:false
    };
  },
  //监听属性 类似于data概念
  computed: {},
  //监控data中的数据变化
  watch: {
    tempRecords: {
      handler(v) {
        console.log("watch tempRecords", v, this.tablePage.currentPage);
      },
      immediate: false,
      deep: true,
    },
    importDataTable: {
      handler(v) {
        console.log("`````importDataTable", this.$route.path);
        this.isImportDataTable = true;
        this.tableData = this.importDataTable.filter(
          (item, index) =>
            index < this.tablePage.pageSize * this.tablePage.currentPage &&
            index >= this.tablePage.pageSize * (this.tablePage.currentPage - 1)
        );
        this.importDataTable.forEach((v) => {
          console.log('re', v.totalArea)
        });
      },
      immediate: false,
      deep: true,
    },
  },
  //方法集合
  methods: {
    handleSearch() {
      console.log('handleSearch', this.$parent);
      this.$parent.$parent.updateDetailTable(this.queryForm);
    },
    reset() {
      console.log('handleSearch', this.$parent);
      this.queryForm.attribute = null;
      this.queryForm.houseType = null;
      this.queryForm.totalArea = null;
      this.$parent.$parent.updateDetailTable(this.queryForm);
    },
    async getHouseType() {
      let res = await getHouseType();
      console.log("getHouseType0", res);
      this.houseTypeArr = res;
    },
    formatterHouseType(cellValue) {
      let item = this.houseTypeArr.find((item) => {
        // console.log('formatterHouseType', item.id, Number(cellValue));
        return item.id == Number(cellValue)
      });
      // console.log("formatterHouseType", cellValue, item, this.houseTypeArr);
      return item ? item.name : "";
    },
    // 根据页切换
    async pageChange(val) {
      if (this.isImportDataTable) {
        console.log("pageChange isImportDataTable", this.$refs.inputTable1);
        this.tableData = this.importDataTable.filter(
          (item, index) =>
            index < val.pageSize * val.currentPage &&
            index >= val.pageSize * (val.currentPage - 1)
        );

        this.tablePage.currentPage = val.currentPage;
        return;
      }
      console.log("page val", val, this.$route.path);
      this.tablePage.currentPage = val.currentPage;
      this.tablePage.pageSize = val.pageSize;
      let page = val.currentPage;
      let limit = val.pageSize;
    },
    selectChangeEvent({ checked, records }) {
      let houses = [];
      this.tempRecords[this.tablePage.currentPage - 1] = records;
      let selectRecords = this.$refs.xTable.getCheckboxRecords();
      console.log("selectChangeEvent", records, selectRecords);
      console.log("tempRecords", this.tempRecords);

      this.tempRecords.forEach((v) => {
        v.forEach((i) => {
          this.defaultSelecteRows.push(i.id);
          houses.push(i);
        });
      });
      this.housesInfo = houses;
      console.log("...a....", houses);
    },
    selectAllChangeEvent({ checked }) {
      let houses = [];
      const records = this.$refs.xTable.getCheckboxRecords();
      this.tempRecords[this.tablePage.currentPage - 1] = records;
      console.log("selectAllChangeEvent", checked, records);

      this.tempRecords.forEach((v) => {
        v.forEach((i) => {
          this.defaultSelecteRows.push(i.id);
          houses.push(i);
        });
      });
      this.housesInfo = houses;
    },
    editRowEvent (row) {
      const $table = this.$refs.xTable
      console.log('editRowEvent', row);
      this.importDataTable.map(v => {
        if (v.id == row.id && row.logicStatus !== 1) v.logicStatus = 3;
      })
      $table.setActiveRow(row)
    },
    async insertEvent(row) {
      const $table = this.$refs.xTable;
      let record = this.addedRow;
      console.log('insertEvent', this.tableData)
      record.index = this.tableData.length;
      const { row: newRow } = await $table.insertAt(record, row);
      await $table.setActiveCell(newRow, "id");

      let index = this.tablePage.currentPage - 1;
      
      this.$set(record, "id", null);
      console.log("insertEvent123", record);
      this.importDataTable.push(JSON.parse(JSON.stringify(record)));
      console.log("a", this.importDataTable);
      this.addDataTable = [];
      this.tablePage.totalResult = this.importDataTable.length;
      this.tablePage.currentPage =
        this.tablePage.totalResult % this.tablePage.pageSize == 0
          ? Math.floor(this.tablePage.totalResult / this.tablePage.pageSize)
          : Math.floor(this.tablePage.totalResult / this.tablePage.pageSize) +
            1;
      this.tableData = this.importDataTable.filter(
        (item, index) =>
          index < this.tablePage.pageSize * this.tablePage.currentPage &&
          index >= this.tablePage.pageSize * (this.tablePage.currentPage - 1)
      );
    },
    del(index) {
      if (this.$refs.xTable.getCheckboxRecords().length !== 0) {
        this.$confirm("此操作将删除数据, 是否继续?", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning",
        }).then(async () => {
          this.$refs.xTable.removeCheckboxRow();
          let checkboxRow = Array.from(new Set(this.defaultSelecteRows));
            console.log('checkboxRow', checkboxRow);
            checkboxRow.forEach(v => {
              this.importDataTable.forEach(i => {
                console.log('fof', i, v)
                if (v == i.id) {
                  i.logicStatus = 2;
                  this.deleteArr.push(i)
                }
              })
            })
          let indexs = [];
          checkboxRow.forEach((v) => {
            indexs.push(this.importDataTable.findIndex((i) => v == i.id));
          });
          
          indexs.forEach((v) => {
            this.importDataTable.splice(v, 1);
          });
          this.tablePage.totalResult = this.importDataTable.length;
          console.log("removeCheckboxRow", checkboxRow, indexs);
          // 获取表数据
          this.tableData = this.$refs.xTable.getTableData().tableData;
          this.$message({ type: "success", message: "删除成功!123" });
          this.defaultSelecteRows = [];

          this.$refs.xTable.clearCheckboxRow();
        });
      } else {
        this.$message({ type: "error", message: "请选择需要删除的数据!" });
      }
    },
    delAll() {
      // 删除数据库全数据
      this.$confirm("此操作将删除全部数据, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(() => {
        // 删除 tableData1
        this.tableData = [];
        this.deleteArr = this.importDataTable;
        this.deleteArr.map(v=>v.logicStatus = 2);
        this.importDataTable = [];
        this.tablePage.totalResult = 0;

        this.$message({ type: "success", message: "删除成功!" });
      });
    },
    async tableValidator() {
      let result = null;
      const $table = this.$refs.xTable;
      const errMap = await $table.validate(true).catch((e) => e);
      if (errMap) {
        result = false;
        this.$XModal.message({ status: "error", content: "校验不通过！" });
      } else {
        result = true;
        console.log("____true", errMap, result);
        // this.$XModal.message({ status: "error", content: "校验通过！" });
      }
      return result;
    },
    getData(data, flag, years) {
      this.isCheck = flag;
      console.log("row data", data, flag);
      this.queryForm.years = years
      if (flag == true) {
        // 新增、修改
        this.importDataTable = data;
        // this.tableData.push(data);
        this.triggerVal = "manual";
        this.addedRow.years = years
      } else {
        // 查看
        this.importDataTable = data;
        this.triggerVal = "";
      }
    },
    async copy() {
      if (this.$refs.xTable.getCheckboxRecords().length != 0) {
        // 复制并插入
        let lineData = this.$refs.xTable.getCheckboxRecords();
        let copyLine = JSON.parse(JSON.stringify(lineData))
        await copyLine.forEach(ele => {
          ele.id = 0
          ele.entering_time = ""
          this.$refs.xTable.insertAt(ele, -1);
        })
        // await this.$refs.xTable.insertAt(copyLine, -1);
        // 获取表数据
        this.tableData = this.$refs.xTable.getTableData().tableData;
        this.$refs.xTable.clearCheckboxRow();
        this.$message({ type: "success", message: "复制成功!" });
      } else {
        this.$message({ type: "error", message: "有且只能选择一条数据行!" });
      }
    },
    closeEvent(){
        this.alertVal = false
    },
    importData(){
        this.alertVal = true
    },
    importDataEvent(){
        this.$refs.xTable.readFile({
            types: ['xls', 'xlsx']
        }).then(params => {
            const { files } = params
            files.forEach(ele => {
                var formData = new FormData()
                formData.append("file", ele)
                formData.append("years", this.queryForm.years)
                formData.append("logicStatus", 1)
                uploadCommunityCsv(formData).then(res => {
                    console.log('res', res)
                    if(res.code == 0 ){
                        this.$message({ type: 'success', message: '导入成功! 请保存！' })
                        this.alertVal = false
                        res.data.forEach(ele => {
                          ele.id = 'row'
                          ele.logicStatus = 1
                        })
                        this.tableData = [...this.tableData, ...res.data]
                    }else{
                        console.log('请求错误')
                    }
                })
            })
        })
    },
    // 搜索
    searchEvents(searchVal, PropsList) {
      this.tableData2 = this.$search.searchEvents(
        this.tableData2,
        searchVal,
        PropsList
      );
    },
    // 上传图片
    handleRemove(file, fileList) {
      console.log(file, fileList);
      this.fileList = fileList;
    },
    beforeAvatarUpload(file) {
      //   const isJPG = file.type === 'image/jpeg' || file.type === 'image/png';
      //   if (!isJPG) {
      //     this.$message.error('上传的图片只能是 JPG 或者 PNG 格式!');
      //   }
      //   return isJPG;
    },
    handlePictureSuccess(res, file) {
      console.log("res", res);
      res.data.forEach((ele) => {
        this.fileList.push({ url: ele });
      });
      // 处理图片
      for (let i = 0; i < this.tableData.length; i++) {
        if (this.tableData[i].id == this.currentRowId) {
          let arr = [];
          this.fileList.forEach((ele) => {
            arr.push(ele.url);
          });
          this.tableData[this.imgIndex].img = arr.join(",");
        }
      }
      let arr = [];
      this.fileList.forEach((ele) => {
        arr.push(ele.url);
      });
      this.tableData[this.imgIndex].img = arr.join(",");
    },
    toUpload(rowData) {
      console.log("toUpload");
      this.myUpload(rowData);
    },
    toDetails(rowData) {
      // this.disabledVal = true;
      this.myUpload(rowData);
    },
    myUpload(rowData) {
      this.fileList = [];
      // this.currentRowId = rowData.index;
      this.alertVal01 = true;
      let index = this.tableData.findIndex((val) => {
        console.log("fffff", val, rowData.index);
        return val.id == rowData.id;
      });
      console.log(
        "myUpload",
        index,
        rowData,
        this.currentRowId
      );
      this.imgIndex = index;
      if (rowData.img !== null && rowData.img.length !== 0) {
        let imgs = rowData.img.split(",");
        imgs.forEach((img) => {
          this.fileList.push({
            url: img,
          });
        });
      }
    },
    closeUpload() {
      console.log("closeUpload", this.fileList);
      this.fileList = [];
    },
  },
  //生命周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    this.getHouseType();
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //生命周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁完成
  activated() {}, //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
//@import url(); 引入公共css类
.h40 {
  height: 32px !important;
}
</style>
