<!-- 自有物业台账表 -->
<template>
  <div class="myPadding displayFlexC">
    <div class="table-top" v-show="isCheck">
      <vxe-button class="" @click="insertEvent(-1)"
        ><i class="vxe-icon--plus myBC"></i> 插入</vxe-button
      >
      <vxe-button class="" @click="copy"
        ><i class="vxe-icon--zoomout myBC"></i> 复制行</vxe-button
      >
      <vxe-button class="" @click="del()"
        ><i class="el-icon-delete myRC"></i> 删除行</vxe-button
      >
      <vxe-button class="" @click="delAll"
        ><i class="el-icon-delete myRC"></i> 删除全部</vxe-button
      >
      <vxe-button class="" @click="importData"
        ><i class="vxe-icon--upload myGC"></i> 导入</vxe-button
      >
    </div>
    <div class="table-top" v-show="!isCheck">
      <span class="searchLabel fl">地址：</span>
      <el-input
        class="fl inputMargin"
        v-model="searchForm.siteDetail"
        @input="searchEvents()"
        prefix-icon="el-icon-search"
        clearable
      ></el-input>
      <span class="searchLabel fl">产权证号：</span>
      <el-input
        class="fl inputMargin"
        v-model="searchForm.titleDeed"
        @input="searchEvents()"
        prefix-icon="el-icon-search"
        clearable
      ></el-input>
    </div>
    <vxe-table
      border
      row-id="id"
      ref="xTable2"
      align="center"
      :data="tableData"
      :edit-rules="validTableRules"
      :checkbox-config="{ reserve: true }"
      :edit-config="{ trigger: triggerVal, mode: 'cell', showIcon: false }">
      <vxe-table-colgroup title="自有物业明细表">
        <vxe-table-column type="checkbox" width="60"></vxe-table-column>
        <vxe-table-column title="序号" type="seq" width="60"></vxe-table-column>
        <vxe-table-column
          field="site_detail"
          title="地址"
          :edit-render="{ name: 'input' }"
        ></vxe-table-column>
        <vxe-table-column
          field="title_deed"
          title="产权证号"
          :edit-render="{ name: 'input' }"
        ></vxe-table-column>
        <vxe-table-column
          field="purpose"
          title="用途"
          :edit-render="{ name: 'input' }"
        ></vxe-table-column>
        <vxe-table-column
          field="total_area"
          title="建筑总面积"
          :edit-render="{ name: 'input' }"
        ></vxe-table-column>
        <vxe-table-column
          field="self_use"
          title="自用"
          :edit-render="{ name: 'input' }"
        ></vxe-table-column>
        <vxe-table-column
          field="lease"
          title="出租"
          :edit-render="{ name: 'input' }"
        ></vxe-table-column>
        <vxe-table-column
          field="ldle"
          title="闲置"
          :edit-render="{ name: 'input' }"
        ></vxe-table-column>
        <vxe-table-column
          field="remark"
          title="备注"
          :edit-render="{ name: 'input' }"
        ></vxe-table-column>
        <vxe-table-column
          field="entering_time"
          title="录入时间"
        ></vxe-table-column>
      </vxe-table-colgroup>
      <vxe-column v-if="isCheck" fixed="right" title="操作" width="160">
        <template #default="{ row }">
          <template v-if="$refs.xTable2.isActiveByRow(row)">
            <vxe-button @click="saveRowEvent(row)">保存</vxe-button>
            <vxe-button @click="cancelRowEvent(row)">取消</vxe-button>
          </template>
          <template v-else>
            <vxe-button @click="editRowEvent(row)">编辑</vxe-button>
          </template>
        </template>
      </vxe-column>
    </vxe-table>
    <vxe-modal v-model="alertVal" title="导入步骤" width="20%" @close="closeEvent">
        <template #default>
        <el-timeline>
            <el-timeline-item timestamp="1，下载模板" placement="top">
            <el-card>
                <p>模板：<a href="https://ismart.loongtek.cn/image/tar/06665d00ee234724a8cdbd018678f702.xlsx" download="myFileName">
                            <vxe-button><i class="el-icon-download"></i> 下载</vxe-button>
                        </a>
                </p>
                <p>下载模板文件到本地。</p>
            </el-card>
            </el-timeline-item>
            <el-timeline-item timestamp="2，填写数据" placement="top">
            <el-card>
                <p>根据模板文件的要求填写数据。</p>
            </el-card>
            </el-timeline-item>
            <el-timeline-item timestamp="3，导入数据" placement="top">
            <el-card>
                <vxe-button @click="importDataEvent"><i class="el-icon-upload"></i> 导入</vxe-button>
                <p>点击导入按钮，导入表格中的数据。</p>
            </el-card>
            </el-timeline-item>
        </el-timeline>
        </template>
    </vxe-modal>
  </div>
</template>

<script>
//这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
//例如：import 《组件名称》 from '《组件路径》';
import {
  addTbTenement,
  selectTbTenement1,
  uploadOwnCsv

} from "@/api/house";
export default {
  //import引入的组件需要注入到对象中才能使用
  components: {},
  data() {
    //这里存放数据
    return {
      triggerVal: "",
      tableData: [],
      validTableRules: {
        // entering_time: [
        //   { required: true, message: "此字段为必填", trigger: "blur" },
        // ],
        ldle: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        lease: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        purpose: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        remark: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        self_use: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        site: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        site_detail: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        allArea: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        total_area: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        title_deed: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
      },
      isCheck: null,
      searchForm:{
        siteDetail: null,
        titleDeed: null,
        page: null,
        limit: null,
        enteringTime: null,
        purpose: null
      },
      addedRow: {
        entering_time: "",
        id: "row",
        ldle: "",
        lease: "",
        purpose: "",
        remark: "",
        self_use: "",
        site: "",
        site_detail: "",
        title_deed: "",
        total_area: "",
        years: ''
      },
      alertVal: false
    };
  },
  //监听属性 类似于data概念
  computed: {},
  //监控data中的数据变化
  watch: {},
  //方法集合
  methods: {
    async tableValidator() {
      let result = null;
      const $table = this.$refs.xTable2;
      const errMap = await $table.validate(true).catch((e) => e);
      if (errMap) {
        result = false;
        this.$XModal.message({ status: "error", content: "校验不通过！" });
      } else {
        result = true;
        console.log("____true", errMap, result);
        // this.$XModal.message({ status: "error", content: "校验通过！" });
      }
      return result;
    },
    getData(data, flag, years, purpose) {
      this.isCheck = flag;
      console.log("getData...", data);
      this.addedRow.purpose = purpose
      // this.tableData = data;
      if (flag == true) {
        // 新增、修改
        // this.triggerVal = "click";
        this.triggerVal = "manual";
        this.addedRow.years = years
      } else {
        // 查看
        this.triggerVal = "";
      }
      this.tableData = data;
      this.searchForm.enteringTime = years,
      this.searchForm.purpose = purpose
      console.log("row data", data, flag, this.tableData);
    },
    async insertEvent(row) {
      const $table = this.$refs.xTable2;
      const record = this.addedRow;
      const { row: newRow } = await $table.insertAt(record, row);
      await $table.setActiveCell(newRow, "name");
      // 获取表数据
      this.tableData = this.$refs.xTable2.getTableData().tableData;
    },
    del() {
      let delData = this.$refs.xTable2.getCheckboxRecords()
      if (delData.length != 0) {
        this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
        }).then(() => {
            // 删除 tableData1
            delData.forEach(ele => {
              if(typeof(ele.id) == 'string'){
                ele.id = 0
              }
              ele.logicStatus = 2
            })
            addTbTenement(delData).then(async (res) => {
              console.log("del tbTenement", res);
              if (res.code == 0) {
                this.$refs.xTable2.removeCheckboxRow();
                this.tableData = this.$refs.xTable2.getTableData().tableData;
                this.$message({ type: "success", message: "删除成功!" });
              }
            });
            // this.$refs.xTable2.clearCheckboxRow();
        }).catch(() => {
            this.$message({ type: "info", message: "已取消删除!" });          
        });
      } else {
        this.$message({ type: "error", message: "请选择需要删除的数据!" });
      }
    },
    delAll() {
      // 删除数据库全数据
      this.$confirm("此操作将删除全部数据, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(() => {
        // 删除 tableData1
        this.tableData.forEach(ele => {
          ele.logicStatus = 2
        })
        addTbTenement(this.tableData).then(async (res) => {
          console.log("del tbTenement", res);
          if (res.code == 0) {
            this.tableData = []
            this.$message({ type: "success", message: "删除成功!" });
          }
        });
      }).catch(() => {
          this.$message({ type: "info", message: "已取消删除!" });          
      });
    },
    editRowEvent (row) {
      const $table = this.$refs.xTable2
      $table.setActiveRow(row)
    },
    async copy() {
      if (this.$refs.xTable2.getCheckboxRecords().length != 0) {
        // 复制并插入
        let lineData = this.$refs.xTable2.getCheckboxRecords();
        let copyLine = JSON.parse(JSON.stringify(lineData))
        await copyLine.forEach(ele => {
          ele.id = "row"
          ele.entering_time = ""
          this.$refs.xTable2.insertAt(ele, -1);
        })
        this.$refs.xTable2.clearCheckboxRow();
        this.tableData = this.$refs.xTable2.getTableData().tableData;
        this.$message({ type: "success", message: "复制成功!" });
      } else {
        // this.$message({ type: "error", message: "有且只能选择一条数据行!" });
        this.$message({ type: "error", message: "请选择复制的内容!" });
      }
    },
    closeEvent(){
        this.alertVal = false
    },
    importData(){
        this.alertVal = true
    },
    importDataEvent(){
        this.$refs.xTable2.readFile({
            types: ['xls', 'xlsx']
        }).then(params => {
            const { files } = params
            files.forEach(ele => {
                var formData = new FormData()
                formData.append("file", ele)
                formData.append("years", this.searchForm.enteringTime)
                formData.append("logicStatus", 1)
                uploadOwnCsv(formData).then(res => {
                    console.log('res', res)
                    if(res.code == 0 ){
                        this.$message({ type: 'success', message: '导入成功! 请保存！' })
                        this.alertVal = false
                        res.data.forEach(ele => {
                          ele.id = 'row'
                          ele.logicStatus = 1
                        })
                        this.tableData = [...this.tableData, ...res.data]
                    }else{
                        console.log('请求错误')
                    }
                })
            })
        })
    },
    // 搜索
    async searchEvents() {
      let res = await selectTbTenement1(this.searchForm);
      this.tableData = res.data
    },
  },
  //生命周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {},
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //生命周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁完成
  activated() {}, //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
//@import url(); 引入公共css类
::v-deep.vxe-modal--content{
    padding: 20px;
}
</style>
