<!-- 录入表格2 -->
<template>
  <!-- <div class="myPadding"> -->
  <div class="" style="display: flex;">
    <!-- <el-row> -->
    <!-- <el-col :span="16"> -->
    <div style="padding: 0; flex: 1;">
      <el-form
        label-width="80px"
        ref="basicForm"
        :model="basicForm"
        :rules="basicFormRules"
        :disabled="isOption == 2"
      >
        <div style="display: flex; justify-content: space-between">
          <h4><span v-if="editMsg">修改</span>小区基本信息</h4>
        </div>

        <table class="myTableForm">
          <tr>
            <td>录入单位</td>
            <td>
              <!-- <el-input
                    v-model="basicForm.unit"
                    placeholder="单行输入"
                  ></el-input> -->
              <el-form-item label="" prop="unit">
                <el-input
                  v-model="basicForm.unit"
                  placeholder="单行输入"
                ></el-input>
              </el-form-item>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>区属</td>
            <td>
              <!-- <el-form-item label="" prop="attribute">
                <el-input
                  v-model="basicForm.attribute"
                  placeholder="单行输入"
                ></el-input>
              </el-form-item> -->
              <vxe-select :disabled="isOption == 2"
                placeholder="请选择区属" style="margin-left: 15px;" v-model="basicForm.attribute" clearable transfer @change="">
                <vxe-option
                  v-for="item in regions"
                  :value="item.label"
                  :label="item.label"
                ></vxe-option>
              </vxe-select>
            </td>
            <td>地块名称</td>
            <td>
              <el-form-item label="" prop="lotName">
                <el-input
                  v-model="basicForm.lotName"
                  placeholder="单行输入"
                ></el-input>
              </el-form-item>
            </td>
          </tr>
          <tr>
            <td>小区名称</td>
            <td>
              <el-form-item label="" prop="plotName">
                <el-input
                  v-model="basicForm.plotName"
                  placeholder="单行输入"
                ></el-input>
              </el-form-item>
            </td>
            <td>小区地址</td>
            <td>
              <el-form-item label="" prop="plotSite">
                <el-input
                  v-model="basicForm.plotSite"
                  placeholder="单行输入"
                ></el-input>
              </el-form-item>
            </td>
          </tr>
          <tr>
            <td>楼栋总数</td>
            <td>
              <el-form-item label="" prop="buildingTotal">
                <el-input
                  v-model="basicForm.buildingTotal"
                  placeholder="单行输入"
                ></el-input>
              </el-form-item>
            </td>
            <td>楼层总数</td>
            <td>
              <el-form-item label="" prop="totalNumber">
                <el-input
                  v-model="basicForm.totalNumber"
                  placeholder="单行输入"
                ></el-input>
              </el-form-item>
            </td>
          </tr>
          <tr>
            <td>建筑面积</td>
            <td>
              <el-form-item label="" prop="architectArea">
                <el-input
                  v-model="basicForm.architectArea"
                  placeholder="单行输入"
                ></el-input>
              </el-form-item>
            </td>
            <td>占地面积</td>
            <td>
              <el-form-item label="" prop="holdArea">
                <el-input
                  v-model="basicForm.holdArea"
                  placeholder="单行输入"
                ></el-input>
              </el-form-item>
            </td>
          </tr>
          <tr>
            <td>容积率</td>
            <td>
              <el-form-item label="" prop="cubage">
                <el-input
                  v-model="basicForm.cubage"
                  placeholder="单行输入"
                ></el-input>
              </el-form-item>
            </td>
            <td>绿化率</td>
            <td>
              <el-form-item label="" prop="green">
                <el-input
                  v-model="basicForm.green"
                  placeholder="单行输入"
                ></el-input>
              </el-form-item>
            </td>
          </tr>
        </table>

        <h4><span v-if="editMsg">修改</span>物业基本信息</h4>
        <table class="myTableForm">
          <tr>
            <td>物业公司名称</td>
            <td>
              <el-form-item label="" prop="reName">
                <el-input
                  v-model="basicForm.reName"
                  placeholder="单行输入"
                ></el-input>
              </el-form-item>
            </td>
            <td>物业类别</td>
            <td>
              <el-form-item label="" prop="reType">
                <el-input
                  v-model="basicForm.reType"
                  placeholder="单行输入"
                ></el-input>
              </el-form-item>
            </td>
          </tr>
          <tr>
            <td>物业联系人</td>
            <td>
              <el-form-item label="" prop="reContacts">
                <el-input
                  v-model="basicForm.reContacts"
                  placeholder="单行输入"
                ></el-input>
              </el-form-item>
            </td>
            <td>联系方式</td>
            <td>
              <el-form-item label="" prop="phone">
                <el-input
                  v-model="basicForm.phone"
                  placeholder="单行输入"
                ></el-input>
              </el-form-item>
            </td>
          </tr>
        </table>
      </el-form>
    </div>
    <!-- </el-col> -->
    <!-- <el-col :span="8"> -->
    <div style="width: 375px;">
      <div class="areaPic">
        <div class="title">
          <span>小区图片</span>
        </div>
        <!--
            <el-button
              v-if="bindingHouse"
              style="position: absolute; top: -15%; right: 0"
              size="small"
              icon="el-icon-plus"
              type="primary"
            >
              绑定房屋
            </el-button> -->
        <div class="body">
          <el-upload
            class="avatar-uploader"
            action="http://192.168.1.145:9000/loongtek-member-abc/upload/uploadFile"
            list-type="picture-card"
            :on-success="handlePictureSuccess"
            :on-remove="handleRemovePic"
            :on-preview="handlePreviewPicture"
            :file-list="picList"
            :before-upload="beforeAvatarUpload"
            :disabled="isOption == 2"
          >
            <i
              v-if="isOption !== 2"
              class="el-icon-plus avatar-uploader-icon"
            ></i>
            <!-- <template>
              <div v-if="basicForm.plotImg" style="display:flex!important;">
                <img
                  v-for="(item, index) in basicForm.plotImg"
                  style="width: 80px; height: 80px;"
                  :src="item"
                  class="avatar"
                />
              </div>

              <i class="el-icon-plus avatar-uploader-icon"></i>
            </template> -->
          </el-upload>
        </div>
      </div>
      <div class="uploadPane">
        <div class="title">
          <span>附件上传</span>
        </div>
        <div class="body">
          <el-upload
            class="upload-demo"
            action="http://192.168.1.145:9000/loongtek-member-abc/upload/uploadFile"
            :on-change="handleChange"
            :on-success="handleFileSuccess"
            :on-preview="handlePreview"
            :on-remove="handleDeleteFile"
            multiple
            :file-list="fileList"
            :disabled="isOption == 2"
          >
            <el-button size="small" v-if="isOption !== 2">
              <!-- <img src="@/assets/icon/uploadIcon.svg" alt="" /> -->
              上传文件
            </el-button>
            <div v-if="isOption !== 2" slot="tip" class="el-upload__tip">
              只能上传word、excel文档
            </div>
          </el-upload>
        </div>
      </div>
    </div>
    <!-- </el-col> -->
    <!-- </el-row> -->
    <vxe-modal v-model="alertVal2" show-footer title="上传图片">
      <template #default>
        <div class="myPadding">
          <el-upload
            action="http://192.168.1.145:9000/loongtek-member-abc/upload/uploadFile"
            list-type="picture-card"
            :before-upload="beforeAvatarUpload2"
            :on-success="handleAvatarSuccess2"
            :file-list="fileList2"
            :disabled="disabledVal2"
          >
            <i class="el-icon-plus"></i>
            <div slot="tip" class="el-upload__tip">
              上传的图片只能是 JPG 或者 PNG 格式!
            </div>
          </el-upload>
          <!-- <el-upload
            class="upload-demo"
            action="https://jsonplaceholder.typicode.com/posts/"
            :on-preview="handlePreview"
            :on-remove="handleRemove"
            :before-remove="beforeRemove"
            multiple
            :limit="3"
            :on-exceed="handleExceed"
            :file-list="fileList"
          >
            <el-button size="small" type="primary">点击上传</el-button>
            <div slot="tip" class="el-upload__tip">
              只能上传jpg/png文件，且不超过500kb
            </div>
          </el-upload> -->
        </div>
      </template>
    </vxe-modal>

    <el-dialog :visible.sync="dialogImageVisible">
      <!-- <span
        href="http://192.168.1.103/tar/60f0cee9d66d4ea39be26a278bcdf146.jpg?x-oss-process=image/resize,w_400"
        @click="
          down(
            'http://192.168.1.103/tar/60f0cee9d66d4ea39be26a278bcdf146.jpg?x-oss-process=image/resize,w_400'
          )
        "
        >test3</span
      > -->
      <img
        width="100%"
        @click="downloadImage(dialogImageUrl)"
        :src="dialogImageUrl"
        alt=""
      />
    </el-dialog>
  </div>
</template>

<script>
var validatorPhone = function(rule, value, callback) {
  if (value === "") {
    callback(new Error("联系方式不能为空"));
  } else if (!/^1\d{10}$/.test(value)) {
    callback(new Error("联系方式格式错误"));
  } else {
    callback();
  }
};
//这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
//例如：import 《组件名称》 from '《组件路径》';
import { getHouseInputInfoById, downloadImage } from "@/api/house";
import pub from "@/views/house/info/Input/public.js";
export default {
  //import引入的组件需要注入到对象中才能使用
  components: {},
  props: {
    bindingHouse: false,
    index: 0,
    editMsg: false
  },
  data() {
    //这里存放数据
    return {
      
      regions: [
        {
          value: "越秀区",
          label: "越秀区",
        },
        {
          value: "海珠区",
          label: "海珠区",
        },
        {
          value: "荔湾区",
          label: "荔湾区",
        },
        {
          value: "天河区",
          label: "天河区",
        },
        {
          value: "白云区",
          label: "白云区",
        },
        {
          value: "黄埔区",
          label: "黄埔区",
        },
        {
          value: "南沙区",
          label: "南沙区",
        },
        {
          value: "番禺区",
          label: "番禺区",
        },
        {
          value: "花都区",
          label: "花都区",
        },
        {
          value: "增城区",
          label: "增城区",
        },
        {
          value: "从化区",
          label: "从化区",
        },
      ],
      basicForm: {
        index: null,
      },
      basicFormRules: {
        lotName: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        unit: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        attribute: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        attribute: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        plotName: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        totalNumber: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        plotSite: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        buildingTotal: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        architectArea: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        holdArea: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        cubage: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        green: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        reName: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        reType: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        reContacts: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        phone: [{ required: true, validator: validatorPhone, trigger: "blur" }],
      },
      isOption: null,
      triggerVal: "",
      tableData2: [],
      validRules: {
        plotSite: [{ required: true, message: "此字段为必填" }],
        buildingTotal: [{ required: true, message: "此字段为必填" }],
        architectArea: [{ required: true, message: "此字段为必填" }],
        holdArea: [{ required: true, message: "此字段为必填" }],
        cubage: [{ required: true, message: "此字段为必填" }],
        green: [{ required: true, message: "此字段为必填" }],
        reName: [{ required: true, message: "此字段为必填" }],
        reType: [{ required: true, message: "此字段为必填" }],
        reContacts: [{ required: true, message: "此字段为必填" }],
        phone: [{ required: true, message: "此字段为必填" }],
      },
      disabledVal2: null,
      // 上传图片弹窗
      alertVal2: false,
      fileList2: [],
      imageUrl: "",
      picList: [],
      // fileList: [
      //   {
      //     name: "food.jpeg",
      //     url:
      //       "https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100",
      //   },
      //   {
      //     name: "food2.jpeg",
      //     url:
      //       "https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100",
      //   },
      // ],
      fileList: [],
      dialogImageUrl: "",
      dialogImageVisible: false,
    };
  },
  //监听属性 类似于data概念
  computed: {},
  //监控data中的数据变化
  watch: {},
  //方法集合
  methods: {
    async getDetailById(id) {
      let res = await getHouseInputInfoById(id);
      console.log("getDetailById");
    },
    basicFormValidator() {
      let state = null;
      this.$refs["basicForm"].validate((valid) => {
        if (valid) {
          state = true;
        } else {
          console.log("error!!");
          state = false;
        }
      });
      console.log("table2 Validator", state);
      return state;
    },
    beforeAvatarUpload2(file) {
      //   const isJPG = file.type === 'image/jpeg' || file.type === 'image/png';
      //   if (!isJPG) {
      //     this.$message.error('上传的图片只能是 JPG 或者 PNG 格式!');
      //   }
      //   return isJPG;
    },
    beforeAvatarUpload() {},
    handleAvatarSuccess() {},
    handleChange() {},
    handleAvatarSuccess2(res, file) {
      console.log("res", res);
      res.data.forEach((ele) => {
        this.fileList2.push({ url: ele });
      });
    },
    // 房源接收, 房源建册（小区修改）
    getData(option, data) {
      console.log("table2.vue getData", data, this.isOption, option);
      // console.log(
      //   "plotImg parse",
      //   JSON.parse(data.plotImg),
      //   JSON.parse(data.plotImg)[0]
      // );
      this.isOption = option;
      this.basicForm = data;
      // this.basicForm.index = this.index;
      if (data.plotImg) {
        this.basicForm.plotImg = data.plotImg;
        this.basicForm.accessory = JSON.parse(data.accessory);
        // this.picList = this.basicForm.plotImg;
        let imgs = this.basicForm.plotImg.split(",");
        imgs.forEach((ele) => {
          this.picList.push({ url: ele });
        });
        this.fileList = this.basicForm.accessory;
      }
      console.log("table2.vue getData picList", this.picList);

      // this.isOption = data;
      // if (this.isOption == 1) {
      //   this.triggerVal = "click";
      // } else {
      //   this.triggerVal = "";
      // }
    },
    getDataByJSON(option, data) {
      console.log("getDataByJSON", JSON.parse(data));
      data = JSON.parse(data);
      this.basicForm = data;
      this.isOption = option;
      if (data.plotImg) {
        // this.basicForm.plotImg = JSON.parse(data.plotImg);

        this.basicForm.plotImg = data.plotImg;
        let imgs = this.basicForm.plotImg.split(",");
        imgs.forEach((ele) => {
          this.picList.push({ url: ele });
        });
        this.basicForm.accessory =
          data.accessory == null ? [] : JSON.parse(data.accessory);
        // this.picList = this.basicForm.plotImg;
        this.fileList = this.basicForm.accessory;
      }
    },
    myvalidate() {
      let result = null;
      const $table = this.$refs.inputTable2;
      const errMap = $table.validate().catch((errMap) => errMap);
      if (errMap) {
        result = false;
        // this.$XModal.message({ status: 'error', content: '校验不通过！' })
      } else {
        result = true;
        // this.$XModal.message({ status: 'error', content: '校验通过！' })
      }
      return result;
    },
    handlePictureSuccess(res) {
      let _this = this;
      console.log("handlePictureSuccess", res);
      res.data.forEach((ele) => {
        console.log("handlePictureSuccess forEach", ele);
        _this.picList.push({ url: ele });
      });
      let temp = [];
      this.picList.forEach((ele) => {
        temp.push(ele.url);
      });
      this.$set(this.basicForm, "plotImg", temp.join(","));
    },
    handleRemovePic(file, fileList) {
      console.log("handleRemovePic", file, fileList);
      this.picList = fileList;
      let temp = [];
      this.picList.forEach((ele) => {
        temp.push(ele.url);
      });
      this.$set(this.basicForm, "plotImg", temp.join(","));
      // this.picList = fileList;
    },
    handleFileSuccess(res, file) {
      console.log("handleFileSuccess xxxxx", res, file);
      let _this = this;
      _this.fileList.push({
        name: file.name,
        url: file.response.data[0],
      });
      this.$set(this.basicForm, "accessory", this.fileList);
    },
    handleDeleteFile(file, fileList) {
      console.log('handleDeleteFile',file, fileList);
      let i = this.basicForm.accessory.findIndex(v => {
        return v.uid == file.uid;
      })
      this.basicForm.accessory.splice(i, 1);
      this.$message.success("删除文件成功！")
    },
    down(url) {
      console.log("down", url);
      var image = new Image();
      // 解决跨域 Canvas 污染问题 解决跨域问题-并不好使，需要改对应的请求服务器
      image.setAttribute("crossOrigin", "anonymous");
      image.onload = function() {
        let canvas = document.createElement("canvas");
        let context = canvas.getContext("2d");
        canvas.width = image.width;
        canvas.height = image.height;

        context.drawImage(image, 0, 0, image.width, image.height);
        let url = canvas.toDataURL("images/png");

        // 生成一个a元素
        let a = document.createElement("a");
        // 创建一个单击事件
        let event = new MouseEvent("click");

        // 将a的download属性设置为我们想要下载的图片名称，若name不存在则使用‘下载图片名称’作为默认名称
        a.download = name || "下载图片名称";
        // 将生成的URL设置为a.href属性
        a.href = url;

        // 触发a的单击事件
        a.dispatchEvent(event);
      };

      image.src = url;
    },
    async downloadImage(url) {
      let res = await downloadImage(url);
      console.log("downloadImage");
      var elink = document.createElement("a");
      elink.download = "image.jpg";
      elink.style.display = "none";
      var blob = new Blob([res]);

      elink.href = URL.createObjectURL(blob);
      document.body.appendChild(elink);
      elink.click();
      document.body.removeChild(elink);
    },
    handlePreviewPicture(file) {
      console.log("table2 handlePreviewPicture1234", file, file.url);
      // const a = document.createElement("a");
      // a.setAttribute("download", file.uid);
      // a.setAttribute("href", file.url);
      // const event = new MouseEvent("click");
      // a.dispatchEvent(event);
      this.dialogImageVisible = true;
      this.dialogImageUrl = file.url;

      return;
      // 将图片转为blob
      var image = new Image();
      image.setAttribute("crossOrigin", "Anonymous");
      image.onload = function() {
        let canvas = document.createElement("canvas");
        let context = canvas.getContext("2d");
        canvas.width = image.width;
        canvas.height = image.height;
        context.drawImage(image, 0, 0, image.width, image.height);
        canvas.toBlob((blob) => {
          let url = URL.createObjectURL(blob);
          let a = document.createElement("a");
          let event = new MouseEvent("click");
          a.download = "default.png";
          a.href = url;
          a.dispatchEvent(event);
          URL.revokeObjectURL(url);
        });
      };
      image.src = file.url + "?time=" + Date.now();

      // 将文本或者JS字符串通过 Blob 转换成二进制下载
      // let a = document.createElement("a");
      // a.download = "x";
      // a.style.display = "none";
      // let blob = new Blob([]);
      // a.href = URL.createObjectURL(blob);
      // document.body.appendChild(a);
      // a.dispatchEvent(new MouseEvent("click"));
      // document.body.removeChild(a);

      // XMLHttpRequest配合blob下载gif
      // let url = file.url;
      // const xhr = new XMLHttpRequest();
      // xhr.open("GET", url, true);
      // xhr.responseType = "blob";
      // xhr.onload = () => {
      //   let url = URL.createObjectURL(xhr.response);
      //   let a = document.createElement("a");
      //   let event = new MouseEvent("click");
      //   a.href = link;
      //   a.download = filename || "default.png";
      //   a.dispatchEvent(event);
      //   URL.revokeObjectURL(url);
      // };

      // xhr.send();
    },
    handlePreview(file) {
      console.log("table2 handlePreview", file);
      var blob = new Blob([], { type: "application/excel;charset=utf-8" });
      var downloadElement = document.createElement("a");
      var href = window.URL.createObjectURL(blob); //创建下载链接
      // let sendParams = Base64.encode(JSON.stringify("传递的参数")); // 可以省略  具体看业务需求
      downloadElement.href = file.url; // 此处可以通过拼接字符串的方式传递参数
      document.body.appendChild(downloadElement);
      downloadElement.click(); // 点击下载
      document.body.removeChild(downloadElement); // 下载完成之后移除元素
      window.URL.revokeObjectURL(blob); // 释放掉blob对象
    },
  },
  //生命周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    this.basicForm.index = this.index;
    // 用$on事件来接收参数
    pub.$on("rowData", (rowData) => {
      // this.getDetailById(rowData.id);
      // 接收组件A传过来的数据
      this.isOption = rowData.isOption;
      if (this.isOption == 1) {
        this.triggerVal = "click";
      } else {
        this.triggerVal = "";
      }
    });
    // 接收 table1 传的信息
    pub.$on("tbPlotInfo", (data) => {
      // console.log("tbPlot2222222222", data.tbPlot);
      if (data.tbPlot) this.basicForm = data.tbPlot;

      this.picList = [];
      this.fileList = [];

      if (this.basicForm.plotImg != null) {
        console.log("aaaaaaaaaa___");
        // 处理图片
        // let myPlotImg = this.basicForm.plotImg.split(",");
        let myPlotImg = JSON.parse(this.basicForm.plotImg);
        let files = JSON.parse(this.basicForm.accessory);

        myPlotImg.forEach((ele) => {
          console.log("forEach");
          this.picList.push({ url: ele.url });
        });

        files.forEach((val) => {
          this.fileList.push({ url: val.url });
        });
        console.log("处理图片", myPlotImg, this.picList, this.fileList);
      }
    });
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //生命周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {
    // let _this = this;
    // this.picList.forEach((v, i) => {
    //   _this.$set(_this.picList, i, null);
    // });
    // this.picList = [];
    console.log("table2 beforeDestroy", this.picList);
  }, //生命周期 - 销毁之前
  destroyed() {
    // let _this = this;
    // this.picList.forEach((v, i) => {
    //   _this.$set(_this.picList, i, null);
    // });
    // this.picList = [];
    console.log("table2 destroyed", this.picList);
  }, //生命周期 - 销毁完成
  activated() {}, //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
//@import url(); 引入公共css类

.myTableForm {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  border: 1px solid #dcdcdc;
}

.myTableForm td,
.myTableForm th {
  padding: 0;
  height: 60px;
  line-height: 60px;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
}
.myTableForm th {
  text-align: left;
  background-color: #8a8d81;
  color: #ffffff;
}
.myTableForm tr:nth-child(odd) {
  background-color: #f7f7f7;
}

.myTableForm td:nth-child(odd) {
  text-align: right;
  padding-right: 5px;
}
.myTableForm td {
  width: 25%;
  height: 60px;
  line-height: 60px;
}

::v-deep .el-input {
  text-align: center;
}
::v-deep .el-input__inner {
  /* margin: 0 9px; */
  width: 90%;
}
::v-deep .el-form-item__content {
  margin-left: 0 !important;
}

::v-deep .el-form-item {
  margin-bottom: 0;
}

::v-deep .el-form-item__error {
  /* display: none; */
  top: 25%;
  left: 23px;
}
::v-deep .el-upload-list--picture-card .el-upload-list__item {
  width: 80px;
  height: 80px;
  border-radius: 0;
  border: 1px solid #fff;
}
::v-deep .el-upload--picture-card {
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 0;
  background-color: #fff;
  border: 0;
}

::v-deep .el-upload--picture-card i {
  display: flex;
}
::v-deep .el-icon-plus:before {
  width: 80px;
  height: 80px;
  line-height: 80px;
  border: 1px solid #8c939d;
}

::v-deep .el-input.is-disabled .el-input__inner {
  background-color: #fff;
  color: #2c3e50;
}

::v-deep .el-upload-list__item .el-icon-close-tip {
  display: none !important;
  opacity: 0;
}
/* .avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
} */
/*
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 80px;
  height: 80px;
  margin-left: 10px;
  margin-bottom: 9px;
  line-height: 80px;
  text-align: center;
  border: 1px solid #eaeaea;
}
.avatar {
  width: 80px;
  height: 80px;
  display: block;
} */

.areaPic {
  position: relative;
  width: 100%;
  height: 302px;
  border: 1px solid #dbdbdb;
  margin-top: 56px;

  .title {
    width: 100%;
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
  }

  .body {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
  }
}

.uploadPane {
  width: 100%;
  height: 239px;
  border: 1px solid #dbdbdb;

  .title {
    width: 100%;
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
  }

  .body {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }
}
::v-deep .el-upload-list__item {
  width: 300px;
  word-break: keep-all;
}
::v-deep .el-upload-list__item-status-label {
  display: none!important;
}

::v-deep .vxe-input {
  position: unset;
}
::v-deep .vxe-input--inner {
  color: unset;
  background-color: unset;
}
</style>
