<!-- 录入表 -->
<template>
  <div class="">
    <h4>房屋信息</h4>
    <div
      class="table-action"
      v-show="(isOption == 0 || isOption == 1) && showTopBar"
    >
      <vxe-button class="" @click="insertEvent(-1)"
        ><i class="vxe-icon--plus myBC"></i> 插入</vxe-button
      >
      <!-- <vxe-button class="" @click="copy"
        ><i class="vxe-icon--zoomout myBC"></i> 复制行</vxe-button
      > -->
      <vxe-button class="" @click="del"
        ><i class="el-icon-delete myRC"></i> 删除行</vxe-button
      >
      <vxe-button v-show="isOption == 0" class="" @click="delAll"
        ><i class="el-icon-delete myRC"></i> 删除全部</vxe-button
      >
      <input
        id="importExcel"
        type="file"
        style="display: none;"
        @change="afterUpload"
      />
      <el-upload
        class="upload-demo"
        action="http://192.168.1.146:9000/loongtek-member-abc/tbPlotHousing/upload"
        :on-success="handleFileSuccess"
        multiple
        :file-list="fileList"
      >
        <el-button v-show="isOption == 0" class=""
          ><i class="vxe-icon--upload myGC"></i> 导入</el-button
        >
      </el-upload>
    </div>
    <!-- <div class="table-top" v-show="isOption == 3 && showTopBar">
      <vxe-button class="" @click="del"
        ><i class="el-icon-delete myRC"></i> 删除行</vxe-button
      >
      <vxe-button class="" @click="delAll"
        ><i class="el-icon-delete myRC"></i> 删除全部</vxe-button
      >
    </div> -->
    <!-- 搜索栏 -->
    <div class="table-top" v-if="showSearchBar == 1">
      <span class="searchLabel fl">小区名称：</span>
      <!-- <el-input class="fl inputMargin" v-model="searchVal1" @input="searchEvents(searchVal1, ['plotName'])" prefix-icon="el-icon-search"></el-input> -->
      <el-input
        class="fl inputMargin"
        v-model="plotName"
        placeholder="单行输入"
        @input="searchEvents(searchVal1, ['plotName'])"
      ></el-input>
      <span class="searchLabel fl">录入单位：</span>
      <el-input
        class="fl inputMargin"
        v-model="inputUnit"
        placeholder="单行输入"
        @input="searchEvents(searchVal2, ['unit'])"
      ></el-input>

      <vxe-button class="h40 plusBtn inputMargin" @click="importDataEvent">
        搜索
      </vxe-button>
    </div>

    <div class="table-top" v-if="showSearchBar == 2">
      <div class="d_a_center">
        <span class="searchLabel fl">地块名称：</span>
        <el-input
          class="fl inputMargin"
          v-model="houseQuery.lotName"
          placeholder="单行输入"
        ></el-input>
        <span class="searchLabel fl">总面积：</span>
        <el-input
          class="fl inputMargin"
          v-model="houseQuery.allArea"
          placeholder="单行输入"
        ></el-input>

        <vxe-button class="h40 plusBtn inputMargin" @click="houseSearch">
          搜索
        </vxe-button>
      </div>
    </div>

    <vxe-table
      v-if="chooseHouse"
      row-id="index"
      auto-resize
      resizable
      stripe
      ref="inputTable"
      align="center"
      :data="tableData"
      :checkbox-config="{ reserve: true }"
      :edit-rules="validTableRules"
      :edit-config="{ trigger: 'click', mode: 'cell', showIcon: false }"
      @radio-change="radioChangeEvent"
    >
      <vxe-table-column type="radio"></vxe-table-column>
      <vxe-column title="序号" type="seq" width="102"></vxe-column>
      <vxe-table-colgroup width="665" title="房屋信息">
        <vxe-column
          field="floorNo"
          title="楼号（街）"
          width="102"
          :edit-render="{ name: 'input' }"
        ></vxe-column>
        <vxe-column
          field="ladderNo"
          title="梯号（门牌）"
          width="102"
          :edit-render="{ name: 'input' }"
        ></vxe-column>
        <vxe-column
          field="houseNo"
          title="房号"
          width="102"
          :edit-render="{ name: 'input' }"
        ></vxe-column>
        <vxe-column
          field="site"
          title="房产证地址"
          width="102"
          :edit-render="{ name: 'input' }"
        ></vxe-column>
        <vxe-column
          field="propertyNo"
          title="产权证号"
          width="102"
          :edit-render="{ name: 'input' }"
        ></vxe-column>
        <vxe-column
          field="orientation"
          title="房屋朝向"
          width="102"
          :edit-render="{ name: 'input' }"
        ></vxe-column>
        <vxe-column
          field="houseTypeId"
          title="房屋户型"
          width="102"
          :edit-render="{}"
        >
          <template #default="{ row }">
            <span>{{ formatterHouseType(row.houseTypeId) }}</span>
          </template>
          <template #edit="{ row }">
            <vxe-select v-model="row.houseTypeId" clearable transfer @change="">
              <vxe-option
                v-for="item in houseTypeArr"
                :key="item.id"
                :value="item.id"
                :label="item.name"
              ></vxe-option>
            </vxe-select>
          </template>
        </vxe-column>
        <vxe-column field="img" title="房屋图片" width="102">
          <template #default="{ row }">
            <p
              class=""
              @click="toUpload(row)"
              style="color: blue;"
              v-if="isOption == 0 && (row.img == '' || row.img == null)"
            >
              上传
            </p>
            <p v-else @click="toDetails(row)" style="color: blue;">详情</p>
          </template>
        </vxe-column>
      </vxe-table-colgroup>
      <vxe-table-colgroup width="285" title="房屋面积">
        <vxe-column
          field="coverArea"
          title="套内面积"
          width="80"
          :edit-render="{ name: 'input' }"
        ></vxe-column>
        <vxe-column
          field="allArea"
          title="公摊面积"
          width="80"
          :edit-render="{ name: 'input' }"
        ></vxe-column>
        <vxe-column
          field="totalArea"
          title="总面积"
          width="80"
          :edit-render="{ name: 'input' }"
        ></vxe-column>
      </vxe-table-colgroup>
      <vxe-table-colgroup width="190" title="房屋价值（元）">
        <vxe-column
          field="paper"
          title="账面原值"
          width="80"
          :edit-render="{ name: 'input' }"
        ></vxe-column>
        <vxe-column
          field="assess"
          title="评估价值"
          width="80"
          :edit-render="{ name: 'input' }"
        ></vxe-column>
      </vxe-table-colgroup>
      <vxe-table-colgroup width="202" title="房屋状态">
        <vxe-column
          field="cardStatus"
          title="办证状态"
          width="80"
          :edit-render="{}"
        >
          <template #edit="{ row }">
            <vxe-input
              type="text"
              v-model="row.cardStatus"
              disabled
            ></vxe-input>
          </template>
        </vxe-column>
        <vxe-column
          v-if="showTopBar"
          field="receiveStatus"
          title="接收状态"
          width="80"
          :edit-render="{ name: 'input' }"
        >
          <template #default="{ row }">
            <span>{{ formatterReceiveStatus(row.receiveStatus) }}</span>
          </template>
          <!-- <template #edit="{ row }">
            <vxe-input
              type="text"
              v-model="row.receiveStatus"
              disabled
            ></vxe-input>
          </template> -->
        </vxe-column>
      </vxe-table-colgroup>
    </vxe-table>

    <vxe-table
      v-if="!chooseHouse"
      row-id="id"
      auto-resize
      resizable
      stripe
      ref="inputTable2"
      align="center"
      :data="tableData"
      :checkbox-config="{
        reserve: true,
        checkRowKeys: defaultSelecteRows,
        highlight: false,
      }"
      :edit-rules="validTableRules"
      :edit-config="{
        trigger: isOption == 2 ? '' : 'click',
        mode: 'cell',
        showIcon: false,
      }"
      @checkbox-change="selectChangeEvent"
    >
      <vxe-table-column
        v-if="showRadio || isOption !== 2"
        type="checkbox"
        width="60"
      ></vxe-table-column>
      <vxe-column title="序号" type="seq" width="102"></vxe-column>
      <vxe-table-colgroup width="665" title="房屋信息">
        <vxe-column
          field="floorNo"
          title="楼号（街）"
          width="102"
          :edit-render="{ name: 'input' }"
        ></vxe-column>
        <vxe-column
          field="ladderNo"
          title="梯号（门牌）"
          width="102"
          :edit-render="{ name: 'input' }"
        ></vxe-column>
        <vxe-column
          field="houseNo"
          title="房号"
          width="102"
          :edit-render="{ name: 'input' }"
        ></vxe-column>
        <vxe-column
          field="site"
          title="房产证地址"
          width="102"
          :edit-render="{ name: 'input' }"
        ></vxe-column>
        <vxe-column
          field="propertyNo"
          title="产权证号"
          width="102"
          :edit-render="{ name: 'input' }"
        ></vxe-column>
        <vxe-column
          field="orientation"
          title="房屋朝向"
          width="102"
          :edit-render="{ name: 'input' }"
        ></vxe-column>
        <vxe-column
          field="houseTypeId"
          title="房屋户型"
          width="102"
          :edit-render="{}"
        >
          <template #default="{ row }">
            <span>{{ formatterHouseType(row.houseTypeId) }}</span>
          </template>
          <template #edit="{ row }">
            <vxe-select v-model="row.houseTypeId" clearable transfer @change="">
              <vxe-option
                v-for="item in houseTypeArr"
                :key="item.id"
                :value="item.id"
                :label="item.name"
              ></vxe-option>
            </vxe-select>
          </template>
        </vxe-column>
        <vxe-column field="img" title="房屋图片" width="102">
          <template #default="{ row }">
            <p
              class=""
              @click="toUpload(row)"
              style="color: blue;"
              v-if="isOption == 0 && (row.img == '' || row.img == null)"
            >
              上传
            </p>
            <p v-else @click="toDetails(row)" style="color: blue;">详情</p>
          </template>
        </vxe-column>
      </vxe-table-colgroup>
      <vxe-table-colgroup width="285" title="房屋面积">
        <vxe-column
          field="coverArea"
          title="套内面积"
          width="80"
          :edit-render="{ name: 'input' }"
        ></vxe-column>
        <vxe-column
          field="allArea"
          title="公摊面积"
          width="80"
          :edit-render="{ name: 'input' }"
        ></vxe-column>
        <vxe-column
          field="totalArea"
          title="总面积"
          width="80"
          :edit-render="{ name: 'input' }"
        ></vxe-column>
      </vxe-table-colgroup>
      <vxe-table-colgroup width="190" title="房屋价值（元）">
        <vxe-column
          field="paper"
          title="账面原值"
          width="80"
          :edit-render="{ name: 'input' }"
        ></vxe-column>
        <vxe-column
          field="assess"
          title="评估价值"
          width="80"
          :edit-render="{ name: 'input' }"
        ></vxe-column>
      </vxe-table-colgroup>
      <vxe-table-colgroup width="240" title="房屋状态">
        <vxe-column
          field="cardStatus"
          title="办证状态"
          width="80"
          :edit-render="{}"
        >
          <template #edit="{ row }">
            <vxe-input type="text" v-model="row.cardStatus"></vxe-input>
          </template>
        </vxe-column>
        <vxe-column
          v-if="showTopBar"
          field="receiveStatus"
          title="接收状态"
          width="80"
          :edit-render="{ name: 'input' }"
        >
          <!-- <template #edit="{ row }">
            <vxe-input
              type="text"
              v-model="row.receiveStatus"
              disabled
            ></vxe-input>
          </template> -->
          <template #default="{ row }">
            <span>{{ formatterReceiveStatus(row.receiveStatus) }}</span>
          </template>
        </vxe-column>
      </vxe-table-colgroup>
      <vxe-column title="操作" v-if="showDelRow" width="100">
        <template #default="{ row }">
          <span style="color: #FD9A9A;" @click="removeEvent(row)">移除</span>
        </template>
      </vxe-column>
    </vxe-table>
    <!-- 分页 -->
    <vxe-pager
      class="paginationBlock"
      size="mini"
      :current-page="tablePage.currentPage"
      :page-size="tablePage.pageSize"
      :page-sizes="tablePage.pageSizes"
      :total="tablePage.totalResult"
      @page-change="pageChange"
      :layouts="['PrevPage', 'JumpNumber', 'NextPage', 'FullJump', 'Total']"
    >
    </vxe-pager>

    <div
      v-if="!chooseHouse && showSearchBar == 2"
      class="fr"
      style="position: absolute; bottom: 5px; right: 30px;"
    >
      <el-button type="danger" @click="cancelChooseHouse">取消</el-button>
      <el-button type="info" @click="confirmEditingHouse">确认</el-button>
    </div>
    <el-form
      v-if="
        showTotalDetail == 1 &&
          (isOption == 0 || isOption == 1 || isOption == 2)
      "
      :model="totalDetailForm"
      :rules="totalDetailFormRules"
      ref="totalDetailForm"
      :disabled="isOption == 2"
    >
      <h4>总数详情</h4>
      <table class="myTableForm">
        <tr>
          <td>实际设计总套数</td>
          <td>
            <el-form-item prop="realityTotal">
              <el-input
                v-model="totalDetailForm.realityTotal"
                placeholder="单行输入"
              ></el-input>
            </el-form-item>
          </td>
          <td>规划设计总套数</td>
          <td>
            <el-form-item prop="planTotal">
              <el-input
                v-model="totalDetailForm.planTotal"
                placeholder="单行输入"
              ></el-input>
            </el-form-item>
          </td>
          <td>实际移交总套数</td>
          <td>
            <el-form-item class="pl10" prop="turnTotal">
              {{ totalDetailForm.turnTotal }}
              <!-- <el-input
                v-model="totalDetailForm.turnTotal"
                placeholder="单行输入"
              ></el-input> -->
            </el-form-item>
          </td>
        </tr>
        <tr>
          <td>合同约定时间</td>
          <td>
            <el-form-item prop="appointTime">
              <!-- <el-input
                v-model="totalDetailForm.appointTime"
                placeholder="单行输入"
              ></el-input> -->
              <el-date-picker
                type="date"
                placeholder="选择日期"
                v-model="totalDetailForm.appointTime"
                style="width: 100%;"
                value-format="yyyy-MM-dd"
              ></el-date-picker>
            </el-form-item>
          </td>
          <td>实际竣工时间</td>
          <td>
            <el-form-item prop="becTime">
              <!-- <el-input
                v-model="totalDetailForm.becTime"
                placeholder="单行输入"
              ></el-input> -->
              <el-date-picker
                type="date"
                placeholder="选择日期"
                v-model="totalDetailForm.becTime"
                style="width: 100%;"
                value-format="yyyy-MM-dd"
              ></el-date-picker>
            </el-form-item>
          </td>
          <td>预计实物移交时间</td>
          <td>
            <el-form-item prop="planTime">
              <!-- <el-input
                v-model="totalDetailForm.planTime"
                placeholder="单行输入"
              ></el-input> -->
              <el-date-picker
                type="date"
                placeholder="选择日期"
                v-model="totalDetailForm.planTime"
                style="width: 100%;"
                value-format="yyyy-MM-dd"
              ></el-date-picker>
            </el-form-item>
          </td>
        </tr>
        <tr>
          <td>录入时间</td>
          <td class="pl10">
            {{ totalDetailForm.enteringTime | generateTime }}
            <!-- <el-form-item prop="enteringTime">
              <el-date-picker
                type="date"
                placeholder="选择日期"
                v-model="totalDetailForm.enteringTime"
                style="width: 100%;"
                value-format="yyyy-MM-dd"
              ></el-date-picker>
            </el-form-item> -->
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </el-form>

    <el-form
      v-if="showTotalDetail == 2"
      :model="receiveForm"
      :rules="receiveFormRules"
      ref="receiveForm"
      :disabled="isOption == 2"
    >
      <h4>总数详情</h4>
      <table class="myTableForm">
        <tr>
          <td>接收总套数</td>
          <td>
            <el-form-item prop="realityTotal">
              <el-input
                v-model="receiveForm.realityTotal"
                placeholder="单行输入"
              ></el-input>
            </el-form-item>
          </td>
          <td>接收总面积</td>
          <td>
            <el-form-item prop="planTotal">
              <el-input
                v-model="receiveForm.planTotal"
                placeholder="单行输入"
              ></el-input>
            </el-form-item>
          </td>
        </tr>
      </table>
    </el-form>
    <vxe-modal
      v-model="alertVal01"
      show-footer
      title="上传图片"
      @confirm="closeUpload"
      @close="closeUpload"
    >
      <template #default>
        <div class="myPadding">
          <el-upload
            action="http://192.168.1.145:9000/loongtek-member-abc/upload/uploadFile"
            list-type="picture-card"
            :on-remove="handleRemove"
            :before-upload="beforeAvatarUpload"
            :on-success="handleAvatarSuccess"
            :file-list="fileList1"
            :disabled="isOption == 2"
          >
            <i class="el-icon-plus"></i>
            <div v-if="isOption !== 2" slot="tip" class="el-upload__tip">
              上传的图片只能是 JPG 或者 PNG 格式!!!
            </div>
          </el-upload>
        </div>
      </template>
    </vxe-modal>
    <el-dialog title="房屋信息" :visible.sync="dialogFormVisible">
      <el-form :model="form" label-width="180px">
        <el-form-item label="地块名称" label-width="90px">
          <el-input style="width: 220px;" v-model="form.lotName"></el-input>
        </el-form-item>
        <el-form-item label="楼号" label-width="90px">
          <el-input style="width: 220px;" v-model="form.floorNo"></el-input>
        </el-form-item>
        <el-form-item label="梯号" label-width="90px">
          <el-input style="width: 220px;" v-model="form.ladderNo"></el-input>
        </el-form-item>
        <el-form-item label="房号" label-width="90px">
          <el-input style="width: 220px;" v-model="form.houseNo"></el-input>
        </el-form-item>
        <el-form-item label="房产证地址" label-width="90px">
          <el-input style="width: 220px;" v-model="form.site"></el-input>
        </el-form-item>
        <el-form-item label="产权证号" label-width="90px">
          <el-input style="width: 220px;" v-model="form.propertyNo"></el-input>
        </el-form-item>
        <el-form-item label="房屋朝向" label-width="90px">
          <el-input style="width: 220px;" v-model="form.orientation"></el-input>
        </el-form-item>
        <el-form-item label="房屋户型" label-width="90px">
          <el-select v-model="form.houseTypeId" placeholder="请选择">
            <el-option
              v-for="item in houseTypeArr"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            >
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="房屋图片" label-width="90px">
          <el-upload
            style="margin-left: 10px;"
            class="avatar-uploader"
            action="http://192.168.1.145:9000/loongtek-member-abc/upload/uploadFile"
            list-type="picture-card"
            :on-success="handlePictureSuccess"
            :file-list="picList123"
            :show-file-list="true"
            :before-upload="beforeAvatarUpload"
          >
            <i class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
        </el-form-item>
        <el-form-item label="套内面积" label-width="90px">
          <el-input style="width: 220px;" v-model="form.coverArea"></el-input>
        </el-form-item>
        <el-form-item label="公摊面积" label-width="90px">
          <el-input style="width: 220px;" v-model="form.allArea"></el-input>
        </el-form-item>
        <el-form-item label="总面积" label-width="90px">
          <el-input style="width: 220px;" v-model="form.totalArea"></el-input>
        </el-form-item>
        <el-form-item label="账面原值" label-width="90px">
          <el-input style="width: 220px;" v-model="form.paper"></el-input>
        </el-form-item>
        <el-form-item label="评估价值" label-width="90px">
          <el-input style="width: 220px;" v-model="form.assess"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="addHouse">确 定</el-button>
      </div>
    </el-dialog>
    <!-- <div
      style="width: 100%; text-align: right; margin-top: 214px;"
      @click="$emit('next', { state: 'basic' })"
    >
      <div
        style="float: right; color: #fff;border-radius: 4px; margin-bottom: 10px; width: 111px; height: 40px; text-align: center; line-height: 40px; background-color: #505976"
      >
        {{ activeTab == "basic" ? "下一步" : "完成" }}
      </div>
    </div> -->
  </div>
</template>

<script>
//这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
//例如：import 《组件名称》 from '《组件路径》';
import {
  getHouseInputInfoById,
  getHouseType,
  getAcceptDetails,
  getPutIntoStorageDetail,
  uploadExcel,
  addSingleHouse,
  deleteHouse,
} from "@/api/house";
import pub from "@/views/house/info/Input/public.js";
import axios from "axios";
import XLSX from "xlsx";
import { parseTime } from "@/utils/index.js";
// import ExcelUtil from "../../utils/excelUtil";
export default {
  //import引入的组件需要注入到对象中才能使用
  components: {},
  props: {
    showTotalDetail: true,
    showTopBar: true,
    showSearchBar: false,
    chooseHouse: false,
    showRadio: false,
    showDelRow: false,
  },
  data() {
    //这里存放数据
    return {
      dialogFormVisible: false,
      form: {
        houseTypeId: null,
      },
      defaultSelecteRows: [],
      imgIndex: 0,
      houseInfo: {},
      housesInfo: [],
      houseQuery: {
        lotName: "",
        allArea: "",
      },
      tbPlotId: null,
      plotName: "",
      inputUnit: "",
      totalDetailForm: {
        turnTotal: 0,
        enteringTime: null,
      },
      totalDetailFormRules: {
        realityTotal: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        planTotal: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        turnTotal: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        appointTime: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        becTime: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        planTime: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        enteringTime: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
      },
      receiveForm: {
        realityTotal: 0,
        planTotal: 0,
      },
      receiveFormRules: {
        realityTotal: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        planTotal: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        turnTotal: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        appointTime: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        becTime: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        planTime: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        // enteringTime: [
        //   { required: true, message: "此字段为必填", trigger: "blur" },
        // ],
      },
      validTableRules: {
        lotName: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        // floorNo: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        ladderNo: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        houseNo: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        // site: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        // propertyNo: [
        //   { required: true, message: "此字段为必填", trigger: "blur" },
        // ],
        // orientation: [
        //   { required: true, message: "此字段为必填", trigger: "blur" },
        // ],
        houseTypeId: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        // img: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        coverArea: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        allArea: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        totalArea: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        // paper: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        // assess: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        // cardStatus: [
        //   { required: true, message: "此字段为必填", trigger: "blur" },
        // ],
        // receiveStatus: [
        //   { required: true, message: "此字段为必填", trigger: "blur" },
        // ],
      },
      // 查看就不可以编辑
      triggerVal: "",
      addedRow: {
        id: null,
        index: null,
        lotName: null,
        floorNo: null,
        ladderNo: null,
        houseNo: null,
        site: null,
        propertyNo: null,
        houseTypeId: null,
        img: null,
        coverArea: null,
        allArea: null,
        totalArea: null,
        paper: null,
        assess: null,
        cardStatus: null,
        receiveStatus: null,
      },
      tableData: [],
      disabledVal: false,
      // 分页
      tablePage: {
        currentPage: 1,
        pageSize: 10,
        pageSizes: [10, 20, 30, 40],
        totalResult: 0,
      },
      isOption: null,
      // 上传图片弹窗
      alertVal01: false,
      fileList1: [],
      rowData: null,
      rowDataId: null,
      currentRowId: null,
      houseTypeArr: [],
      tempRecords: [],
      soleId: null,
      plotId: null,
      isBindingHouses: false,
      isImportDataTable: false,
      importDataTable: [],
      addDataTable: [],
      file: null,
      fileList: [],
      picList123: [],
    };
  },
  //监听属性 类似于data概念
  computed: {},
  filters: {
    generateTime(v) {
      return parseTime(new Date().getTime());
    },
  },
  //监控data中的数据变化
  watch: {
    tableData: {
      handler(v) {
        // console.log("watch tableData tempRecords1", this.tablePage.currentPage);
        console.log("watch tableData", this.isOption, v, this.tempRecords);
        // console.log(reloadData
        //   "watch tableData tempRecords2",
        //   this.tempRecords[this.tablePage.currentPage - 1]
        // );
        this.receiveForm.realityTotal = 0;
        this.receiveForm.planTotal = 0;
        if (this.isOption == 0) return;
        this.tempRecords[this.tablePage.currentPage - 1] = v;
        this.tempRecords.forEach((v) => {
          this.receiveForm.realityTotal += v.length;
          v.forEach((i) => {
            this.receiveForm.planTotal += Number(i.totalArea);
          });
        });
      },
      deep: true,
    },
    tempRecords: {
      handler(v) {
        console.log("watch tempRecords", v, this.tablePage.currentPage);
        // this.$nextTick(() => {});
        this.receiveForm.realityTotal = 0;
        this.receiveForm.planTotal = 0;
        v.forEach((v) => {
          this.receiveForm.realityTotal += v.length;
          v.forEach((i) => {
            this.receiveForm.planTotal += Number(i.totalArea);
          });
        });
      },
      immediate: false,
      deep: true,
    },
    importDataTable: {
      handler(v) {},
      immediate: false,
      deep: true,
    },
  },
  //方法集合
  methods: {
    async addHouse() {
      console.log("addHouse");
      let res = await addSingleHouse({ plotId: this.plotId, ...this.form });
      if (res.resp_code == 0) {
        pub.$emit("pageChangeInput", {
          tbPlotId: this.tbPlotId,
          lotName: this.houseQuery.lotName,
          allArea: this.houseQuery.allArea,
          page: this.tablePage.currentPage,
          limit: this.tablePage.pageSize,
        });
        this.$message({ type: "success", message: "添加成功!" });
        this.dialogFormVisible = false;
      }
    },
    async removeEvent(row) {
      const type = await this.$XModal.confirm("您确定要删除该数据?");
      const $table = this.$refs.inputTable2;
      console.log("removeEvent", row);
      let index = this.tableData.findIndex((v, i) => {
        return v.id == row.id;
      });
      console.log("removeEvent", row, index);
      if (type === "confirm") {
        this.tableData.splice(index, 1);
        $table.remove(row);
      }
    },
    cancelChooseHouse() {
      pub.$emit("cancelChooseHouse", false);
    },
    houseSearch() {
      console.log("houseSearch");
      pub.$emit("initHousesList", {
        tbPlotId: this.tbPlotId,
        lotName: this.houseQuery.lotName,
        allArea: this.houseQuery.allArea,
        page: this.tablePage.currentPage,
        limit: this.tablePage.pageSize,
      });
    },
    radioChangeEvent({ row }) {
      console.log("单选事件 table1", row, this.isOption);
      this.houseInfo = row;
      // if (this.isOption == 1 || this.isOption == 3) {
      //   pub.$emit("changeTab", "house");
      //   return;
      // }
      // this.selectRow = row;
      // pub.$emit("chooseReceivedPlot", row);
    },
    confirmEditingHouse() {
      console.log("confirmEditingHouse", this.housesInfo);
      pub.$emit("houseInfo", this.housesInfo);
    },
    async getHouseType() {
      let res = await getHouseType();
      console.log("getHouseType0", res);
      this.houseTypeArr = res;
    },
    formatterHouseType(cellValue) {
      let item = this.houseTypeArr.find((item) => item.id == cellValue);
      // console.log("formatterHouseType", cellValue, item, this.houseTypeArr);
      return item ? item.name : "";
    },
    formatterReceiveStatus(cellValue) {
      let states = [
        {
          id: 0,
          name: "未申请",
        },
        {
          id: 1,
          name: "通过",
        },
        {
          id: 2,
          name: "拒绝",
        },
      ];
      let item = states.find((item) => item.id == cellValue);
      // console.log("formatterHouseType", cellValue, item, this.houseTypeArr);
      return item ? item.name : "";
    },
    selectChangeEvent({ checked, records }) {
      let houses = [];
      this.tempRecords[this.tablePage.currentPage - 1] = records;
      let selectRecords = this.$refs.inputTable2.getCheckboxRecords();
      console.log("selectChangeEvent", records, selectRecords);
      console.log("tempRecords", this.tempRecords);

      this.receiveForm.realityTotal = 0;
      this.receiveForm.planTotal = 0;
      this.tempRecords.forEach((v) => {
        this.receiveForm.realityTotal += v.length;
        v.forEach((i) => {
          this.defaultSelecteRows.push(i.id);
          this.receiveForm.planTotal += Number(i.totalArea);
          houses.push(i);
        });
      });
      this.housesInfo = houses;
      console.log("...a....", houses);
      pub.$emit("chooseHouse", houses);
    },
    totalDetailFormValidator() {
      let state = null;
      this.$refs["totalDetailForm"].validate((valid) => {
        if (valid) {
          state = true;
        } else {
          console.log("error!!");
          state = false;
        }
      });
      console.log("table1 Validator", state);
      return state;
    },

    async tableValidator() {
      let result = null;
      const $table = this.$refs.inputTable2;
      const errMap = await $table.validate(true).catch((e) => e);
      if (errMap) {
        result = false;
        this.$XModal.message({ status: "error", content: "校验不通过！" });
      } else {
        result = true;
        console.log("____true", errMap, result);
        // this.$XModal.message({ status: "error", content: "校验通过！" });
      }
      return result;
    },
    // 根据页切换
    async pageChange(val) {
      if (this.isImportDataTable) {
        console.log("pageChange isImportDataTable", this.$refs.inputTable1);
        this.tableData = this.importDataTable.filter(
          (item, index) =>
            index < val.pageSize * val.currentPage &&
            index >= val.pageSize * (val.currentPage - 1)
        );

        this.tablePage.currentPage = val.currentPage;
        return;
      }
      console.log("page val", val, this.$route.path);
      this.tablePage.currentPage = val.currentPage;
      this.tablePage.pageSize = val.pageSize;
      let page = val.currentPage;
      let limit = val.pageSize;
      // 调用父组件方法
      // this.$parent.getDetailById(this.tbPlotId, page, limit);
      if (this.$route.path == "/house/layout_info/house_info_receive") {
        if (this.isOption == 0) {
          console.log("pageChange11", this.isOption);
          getHouseInputInfoById(
            this.tbPlotId,
            null,
            null,
            null,
            page,
            limit,
            0
          ).then((res) => {
            console.log("pageChange11", res.data);
            this.tableData = res.data;
            this.tablePage.totalResult = res.count;
          });
        } else if (this.isOption == 3) {
          console.log("pageChange13", this.isOption);
          let res = await getAcceptDetails(
            this.plotId,
            this.soleId,
            page,
            limit
          );
          this.tableData = res.tbHousing.data;
          let aa = this.$refs.inputTable2.reloadData(res.tbHousing.data);
          console.log("~~~~~~~~", aa);
        } else {
          console.log(
            "pageChange12 房源接收",
            this.plotId,
            this.soleId,
            this.isOption
          );
          // pub.$emit("pageChange", {
          //   tbPlotId: this.plotId,
          //   lotName: this.houseQuery.lotName,
          //   allArea: this.houseQuery.allArea,
          //   page,
          //   limit,
          // });
          let res = null;
          if (this.isOption == 0) {
            res = await getHouseInputInfoById(
              this.tbPlotId,
              null,
              null,
              null,
              page,
              limit,
              0
            );
            this.tableData = res.data;
          } else {
            res = await getAcceptDetails(this.plotId, this.soleId, page, limit);

            this.tableData = res.tbHousing.data;
          }

          // let res = await getHouseInputInfoById(
          //   this.tbPlotId,
          //   null,
          //   null,
          //   null,
          //   page,
          //   limit,
          //   0
          // );
          // this.tableData = res.data;
        }
      } else if (
        this.$route.path == "/house/layout_info/house_info_approval_details"
      ) {
        console.log("*******************1", this.soleId, this.tbPlotId);
        // setTimeout(() => {
        //   pub.$emit("details", {
        //     page,
        //     limit,
        //   });
        //   console.log("*******************2", pub);
        // }, 100);

        let info = await getAcceptDetails(
          this.tbPlotId,
          this.soleId,
          page,
          limit
        );
        this.tableData = info.tbHousing.data;
      } else if (
        this.$route.path == "/house/layout_info/house_info_bookBuild"
      ) {
        console.log("*******************1", this.soleId, this.tbPlotId);
        if (!this.isBindingHouses) {
          pub.$emit("pageChangeBookBuild", {
            page,
            limit,
          });
        } else {
          console.log('("*******************2');
          pub.$emit("pageChangeBookBuildBindinghouse", {
            page,
            limit,
            lotName: this.houseQuery.lotName,
            allArea: this.houseQuery.allArea,
          });
        }

        // setTimeout(() => {
        //   pub.$emit("details", {
        //     page,
        //     limit,
        //   });
        //   console.log("*******************2", pub);
        // }, 100);

        // let info = await getAcceptDetails(
        //   this.tbPlotId,
        //   this.soleId,
        //   page,
        //   limit
        // );
        // this.tableData = info.tbHousing.data;
      } else if (
        this.$route.path == "/house/layout_Warehouse/put_into_approve_details"
      ) {
        console.log(
          "--------- /house/layout_Warehouse/put_into_approve_details"
        );
        // pub.$emit("pageChangePutIntoApprove", {});

        let info = await getPutIntoStorageDetail(this.soleId, page, limit);
        console.log("getAcceptDetails", info);
        this.tableData = info.tbHousing.data;
      } else {
        console.log(
          "table1 pageChange2 input",
          page,
          limit,
          this.soleId,
          this.tbPlotId,
          this.$route.path,
          pub
        );

        pub.$emit("pageChangeInput", {
          tbPlotId: this.tbPlotId,
          lotName: this.houseQuery.lotName,
          allArea: this.houseQuery.allArea,
          page,
          limit,
        });
      }
    },
    setIsBindingHouses(state) {
      this.isBindingHouses = state;
      console.log("setIsBindingHouses", this.isBindingHouses, state);
    },
    getIdNSoleId(id, soleId) {
      this.tbPlotId = id;
      this.soleId = soleId;
      console.log("getIdNSoleId", this.tbPlotId, this.soleId);
    },
    init(data) {
      console.log("table1接收父组件传过来的值 indexTable", data);
      this.list = data.data;
      this.tableData = this.list;
      this.tablePage.totalResult = data.count;
      // 房源录入 房屋和小区信息的 弹出单条信息
      if (this.rowData == null) {
        // 新增
        this.tableData1 = [];
        this.tablePage.totalResult = 0;
        // 传小区信息给 index  isAdd=1 是新增
        pub.$emit("tbPlotInfo", { tbPlot: this.row, isAdd: 1 });
      } else {
        // 修改 查看
        this.getById(this.tablePage.currentPage, this.tablePage.pageSize);
      }
    },
    getById(page, limit) {
      // 单条信息查找
      getHouseInputInfoById(page, limit, this.rowDataId).then((res) => {
        console.log("table 1 2 3 res", res);
        this.tableData = res.tbHousing.data;
        this.tablePage.totalResult = res.tbHousing.count;
        // 传小区信息给 table2 table3  isAdd=0 不是新增
        pub.$emit("tbPlotInfo", { tbPlot: res.tbPlot, isAdd: 0 });
      });
    },
    async insertEvent(row) {
      if (this.isOption == 1) {
        this.dialogFormVisible = true;
        return;
      }
      // if (this.tableData.length == this.tablePage.pageSize) {
      //   this.$message.error("超过当前页数！");
      //   return;
      // }
      const $table = this.$refs.inputTable2;
      let record = this.addedRow;
      record.index = this.tableData.length;
      console.log("insertEvent", record);
      const { row: newRow } = await $table.insertAt(record, row);
      await $table.setActiveCell(newRow, "id");
      // 获取表数据
      this.tableData = this.$refs.inputTable2.getTableData().tableData;
      this.addDataTable = this.$refs.inputTable2.getTableData().tableData;
      let index = this.tablePage.currentPage - 1;
      console.log("index", index * this.tablePage.pageSize);
      this.importDataTable.splice(
        index * this.tablePage.pageSize,
        this.addDataTable.length,
        ...this.addDataTable
      );
      this.addDataTable = [];
      this.totalDetailForm.turnTotal = this.importDataTable.length;
    },
    del(index) {
      if (this.$refs.inputTable2.getCheckboxRecords().length !== 0) {
        this.$confirm("此操作将删除数据, 是否继续?", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning",
        }).then(async () => {
          if (this.isOption == 1) {
            let selectRecords = this.$refs.inputTable2.getCheckboxRecords();
            let ids = [];
            selectRecords.forEach((v) => {
              ids.push(v.id);
            });
            console.log("checkboxRow", ids);
            let res = await deleteHouse(ids);
            if (res.resp_code == 0) {
              this.$message({ type: "success", message: "删除成功!" });

              pub.$emit("pageChangeInput", {
                tbPlotId: this.tbPlotId,
                lotName: this.houseQuery.lotName,
                allArea: this.houseQuery.allArea,
                page: this.tablePage.currentPage,
                limit: this.tablePage.pageSize,
              });
            }
            return;
          }

          this.$refs.inputTable2.removeCheckboxRow();
          let checkboxRow = Array.from(new Set(this.defaultSelecteRows));
          let indexs = [];
          checkboxRow.forEach((v) => {
            indexs.push(this.importDataTable.findIndex((i) => v == i.id));
          });
          indexs.forEach((v) => {
            this.importDataTable.splice(v, 1);
          });
          this.tablePage.totalResult = this.importDataTable.length;
          console.log("removeCheckboxRow", checkboxRow, indexs);
          // 获取表数据
          this.tableData = this.$refs.inputTable2.getTableData().tableData;
          this.$message({ type: "success", message: "删除成功!" });

          this.totalDetailForm.turnTotal = this.importDataTable.length;
          this.$refs.inputTable2.clearCheckboxRow();
        });
      } else {
        this.$message({ type: "error", message: "请选择需要删除的数据!" });
      }
    },
    delAll() {
      // 删除数据库全数据
      this.$confirm("此操作将删除全部数据, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(() => {
        // 删除 tableData1
        this.tableData = [];
        this.importDataTable = [];
        this.tablePage.totalResult = 0;

        this.totalDetailForm.turnTotal = this.importDataTable.length;
        this.$message({ type: "success", message: "删除成功!" });
      });
    },
    async copy() {
      if (this.$refs.inputTable.getCheckboxRecords().length == 1) {
        // 复制并插入
        let copyLine = this.$refs.inputTable.getCheckboxRecords()[0];
        await this.$refs.inputTable.insertAt(copyLine, -1);
        // 获取表数据
        this.tableData = this.$refs.inputTable.getTableData().tableData;
        this.$refs.inputTable.clearCheckboxRow();
        this.$message({ type: "success", message: "复制成功!" });
      } else {
        this.$message({ type: "error", message: "有且只能选择一条数据行!" });
      }
    },
    async afterUpload(e) {
      const excel = document.getElementById("importExcel").files[0];
      let res1 = await uploadExcel(excel);
      console.log("导入后", res1);
      return;
      let _this = this;
      let res = importExcel(excel, _this);
      console.log("导入后", res);
      function importExcel(obj, t) {
        var _this = t;
        // 获取上传的文件对象
        // 通过DOM取文件数据
        // this.file = obj;
        console.log("``````````````11", obj);
        // console.log("``````````````22", this.file);
        var rABS = false; //是否将文件读取为二进制字符串
        var f = obj;
        var data = [];
        var reader = new FileReader();
        //if (!FileReader.prototype.readAsBinaryString) {
        FileReader.prototype.readAsBinaryString = function(f) {
          var binary = "";
          var rABS = false; //是否将文件读取为二进制字符串
          var pt = this;
          var wb; //读取完成的数据
          var outdata;
          var reader = new FileReader();
          var data = [];
          reader.onload = function(e) {
            var bytes = new Uint8Array(reader.result);
            var length = bytes.byteLength;
            for (var i = 0; i < length; i++) {
              binary += String.fromCharCode(bytes[i]);
            }
            var XLSX = require("xlsx");
            if (rABS) {
              wb = XLSX.read(btoa(fixdata(binary)), {
                //手动转化
                type: "base64",
              });
            } else {
              wb = XLSX.read(binary, {
                type: "binary",
              });
            }
            outdata = XLSX.utils.sheet_to_json(wb.Sheets[wb.SheetNames[0]]); //outdata就是你想要的东西
            this.da = [...outdata];
            var arr = [];
            this.da.map((v) => {
              let obj = {};
              obj.lotName = v["地块名称"];
              obj.floorNo = v["楼号（街）"];
              obj.ladderNo = v["梯号（门牌）"];
              obj.houseNo = v["房号"];
              obj.site = v["房产证地址"];
              obj.propertyNo = v["产权证号"];
              obj.houseTypeId = v["房屋户型"];
              obj.orientation = v["房屋朝向"];
              obj.img = v["房屋图片"];
              obj.coverArea = v["套内面积"];
              obj.allArea = v["公摊面积"];
              obj.totalArea = v["总面积"];
              obj.paper = v["账面原值"];
              obj.assess = v["评估价值"];
              obj.cardStatus = v["办证状态"];
              obj.receiveStatus = v["接收状态"];

              arr.push(obj);
            });
            console.log("导入", _this.importDataTable, arr);
            _this.importDataTable = [
              ..._this.addDataTable,
              ..._this.importDataTable,
              ...arr,
            ];
            _this.addDataTable = [];
            _this.tableData = _this.importDataTable.filter(
              (item, index) =>
                index <
                  _this.tablePage.pageSize * _this.tablePage.currentPage &&
                index >=
                  _this.tablePage.pageSize * (_this.tablePage.currentPage - 1)
            );
            _this.tablePage.totalResult = _this.importDataTable.length;
            _this.isImportDataTable = true;
            console.log("data123", _this.tableData);
            return arr;
          };
          reader.readAsArrayBuffer(f);
          console.log("data456", data);
          return data;
        };

        if (rABS) {
          console.log("ArrayBuffer");
          reader.readAsArrayBuffer(f);
        } else {
          reader.readAsBinaryString(f);
          console.log("readAsBinaryString");
        }
        return data;
      }

      return;
      var form = new FormData();
      form.append("excel", excel);
      form.append("test", 123);
      console.log("afterUpload1", e, excel);
      console.log("afterUpload2", form.get("excel"));
      console.log("afterUpload3", form.get("test"));
      console.log("afterUpload4", form);
      uploadExcel(form)
        .then((res) => {
          console.log("then", res);
        })
        .catch((e) => {
          alert(e);
        });
    },
    handleFileSuccess(e) {
      console.log("handleFileSuccess", e);
      this.importDataTable = [
        ...this.addDataTable,
        ...this.importDataTable,
        ...e.data,
      ];
      this.addDataTable = [];
      this.tableData = this.importDataTable.filter(
        (item, index) =>
          index < this.tablePage.pageSize * this.tablePage.currentPage &&
          index >= this.tablePage.pageSize * (this.tablePage.currentPage - 1)
      );
      this.tablePage.totalResult = this.importDataTable.length;

      this.totalDetailForm.turnTotal = this.importDataTable.length;
      this.isImportDataTable = true;
      console.log("data123", this.tableData);
    },
    async func(a) {
      document.getElementById("importExcel").click();
      setTimeout(() => {
        const excel = document.getElementById("importExcel").files[0];
        console.log("func", a, excel);
      }, 100);
    },
    async importDataEvent() {
      // await this.$refs.inputTable2.importData();
      // this.a_importDataTable = [];
      // this.importDataTable = this.$refs.inputTable2.tableData;
      // console.log("importDataTable", this.importDataTable);
      // console.log("tableData", this.tableData);
      // console.log("inputTable2", this.$refs.inputTable2);
      // this.tableData = this.importDataTable.filter(
      //   (item, index) =>
      //     index < this.tablePage.pageSize * this.tablePage.currentPage &&
      //     index >= this.tablePage.pageSize * (this.tablePage.currentPage - 1)
      // );
      // this.tablePage.totalResult = this.importDataTable.length;
      // this.isImportDataTable = true;
      // return;
      // const $table = this.$refs.inputTable2;
      // this.tableData = this.$refs.inputTable2.tableData;
      console.log("importDataEvent", this.tableData);
    },
    // 上传图片
    handleRemove(file, fileList) {
      console.log(file, fileList);
      this.fileList1 = fileList;
    },
    beforeAvatarUpload(file) {
      //   const isJPG = file.type === 'image/jpeg' || file.type === 'image/png';
      //   if (!isJPG) {
      //     this.$message.error('上传的图片只能是 JPG 或者 PNG 格式!');
      //   }
      //   return isJPG;
    },
    handleAvatarSuccess(res, file) {
      console.log("res", res);
      res.data.forEach((ele) => {
        this.fileList1.push({ url: ele });
      });
      // 处理图片
      for (let i = 0; i < this.tableData.length; i++) {
        if (this.tableData[i].id == this.currentRowId) {
          let arr1 = [];
          this.fileList1.forEach((ele) => {
            arr1.push(ele.url);
          });
          this.tableData[this.imgIndex].img = arr1.join(",");
        }
      }
      let arr1 = [];
      this.fileList1.forEach((ele) => {
        arr1.push(ele.url);
      });
      this.tableData[this.imgIndex].img = arr1.join(",");
    },

    handlePictureSuccess(res) {
      let _this = this;
      console.log("handlePictureSuccess", res);
      res.data.forEach((ele) => {
        console.log("handlePictureSuccess forEach", ele);
        _this.picList123.push({ url: ele });
      });
      let temp = [];
      this.picList123.forEach((ele) => {
        temp.push(ele.url);
      });
      this.$set(this.form, "img", temp.join(","));
    },
    deleteHouses() {
      let tempTable = [];
      let ids = [];
      console.log("deleteHouses", this.tempRecords);
      this.housesInfo.forEach((v) => {
        ids.push(v.id);
      });
      tempTable = this.tableData.filter((i) => {
        console.log("filter", i.id, ids);
        return !ids.includes(i.id);
      });

      return tempTable;
    },
    // 房源接收   房源信息审核详情 和 入库审核详情 和 入库房源修改审批
    getData(option, data, soleId = null) {
      console.log("dddddddddddddd");
      console.log("table1.vue getData", option, data, this.showTotalDetail);
      this.isOption = option;
      this.soleId = soleId;
      if (data) {
        console.log("if (!data)", typeof data);

        if (typeof data == "object") {
          console.log("...........x............");
          let temp = [];
          temp.push(data);
          this.tableData = temp;
        }
        if (option == 1) {
          this.tableData = data.tbHousing.data;
          this.tablePage.totalResult = data.tbHousing.count;
          this.plotId = data.tbPlot.id;
          this.totalDetailForm = data.tbPlot;
          if (this.showTotalDetail == 1) this.totalDetailForm = data.tbPlot;
          if (this.showTotalDetail == 2) this.receiveForm = data.tbPlot;
          console.log("xxxxxxxx0111111", this.totalDetailForm);

          ///___________
          this.receiveForm.planTotal = 0;
          this.receiveForm.realityTotal = 0;
          console.log("tbHousingInfoFormIndex", "::", this.tableData);
          this.tableData.forEach((v) => {
            this.receiveForm.planTotal += Number(v.totalArea);
          });
          this.receiveForm.realityTotal = this.tableData.length;
        }
        if (option == 2) {
          this.tableData = data.tbHousing.data;
          this.tablePage.totalResult = data.tbHousing.count;

          this.totalDetailForm = data.tbPlot;
          if (this.showTotalDetail == 1) this.totalDetailForm = data.tbPlot;
          if (this.showTotalDetail == 2) this.receiveForm = data.tbPlot;
          console.log("xxxxxxxx0111111", this.totalDetailForm);

          ///___________
          this.receiveForm.planTotal = 0;
          this.receiveForm.realityTotal = 0;
          console.log("tbHousingInfoFormIndex", "::", this.tableData);
          this.tableData.forEach((v) => {
            this.receiveForm.planTotal += Number(v.totalArea);
          });
          this.receiveForm.realityTotal = this.tableData.length;
        }
        if (option == 3) {
          console.log("可能的组件冲突问题123", option, data);
          this.tableData = data;
          return;
          // 可能的组件冲突问题
          this.tableData = data.tbHousing.data;
          this.tablePage.totalResult = data.tbHousing.count;

          this.totalDetailForm = data.tbPlot;
          if (this.showTotalDetail == 1) this.totalDetailForm = data.tbPlot;
          if (this.showTotalDetail == 2) this.receiveForm = data.tbPlot;
          console.log("xxxxxxxx0111111", this.totalDetailForm);

          ///___________
          this.receiveForm.planTotal = 0;
          this.receiveForm.realityTotal = 0;
          console.log("tbHousingInfoFormIndex", "::", this.tableData);
          this.tableData.forEach((v) => {
            this.receiveForm.planTotal += Number(v.totalArea);
          });
          this.receiveForm.realityTotal = this.tableData.length;
        }
      }
      // this.myTableTitle = title;
    },
    getDataByJSON(option, data) {
      var getDataType = function(o) {
        if (typeof o == "object") {
          if (typeof o.length == "number") {
            return "Array";
          } else {
            return "Object";
          }
        } else {
          return "param is no object type";
        }
      };
      this.isOption = option;
      console.log("getDataByJSON123", this.isOption, data);
      data = JSON.parse(data);
      // let temp = [];
      // if (data !== null && data instanceof Object) {
      //   console.log("if123");
      //   temp.push(data);
      // } else {
      //   console.log("else456");
      //   temp = data;
      // }
      this.tableData = data;
      // if (data.plotImg) {
      //   this.basicForm.plotImg = JSON.parse(data.plotImg);
      //   this.basicForm.accessory = JSON.parse(data.accessory);
      //   this.picList = this.basicForm.plotImg;
      //   this.fileList = this.basicForm.accessory;
      // }
    },
    getAllCount(data) {
      this.receiveForm.planTotal = 0;
      this.receiveForm.realityTotal = 0;
      data.tbHousing.data.forEach((v) => {
        this.receiveForm.planTotal += Number(v.totalArea);
      });
      this.receiveForm.realityTotal = data.tbHousing.data.length;
      console.log("getAllCount", data.tbHousing.data.length, this.receiveForm);
    },
    toUpload(rowData) {
      console.log("toUpload");
      this.disabledVal = false;
      this.myUpload(rowData);
    },
    toDetails(rowData) {
      // this.disabledVal = true;
      this.myUpload(rowData);
    },
    myUpload(rowData) {
      this.fileList1 = [];
      // this.currentRowId = rowData.index;
      this.alertVal01 = true;
      let index = this.tableData.findIndex((val) => {
        console.log("fffff", val, rowData.index);
        return val.id == rowData.id;
      });
      console.log(
        "myUpload",
        index,
        rowData,
        this.currentRowId,
        this.tableData[index].lotName
      );
      this.imgIndex = index;
      if (rowData.img !== null && rowData.img.length !== 0) {
        let imgs = rowData.img.split(",");
        imgs.forEach((img) => {
          this.fileList1.push({
            url: img,
          });
        });
      }
    },
    closeUpload() {
      console.log("closeUpload", this.fileList1);
      this.fileList1 = [];
    },
  },
  //生命周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    this.getHouseType();
    // 用$on事件来接收参数
    pub.$on("rowData", (rowData) => {
      // 接收组件A传过来的数据
      this.myTableTitle = rowData.myTableTitle;
      this.isOption = rowData.isOption;
      this.rowData = rowData.rowData;
      if (this.rowData != null) {
        this.rowDataId = rowData.rowData.id;
      }
      if (this.isOption == 1) {
        this.triggerVal = "click";
      } else {
        this.triggerVal = "";
      }
      this.init();
    });
    // 接收 table1 传的信息
    pub.$on("tbPlotInfo", (data) => {
      console.log("tbPlot1111111", data.tbPlot);
      if (data.tbPlot) this.totalDetailForm = data.tbPlot;
      if (this.totalDetailForm.plotImg != null) {
        // 处理图片
        let myPlotImg = this.totalDetailForm.plotImg.split(",");
        myPlotImg.forEach((ele) => {
          this.picList = [{ url: ele }];
        });
      }
    });

    pub.$on("chooseReceivedPlot", (data) => {
      console.log("chooseReceivedPlot123", data);
      this.tbPlotId = data.id;
      getHouseInputInfoById(data.id, null, null, null, 1, 10, 0).then((res) => {
        console.log("table_ 1 2 3 res1", res.data);
        this.isOption = 0;
        this.tableData = res.data;
        this.tablePage.totalResult = res.count;
        // 传小区信息给 table2 table3  isAdd=0 不是新增
        // pub.$emit("tbPlotInfo", { tbPlot: res.tbPlot, isAdd: 0 });
      });
    });

    pub.$on("deleteHouses", async (data) => {
      // pub.$emit("deleteAnotherTable", tempTable);
      // this.tableData = tempTable;
    });
    pub.$on("deleteAnotherTable", (data) => {
      console.log("deleteAnotherTable", data);
      this.tableData = data;
    });
    pub.$on("tbHousingInfoFormIndex", async (data) => {
      this.tableData = data.houses.data;
      this.tablePage.totalResult = data.houses.count;

      this.receiveForm.planTotal = 0;
      this.receiveForm.realityTotal = 0;
      console.log("tbHousingInfoFormIndex???", data, ":123333", this.tableData);
      this.plotId = data.plotId;
      this.soleId = data.soleId;
      this.isOption = data.option;

      this.tableData.forEach((v) => {
        this.receiveForm.planTotal += Number(v.totalArea);
        this.defaultSelecteRows.push(v.id);
      });
      this.receiveForm.realityTotal = this.tableData.length;

      let all = await getAcceptDetails(data.plotId, data.soleId);
      // this.tempRecords = all.tbHousing.data;
      let arr = [];
      for (var i = 0; i < all.tbHousing.data.length; i += 10) {
        arr.push(all.tbHousing.data.slice(i, i + 10));
      }
      this.tempRecords = arr;
      console.log("arrrrrrrr", this.tempRecords, all.tbHousing.data);
      return;
      // getHouseInputInfoById(data.id, 1, 10, 0).then((res) => {
      //   console.log("table 1 2 3 res1", res);
      //   this.tableData = res.tbHousing.data;
      //   this.tablePage.totalResult = res.tbHousing.count;
      //   // 传小区信息给 table2 table3  isAdd=0 不是新增
      //   // pub.$emit("tbPlotInfo", { tbPlot: res.tbPlot, isAdd: 0 });
      // });
    });
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //生命周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {
    pub.$off("chooseReceivedPlot");
    pub.$off("tbHousingInfoFormIndex");
    pub.$off("deleteHouses");
    pub.$off("deleteAnotherTable");
  }, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁完成
  activated() {
    console.log("activated");
  }, //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
//@import url(); 引入公共css类

.myTableForm {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  border: 1px solid #dcdcdc;
}

.myTableForm td,
.myTableForm th {
  padding: 0;
  height: 60px;
  line-height: 60px;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
}
.myTableForm th {
  text-align: left;
  background-color: #8a8d81;
  color: #ffffff;
}
.myTableForm tr:nth-child(odd) {
  background-color: #f7f7f7;
}

.myTableForm td:nth-child(odd) {
  text-align: right;
  padding-right: 5px;
}
.myTableForm td {
  width: 16%;
  height: 60px;
  line-height: 60px;
}
/* ::v-deep .el-form-item {
  margin-bottom: 20px;
} */

::v-deep .el-form-item__error {
  top: -70% !important;
  left: 10px !important;
}
::v-deep .el-input {
  text-align: center;
}
::v-deep .el-input__inner {
  /* margin: 0 9px; */
  width: 90%;
}
/*
::v-deep .vxe-button.type--button:not(.is--round) {
  width: 100px;
  height: 40px;
  border-radius: 26px;
} */

::v-deep .vxe-button {
  margin-right: 20px;
  margin-left: 0;
}

::v-deep .vxe-header--column .vxe-cell--title {
  line-height: 1.5;
  font-size: 15px !important;
  font-weight: normal;
}

::v-deep .vxe-header--column .vxe-cell--required-icon {
  display: none;
}

::v-deep .vxe-table--render-default .vxe-cell {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.h40 {
  height: 32px !important;
}

::v-deep .vxe-pager.size--mini {
  height: 60px;
}

::v-deep .el-input__prefix {
  left: 15px;
}

::v-deep .el-input__suffix {
  right: 15px;
}
::v-deep .el-button--info {
  color: #fff;
  background-color: #505976;
  border-color: #505976;
}
.upload-demo {
  display: inline-block;
}
/* ::v-deep .el-upload-list { */
/* display: none; */
/* } */

::v-deep .el-upload-list--picture-card .el-upload-list__item {
  width: 80px;
  height: 80px;
  border-radius: 0;
  border: 1px solid #fff;
}
::v-deep .el-upload--picture-card {
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 0;
  background-color: #fff;
  border: 0;
}

::v-deep .el-upload--picture-card i {
  display: flex;
}
::v-deep .el-icon-plus:before {
  width: 80px;
  height: 80px;
  line-height: 80px;
  border: 1px solid #8c939d;
}
::v-deep .el-upload-list--text {
  display: none !important;
}
</style>
