<!-- 录入表格2 -->
<template>
  <!-- <div class="myPadding"> -->
  <div class="" style="display: flex;">
    <div style="padding: 0; flex: 1;">
      <el-form
        label-width="80px"
        ref="testForm"
        :model="testForm"
        :rules="basicFormRules1"
      >
        <div style="display: flex; justify-content: space-between">
          <h4>小区基本信息</h4>
        </div>

        <table class="myTableForm">
          <tr>
            <td>录入单位</td>
            <td>
              <el-form-item label="" prop="unit1">
                <el-input
                  v-model="testForm.unit1"
                  placeholder="单行输入"
                ></el-input>
              </el-form-item>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>区属</td>
            <td>
              <el-form-item label="" prop="attribute">
                <el-input
                  v-model="testForm.attribute"
                  placeholder="单行输入"
                ></el-input>
              </el-form-item>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>小区名称</td>
            <td>
              <el-form-item label="" prop="plotName">
                <el-input
                  v-model="testForm.plotName"
                  placeholder="单行输入"
                ></el-input>
              </el-form-item>
            </td>
            <td>小区地址</td>
            <td>
              <el-form-item label="" prop="plotSite">
                <el-input
                  v-model="testForm.plotSite"
                  placeholder="单行输入"
                ></el-input>
              </el-form-item>
            </td>
          </tr>
          <tr>
            <td>楼栋总数</td>
            <td>
              <el-form-item label="" prop="buildingTotal">
                <el-input
                  v-model="testForm.buildingTotal"
                  placeholder="单行输入"
                ></el-input>
              </el-form-item>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>建筑面积</td>
            <td>
              <el-form-item label="" prop="architectArea">
                <el-input
                  v-model="testForm.architectArea"
                  placeholder="单行输入"
                ></el-input>
              </el-form-item>
            </td>
            <td>占地面积</td>
            <td>
              <el-form-item label="" prop="holdArea">
                <el-input
                  v-model="testForm.holdArea"
                  placeholder="单行输入"
                ></el-input>
              </el-form-item>
            </td>
          </tr>
          <tr>
            <td>容积率</td>
            <td>
              <el-form-item label="" prop="cubage">
                <el-input
                  v-model="testForm.cubage"
                  placeholder="单行输入"
                ></el-input>
              </el-form-item>
            </td>
            <td>绿化率</td>
            <td>
              <el-form-item label="" prop="green">
                <el-input
                  v-model="testForm.green"
                  placeholder="单行输入"
                ></el-input>
              </el-form-item>
            </td>
          </tr>
        </table>

        <h4>物业基本信息</h4>
        <table class="myTableForm">
          <tr>
            <td>物业公司名称</td>
            <td>
              <el-form-item label="" prop="reName">
                <el-input
                  v-model="testForm.reName"
                  placeholder="单行输入"
                ></el-input>
              </el-form-item>
            </td>
            <td>物业类别</td>
            <td>
              <el-form-item label="" prop="reType">
                <el-input
                  v-model="testForm.reType"
                  placeholder="单行输入"
                ></el-input>
              </el-form-item>
            </td>
          </tr>
          <tr>
            <td>物业联系人</td>
            <td>
              <el-form-item label="" prop="reContacts">
                <el-input
                  v-model="testForm.reContacts"
                  placeholder="单行输入"
                ></el-input>
              </el-form-item>
            </td>
            <td>联系方式</td>
            <td>
              <el-form-item label="" prop="phone">
                <el-input
                  v-model="testForm.phone"
                  placeholder="单行输入"
                ></el-input>
              </el-form-item>
            </td>
          </tr>
        </table>
      </el-form>
    </div>
    <div style="width: 375px;">
      <div class="areaPic">
        <div class="title">
          <span>小区图片</span>
        </div>
        <div class="body">
          <el-upload
            class="avatar-uploader"
            action="http://192.168.1.127:8877/upload/uploadFile"
            list-type="picture-card"
            :show-file-list="false"
            :on-success="handlePictureSuccess"
            :on-remove="handleRemovePic"
            :before-upload="beforeAvatarUpload"
          >
            <template>
              <div v-if="testForm.plotImg" style="display:flex!important;">
                <img
                  v-for="(item, index) in testForm.plotImg"
                  style="width: 80px; height: 80px;"
                  :src="item"
                  class="avatar"
                />
              </div>

              <i class="el-icon-plus avatar-uploader-icon"></i>
            </template>
          </el-upload>
        </div>
      </div>
      <div class="uploadPane">
        <div class="title">
          <span>附件上传</span>
        </div>
        <div class="body">
          <el-upload
            class="upload-demo"
            action="http://192.168.1.127:8877/upload/uploadFile"
            :on-change="handleChange"
            :on-success="handleFileSuccess"
            multiple
            :file-list="fileList1"
          >
            <el-button size="small">
              上传文件
            </el-button>
            <div slot="tip" class="el-upload__tip">
              只能上传word、excel文档
            </div>
          </el-upload>
        </div>
      </div>
    </div>
    <vxe-modal v-model="alertVal2" show-footer title="上传图片">
      <template #default>
        <div class="myPadding">
          <el-upload
            action="http://192.168.1.127:8877/upload/uploadFile"
            list-type="picture-card"
            :before-upload="beforeAvatarUpload2"
            :on-success="handleAvatarSuccess21"
            :file-list="fileList21"
            :disabled="disabledVal21"
          >
            <i class="el-icon-plus"></i>
            <div slot="tip" class="el-upload__tip">
              上传的图片只能是 JPG 或者 PNG 格式!
            </div>
          </el-upload>
        </div>
      </template>
    </vxe-modal>
  </div>
</template>

<script>
//这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
//例如：import 《组件名称》 from '《组件路径》';
import { getHouseInputInfoById } from "@/api/house";
import pub from "@/views/house/info/Input/public.js";
export default {
  //import引入的组件需要注入到对象中才能使用
  components: {},
  props: {
    bindingHouse: false,
    index: 0,
  },
  data() {
    //这里存放数据
    return {
      testForm: {
        index: null,
        unit1: null,
      },
      basicForm2: {
        index: null,
      },
      basicFormRules1: {
        unit: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        attribute: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        attribute: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        plotName: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        plotSite: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        buildingTotal: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        architectArea: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        holdArea: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        cubage: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        green: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        reName: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        reType: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        reContacts: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        phone: [{ required: true, message: "此字段为必填", trigger: "blur" }],
      },
      basicFormRules2: {
        unit: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        attribute: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        attribute: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        plotName: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        plotSite: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        buildingTotal: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        architectArea: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        holdArea: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        cubage: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        green: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        reName: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        reType: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        reContacts: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        phone: [{ required: true, message: "此字段为必填", trigger: "blur" }],
      },
      isOption: null,
      triggerVal: "",
      tableData2: [],
      validRules: {
        plotSite: [{ required: true, message: "此字段为必填" }],
        buildingTotal: [{ required: true, message: "此字段为必填" }],
        architectArea: [{ required: true, message: "此字段为必填" }],
        holdArea: [{ required: true, message: "此字段为必填" }],
        cubage: [{ required: true, message: "此字段为必填" }],
        green: [{ required: true, message: "此字段为必填" }],
        reName: [{ required: true, message: "此字段为必填" }],
        reType: [{ required: true, message: "此字段为必填" }],
        reContacts: [{ required: true, message: "此字段为必填" }],
        phone: [{ required: true, message: "此字段为必填" }],
      },
      disabledVal2: null,
      // 上传图片弹窗
      alertVal2: false,
      fileList2: [],
      imageUrl: "",
      picList: [],
      // fileList: [
      //   {
      //     name: "food.jpeg",
      //     url:
      //       "https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100",
      //   },
      //   {
      //     name: "food2.jpeg",
      //     url:
      //       "https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100",
      //   },
      // ],
      fileList: [],
    };
  },
  //监听属性 类似于data概念
  computed: {},
  //监控data中的数据变化
  watch: {},
  //方法集合
  methods: {
    async getDetailById(id) {
      let res = await getHouseInputInfoById(id);
      console.log("getDetailById");
    },
    basicFormValidator() {
      let state = null;
      this.$refs["basicForm2"].validate((valid) => {
        if (valid) {
          state = true;
        } else {
          console.log("error!!");
          state = false;
        }
      });
      console.log("table2 Validator", state);
      return state;
    },
    // 上传图片
    handleRemovePic(file, fileList) {
      // console.log("handleRemovePic", file, fileList);
      // this.picList = fileList;
    },
    beforeAvatarUpload2(file) {
      //   const isJPG = file.type === 'image/jpeg' || file.type === 'image/png';
      //   if (!isJPG) {
      //     this.$message.error('上传的图片只能是 JPG 或者 PNG 格式!');
      //   }
      //   return isJPG;
    },
    beforeAvatarUpload() {},
    handleAvatarSuccess() {},
    handleChange() {},
    handleAvatarSuccess2(res, file) {
      console.log("res", res);
      res.data.forEach((ele) => {
        this.fileList2.push({ url: ele });
      });
    },
    // 房源接收, 房源建册（小区修改）
    getData(data) {
      console.log("table2 getData", data.plotImg, this.index);
      // console.log(
      //   "plotImg parse",
      //   JSON.parse(data.plotImg),
      //   JSON.parse(data.plotImg)[0]
      // );
      this.testForm = data;
      if (data.plotImg) {
        this.testForm.plotImg = JSON.parse(data.plotImg);
        this.testForm.accessory = JSON.parse(data.accessory);
        this.picList = this.testForm.plotImg;
        this.fileList = this.testForm.accessory;
      }
      console.log("table2.vue getData picList", this.picList);

      this.isOption = data;
      if (this.isOption == 1) {
        this.triggerVal = "click";
      } else {
        this.triggerVal = "";
      }
    },
    myvalidate() {
      let result = null;
      const $table = this.$refs.inputTable2;
      const errMap = $table.validate().catch((errMap) => errMap);
      if (errMap) {
        result = false;
        // this.$XModal.message({ status: 'error', content: '校验不通过！' })
      } else {
        result = true;
        // this.$XModal.message({ status: 'error', content: '校验通过！' })
      }
      return result;
    },
    handlePictureSuccess(res) {
      let _this = this;
      console.log("handlePictureSuccess", res);
      res.data.forEach((ele) => {
        console.log("handlePictureSuccess forEach", ele);
        _this.picList.push(ele);
      });
      // this.$set(this.basicForm, "plotImg", JSON.stringify(this.picList));
      this.$set(this.basicForm, "plotImg", this.picList);
    },
    handleFileSuccess(res, file) {
      console.log("handleFileSuccess xxxxx", res, file);
      let _this = this;
      _this.fileList.push({
        name: file.name,
        url: file.response.data[0],
      });
      // [
      //   {
      //     name: 'food.jpeg',
      //     url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'
      //   },
      //   {
      //     name: 'food2.jpeg',
      //     url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'
      //   }
      // ]
      this.$set(this.basicForm, "accessory", this.fileList);
    },
  },
  //生命周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    this.basicForm2.index = this.index;
    // 用$on事件来接收参数
    pub.$on("rowData", (rowData) => {
      // this.getDetailById(rowData.id);
      // 接收组件A传过来的数据
      this.isOption = rowData.isOption;
      if (this.isOption == 1) {
        this.triggerVal = "click";
      } else {
        this.triggerVal = "";
      }
    });
    // 接收 table1 传的信息
    pub.$on("tbPlotInfo", (data) => {
      // console.log("tbPlot2222222222", data.tbPlot);
      if (data.tbPlot) this.basicForm = data.tbPlot;

      this.picList = [];
      this.fileList = [];

      if (this.basicForm2.plotImg != null) {
        console.log("aaaaaaaaaa___");
        // 处理图片
        // let myPlotImg = this.basicForm.plotImg.split(",");
        let myPlotImg = JSON.parse(this.basicForm2.plotImg);
        let files = JSON.parse(this.basicForm2.accessory);

        myPlotImg.forEach((ele) => {
          console.log("forEach");
          this.picList.push({ url: ele.url });
        });

        files.forEach((val) => {
          this.fileList.push({ url: val.url });
        });
        console.log("处理图片", myPlotImg, this.picList, this.fileList);
      }
    });
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //生命周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {
    // let _this = this;
    // this.picList.forEach((v, i) => {
    //   _this.$set(_this.picList, i, null);
    // });
    // this.picList = [];
    console.log("table2 beforeDestroy", this.picList);
  }, //生命周期 - 销毁之前
  destroyed() {
    // let _this = this;
    // this.picList.forEach((v, i) => {
    //   _this.$set(_this.picList, i, null);
    // });
    // this.picList = [];
    console.log("table2 destroyed", this.picList);
  }, //生命周期 - 销毁完成
  activated() {}, //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
//@import url(); 引入公共css类

.myTableForm {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  border: 1px solid #dcdcdc;
}

.myTableForm td,
.myTableForm th {
  padding: 0;
  height: 60px;
  line-height: 60px;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
}
.myTableForm th {
  text-align: left;
  background-color: #8a8d81;
  color: #ffffff;
}
.myTableForm tr:nth-child(odd) {
  background-color: #f7f7f7;
}

.myTableForm td:nth-child(odd) {
  text-align: right;
  padding-right: 5px;
}
.myTableForm td {
  width: 25%;
  height: 60px;
  line-height: 60px;
}

::v-deep .el-input {
  text-align: center;
}
::v-deep .el-input__inner {
  /* margin: 0 9px; */
  width: 90%;
}
::v-deep .el-form-item__content {
  margin-left: 0 !important;
}

::v-deep .el-form-item {
  margin-bottom: 0;
}

::v-deep .el-form-item__error {
  /* display: none; */
  top: 25%;
  left: 23px;
}
::v-deep .el-upload-list--picture-card .el-upload-list__item {
  width: 80px;
  height: 80px;
  border-radius: 0;
  border: 1px solid #fff;
}
::v-deep .el-upload--picture-card {
  display: flex;
  align-items: center;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 0;
  background-color: #fff;
  border: 0;
}

::v-deep .el-upload--picture-card i {
  display: flex;
  margin-left: 15px;
}
::v-deep .el-icon-plus:before {
  width: 80px;
  height: 80px;
  line-height: 80px;
  border: 1px solid #8c939d;
}
/* .avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
} */
/*
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 80px;
  height: 80px;
  margin-left: 10px;
  margin-bottom: 9px;
  line-height: 80px;
  text-align: center;
  border: 1px solid #eaeaea;
}
.avatar {
  width: 80px;
  height: 80px;
  display: block;
} */

.areaPic {
  position: relative;
  width: 100%;
  height: 302px;
  border: 1px solid #dbdbdb;
  margin-top: 53px;

  .title {
    width: 100%;
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
  }

  .body {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
  }
}

.uploadPane {
  width: 100%;
  height: 236px;
  border: 1px solid #dbdbdb;

  .title {
    width: 100%;
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
  }

  .body {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }
}
</style>
