<!-- 录入表 -->
<template>
  <div class="">
    <h4 v-if="showTopBar">房屋信息</h4>
    <div class="table-action" v-show="isOption == 1 && showTopBar">
      <vxe-button class="" @click="insertEvent(-1)"
        ><i class="vxe-icon--plus myBC"></i> 插入</vxe-button
      >
      <vxe-button class="" @click="copy"
        ><i class="vxe-icon--zoomout myBC"></i> 复制行</vxe-button
      >
      <vxe-button class="" @click="del"
        ><i class="el-icon-delete myRC"></i> 删除行</vxe-button
      >
      <vxe-button class="" @click="delAll"
        ><i class="el-icon-delete myRC"></i> 删除全部</vxe-button
      >
      <vxe-button class="" @click="importDataEvent"
        ><i class="vxe-icon--upload myGC"></i> 导入</vxe-button
      >
    </div>
    <div class="table-top" v-show="isOption == 3 && showTopBar">
      <vxe-button class="" @click="del"
        ><i class="el-icon-delete myRC"></i> 删除行</vxe-button
      >
      <vxe-button class="" @click="delAll"
        ><i class="el-icon-delete myRC"></i> 删除全部</vxe-button
      >
    </div>
    <!-- 搜索栏 -->
    <div class="table-top" v-if="showSearchBar == 1">
      <span class="searchLabel fl">小区名称：</span>
      <!-- <el-input class="fl inputMargin" v-model="searchVal1" @input="searchEvents(searchVal1, ['plotName'])" prefix-icon="el-icon-search"></el-input> -->
      <el-input
        class="fl inputMargin"
        v-model="plotName"
        placeholder="单行输入"
        @input="searchEvents(searchVal1, ['plotName'])"
      ></el-input>
      <span class="searchLabel fl">录入单位：</span>
      <el-input
        class="fl inputMargin"
        v-model="inputUnit"
        placeholder="单行输入"
        @input="searchEvents(searchVal2, ['unit'])"
      ></el-input>

      <vxe-button class="h40 plusBtn inputMargin" @click="importDataEvent">
        搜索
      </vxe-button>
    </div>

    <div class="table-top" v-if="showSearchBar == 2">
      <span class="searchLabel fl">地块名称：</span>
      <!-- <el-input class="fl inputMargin" v-model="searchVal1" @input="searchEvents(searchVal1, ['plotName'])" prefix-icon="el-icon-search"></el-input> -->
      <el-input
        class="fl inputMargin"
        v-model="plotName"
        placeholder="单行输入"
        @input="searchEvents(searchVal1, ['plotName'])"
      ></el-input>
      <span class="searchLabel fl">总面积：</span>
      <el-input
        class="fl inputMargin"
        v-model="inputUnit"
        placeholder="单行输入"
        @input="searchEvents(searchVal2, ['unit'])"
      ></el-input>

      <vxe-button class="h40 plusBtn inputMargin" @click="">
        搜索
      </vxe-button>
    </div>

    <div class="table-top" v-if="showSearchBar == 3 && isOption == null">
      <span class="searchLabel fl">地块名称：</span>
      <!-- <el-input class="fl inputMargin" v-model="searchVal1" @input="searchEvents(searchVal1, ['plotName'])" prefix-icon="el-icon-search"></el-input> -->
      <el-input
        class="fl inputMargin"
        v-model="queryForm.lotName"
        placeholder="单行输入"
      ></el-input>

      <vxe-button class="h40 plusBtn inputMargin" @click="searchEvent">
        搜索
      </vxe-button>
    </div>

    <vxe-table
      ref="xTable"
      stripe
      highlight-hover-row
      :data="tableData"
      :export-config="{}"
      row-id="id"
      :seq-config="{
        startIndex: (tablePage.currentPage - 1) * tablePage.pageSize,
      }"
      @radio-change="radioChangeEvent"
    >
      <vxe-table-column type="radio" width="60"></vxe-table-column>
      <vxe-table-column field="lotName" title="地块名称"></vxe-table-column>
      <vxe-table-column field="plotName" title="小区名称"></vxe-table-column>
      <vxe-table-column field="unit" title="录入单位"></vxe-table-column>
      <vxe-table-column field="receiveArea" title="总面积"></vxe-table-column>
      <vxe-table-column
        field="receiveCycle"
        title="账面原值"
      ></vxe-table-column>
      <vxe-table-column field="assess" title="评估价值"></vxe-table-column>
    </vxe-table>
    <!-- 分页 -->
    <vxe-pager
      class="paginationBlock"
      size="mini"
      :current-page="tablePage.currentPage"
      :page-size="tablePage.pageSize"
      :page-sizes="tablePage.pageSizes"
      :total="tablePage.totalResult"
      @page-change="pageChange"
      :layouts="['PrevPage', 'JumpNumber', 'NextPage', 'FullJump', 'Total']"
    >
    </vxe-pager>
  </div>
</template>

<script>
//这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
//例如：import 《组件名称》 from '《组件路径》';
import { getHouseInputInfoById } from "@/api/house";
import pub from "@/views/house/info/Input/public.js";
export default {
  //import引入的组件需要注入到对象中才能使用
  components: {},
  props: {
    showTotalDetail: true,
    showTopBar: true,
    showSearchBar: false,
  },
  data() {
    //这里存放数据
    return {
      plotName: "",
      inputUnit: "",
      totalDetailForm: {},
      queryForm: {
        lotName: null,
      },
      totalDetailFormRules: {
        realityTotal: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        planTotal: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        turnTotal: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        appointTime: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        becTime: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        planTime: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        enteringTime: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
      },
      validTableRules: {
        floorNo: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        ladderNo: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        houseNo: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        site: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        propertyNo: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        houseType: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        img: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        coverArea: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        allArea: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        totalArea: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        paper: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        assess: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        cardStatus: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        receiveStatus: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
      },
      // 查看就不可以编辑
      triggerVal: "",
      addedRow: {
        id: 1,
        floorNo: null,
        ladderNo: null,
        houseNo: null,
        site: null,
        propertyNo: null,
        houseType: null,
        img: null,
        coverArea: null,
        allArea: null,
        totalArea: null,
        paper: null,
        assess: null,
        cardStatus: null,
        receiveStatus: null,
      },
      tableData: [],
      disabledVal: false,
      // 分页
      tablePage: {
        currentPage: 1,
        pageSize: 10,
        pageSizes: [10, 20, 30, 40],
        totalResult: 0,
      },
      isOption: null,
      // 上传图片弹窗
      alertVal01: false,
      fileList1: [],
      rowData: null,
      rowDataId: null,
      currentRowId: null,
    };
  },
  //监听属性 类似于data概念
  computed: {},
  //监控data中的数据变化
  watch: {},
  //方法集合
  methods: {
    searchEvent() {
      pub.$emit("initHousesList", {
        page: 1,
        limit: 10,
        lotName: this.queryForm.lotName,
      });
    },
    formatterTitle() {},
    totalDetailFormValidator() {
      let state = null;
      this.$refs["totalDetailForm"].validate((valid) => {
        if (valid) {
          state = true;
        } else {
          console.log("error!!");
          state = false;
        }
      });
      console.log("table1 Validator", state);
      return state;
    },
    radioChangeEvent({ row }) {
      console.log("单选事件radioChangeEvent", row.id, this.isOption);
      if (this.isOption == 1 || this.isOption == 3) {
        pub.$emit("changeTab", "house");
        return;
      }
      this.selectRow = row;
      pub.$emit("chooseReceivedPlot", row);
    },
    async tableValidator() {
      let result = null;
      const $table = this.$refs.inputTable;
      const errMap = await $table.validate(true).catch((e) => e);
      if (errMap) {
        result = false;
        this.$XModal.message({ status: "error", content: "校验不通过！" });
      } else {
        result = true;
        console.log("____true", errMap, result);
        // this.$XModal.message({ status: "error", content: "校验通过！" });
      }
      return result;
    },
    // 根据页切换
    pageChange(val) {
      console.log("page val table4", val);
      this.tablePage.currentPage = val.currentPage;
      this.tablePage.pageSize = val.pageSize;
      let page = val.currentPage;
      let limit = val.pageSize;
      // 调用父组件方法
      // this.getById(page, limit);
      // this.$parent.test();

      pub.$emit("initHousesList", {
        page,
        limit,
        lotName: this.queryForm.lotName,
      });
    },
    init(data) {
      console.log("table1接收父组件传过来的值 indexTable", data);
      this.list = data.data;
      this.tableData = this.list;
      this.tablePage.totalResult = data.count;
      // 房源录入 房屋和小区信息的 弹出单条信息
      if (this.rowData == null) {
        // 新增
        this.tableData1 = [];
        this.tablePage.totalResult = 0;
        // 传小区信息给 index  isAdd=1 是新增
        // pub.$emit("tbPlotInfo", { tbPlot: this.row, isAdd: 1 });
      } else {
        // 修改 查看
        this.getById(this.tablePage.currentPage, this.tablePage.pageSize);
      }
    },
    getById(page, limit) {
      console.log("__________1");
      return;
      // 单条信息查找
      let obj = {
        id: this.rowDataId,
        page: page,
        limit: limit,
        receiveStatus: 0,
        cardStatus: null
      };
      getHouseInputInfoById(obj).then((res) => {
        console.log("table 1 2 3 res 12", res);
        this.tableData = res.tbHousing.data;
        this.tablePage.totalResult = res.tbHousing.count;
        // 传小区信息给 table2 table3  isAdd=0 不是新增
        pub.$emit("tbPlotInfo", { tbPlot: res.tbPlot, isAdd: 0 });
      });
    },
    async insertEvent(row) {
      const $table = this.$refs.inputTable;
      const record = this.addedRow;
      const { row: newRow } = await $table.insertAt(record, row);
      await $table.setActiveCell(newRow, "lotName");
      // 获取表数据
      this.tableData = this.$refs.inputTable.getTableData().tableData;
    },
    del() {
      if (this.$refs.inputTable1.getCheckboxRecords().length != 0) {
        this.$confirm("此操作将删除数据, 是否继续?", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning",
        }).then(() => {
          this.$refs.inputTable1.removeCheckboxRow();
          // 获取表数据
          this.tableData = this.$refs.inputTable.getTableData().tableData;
          this.$message({ type: "success", message: "删除成功!" });
          this.$refs.inputTable1.clearCheckboxRow();
        });
      } else {
        this.$message({ type: "error", message: "请选择需要删除的数据!" });
      }
    },
    delAll() {
      // 删除数据库全数据
      this.$confirm("此操作将删除全部数据, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(() => {
        // 删除 tableData1
        this.tableData = [];
        this.$message({ type: "success", message: "删除成功!" });
      });
    },
    async copy() {
      if (this.$refs.inputTable.getCheckboxRecords().length == 1) {
        // 复制并插入
        let copyLine = this.$refs.inputTable.getCheckboxRecords()[0];
        await this.$refs.inputTable.insertAt(copyLine, -1);
        // 获取表数据
        this.tableData = this.$refs.inputTable.getTableData().tableData;
        this.$refs.inputTable.clearCheckboxRow();
        this.$message({ type: "success", message: "复制成功!" });
      } else {
        this.$message({ type: "error", message: "有且只能选择一条数据行!" });
      }
    },
    importDataEvent() {
      this.$refs.inputTable1.importData();
    },
    // 上传图片
    handleRemove(file, fileList) {
      console.log(file, fileList);
      this.fileList1 = fileList;
    },
    beforeAvatarUpload(file) {
      //   const isJPG = file.type === 'image/jpeg' || file.type === 'image/png';
      //   if (!isJPG) {
      //     this.$message.error('上传的图片只能是 JPG 或者 PNG 格式!');
      //   }
      //   return isJPG;
    },
    handleAvatarSuccess(res, file) {
      console.log("res", res);
      res.data.forEach((ele) => {
        this.fileList1.push({ url: ele });
      });
      // 处理图片
      for (let i = 0; i < this.tableData.length; i++) {
        if (this.tableData[i].id == this.currentRowId) {
          let arr1 = [];
          this.fileList1.forEach((ele) => {
            arr1.push(ele.url);
          });
          this.tableData[i].img = arr1.join(",");
        }
      }
    },
    // 房源接收   房源信息审核详情 和 入库审核详情 和 入库房源修改审批
    getData(num, title) {
      this.isOption = num;
      this.myTableTitle = title;
      if (this.isOption == 1) {
        this.triggerVal = "click";
      } else {
        this.triggerVal = "";
      }
    },
    toUpload(rowData) {
      this.disabledVal = false;
      this.myUpload(rowData);
    },
    toDetails(rowData) {
      this.disabledVal = true;
      this.myUpload(rowData);
    },
    myUpload(rowData) {
      this.fileList1 = [];
      this.currentRowId = rowData.id;
      this.alertVal01 = true;
      // 处理图片
      for (let i = 0; i < this.tableData.length; i++) {
        if (
          this.tableData[i].id == this.currentRowId &&
          this.tableData[i].img != null
        ) {
          let img = this.tableData[i].img.split(",");
          img.forEach((ele) => {
            this.fileList1.push({ url: ele });
          });
        }
      }
    },
    closeUpload() {
      this.fileList1 = [];
    },
  },
  //生命周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    // 用$on事件来接收参数
    pub.$on("rowData", (rowData) => {
      // 接收组件A传过来的数据
      this.myTableTitle = rowData.myTableTitle;
      this.isOption = rowData.isOption;
      this.rowData = rowData.rowData;
      if (this.rowData != null) {
        this.rowDataId = rowData.rowData.id;
      }
      if (this.isOption == 1) {
        this.triggerVal = "click";
      } else {
        this.triggerVal = "";
      }
      this.init();
    });
    // 接收 table1 传的信息
    pub.$on("tbPlotInfo", (data) => {
      console.log("tbPlot1111111", data.tbPlot);
      if (data.tbPlot) this.totalDetailForm = data.tbPlot;
      if (this.totalDetailForm.plotImg != null) {
        // 处理图片
        let myPlotImg = this.totalDetailForm.plotImg.split(",");
        myPlotImg.forEach((ele) => {
          this.picList = [{ url: ele }];
        });
      }
    });
    // 接收 index 传的信息
    pub.$on("tbPlotInfoFormIndex", (data) => {
      console.log("tbPlotInfoFormIndex", data);
      if (data) {
        this.tableData = data.tableData;
        this.isOption = data.isOption;
      }
      if (this.totalDetailForm.plotImg != null) {
        // 处理图片
        let myPlotImg = this.totalDetailForm.plotImg.split(",");
        myPlotImg.forEach((ele) => {
          this.picList = [{ url: ele }];
        });
      }
    });
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {
  }, //生命周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {
    pub.$off("tbPlotInfoFormIndex");
  }, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁完成
  activated() {}, //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
//@import url(); 引入公共css类

.myTableForm {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  border: 1px solid #dcdcdc;
}

.myTableForm td,
.myTableForm th {
  padding: 0;
  height: 60px;
  line-height: 60px;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
}
.myTableForm th {
  text-align: left;
  background-color: #8a8d81;
  color: #ffffff;
}
.myTableForm tr:nth-child(odd) {
  background-color: #f7f7f7;
}

.myTableForm td:nth-child(odd) {
  text-align: right;
  padding-right: 5px;
}
.myTableForm td {
  width: 16%;
  height: 60px;
  line-height: 60px;
}
::v-deep .el-form-item {
  margin-bottom: 0;
}

::v-deep .el-form-item__error {
  display: none;
  top: 25%;
  left: 23px;
}
::v-deep .el-input {
  text-align: center;
}
::v-deep .el-input__inner {
  /* margin: 0 9px; */
  width: 90%;
}

::v-deep .vxe-button {
  margin-right: 20px;
  margin-left: 0;
}
.h40 {
  height: 32px !important;
}

/*
::v-deep .vxe-header--column .vxe-cell--title {
  line-height: 1.5;
  font-size: 15px !important;
  font-weight: normal;
}

::v-deep .vxe-header--column .vxe-cell--required-icon {
  display: none;
}

::v-deep .vxe-table--render-default .vxe-cell {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
} */
</style>
