<template>
  <div id="myMain">
    <div class="son-nav">
    <div class="f1 mt20">
      <div class="displayFlexR" style="margin-bottom: 20px;">
        <div
          class="f1 myPadding myBR displayFlexC"
          style="background-color: white;margin-right: 20px;width:700px;"
        >
          <p class="title">
            <!-- <span class="vxe-icon--arrow-left" @click="goBack"></span> -->
            {{ detailForm.plotName }}
          </p>
          <houseSwiper :images="detailForm.plotImg"></houseSwiper>
        </div>
        <div
          class="f1 myPadding myBR"
          style="background-color: white;padding: 20px 20px;"
        >
          <div class="displayFlexC">
            <h4>小区信息</h4>
            <div class="line single_line">
              <div class="single_line_item">
                <span>区属：</span>
                <span>{{ detailForm.attribute }}</span>
              </div>
              <div class="single_line_item">
                <span>占地面积：</span>
                <span>{{ detailForm.holdArea }}</span>
              </div>
            </div>
            <div class="line single_line">
              <div class="single_line_item">
                <span>小区名称：</span>
                <span>{{ detailForm.plotName }}</span>
              </div>
              <div class="single_line_item">
                <span>物业公司：</span>
                <span>{{ detailForm.reName }}</span>
              </div>
            </div>
            <div class="line single_line">
              <div class="single_line_item">
                <span>小区地址：</span>
                <span>{{ detailForm.plotSite }}</span>
              </div>
              <div class="single_line_item">
                <span>物业类型：</span>
                <span>{{ detailForm.reType }}</span>
              </div>
            </div>
            <div class="line single_line">
              <div class="single_line_item">
                <span>小区类型：</span>
                <span>{{ detailForm.attribute }}</span>
              </div>
              <div class="single_line_item">
                <span>联系人：</span>
                <span>{{ detailForm.reContacts }}</span>
              </div>
            </div>
            <div class="line single_line">
              <div class="single_line_item">
                <span>建筑面积：</span>
                <span>{{ detailForm.architectArea }}</span>
              </div>
              <div class="single_line_item">
                <span>联系方式：</span>
                <span>{{ detailForm.phone }}</span>
              </div>
            </div>
          </div>
          <el-divider></el-divider>
          <div class="displayFlexC">
            <h4>房屋信息</h4>
            <div class="line single_line">
              <div class="single_line_item">
                <span>房屋数量：</span>
                <span>{{ detailForm.houseCount }}</span>
              </div>
              <div class="single_line_item">
                <span>单间：</span>
                <span>{{ detailForm.housingType1 }}</span>
              </div>
            </div>
            <div class="line single_line">
              <div class="single_line_item">
                <span>房屋总面积：</span>
                <span>{{ detailForm.receiveArea }}</span>
              </div>
              <div class="single_line_item">
                <span>1室1厅：</span>
                <span>{{ detailForm.housingType2 }}</span>
              </div>
            </div>
            <div class="line single_line">
              <div class="single_line_item">
                <span>账面原值：</span>
                <span>{{ detailForm.receiveCycle }}</span>
              </div>
              <div class="single_line_item">
                <span>1室2厅：</span>
                <span>{{ detailForm.housingType3 }}</span>
              </div>
            </div>
            <div class="line single_line">
              <div class="single_line_item">
                <span>容积率：</span>
                <span>{{ detailForm.cubage }}</span>
              </div>
              <div class="single_line_item">
                <span>2室1厅：</span>
                <span>{{ detailForm.housingType4 }}</span>
              </div>
            </div>
            <div class="line single_line">
              <div class="single_line_item">
                <span>绿化率：</span>
                <span>{{ detailForm.green }}</span>
              </div>
              <div class="single_line_item">
                <span>2室2厅：</span>
                <span>{{ detailForm.housingType5 }}</span>
              </div>
            </div>
            <div class="line single_line">
              <div class="single_line_item">
                <span>建设完成日期：</span>
                <span>{{ detailForm.becTime }}</span>
              </div>
              <div class="single_line_item">
                <span>3室1厅：</span>
                <span>{{ detailForm.housingType6 }}</span>
              </div>
            </div>
            <div class="line single_line">
              <div class="single_line_item">
                <span>3室2厅：</span>
                <span>{{ detailForm.housingType7 }}</span>
              </div>
              <div class="single_line_item">
                <span>4室以上：</span>
                <span>{{ detailForm.housingType8 }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div
        class="myPadding myBR"
        style="background-color: white;height: 700px;"
      > -->
      <!-- <myLine></myLine> -->
      <!-- </div> -->
    </div>
  </div>
  </div>
</template>
<style lang="scss">
.line {
  width: 100%;
  line-height: 25px;
  clear: both;
  span {
    line-height: 25px;
    width: 30%;
    float: left;
  }
  span:nth-of-type(even) {
    line-height: 25px;
    font-weight: bold;
    color: #4b4b4b;
    /* width: 15%; */
    text-align: justify;
  }
  span:nth-of-type(odd):after {
    display: inline-block;
    width: 100%;
    content: "";
  }
  span:nth-of-type(even) {
    margin-left: 5%;
  }
}
.single_line {
  display: flex;

  .single_line_item {
    display: flex;
    width: 100%;
  }
}
.swiper-wrapper {
}
</style>
<script>
import houseSwiper from "@/components/houseInfoTable/houseSwiper.vue";
import myLine from "@/views/house/community/info/line.vue";
export default {
  components: {
    houseSwiper,
    myLine,
  },
  data() {
    return {
      detailForm: {},
    };
  },
  methods: {
    goBack() {
      this.$router.go(-1);
    },
  },
  created() {},
  mounted() {
    this.detailForm = this.$route.query.data;
    this.detailForm.plotImg = this.detailForm.plotImg.split(",");
    let _this = this;
    const breads = document.querySelector("#breadcrumbSpan");
    breads.children[1].addEventListener("click", function() {
      _this.$router.push({
        path: "/house/layout_community/house_community_info",
      });
    });
  },
};
</script>
