<!-- 小区信息管理 -->
<template>
  <div id="myMain">
    
    <div class="son-nav">
      
      <div class="table-top">
        <!-- <span class="searchLabel fl">区属：</span> -->
        <el-select
          v-model="searchForm.attribute"
          placeholder="请选择"
          class="fl inputMargin"
        >
          <el-option
            v-for="item in regions"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          >
          </el-option>
        </el-select>
        <!-- <span class="searchLabel fl">小区：</span> -->
        <el-input
          class="fl inputMargin"
          v-model="searchForm.plotName"
          placeholder="小区"
          @input="searchEvents(searchVal1, ['name'])"
        ></el-input>

        <vxe-button class="h40 plusBtn " @click="searchEvent">搜索</vxe-button>
        <vxe-button class="h40" @click="refresh">重置</vxe-button>
      </div>
      <div class="vxe-table-box">
        <div class="myTable f1">
          <ul class="plot_content">
            <li
              class="myBR fl displayFlexC"
              v-for="item in communityInforList"
              :key="item.id"
              @click="toDetails(item)"
            >
              <div style="height:150px;">
                <el-image
                  style="width: 100%; height: 100%;border-radius: 5px 5px 0 0;"
                  :src="item.img"
                  fit="contain"
                >
                </el-image>
              </div>
              <p class="f1 attr">{{ item.attribute }}</p>
              <p class="f1 plotName">{{ item.plotName }}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- 分页 -->
    <vxe-pager
      class="paginationBlock"
      size="mini"
      :current-page="tablePage.currentPage"
      :page-size="tablePage.pageSize"
      :page-sizes="tablePage.pageSizes"
      :total="tablePage.totalResult"
      @page-change="pageChange"
      :layouts="['PrevPage', 'JumpNumber', 'NextPage', 'FullJump', 'Total']"
    >
    </vxe-pager>
  </div>
</template>

<script>
//这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
//例如：import 《组件名称》 from '《组件路径》';
import { getTbPlotPagePlots } from "@/api/house";
export default {
  //import引入的组件需要注入到对象中才能使用
  components: {},
  data() {
    //这里存放数据
    return {
      searchForm: {},
      regions: [
        {
          value: "越秀区",
          label: "越秀区",
        },
        {
          value: "海珠区",
          label: "海珠区",
        },
        {
          value: "荔湾区",
          label: "荔湾区",
        },
        {
          value: "天河区",
          label: "天河区",
        },
        {
          value: "白云区",
          label: "白云区",
        },
        {
          value: "黄埔区",
          label: "黄埔区",
        },
        {
          value: "南沙区",
          label: "南沙区",
        },
        {
          value: "番禺区",
          label: "番禺区",
        },
        {
          value: "花都区",
          label: "花都区",
        },
        {
          value: "增城区",
          label: "增城区",
        },
        {
          value: "从化区",
          label: "从化区",
        },
      ],
      searchVal1: null,
      searchVal2: null,
      list: [
        {
          id: 1,
          img:
            "https://img0.baidu.com/it/u=3691942710,112759215&fm=26&fmt=auto&gp=0.jpg",
          a: "白云区",
          b: "白云花园",
        },
        {
          id: 1,
          img:
            "https://img0.baidu.com/it/u=3691942710,112759215&fm=26&fmt=auto&gp=0.jpg",
          a: "白云区",
          b: "白云花园",
        },
        {
          id: 1,
          img:
            "https://img0.baidu.com/it/u=3691942710,112759215&fm=26&fmt=auto&gp=0.jpg",
          a: "白云区",
          b: "白云花园",
        },
        {
          id: 1,
          img:
            "https://img0.baidu.com/it/u=3691942710,112759215&fm=26&fmt=auto&gp=0.jpg",
          a: "白云区",
          b: "白云花园",
        },
        {
          id: 1,
          img:
            "https://img0.baidu.com/it/u=3691942710,112759215&fm=26&fmt=auto&gp=0.jpg",
          a: "白云区",
          b: "白云花园",
        },
        {
          id: 1,
          img:
            "https://img0.baidu.com/it/u=3691942710,112759215&fm=26&fmt=auto&gp=0.jpg",
          a: "白云区",
          b: "白云花园",
        },
      ],
      communityInforList: [],
      // 分页
      tablePage: {
        currentPage: 1,
        pageSize: 10,
        pageSizes: [8, 16, 24, 32],
        totalResult: 0,
      },
    };
  },
  //监听属性 类似于data概念
  computed: {},
  //监控data中的数据变化
  watch: {},
  //方法集合
  methods: {
    exportDataEvent() {},
    // 根据页切换
    pageChange(val) {
      console.log("page val", val);
      this.tablePage.currentPage = val.currentPage;
      let page = val.currentPage;
      let limit = val.pageSize;
      // this.init(page, limit)
    },
    async init(page, limit, obj) {
      let res = await getTbPlotPagePlots(page, limit, obj);
      console.log("aaaaa", res);
      this.communityInforList = res.data;
      this.communityInforList.map(v => {
        if (v.plotImg) {
          let imgs = v.plotImg.split(",")
          console.log('a', imgs);
          v.img = imgs[0];
        }
      })
      this.tablePage.totalResult = res.count;
    },
    // 搜索
    searchEvent() {
      this.init(1, 10, this.searchForm);
    },
    refresh() {
      this.searchForm = {};
      this.init(1, 10, this.searchForm);
    },
    toDetails(data) {
      this.$router.push({
        path: "/house/layout_community/house_community_info_details",
        query: { data: data },
      });
    },
  },
  //生命周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    this.init(
      this.tablePage.currentPage,
      this.tablePage.pageSize,
      this.searchForm
    );
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //生命周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁完成
  activated() {}, //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
//@import url(); 引入公共css类
#myMain {
  ul {
    height: 100%;
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 20px;
      margin-right: 20px;
      background-color: white;
      width: calc(calc(100% - 100px) / 5);
      text-align: center;
      p {
        margin: 0;
      }
      p:nth-of-type(1) {
        margin: 20px 0 0 0;
      }
      p:nth-of-type(2) {
        font-size: 18px !important;
        font-weight: bold;
        line-height: 70px;
      }
    }
    li:nth-of-type(5n) {
      margin-right: 0px;
    }
  }
  .myTable .vxe-pager.size--mini {
    background-color: unset;
  }
}

.plot_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.h40 {
  height: 32px!important;
}
.myTable {
  background-color: #f1f3f6!important;
  padding: 20px 0;
}
.paginationBlock {
  background-color: #f1f3f6!important;
}
.attr {
  font-family: SourceHanSansSC-regular;
  color: #4b4b4b;
  font-size: 16px !important;
}
.plotName {
  font-family: SourceHanSansSC-bold;
  font-size: 20px;
  color: #4b4b4b;
}
</style>
