<!-- 房源信息审核，入库审核 -->
<template>
  <div id="myMain">
    <div class="myMain-padding displayFlexC mt0">
      <!-- <div class="table-top">
        <el-select
          v-model="searchVal"
          placeholder="房源接收审批"
          class="fl inputMargin"
        >
          <el-option
            v-for="item in titles"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          >
          </el-option>
        </el-select>

        <vxe-button class="h40 plusBtn" @click="handleSearch">搜索</vxe-button>
      </div> -->
      <div class="myTable f1">
        <vxe-table
          ref="xTable"
          align="center"
          highlight-hover-row
          :data="tableData"
          :export-config="{}"
          row-id="id"
          :seq-config="{
            startIndex: (tablePage.currentPage - 1) * tablePage.pageSize,
          }"
          :checkbox-config="{ reserve: true }"
        >
          <vxe-table-column type="checkbox" width="60"></vxe-table-column>
          <vxe-table-column
            field="subject"
            title="发起人"
            show-overflow
            :formatter="getName"
          ></vxe-table-column>
          <vxe-table-column
            field="categoryName"
            title="标题"
            show-overflow
          ></vxe-table-column>
          <vxe-table-column
            field="createTime"
            title="发起时间"
            show-overflow
          ></vxe-table-column>
          <vxe-table-column field="flowStatus" title="流程状态" show-overflow>
            进行中
          </vxe-table-column>
          <vxe-table-column
            field="preUserName"
            title="上一处理人"
            show-overflow
          ></vxe-table-column>
          <vxe-table-column
            field="name"
            title="下一处理人"
            show-overflow
          ></vxe-table-column>
          <vxe-table-column field="process" title="流程跟踪" show-overflow>
            <template #default="{ row }">
              <p style="color: blue;" @click="flowImageAction(row)">详情</p>
            </template>
          </vxe-table-column>
          <vxe-table-column
            field="createTime"
            title="处理时间"
            show-overflow
          ></vxe-table-column>
          <vxe-table-column title="操作" width="100">
            <template #default="{ row }">
              <div class="d_center">
                <img
                  class="operationBtnSize mr5"
                  src="@/assets/icon/approve.png"
                  @click="approval(row)"
                  alt=""
                />
              </div>
            </template>
          </vxe-table-column>
        </vxe-table>
        <!-- 分页 -->
        <vxe-pager
          class="paginationBlock"
          size="mini"
          :current-page="tablePage.currentPage"
          :page-size="tablePage.pageSize"
          :page-sizes="tablePage.pageSizes"
          :total="tablePage.totalResult"
          @page-change="pageChange"
          :layouts="['PrevPage', 'JumpNumber', 'NextPage', 'FullJump', 'Total']"
        >
        </vxe-pager>
      </div>
    </div>
    <Modal
      :mask-closable="false"
      v-model="flowImage.show"
      title="流程图"
      width="85%"
      :transfer="false"
    >
      <iframe
        id="flowImageframe"
        width="100%"
        style="min-height: 400px"
        height="100%"
        frameborder="0"
        align="center"
        allowfullscreen="true"
        allow="autoplay"
        :src="flowImage.src"
      />
      <div slot="footer" />
    </Modal>
  </div>
</template>

<script>
//这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
//例如：import 《组件名称》 from '《组件路径》';
import {
  getTbCheckHousing,
  getTbCheckHousingByPG,
  deleteTbCheckHousing,
  renderByTaskId,
} from "@/api/house";
import inputTable1 from "@/components/houseInfoTable/table1.vue";
export default {
  //import引入的组件需要注入到对象中才能使用
  components: {
    inputTable1,
  },
  data() {
    //这里存放数据
    return {
      flowImage: {
        show: false,
        src: "",
        base:
          process.env.VUE_APP_BASE_BPM_API +
          "/view/tab.html?fireHoverAction=true&table=true" +
          "&instId=",
      },
      titles: [
        {
          label: "全部",
          value: null,
        },
        {
          label: "房源接收审批",
          value: "房源接收审批",
        },
        {
          label: "建册信息修改审批",
          value: "建册信息修改审批",
        },
        {
          label: "小区信息修改审批",
          value: "小区信息修改审批",
        },
      ],
      searchVal: null,
      list: [],
      tableData: [],
      // 分页
      tablePage: {
        currentPage: 1,
        pageSize: 10,
        totalResult: 0,
      },
      // 流程跟踪详情
      alertVal: false,
      currentRoute: null,
      approvalRoute: null,
    };
  },
  //监听属性 类似于data概念
  computed: {},
  //监控data中的数据变化
  watch: {},
  //方法集合
  methods: {
    getName({ cellValue }) {
      let start = cellValue.indexOf("在");
      return cellValue.slice(0, start);
    },
    handleSearch(val) {
      console.log("handleSearch", this.searchVal);
      this.init(this.searchVal, 1, 10);
    },
    flowImageAction(row) {
      this.flowImage.src =
        this.flowImage.base +
        row.processInstanceId +
        "&t=" +
        new Date().getTime();
      this.flowImage.show = true;
    },
    formatterTitle({ cellValue }) {
      let titles = [
        { label: "房源接收审批", value: 1 },
        { label: "建册信息修改审批", value: 2 },
        { label: "小区信息修改审批", value: 3 },
      ];
      let item = titles.find((item) => item.value === cellValue);
      return item ? item.label : "";
    },
    // 根据页切换
    pageChange(val) {
      console.log("page val", val.currentPage, val.pageSize, this.searchVal);
      this.tablePage.currentPage = val.currentPage;
      this.tablePage.pageSize = val.pageSize;
      let page = val.currentPage;
      let limit = val.pageSize;

      this.init(this.searchVal, val.currentPage, val.pageSize);
      // this.init(page, limit)
    },
    async init(title, page, limit) {
      console.log("ttttttttttt", title, page, limit);
      // let res = await getTbCheckHousing({ title: title }, page, limit);
      let res = await getTbCheckHousingByPG({
        page: page,
        limit: limit,
        typeKey: "入库房源修改审批",
        endTime: "",
        startTime: "",
        start: "",
        end: "",
      });
      console.log("init", res);
      this.tableData = res.data;
      this.tablePage.totalResult = Number(res.count);
    },
    approval(row) {
      // console.log("approval", this.$router, this.$route);
      // /house/layout_info/house_info_approval_details
      console.log("approval 入库房源修改审批跳转", row);

      this.$router.push({
        path: "/house/layout_Warehouse/warehouse_edit_approve",
        query: { data: row },
      });
    },
    del(data) {
      console.log("deleteTbCheckHousing1", data);
      this.$confirm("此操作将删除该数据, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(async () => {
        //删除
        let res = await deleteTbCheckHousing(data.id);
        console.log("deleteTbCheckHousing2", res);
        this.$message({ type: "success", message: "删除成功!" });

        this.init(null, 1, 10);
      });
    },
    // 跟踪详情
    details() {
      this.alertVal = true;
    },
    // 搜索
    searchEvents(searchVal, PropsList) {
      this.tableData = this.$search.searchEvents(
        this.list,
        searchVal,
        PropsList
      );
      // this.total = this.list1.length
    },
    // 导出
    async exportDataEvent() {
      await this.$refs.xTable.openExport({
        // 默认勾选源
        original: true,
      });
      this.$refs.xTable.clearCheckboxRow();
    },
  },
  //生命周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    this.init(null, 1, 10);
    // 获取当前路由
    this.currentRoute = this.$route.path;
    if (this.currentRoute == "/house/layout_info/house_info_approval") {
      // 房源信息审核
      this.approvalRoute = "/house/layout_info/house_info_approval_details";
    } else if (
      this.currentRoute == "/house/layout_Warehouse/house_warehouse_approve"
    ) {
      // 入库审核
      this.approvalRoute =
        "/house/layout_Warehouse/house_warehouse_approve_details";
    } else {
      // 入库房源修改审批--------------------
      this.approvalRoute =
        "/house/layout_Warehouse/warehouse_change_approve_details";
    }
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //生命周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁完成
  activated() {}, //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
//@import url(); 引入公共css类
::v-deep.vxe-modal--wrapper .vxe-modal--content {
  padding: 0;
}
.h40 {
  height: 32px !important;
}
::v-deep .el-select .el-input .el-select__caret {
  color: #304156;
  font-weight: bold;
}
</style>
