<!-- 预览的时候使用,el-dialog对话框的弹出 -->
<template>
  <!--    :title="title"-->

  <el-dialog
    :close-on-click-modal="false"
    class="cus-dialog-container"
    :visible.sync="dialogVisible"
    :append-to-body='true'
    :width="width"
    ref="elDialog"
    :id="id"
    >
    <div v-if="show">
      <slot></slot>
    </div>

    <div v-if="action" slot="footer" class="dialog-footer" v-loading="loading"
      :element-loading-text="loadingText">
      <slot name="action">
        <el-button @click="close">取消</el-button>
        <el-button type="primary" @click="submit" >确 定</el-button>
      </slot>
    </div>
  </el-dialog>
</template>

<script>
export default {
  props: {
    visible: Boolean,
    loadingText: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    },
    width: {
      type: String,
      default: '600px'
    },
    form: {
      type: Boolean,
      default: true
    },
    action: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    show () {
      if (this.form) {
        return this.showForm
      } else {
        return true
      }
    }
  },
  data () {
    return {
      loading: false,
      dialogVisible: this.visible,
      id: 'dialog_' + new Date().getTime(),
      showForm: false
    }
  },
  methods: {
    close () {
      this.dialogVisible = false
    },
    submit () {
      this.loading = true
      console.log("submit")
      this.$emit('on-submit')
    },
    end () {
      this.loading = false
    }
  },
  mounted () {
  },
  watch: {
    dialogVisible (val) {
      if (!val) {
        this.loading = false
        this.$emit('on-close')
        setTimeout(() => {
          this.showForm = false
        }, 300)
      } else {
        this.showForm = true
      }
    },
    visible (val) {
      this.dialogVisible = val
    }
  }
}
</script>

<style lang="scss">
.cus-dialog-container{
  .el-dialog__footer{
    margin: 0 20px;
   // border: 1px solid red;
    padding: 15px 0 16px;
    text-align: center;
    /*position: relative;*/

    .dialog-footer{
      // display: block;

      .circular{
        // display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        width: 24px;
        height: 24px;
      }

      .el-loading-text{
        // display: inline-block;
        vertical-align: middle;
      }

      .el-loading-spinner{
        margin-top: -12px;
      }
    }
  }
  .el-dialog__body{
	  // border: 1px solid blue;
	   overflow: hidden;
  }
  .el-dialog__header{
	 padding: 40px 0px 0px 40px;
	font-weight: 900;
	 //margin:;
  }
}
</style>
