<!-- 表单的组件 -->
<template>

</template>

<script>
  export default {
    components: {
      GenerateElementItem: () => import('./GenerateElementItem.vue')

    },
    props: ['columns', 'value', 'models', 'remote', 'blanks'],
    data () {
      return {
        tableData: this.value,
        dataModels: this.models
      }
    },
    methods: {

    },
    watch: {
      value (val) {
        this.tableData = val
      },
      tableData (val) {
        this.$emit('input', val)
      },
      dataModels: {
        deep: true,
        handler (val) {
          this.$emit('update:models', val)
        }
      },
      models: {
        deep: true,
        handler (val) {
          this.dataModels = val
        }
      },
    },created(){
    }
  }
</script>

<style lang="scss">
</style>
