<template>
  <div id="app">
    <router-view v-if="isRouterAlive" ref="myGaojing" />
  </div>
</template>

<script>
import pub from "@/views/vacant_house/dashboard/bus.js";
import router from "./router";
import store from "./store";
import { getRoleToken } from "@/utils/auth";
export default {
  name: "App",
  provide() {
    return {
      reload: this.reload,
    };
  },
  data() {
    return {
      isRouterAlive: true,
      wsUrl: "ws://192.168.1.119:9688",
      websock: null,
    };
  },
  methods: {
    reload() {
      this.isRouterAlive = false;
      this.$nextTick(() => (this.isRouterAlive = true));
    },
    // 初始化webscoket
    initWebSocket() {
      let _this = this;
      if (typeof WebSocket === "undefined") {
        alert("您的浏览器不支持WebSocket，无法获取数据");
        return false;
      }
      // 创建Web Socket 连接
      _this.websock = new WebSocket(_this.wsUrl);
      // 建立链接
      _this.websock.onopen = () => {
        console.log("建立连接");
        // 发送消息
        _this.websock.send(
          JSON.stringify({
            uid: 1,
            userId: 0,
            nick: "11",
            code: 10000,
          })
        );
      };
      // 监听消息
      _this.websock.onmessage = function(e) {
        _this.websocketonmessage(e);
      };
      // 异常
      _this.websock.onerror = function() {
        console.log("ws连接异常，请稍候重试");
      };
      // 监听关闭
      _this.websock.onclose = function(e) {
        console.log("监听关闭", e);
        // let that = _this;
        // that.websock.close();
      };
    },
    // 接收ws后端返回的数据
    websocketonmessage(e) {
      let allData = JSON.parse(e.data);
      let myBody;
      // 心跳链接
      switch (allData.uri) {
        case 476:
          this.websock.send(JSON.stringify({ code: 10016 }));
          break;
      }
      if (allData.body != undefined) {
        myBody = JSON.parse(allData.body);
        // console.log("接收的", myBody);
        // 把告警数据更新到页面
        if (
          this.$router.currentRoute.fullPath === "/vacant_house/dashboard/warn1"
        ) {
          // 全部房屋的实时告警信息---大屏
          // this.$refs.myGaojing.getData(myBody.sysHouse)
          pub.$emit("gaojing", { data: myBody.sysHouse });
        } else if (
          this.$router.currentRoute.fullPath === "/vacant_house/dashboard/index"
        ) {
          // 首页的实时告警信息
          pub.$emit("SSGJ", { ssgjData: myBody.warnMsg });
        } else if (
          this.$router.currentRoute.fullPath === "/vacant_house/eq/gateway"
        ) {
          // 网关状态
          pub.$emit("WG", { data: myBody.sysEquip });
        } else if (
          this.$router.currentRoute.fullPath === "/vacant_house/safety/mana"
        ) {
          // 实时监控
          pub.$emit("SSJK", { data: myBody.sysHouse });
        } else {
          // 其他
        }
      }
    },
  },
  mounted() {
    this.initWebSocket();
  },
  async created() {
    // const roles = getRoleToken();

    // await this.$store.dispatch("user/setRoles", roles);
    // const hasRoles = store.getters.roles && store.getters.roles.length > 0;
    // if (hasRoles) {
    //   rolesClick = store.getters.roles;
    //   console.log("handleSelect if", rolesClick);
    // } else {
    //   const { roles } = await store.dispatch("user/getInfo");
    //   console.log("handleSelect else", rolesClick);
    //   rolesClick = roles;
    // }
    console.log("App created123", this.$route.path);
    if (this.$route.path !== "/") {
      const accessRoutes = await store.dispatch(
        "permission/generateRoutes",
        "123"
      );
      router.addRoutes(accessRoutes);
    }
  },
};
</script>
<style lang="scss">
::v-deep .el-loading-mask {
  opacity: 0.7;
}
// 菜单
#app .sidebar-container .el-submenu .el-menu-item {
  background-color: rgba(31, 45, 61, 0.7) !important;
}
.nest-menu {
  line-height: 14px;
}
.nest-menu .nest-menu {
  /* height: 50px !important; */
  /* line-height: 50px !important; */
}
// @import '@/styles/all.scss';
@import "@/styles/my-initialization.scss";

// feng 2022.01.14  start
.app-nav {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.son-nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.app-nav-no-pm {
  flex: 1;
}
.vxe-table-box {
  flex: 1;
}
// feng 2022.01.14  end
</style>
