<!-- 实时告警信息 -->
<template>
    <div style="background-color: white;color: black;padding: 20px;border-radius: 10px;height:calc( 100vh - 90px );overflow: hidden;">
        <div class="mb20">
            <span>网关状态：</span>
            <el-select v-model="eqStatus" placeholder="网关状态" @change="changeEvent" clearable>
                <el-option label="在线" :value="0" />
                <el-option label="离线" :value="1" />
            </el-select>
        </div>
        <dv-border-box-8 title="房屋设备实时告警信息">
            <ul class="item">
                <li class="title">
                    <el-row :gutter="2">
                        <el-col :span="3"><div class="grid-content">区属</div></el-col>
                        <el-col :span="4"><div class="grid-content">街道</div></el-col>
                        <el-col :span="4"><div class="grid-content">小区名称</div></el-col>
                        <el-col :span="2"><div class="grid-content">房号</div></el-col>
                        <el-col :span="3"><div class="grid-content">网关</div></el-col>
                        <el-col :span="2"><div class="grid-content">烟感</div></el-col>
                        <el-col :span="2"><div class="grid-content">摄像头</div></el-col>
                        <el-col :span="2"><div class="grid-content">红外</div></el-col>
                        <el-col :span="2"><div class="grid-content">刷卡器</div></el-col>
                    </el-row>
                </li>
                <vue-seamless-scroll :data="listData" class="seamless-warp" :class-option="myoption" ref="seamlessScroll">
                    <li v-for="(item,index) in listData" :key="index">
                        <el-row :gutter="20">
                            <el-col :span="3">{{item.areaName}}</el-col>
                            <el-col :span="4">{{item.villageName}}</el-col>
                            <el-col :span="4">{{item.buildNo == null || item.buildNo == "" ? item.buildNo ='暂无': item.buildNo}}</el-col>
                            <el-col :span="2">{{item.roomNo}}</el-col>
                            <el-col :span="3" :style="item.eqStatus==0?'color: #00FF00;': 'color: red;'">{{ statusList[item.eqStatus] }}</el-col>
                            <el-col :span="2" :style="item.smokeStatus==0?'color: #00FF00;': item.smokeStatus==1 ? 'color: red;': ''">{{ item.smokeStatus != 1 ?  statusObj[item.smokeStatus] : item.smokeTime}}</el-col>
                            <el-col :span="2" :style="item.enterStatus==0?'color: #00FF00;': item.enterStatus==1 ? 'color: red;': ''">{{ item.enterStatus != 1 ?  statusObj[item.enterStatus] : item.enterTime}}</el-col>
                            <el-col :span="2" :style="item.infraredStatus==0?'color: #00FF00;': item.infraredStatus==1 ? 'color: red;': ''">{{ item.infraredStatus != 1 ?  statusObj[item.infraredStatus] : item.infraredTime }}</el-col>
                            <el-col :span="2" :style="item.imprinterStatus==0?'color: #00FF00;': item.imprinterStatus==1 ? 'color: red;': ''">{{ item.imprinterStatus != 1 ?  statusObj[item.imprinterStatus] : item.imprinterTime }}</el-col>
                        </el-row>
                    </li>
                </vue-seamless-scroll>
            </ul>
        </dv-border-box-8>
    </div>
</template>

<script>
//这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
//例如：import 《组件名称》 from '《组件路径》';
import pub from '@/views/vacant_house/dashboard/bus.js'
import { getList } from '@/api/vacant_house/house'
var moment = require('moment')
export default {
//import引入的组件需要注入到对象中才能使用
components: {},
data() {
    //这里存放数据
    return {
        eqStatus: null,
        listData: [],
        statusObj: {
            0: '正常',
            1: '异常',
            2: '网关离线',
            3: '' //无绑定设备
        },
        statusList: {
            0: "在线",
            1: "离线",
        },
        option:{
            singleHeight: 40,
            autoPlay: false,
        }
        
    };
},
//监听属性 类似于data概念
computed: {
    myoption () {
        return this.option
    },
},
//监控data中的数据变化
watch: {
    // listData(val, oldVal){
    //     console.log("val", val);
    // }
},
//方法集合
methods: {
    init(){
        this.option.autoPlay = false
        getList(this.eqStatus !== null && this.eqStatus !== '' ? { eqStatus: this.eqStatus }: null).then(res => {
            console.log("init", res);
            if(res.code === 200){
                // 手动调用下组件内部的reset方法
                this.$refs.seamlessScroll.reset();
                this.listData = res.data
                if(res.count > 15){
                    this.option.autoPlay = true
                }else{
                    this.option.autoPlay = false
                }
            }
      })
    },

    changeEvent(){
        this.init()
    }
},
//生命周期 - 创建完成（可以访问当前this实例）
created() {

},
//生命周期 - 挂载完成（可以访问DOM元素）
mounted() {
    this.init()

    // 实时告警信息
    pub.$on('gaojing', (data) => { 
        this.listData.forEach((ele,index) => {
            if(ele.id ===  data.data.id){
                // 这样触发不了双向绑定
                // this.listData[index] =  data.data
                // 强制渲染
                // this.$forceUpdate()
                this.listData.splice(index, 1,  data.data);
            }
        })
    })
},
beforeCreate() {}, //生命周期 - 创建之前
beforeMount() {}, //生命周期 - 挂载之前
beforeUpdate() {}, //生命周期 - 更新之前
updated() {}, //生命周期 - 更新之后
beforeDestroy() {}, //生命周期 - 销毁之前
destroyed() {}, //生命周期 - 销毁完成
activated() {}, //如果页面有keep-alive缓存功能，这个函数会触发
}
</script>
<style lang='scss' scoped>
//@import url(); 引入公共css类

.seamless-warp {
    flex: 1;
    overflow: hidden;
}
::v-deep.dv-border-box-8{
    height: calc( 100vh - 182px );
}
::v-deep.dv-border-box-8 .border-box-content{
    display: flex !important;
    flex-direction: column !important;
    overflow: hidden;
}
ul{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px;
    li{
        list-style: none;
        text-align: center;
        line-height: 40px;
        .el-col{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    li:nth-of-type(even){
        background-color: rgba(85,161,203, 0.1);
    }
    li.title{
        color: white;
        // margin: 20px 0 15px 0;
        .el-col{
            // background-color: #55A1CB;
            // padding: 15px 0;
            // margin-right: 2px;
        }
        .el-col:last-of-type{
            // margin-right: 0px;
        }
        .grid-content{
            background-color: #55A1CB;
            // padding: 10px 0;
        }
        .el-col.r{
            color: red;
        }
        .el-col.g{
            color: green;
        }
    }
}

</style>