<template>
  <div class="app-nav">
    <div class="left">
      <div class="top">
        空置房列表
      </div>
      <div class="list my-scrollbar">
        <div v-for="(item,index) in areaList" :key="index" :class="{'li':true,'active':active==item.adCode}" @click="choose(item)">
          {{ item.name }}
        </div>
      </div>
    </div>
    <div class="right">
      <div id="gzsmap" />
        <div class="right-dialog" :style="active == 440100?'':'height:300px'">
        <!-- 报警 -->
        <div style="background-color: white;padding-left: 10px;padding-bottom: 10px;">
          <p style="line-height: 30px;font-weight: 900;">房屋报警统计{{ echartTitle }}</p>
          <div id="echarts1" />
        </div>
        <!-- 房屋 -->
        <div style="background-color: white;margin-top: 10px;padding-left: 10px;padding-bottom: 10px;" v-show="active == 440100">
          <p style="line-height: 30px;font-weight: 900;">房屋数量统计{{ echartTitle }}</p>
          <div id="echarts2" />
        </div>
        <!-- 巡检 -->
        <div style="background-color: white;margin-top: 10px;padding-left: 10px;padding-bottom: 10px;">
          <p style="line-height: 30px;font-weight: 900;">巡检数量统计{{ echartTitle }}</p>
          <div id="echarts3" />
        </div>
        <!-- 告警信息表 -->
        <div class="warnTable">
          <div class="headli">
            <div class="title">安置房报警信息{{ active == 440100?'(广州市)': echartTitle}}</div>
            <div class="more" @click="goMore">更多<i class="el-icon-arrow-right" /></div>
          </div>
          <div class="tablebox">
            <!-- <vxe-table
              ref="dialogTable"
              border
              resizable
              auto-resize
              sync-resize
              height="auto"
              :loading="loading"
              :data="tableData"
              align="center">
              <vxe-table-column field="location" width="110" show-overflow title="房屋地址" />
              <vxe-table-column field="smokeStatus" title="烟感">
                <template #default="{ row }">
                  <div :style="row.smokeStatus==0?'color: #6ADC7C;':'color:#FA4040;'">{{ row.smokeStatus==0?'正常':'异常' }}</div>
                </template>
              </vxe-table-column>
              <vxe-table-column field="enterStatus" title="入侵">
                <template #default="{ row }">
                  <div :style="row.enterStatus==0?'color: #6ADC7C;':'color:#FA4040;'">{{ row.enterStatus==0?'正常':'异常' }}</div>
                </template>
              </vxe-table-column>
              <vxe-table-column field="infraredStatus" title="红外">
                <template #default="{ row }">
                  <div :style="row.infraredStatus==0?'color: #6ADC7C;':'color:#FA4040;'">{{ row.infraredStatus==0?'正常':'异常' }}</div>
                </template>
              </vxe-table-column>
              <vxe-table-column field="imprinterStatus" title="刷卡器">
                <template #default="{ row }">
                  <div :style="row.imprinterStatus==0?'color: #6ADC7C;':'color:#FA4040;'">{{ row.imprinterStatus==0?'正常':'异常' }}</div>
                </template>
              </vxe-table-column>
              <template #empty>
                <span style="color: red;">
                  <p>没有更多数据了！</p>
                </span>
              </template>
            </vxe-table> -->
            <vxe-table
              ref="dialogTable"
              border
              resizable
              auto-resize
              sync-resize
              height="auto"
              :loading="loading"
              :data="tableData"
              align="center">
              <vxe-table-column field="location" show-overflow title="房屋地址" />
              <vxe-table-column field="warnType" title="报警类型"></vxe-table-column>
              <vxe-table-column field="warnTime" title="报警时间"></vxe-table-column>
              <template #empty>
                <span style="color: red;">
                  <p>没有更多数据了！</p>
                </span>
              </template>
            </vxe-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import pub from './bus.js'
import { mapGetters } from 'vuex'
import { getListSysArea,getAreaMonth, getAreaHouseIdList, getAreaWarnHouseIdList,getVillageWeekCount, getVillageWarnWeekCount, getPlotWarn } from '@/api/vacant_house/eq.js'
import { getNum, getWarnNum, getListSysVillageByAreaId, getHouseNum, getWarnHistory, getByVillageId } from '@/api/vacant_house/house'
import AMap from 'AMap'
import AMapUI from 'AMapUI'
import * as echarts from 'echarts'
export default {
  name: 'Dashboard',
  inject: ['reload'],
  data() {
    return {
      currentAreaId: 0,
      active: '440100', // 广州的
      areaList: [],
      areaList2: [],
      map: null,
      colors: [
        '#3366cc', '#dc3912', '#ff9900', '#109618', '#990099', '#0099c6', '#dd4477', '#66aa00',
        '#b82e2e', '#316395', '#994499', '#22aa99', '#aaaa11', '#6633cc', '#e67300', '#8b0707',
        '#651067', '#329262', '#5574a6', '#3b3eac'
      ],
      districtExplorer: null,
      // 当前聚焦的区域
      currentAreaNode: null,
      // 弹窗信息
      infoWindow: null,
      // 标点
      marker: null,
      matkList: null,
      areaData: {
        village: null,
        house: null,
        area: null
      },
      polygon: null,
      cityData: null,
      cityData2: null,
      tableData: JSON.parse(localStorage.getItem('SSGJ')).slice(0, 3),
      tablePage: {
        current: 1,
        size: 3,
        status: 1,
        areaId: null,
        areaName: null,
        villageName: null,
      },
      loading: false,
      echartTitle: '(广州市)',
      vAId: null
    }
  },
  computed: {
    ...mapGetters([
      'name'
    ])
  },
  watch: {
    cityData(newVal) {
      this.cityEcharts(newVal)
    },
    cityData2(newVal) {
      this.cityEcharts2(newVal)
    },
    currentAreaId(val, oldVal){
      if(val == 0){
        // 广州市
        this.echartTitle = '(广州市) '
        getAreaMonth().then(res => {
          console.log("广州市的巡检信息", res)
          this.cityEcharts3(res)
        })
        // 获取告警信息
        getWarnNum().then(res => {
          this.cityData = res
        })
        this.tableData = JSON.parse(localStorage.getItem('SSGJ')).slice(0, 3)
      }else if( val != null){
        // 区属
        this.areaList.forEach(ele => {
            if(ele.adCode == this.active){
              this.echartTitle = '(' + ele.name + ')'
            }
          })
        getAreaHouseIdList({aeId: val}).then(res => {
          console.log("区属按周查巡检信息", res)
          this.cityEcharts3(res)
        })
        getAreaWarnHouseIdList({aeId: val}).then(res => {
          console.log("区属按周查告警信息", res)
          this.cityEcharts(res)
        })
        this.tableData = JSON.parse(localStorage.getItem('SSGJ')).slice(0, 3)
      }else{
        // 小区
        this.echartTitle = '(' + this.tablePage.villageName + '小区)'
        getVillageWeekCount({vAId: this.vAId}).then(res => {
          console.log("小区按周查巡检信息", res)
          this.cityEcharts3(res)
        })
        getVillageWarnWeekCount({vAId: this.vAId}).then(res => {
          console.log("小区按周查告警信息", res)
          this.cityEcharts(res)
        })
        // 实时告警信息
        getPlotWarn({villageId: this.vAId}).then(res => {
          console.log("小区最新告警记录", res)
          this.tableData = res.data.warn.slice(0, 3)
        })
      }
    },
  },
  created() {
    this.init()
  },
  mounted() {
    this.initMap()

    // 实时告警信息
    pub.$on('SSGJ', (data) => { 
        console.log("SSGJ", data.ssgjData)
        if(this.tableData == null){
          this.tableData = []
        }
        if(this.currentAreaId == data.ssgjData.areaId || this.currentAreaId == 0){
          localStorage.removeItem('SSGJ');
          this.tableData.unshift(data.ssgjData)
          this.tableData = this.tableData.slice(0, 3)
          localStorage.setItem('SSGJ', JSON.stringify(this.tableData.slice(0, 3)));
        }
    })

    
  },
  methods: {
    // 左边区属
    async choose(item) {
      // 点击区筛选区的告警信息
      console.log("点击区属1", item);
      // 切换 adCode 市/区
      this.active = item.adCode
      // 切换聚焦区域
      this.switch2AreaNode(item.adCode)
      this.matkList.clearData()
      // this.tablePage.areaId = item.id
      // 查询区的告警信息
      this.tablePage.villageName = null
      this.tablePage.areaName = item.name
      this.getWarnHistory_api()
      // 点击左边的筛选--按周查巡检信息 
      this.currentAreaId = item.id
    },
    async init() {
      this.getListSysArea_api()
      this.getWarnNum_api()
      // this.getWarnHistory_api()
      // 广州市的巡检信息  this.currentAreaId == 0
      await getAreaMonth().then(res => {
        console.log("广州市的巡检信息", res)
        this.cityEcharts3(res)
      })

    },
     // echart 图表数据
    getWarnNum_api() {
      // 获取告警信息
      getWarnNum().then(res => {
        // console.log("各区报警",res);
        this.cityData = res
      })
      // 获取房屋数量
      getHouseNum().then(res => {
        // console.log("各区房屋",res);
        this.cityData2 = res
      })
    },
    // 告警信息表
    getWarnHistory_api() {
      this.loading = true
      getWarnHistory(this.tablePage).then(res => {
        // console.log("查询的告警信息表数据", res);
        this.tableData = res.data
        this.loading = false
      })
    },
    // 左边区域信息
    getListSysArea_api() {
      getListSysArea({ current: 1, size: 20 }).then(res => {
        console.log("左边区域信息", res);
        this.areaList = res.data.records
        this.areaList2 = res.data.records
        this.areaList.unshift({
          adCode: "440100",
          center: "",
          cityCode: "020",
          name: "广州市",
          id: 0,
        })
      })
    },
    // 根据区属获取小区/房屋总数
    getNum_api(record) {
      getNum(record.id).then(res => {
        // console.log("根据区属获取小区/房屋总数", res);
        this.areaData = res.data
        this.matkList.openInfoWindowOnRecord(record)
      })
    },
    // 获取小区房屋信息
    getByVillageId_api(record) {
      getByVillageId(record.id).then(res => {
        // console.log("获取小区房屋信息", res);
        this.areaData = res.data
        this.matkList.openInfoWindowOnRecord(record)
      })
    },
    initMap() {
      // this.reload()
      const that = this
      that.map = new AMap.Map('gzsmap', {
        zoom: 4,
        resizeEnable: true // 是否监控地图容器尺寸变化
      })
      AMapUI.load(['ui/geo/DistrictExplorer', 'ui/overlay/SimpleInfoWindow', 'ui/overlay/SimpleMarker', 'ui/misc/MarkerList', 'lib/$'], function(DistrictExplorer, SimpleInfoWindow, SimpleMarker, MarkerList, $) {
        // 创建一个实例
        that.districtExplorer = new DistrictExplorer({
          eventSupport: true, // 打开事件支持
          map: that.map
        })

        that.matkList = new MarkerList({
          // 关联的map对象
          map: that.map,
          // 需要监听的marker事件
          markerEvents: ['click', 'mouseover', 'mouseout'],
          // 返回数据项的Id
          getDataId: function(dataItem, index) {
            // console.log("返回数据项的Id", dataItem);
            // index表示该数据项在数组中的索引位置，从0开始，如果确实没有id，可以返回index代替
            return dataItem.id
          },
          // 返回数据项的位置信息
          getPosition: function(dataItem) {
            // console.log("返回数据项的位置信息", dataItem);
            return dataItem.center.split(',')
          },
          // 返回数据项对应的Marker
          getMarker: function(dataItem, context, recycledMarker) {
            let mySrc 
            if(dataItem.cityCode == '020'){
              // 区属
              mySrc = 'https://ismart.loongtek.cn/image/tar/bule.png'
            }else{
              // 小区
              mySrc = dataItem.type == 0 ? 'https://ismart.loongtek.cn/image/tar/bule.png' : 'https://ismart.loongtek.cn/image/tar/red.png'
            }
            // 返回一个新的Marker   https://www.jianshu.com/p/18417d32e205
            return new SimpleMarker({
              containerClassNames: 'my-marker',
              // 图标前景文字
              iconLabel: '',
              // 背景图标样式
              iconStyle: {
                src: mySrc,
                style:{
                  width: '30px',
                  height: '30px'
                }
              }
              // showPositionPoint: {
              //   color: myColor,
              //   radius: 5
              // }
            })
          },
          // 返回数据项对应的infoWindow 信息窗体
          getInfoWindow: function(dataItem, context, recycledInfoWindow) {
            // 返回一个新的InfoWindow
            console.log("this.areaData", that.areaData)
            let str = null
            if (that.active + '' === '440100') {
              str = `<div style="width: 250px;background-color: white;border-radius: 5px;line-height: 30px;position:relative;box-shadow: 5px 5px 10px #999;">
                        <el-card class="box-card">
                            <div slot="header" class="clearfix" style="background-color: #1495E7;color: white;padding: 5px 10px;display: flex;">
                                <span style="flex: 1;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">${dataItem.name}</span>
                                <el-button style="float: right;padding: 0 0 0 15px;color: white;" type="text" @click="closeInfoWindow">X</el-button>
                            </div>
                            <div>
                                <div class="text item"><b>小区数量</b> : ${that.areaData.village}(个)</div>
                                <div class="text item"><b>房屋数量</b> : ${that.areaData.house}(套)</div>
                                <div class="text item"><b>总面积</b> : ${that.areaData.area}(m²)</div>
                            </div>
                        </el-card>
                        <em style="display:block; border-width:18px; position:absolute; bottom:-30px; left:105px;border-style:solid dashed dashed; border-color:white transparent transparent;font-size:0; line-height:0;"></em>
                    </div>`
            } else {
              str = `<div style="width: 250px;background-color: white;border-radius: 5px;line-height: 30px;position:relative;box-shadow: 5px 5px 10px #999;">
                        <el-card class="box-card">
                            <div slot="header" class="clearfix" style="background-color: #1495E7;color: white;padding: 5px 10px;display: flex;">
                                <span style="flex: 1;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">${dataItem.name}</span>
                                <el-button style="float: right;padding: 0 0 0 15px;color: white;" type="text" @click="closeInfoWindow">X</el-button>
                            </div>
                            <div>
                                <div class="text item"><b>状态</b> : ${that.areaData.type == 0 ? '<span style="color: green;">正常</span>' : '<span style="color: red;">异常</span>'} </div>
                                <div class="text item"><b>地址</b> : ${dataItem.location} </div>
                                <div class="text item"><b>房屋数量</b> : ${that.areaData.house}(套)</div>
                                <div class="text item"><b>总面积</b> : ${that.areaData.area}(m²)</div>
                                ${that.areaData.type == 1 ? `
                                  <div class="text item"><b>报警信息</b> :  </div>
                                  <div style="color: red">
                                  ${that.areaData.warn.warnType}</br>
                                  ${that.areaData.warn.warnTime}</br>
                                  ${that.areaData.warn.location}</br>
                                  </div>
                                ` : ''}
                            </div>
                        </el-card>
                        <em style="display:block; border-width:18px; position:absolute; bottom:-30px; left:105px;border-style:solid dashed dashed; border-color:white transparent transparent;font-size:0; line-height:0;"></em>
                    </div>`
            }
            let infoWindow = new AMap.InfoWindow({
              isCustom: true, 
              offset: new AMap.Pixel(0, -20),
              content: str
            })
            // 因为窗体内容中的点击事件不起效，所以用这种方式
            let infoContent = Vue.extend({
                template: str,
                methods:{
                    closeInfoWindow(){
                        // 关闭信息窗体
                        infoWindow.close();
                    },
                }
            })
            let component = new infoContent().$mount();

            // 追加自定义窗体内容
            infoWindow.setContent(component.$el);
            that.$nextTick(() => {
                document.getElementsByClassName('el-card__header')[0].style.padding = '0px';
            })

            return infoWindow;
          }
        })
        that.matkList.on('markerClick', function(event, record) {
          console.log('点击区属/小区的 marker 节点', that.active, record)
          if (that.active + '' === '440100') {
            // 点击区属的 marker 
            that.active = record.data.adCode
            that.tablePage.villageName = null
            // 查询区属的告警信息
            that.getWarnHistory_api()
            // 巡检信息
            that.currentAreaId = record.data.id
          } else {
            // 点击小区的 marker  
            that.active = 'village'
            that.tablePage.villageName = record.data.name
            // 查询小区的告警信息
            that.getWarnHistory_api()
            // 巡检信息的title
            that.currentAreaId = null
            that.vAId = record.data.id
            
          }
        })
        that.matkList.on('markerMouseover', function(event, record) {
          // console.log('markerMouseover')
          if (that.active + '' === '440100') {
            // 获取区属房屋/小区数量
            that.getNum_api(record)
          } else {
            // 获取小区房屋数量  此时的 active 的 adCode 已经是区属的 adCode 了
            that.getByVillageId_api(record)
          }
        })
        that.matkList.on('markerMouseout', function(event, record) {
          // console.log('markerMouseout')
          that.matkList.closeInfoWindow()
        })
        // feature被点击
        that.districtExplorer.on('featureClick', function(e, feature) {
          console.log("点击区属2", feature);
          var props = feature.properties
          that.active = props.adcode
          that.areaList.forEach(ele => {
            if(ele.adCode == props.adcode){
              that.currentAreaId = ele.id
            }
          })
          // 清除
          // 如果存在子节点
          // if (props.childrenNum > 0) {
          // 切换聚焦区域
          that.$nextTick(() => {
            // if(that.active == 440100){
            //   that.switch2AreaNode(props.adcode)
            // }else{
            //   console.log("已经是区属了");
            // }
            that.switch2AreaNode(props.adcode)
            
          })
          
          that.tablePage.areaId = that.areaList.find(o => o.adCode === props.adcode + '').id
          that.getWarnHistory_api()
          // }
        })
        // 外部区域被点击
        that.districtExplorer.on('outsideClick', function(e) {
          console.log("外部区域被点击");
          that.currentAreaId = 0
          that.districtExplorer.locatePosition(e.originalEvent.lnglat, function(routeFeatures) {
            if (routeFeatures && routeFeatures.length > 1) {
              // 切换到省级区域
              that.switch2AreaNode(routeFeatures[1].properties.adcode)
              that.active = 440100
            } else {
              // 切换到广州
              that.switch2AreaNode(440100)
              that.active = 440100
            }
            that.tablePage.areaId = null
            that.getWarnHistory_api()
          }, {
            levelLimit: 2
          })
        })
        // 广州市
        that.switch2AreaNode(440100)
      })
    },

    // 加载区域
    loadAreaNode(adcode, callback) {
      const that = this
      that.districtExplorer.loadAreaNode(adcode, function(error, areaNode) {
        if (error) {
          if (callback) {
            callback(error)
          }
          console.error(error)
          return
        }

        if (callback) {
          callback(null, areaNode)
        }
      })
    },
    // 切换聚焦区域
    async switch2AreaNode(adcode, callback) {
      const that = this
      let bData = null
      if (adcode + '' === '440100') {
        bData = await getListSysArea({ current: 1, size: 20 })
      } else {
        const id = that.areaList.find(o => o.adCode === adcode + '').id
        // 获取小区的信息及经纬度坐标
        bData = await getListSysVillageByAreaId({ current: 1, size: 155, areaId: id })
        console.log("获取小区的信息及经纬度坐标", bData);
      }
      that.matkList.render(bData.data.records)
      if (that.currentAreaNode && ('' + that.currentAreaNode.getAdcode() === '' + adcode)) {
        return
      }
      that.loadAreaNode(adcode, function(error, areaNode) {
        if (error) {
          if (callback) {
            callback(error)
          }
          return
        }
        that.currentAreaNode = window.currentAreaNode = areaNode
        // 设置当前使用的定位用节点
        that.districtExplorer.setAreaNodesForLocating([that.currentAreaNode])
        that.districtExplorer.setHoverFeature(null)
        that.renderAreaPolygons(areaNode)
        if (callback) {
          callback(null, areaNode)
        }
      })
    },
    // 绘制某个区域的边界
    renderAreaPolygons(areaNode) {
      const that = this
      // 更新地图视野
      that.map.setBounds(areaNode.getBounds(), null, null, true)
      // 设置Map的限制区域
      that.map.setLimitBounds(areaNode.getBounds())
      // 清除已有的绘制内容
      that.districtExplorer.clearFeaturePolygons()
      // 绘制子区域
      that.districtExplorer.renderSubFeatures(areaNode, function(feature, i) {
        var fillColor = that.colors[i % that.colors.length]
        var strokeColor = that.colors[that.colors.length - 1 - i % that.colors.length]
        return {
          cursor: 'default',
          bubble: true,
          strokeColor: strokeColor, // 线颜色
          strokeOpacity: 0.1, // 线透明度
          strokeWeight: 1, // 线宽
          fillColor: fillColor, // 填充色
          fillOpacity: 0.35 // 填充透明度
        }
      })
      // 绘制父区域
      that.districtExplorer.renderParentFeature(areaNode, {
        cursor: 'default',
        bubble: true,
        strokeColor: 'black', // 线颜色
        strokeOpacity: 0.1, // 线透明度
        strokeWeight: 1, // 线宽
        fillColor: areaNode.getSubFeatures().length ? null : that.colors[0], // 填充色
        fillOpacity: 0.35 // 填充透明度
      })
    },
    // 市级echarts
    cityEcharts(data) {
      let nameList = [],
          countList = []
      if(this.currentAreaId == 0){
          // 广州市
          data.forEach(ele => {
            nameList.push(ele.name)
            countList.push(ele.count)
          })
        }else if(this.currentAreaId != null){
          countList = data.listCount
          nameList = data.listDate
        }else{
          countList = data.listCount
          nameList = data.listDate
        }
      // 基于准备好的dom，初始化echarts实例
      const myChart = echarts.init(document.getElementById('echarts1'))
      const option = {
        // title: {
        //   text: '广州市各区房屋报警统计'
        // },
        grid: {
          // top: 40,
          top: 10,
          bottom: 40,
          right: 10
        },
        xAxis: {
          data: nameList,
          axisLabel: {
            // inside: true,
            rotate: 30,
            textStyle: {
              // color: '#fff'
              fontSize: 11
            }
          },
          axisTick: {
            show: false
          },
          axisLine: {
            show: false
          },
          z: 10
        },
        yAxis: {
          axisLine: {
            show: false
          },
          axisTick: {
            show: false
          },
          axisLabel: {
            textStyle: {
              color: '#999'
            }
          }
        },
        dataZoom: [
          {
            type: 'inside'
          }
        ],
        series: [
          {
            type: 'bar',
            showBackground: true,
            itemStyle: {
              color: new echarts.graphic.LinearGradient(
                0, 0, 0, 1,
                [
                  { offset: 0, color: '#FFD0D0' },
                  { offset: 1, color: '#EE6161' }
                ]
              )
            },
            emphasis: {
              itemStyle: {
                color: new echarts.graphic.LinearGradient(
                  0, 0, 0, 1,
                  [
                    { offset: 0, color: '#EE6161' },
                    { offset: 1, color: '#FFD0D0' }
                  ]
                )
              }
            },
            data: countList
          }
        ]
      }
      myChart.setOption(option, true)
    },
    cityEcharts2(data) {
      let nameList = [],
          countList = []
      data.forEach(ele => {
          nameList.push(ele.name)
          countList.push(ele.count)
        })
      
      // 基于准备好的dom，初始化echarts实例
      const myChart = echarts.init(document.getElementById('echarts2'))
      const option = {
        // title: {
        //   text: '广州市各区房屋数量统计'
        // },
        grid: {
          top: 10,
          bottom: 40,
          right: 10
        },
        xAxis: {
          data: nameList,
          axisLabel: {
            // inside: true,
            rotate:30,
            textStyle: {
              // color: '#fff'
              fontSize: 11
            }
          },
          axisTick: {
            show: false
          },
          axisLine: {
            show: false
          },
          z: 10
        },
        yAxis: {
          axisLine: {
            show: false
          },
          axisTick: {
            show: false
          },
          axisLabel: {
            textStyle: {
              color: '#999'
            }
          }
        },
        dataZoom: [
          {
            type: 'inside'
          }
        ],
        series: [
          {
            type: 'bar',
            showBackground: true,
            itemStyle: {
              color: new echarts.graphic.LinearGradient(
                0, 0, 0, 1,
                [
                  { offset: 0, color: '#83bff6' },
                  { offset: 0.5, color: '#188df0' },
                  { offset: 1, color: '#188df0' }
                ]
              )
            },
            emphasis: {
              itemStyle: {
                color: new echarts.graphic.LinearGradient(
                  0, 0, 0, 1,
                  [
                    { offset: 0, color: '#2378f7' },
                    { offset: 0.7, color: '#2378f7' },
                    { offset: 1, color: '#83bff6' }
                  ]
                )
              }
            },
            data: countList
          }
        ]
      }
      myChart.setOption(option, true)
    },
    cityEcharts3(data) {
        let nameList = [],
              countList = []
        if(this.currentAreaId == 0){
          // 广州市
          data.forEach(ele => {
            nameList.push(ele.name)
            countList.push(ele.count)
          })
        }else if(this.currentAreaId != null){
          // 区属
          countList = data.listCount
          nameList = data.listDate
        }else{
          // 小区
          countList = data.listCount
          nameList = data.listDate
        }
        // 基于准备好的dom，初始化echarts实例
        const myChart = echarts.init(document.getElementById('echarts3'))
        var data2 = countList;
        var json2 = {
            chart0: {
                xcategory: nameList,
                low: data2,
                lowLine: [],
            },
        };
        var option = {
            backgroundColor: '#fff',
            // title: {
            //   text: this.echartTitle
            // },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    lineStyle: {
                        color: '#15ecf4',
                    },
                },
                backgroundColor: 'rgba(0,0,0,.8)',
                extraCssText: 'box-shadow: 4px 4px 10px rgba(21, 250, 255,.6);',
                formatter: function (params) {
                    var result = params[0].name + '<br>';
                    params.forEach(function (item) {
                        result = item.data;
                    });
                    return result;
                },
            },
            grid: {
              // top: 40,
              top: 10,
              bottom: 40,
              right: 10
            },
            xAxis: {
              data: nameList,
              axisLabel: {
                // inside: true,
                rotate:30,
                textStyle: {
                  // color: '#fff'
                  fontSize: 11
                }
              },
              axisTick: {
                show: true
              },
              axisLine: {
                show: true
              },
              z: 10
            },
            yAxis: {
                // max: 100,
                // splitNumber: 4,
                // interval: 25,
                axisLine: {
                    show: true,
                },
                axisTick: {
                    show: true,
                },
                splitLine: {
                    lineStyle: {
                        type: 'dashed',
                        color: '#bbb',
                    },
                },
                axisLabel: {
                    formatter: '{value}',
                    textStyle: {
                        //改变刻度字体样式
                        color: '#000',
                    },
                },
            },
            
            series: [
                {
                    name: '',
                    type: 'line',
                    symbol: 'circle',
                    symbolSize: 10,
                    areaStyle: {
                        normal: {
                            color: new echarts.graphic.LinearGradient(
                                0,
                                0,
                                0,
                                1,
                                [
                                    {
                                        offset: 0,
                                        color: 'rgba(21, 250, 255,.9)',
                                    },
                                    {
                                        offset: 0.8,
                                        color: 'rgba(6, 8, 41,.1)',
                                    },
                                ],
                                false
                            ),
                            shadowColor: 'rgba(0, 0, 0, 0.1)',
                            shadowBlur: 10,
                        },
                    },
                    itemStyle: {
                        normal: {
                            color: '#15faff',
                        },
                    },
                    data: data2,
                }
            ],
        };

        myChart.setOption(option, true)
    },
    goMore() {
      this.$router.push({ name: 'warn1' })
    },
    getData(data){
      console.log("index", data);
    }
  }
}
</script>

<style lang="scss" scoped>
.app{
  &-nav{
    display: flex;
    flex-direction: row;
    .left{
      flex: 1;
      margin-right: 20px;
      background-color: white;
      border-radius: 5px;
      .top{
        height: 50px;
        text-align: center;
        line-height: 50px;
        color: white;
        background-color: rgba(80, 89, 118, 100);
        font-size: 18px;
        border-radius: 5px 5px 0 0 ;
        font-weight: 600;
      }
      .list{
        padding: 20px;
        max-height: calc(100% - 50px);
        .li{
          height: 45px;
          text-align: center;
          line-height: 45px;
          border: 2px solid rgba(229, 229, 229, 100);
          border-radius: 5px;
          color: rgba(132, 132, 132, 100);
          margin-bottom: 20px;
          &:hover{
            cursor: pointer;
          }
        }
        .active{
          border: 2px solid rgba(80, 89, 118, 100);
          color: rgba(80, 89, 118, 100);
        }
      }
    }
    .right{
      flex: 6;
      background-color: white;
      border-radius: 5px;
      position: relative;
      box-sizing: border-box;
      border: 2px solid white;
      #gzsmap{
        width: 100%;
        height: 100%;
      }
      .right-dialog{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 400px;
        height: calc( 100% - 20px);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        #echarts1, #echarts2, #echarts3{
          // flex: 1;
          height: 140px;
          background-color: white;
        }
        .warnTable{
          margin-top: 10px;
          padding: 10px;
          flex: 1;
          background-color: white;
          display: flex;
          flex-direction: column;
          .headli{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .title{
              font-weight: 600;
              font-size: 18.5px;
              color: #464646;
              // 单行溢出省略号
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
            .more{
              font-size: 14px;
              &:hover{
                cursor: pointer;
                color: #83bff6;
              }
            }
          }
          .tablebox{
            margin-top: 15px;
            flex: 1;
          }
        }
      }
    }
  }
}
::v-deep.vxe-table--render-default .vxe-body--column:not(.col--ellipsis), .vxe-table--render-default .vxe-footer--column:not(.col--ellipsis), .vxe-table--render-default .vxe-header--column:not(.col--ellipsis){
  padding: 6px 0;
}
</style>
