<template>
  <div class="app-nav">
    <div class="left">
      <div class="top">
        空置房列表
      </div>
      <div class="list my-scrollbar">
        <div v-for="(item,index) in areaList" :key="index" :class="{'li':true,'active':active==item.adCode}" @click="choose(item)">
          {{ item.name }}
        </div>
      </div>
    </div>
    <div class="right">
      <div id="gzsmap" />
        <div class="right-dialog" :style="active == 440100?'':'height:300px'">
        <div v-show="active == 440100" id="echarts1" />
        <div v-show="active == 440100" id="echarts2" />
        <div class="warnTable">
          <div class="headli">
            <div class="title">安置房报警信息{{ active == 440100?'(市)':'(区)' }}</div>
            <div class="more" @click="goMore">更多<i class="el-icon-arrow-right" /></div>
          </div>
          <div class="tablebox">
            <vxe-table
              ref="dialogTable"
              border
              resizable
              auto-resize
              sync-resize
              height="auto"
              :loading="loading"
              :data="tableData"
              align="center">
              <vxe-table-column field="location" width="110" show-overflow title="房屋地址" />
              <vxe-table-column field="smokeStatus" title="烟感">
                <template #default="{ row }">
                  <div :style="row.smokeStatus==0?'color: #6ADC7C;':'color:#FA4040;'">{{ row.smokeStatus==0?'正常':'异常' }}</div>
                </template>
              </vxe-table-column>
              <vxe-table-column field="enterStatus" title="入侵">
                <template #default="{ row }">
                  <div :style="row.enterStatus==0?'color: #6ADC7C;':'color:#FA4040;'">{{ row.enterStatus==0?'正常':'异常' }}</div>
                </template>
              </vxe-table-column>
              <vxe-table-column field="infraredStatus" title="红外">
                <template #default="{ row }">
                  <div :style="row.infraredStatus==0?'color: #6ADC7C;':'color:#FA4040;'">{{ row.infraredStatus==0?'正常':'异常' }}</div>
                </template>
              </vxe-table-column>
              <vxe-table-column field="imprinterStatus" title="刷卡器">
                <template #default="{ row }">
                  <div :style="row.imprinterStatus==0?'color: #6ADC7C;':'color:#FA4040;'">{{ row.imprinterStatus==0?'正常':'异常' }}</div>
                </template>
              </vxe-table-column>
              <template #empty>
                <span style="color: red;">
                  <!-- <img :src="require('@/assets/yellowduck.gif')"> -->
                  <p>没有更多数据了！</p>
                </span>
              </template>
            </vxe-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import pub from './bus.js'
import { mapGetters } from 'vuex'
import { getListSysArea } from '@/api/vacant_house/eq.js'
import { getNum, getWarnNum, getListSysVillageByAreaId, getHouseNum, getWarnHistory, getByVillageId } from '@/api/vacant_house/house'
import AMap from 'AMap'
import AMapUI from 'AMapUI'
import * as echarts from 'echarts'
export default {
  name: 'Dashboard',
  inject: ['reload'],
  data() {
    return {
      active: '440100', // 广州的
      areaList: [],
      areaList2: [],
      map: null,
      colors: [
        '#3366cc', '#dc3912', '#ff9900', '#109618', '#990099', '#0099c6', '#dd4477', '#66aa00',
        '#b82e2e', '#316395', '#994499', '#22aa99', '#aaaa11', '#6633cc', '#e67300', '#8b0707',
        '#651067', '#329262', '#5574a6', '#3b3eac'
      ],
      districtExplorer: null,
      // 当前聚焦的区域
      currentAreaNode: null,
      // 弹窗信息
      infoWindow: null,
      // 标点
      marker: null,
      matkList: null,
      areaData: {
        village: null,
        house: null,
        area: null
      },
      polygon: null,
      cityData: null,
      cityData2: null,
      tableData: JSON.parse(localStorage.getItem('SSGJ')),
      tablePage: {
        current: 1,
        size: 3,
        status: 1,
        areaId: null
      },
      loading: false
    }
  },
  computed: {
    ...mapGetters([
      'name'
    ])
  },
  watch: {
    cityData(newVal) {
      this.cityEcharts(newVal)
    },
    cityData2(newVal) {
      this.cityEcharts2(newVal)
    }
  },
  created() {
    this.init()
  },
  mounted() {
    this.initMap()

    // 实时告警信息
    pub.$on('SSGJ', (data) => { 
        // console.log("SSGJ", data.ssgjData)
        if(this.tableData == null){
          this.tableData = []
        }
        this.tableData.push(data.ssgjData)
        this.tableData.slice(0, 3)
        localStorage.setItem('SSGJ', JSON.stringify(this.tableData));
    })
  },
  methods: {
    // 左边区属
    choose(item) {
      // 点击区筛选区的告警信息
      console.log("点击区属");
      // 切换 adCode 市/区
      this.active = item.adCode
      // 切换聚焦区域
      this.switch2AreaNode(item.adCode)
      this.matkList.clearData()
      // this.tablePage.areaId = item.id
      // 查询区的告警信息
      this.tablePage.areaName = item.name
      this.getWarnHistory_api()
    },
    init() {
      this.getListSysArea_api()
      this.getWarnNum_api()
      // this.getWarnHistory_api()
    },
     // echart 图表数据
    getWarnNum_api() {
      // 获取告警信息
      getWarnNum().then(res => {
        // console.log("各区报警",res);
        this.cityData = res
      })
      // 获取房屋数量
      getHouseNum().then(res => {
        // console.log("各区房屋",res);
        this.cityData2 = res
      })
    },
    // 告警信息表
    getWarnHistory_api() {
      this.loading = true
      getWarnHistory(this.tablePage).then(res => {
        // console.log("查询的告警信息表数据", res);
        this.tableData = res.data
        this.loading = false
      })
    },
    // 左边区域信息
    getListSysArea_api() {
      getListSysArea({ current: 1, size: 20 }).then(res => {
        // console.log("左边区域信息", res);
        this.areaList = res.data.records
        this.areaList2 = res.data.records
      })
    },
    // 根据区属获取小区/房屋总数
    getNum_api(record) {
      getNum(record.id).then(res => {
        // console.log("根据区属获取小区/房屋总数", res);
        this.areaData = res.data
        this.matkList.openInfoWindowOnRecord(record)
      })
    },
    // 获取小区房屋信息
    getByVillageId_api(record) {
      getByVillageId(record.id).then(res => {
        // console.log("获取小区房屋信息", res);
        this.areaData = res.data
        this.matkList.openInfoWindowOnRecord(record)
      })
    },
    // 获取区级信息
    // getListSysVillageByAreaId_api(id) {
    //   getListSysVillageByAreaId({ current: 1, size: 100, areaId: id }).then(res => {
    //     this.areaList2 = res.data.records
    //   })
    // },
    initMap() {
      // this.reload()
      const that = this
      that.map = new AMap.Map('gzsmap', {
        zoom: 4,
        resizeEnable: true // 是否监控地图容器尺寸变化
      })
      AMapUI.load(['ui/geo/DistrictExplorer', 'ui/overlay/SimpleInfoWindow', 'ui/overlay/SimpleMarker', 'ui/misc/MarkerList', 'lib/$'], function(DistrictExplorer, SimpleInfoWindow, SimpleMarker, MarkerList, $) {
        // 创建一个实例
        that.districtExplorer = new DistrictExplorer({
          eventSupport: true, // 打开事件支持
          map: that.map
        })

        that.matkList = new MarkerList({
          // 关联的map对象
          map: that.map,
          // 需要监听的marker事件
          markerEvents: ['click', 'mouseover', 'mouseout'],
          // 返回数据项的Id
          getDataId: function(dataItem, index) {
            // index表示该数据项在数组中的索引位置，从0开始，如果确实没有id，可以返回index代替
            return dataItem.id
          },
          // 返回数据项的位置信息
          getPosition: function(dataItem) {
            return dataItem.center.split(',')
          },
          // 返回数据项对应的Marker
          getMarker: function(dataItem, context, recycledMarker) {
            // 返回一个新的Marker
            return new SimpleMarker({
              containerClassNames: 'my-marker',
              iconLabel: ''
            })
          },
          // 返回数据项对应的infoWindow 信息窗体
          getInfoWindow: function(dataItem, context, recycledInfoWindow) {
            // 返回一个新的InfoWindow
            let str = null
            const cityStr = `<div class="area-InfoWindow">
                          <div class="li">
                            <span>小区数量：</span><span>${that.areaData.village}(个)</span>
                          </div>
                          <div class="li">
                            <span>房屋数量：</span><span>${that.areaData.house}(套)</span>
                          </div>
                          <div class="li">
                            <span>总面积：</span><span>${that.areaData.area}(m²)</span>
                          </div>
                        </div>`
            const areaStr = `<div class="area-InfoWindow">
                          <div class="li">
                            <span>房屋数量：</span><span>${that.areaData.house}(套)</span>
                          </div>
                          <div class="li">
                            <span>总面积：</span><span>${that.areaData.area}(m²)</span>
                          </div>
                        </div>`
            if (that.active + '' === '440100') {
              str = cityStr
            } else {
              str = areaStr
            }
            return new SimpleInfoWindow({
              offset: new AMap.Pixel(0, -37),
              infoTitle: dataItem.name,
              infoBody: str
            })
          }
        })
        that.matkList.on('markerClick', function(event, record) {
          console.log('点击区属/小区的 marker 节点')
        })
        that.matkList.on('markerMouseover', function(event, record) {
          console.log('markerMouseover')
          if (that.active + '' === '440100') {
            // 获取区属房屋/小区数量
            that.getNum_api(record)
          } else {
            // 获取小区房屋数量  此时的 active 的 adCode 已经是区属的 adCode 了
            that.getByVillageId_api(record)
          }
        })
        that.matkList.on('markerMouseout', function(event, record) {
          console.log('markerMouseout')
          that.matkList.closeInfoWindow()
        })
        // feature被点击
        that.districtExplorer.on('featureClick', function(e, feature) {
          console.log("点击区属");
          // 清除
          var props = feature.properties
          // 如果存在子节点
          // if (props.childrenNum > 0) {
          // 切换聚焦区域
          that.active = props.adcode
          that.switch2AreaNode(props.adcode)
          that.tablePage.areaId = that.areaList.find(o => o.adCode === props.adcode + '').id
          that.getWarnHistory_api()
          // }
        })
        // 外部区域被点击
        that.districtExplorer.on('outsideClick', function(e) {
          console.log("外部区域被点击");
          that.districtExplorer.locatePosition(e.originalEvent.lnglat, function(routeFeatures) {
            if (routeFeatures && routeFeatures.length > 1) {
              // 切换到省级区域
              that.switch2AreaNode(routeFeatures[1].properties.adcode)
              that.active = 440100
            } else {
              // 切换到广州
              that.switch2AreaNode(440100)
              that.active = 440100
            }
            that.tablePage.areaId = null
            that.getWarnHistory_api()
          }, {
            levelLimit: 2
          })
        })
        // 广州市
        that.switch2AreaNode(440100)
      })
    },
    markList_api() {
      const that = this
      AMapUI.load(['ui/overlay/SimpleInfoWindow', 'ui/overlay/SimpleMarker', 'ui/misc/MarkerList', 'lib/$'], function(SimpleInfoWindow, SimpleMarker, MarkerList, $) {
        that.matkList = new MarkerList({
        // 关联的map对象
          map: that.map,
          // 需要监听的marker事件
          markerEvents: ['click', 'mouseover', 'mouseout'],
          // 返回数据项的Id
          getDataId: function(dataItem, index) {
          // index表示该数据项在数组中的索引位置，从0开始，如果确实没有id，可以返回index代替
            return dataItem.id
          },
          // 返回数据项的位置信息
          getPosition: function(dataItem) {
            return dataItem.center.split(',')
          },
          // 返回数据项对应的Marker
          getMarker: function(dataItem, context, recycledMarker) {
          // 返回一个新的Marker
            return new SimpleMarker({
              containerClassNames: 'my-marker',
              iconLabel: ''
            })
          },
          // 返回数据项对应的infoWindow
          getInfoWindow: function(dataItem, context, recycledInfoWindow) {
          // 返回一个新的InfoWindow
            return new SimpleInfoWindow({
              offset: new AMap.Pixel(0, -37),
              infoTitle: dataItem.name,
              infoBody: `<div class="area-InfoWindow">
                          <div class="li">
                            <span>小区数量：</span><span>${that.areaData.village}</span>
                          </div>
                          <div class="li">
                            <span>房屋数量：</span><span>${that.areaData.house}</span>
                          </div>
                        </div>`
            })
          }
        })
        that.matkList.on('markerMouseover', function(event, record) {
          that.getNum_api(record)
        })// markerClick
        that.matkList.on('markerMouseout', function(event, record) {
          that.matkList.openInfoWindowOnRecord()
        })
      })
    },
    // 加载区域
    loadAreaNode(adcode, callback) {
      const that = this
      that.districtExplorer.loadAreaNode(adcode, function(error, areaNode) {
        if (error) {
          if (callback) {
            callback(error)
          }
          console.error(error)
          return
        }

        if (callback) {
          callback(null, areaNode)
        }
      })
    },
    // 切换聚焦区域
    async switch2AreaNode(adcode, callback) {
      const that = this
      let bData = null
      if (adcode + '' === '440100') {
        bData = await getListSysArea({ current: 1, size: 20 })
      } else {
        const id = that.areaList.find(o => o.adCode === adcode + '').id
        bData = await getListSysVillageByAreaId({ current: 1, size: 100, areaId: id })
      }
      that.matkList.render(bData.data.records)
      if (that.currentAreaNode && ('' + that.currentAreaNode.getAdcode() === '' + adcode)) {
        return
      }
      that.loadAreaNode(adcode, function(error, areaNode) {
        if (error) {
          if (callback) {
            callback(error)
          }
          return
        }
        that.currentAreaNode = window.currentAreaNode = areaNode
        // 设置当前使用的定位用节点
        that.districtExplorer.setAreaNodesForLocating([that.currentAreaNode])
        that.districtExplorer.setHoverFeature(null)
        that.renderAreaPolygons(areaNode)
        if (callback) {
          callback(null, areaNode)
        }
      })
    },
    // 绘制某个区域的边界
    renderAreaPolygons(areaNode) {
      const that = this
      // 更新地图视野
      that.map.setBounds(areaNode.getBounds(), null, null, true)
      // 设置Map的限制区域
      that.map.setLimitBounds(areaNode.getBounds())
      // 清除已有的绘制内容
      that.districtExplorer.clearFeaturePolygons()
      // 绘制子区域
      that.districtExplorer.renderSubFeatures(areaNode, function(feature, i) {
        var fillColor = that.colors[i % that.colors.length]
        var strokeColor = that.colors[that.colors.length - 1 - i % that.colors.length]
        return {
          cursor: 'default',
          bubble: true,
          strokeColor: strokeColor, // 线颜色
          strokeOpacity: 0.1, // 线透明度
          strokeWeight: 1, // 线宽
          fillColor: fillColor, // 填充色
          fillOpacity: 0.35 // 填充透明度
        }
      })
      // 绘制父区域
      that.districtExplorer.renderParentFeature(areaNode, {
        cursor: 'default',
        bubble: true,
        strokeColor: 'black', // 线颜色
        strokeOpacity: 0.1, // 线透明度
        strokeWeight: 1, // 线宽
        fillColor: areaNode.getSubFeatures().length ? null : that.colors[0], // 填充色
        fillOpacity: 0.35 // 填充透明度
      })
    },
    initPolygon(city) { // 区域遮盖
      var that = this
      console.log(132)
      if (that.polygon) {
        that.map.remove(that.polygon)
      }
      AMap.plugin('AMap.DistrictSearch', function() {
        new AMap.DistrictSearch({
          extensions: 'all',
          subdistrict: 0
        }).search(city, function(status, result) { // 外多边形坐标数组和内多边形坐标数组
          var outer = [
            new AMap.LngLat(-360, 90, true),
            new AMap.LngLat(-360, -90, true),
            new AMap.LngLat(360, -90, true),
            new AMap.LngLat(360, 90, true)
          ]
          var holes = result.districtList[0].boundaries
          var pathArray = [outer]
          pathArray.push.apply(pathArray, holes)
          that.polygon = new AMap.Polygon({
            pathL: pathArray,
            // strokeColor: 'red', // 城市边界颜色
            // strokeWeight: 3,
            fillColor: '#5149ce', // 遮罩背景色黑色
            fillOpacity: 1
          })
          that.polygon.setPath(pathArray)
          that.map.add(that.polygon)
        })
      })
    },
    // 市级echarts
    cityEcharts(data) {
      let nameList = [],
          countList = []
      data.forEach(ele => {
        nameList.push(ele.name)
        countList.push(ele.count)
      })
      // 基于准备好的dom，初始化echarts实例
      const myChart = echarts.init(document.getElementById('echarts1'))
      const option = {
        title: {
          text: '广州市各区房屋报警统计'
        },
        grid: {
          top: 40,
          bottom: 40,
          right: 10
        },
        xAxis: {
          data: nameList,
          axisLabel: {
            // inside: true,
            rotate: 60,
            textStyle: {
              // color: '#fff'
              fontSize: 11
            }
          },
          axisTick: {
            show: false
          },
          axisLine: {
            show: false
          },
          z: 10
        },
        yAxis: {
          axisLine: {
            show: false
          },
          axisTick: {
            show: false
          },
          axisLabel: {
            textStyle: {
              color: '#999'
            }
          }
        },
        dataZoom: [
          {
            type: 'inside'
          }
        ],
        series: [
          {
            type: 'bar',
            showBackground: true,
            itemStyle: {
              color: new echarts.graphic.LinearGradient(
                0, 0, 0, 1,
                [
                  { offset: 0, color: '#FFD0D0' },
                  { offset: 1, color: '#EE6161' }
                ]
              )
            },
            emphasis: {
              itemStyle: {
                color: new echarts.graphic.LinearGradient(
                  0, 0, 0, 1,
                  [
                    { offset: 0, color: '#EE6161' },
                    { offset: 1, color: '#FFD0D0' }
                  ]
                )
              }
            },
            data: countList
          }
        ]
      }
      myChart.setOption(option, true)
    },
    cityEcharts2(data) {
      let nameList = [],
          countList = []
      data.forEach(ele => {
        nameList.push(ele.name)
        countList.push(ele.count)
      })
      // 基于准备好的dom，初始化echarts实例
      const myChart = echarts.init(document.getElementById('echarts2'))
      const option = {
        title: {
          text: '广州市各区房屋数量统计'
        },
        grid: {
          top: 40,
          bottom: 40,
          right: 10
        },
        xAxis: {
          data: nameList,
          axisLabel: {
            // inside: true,
            rotate: 60,
            textStyle: {
              // color: '#fff'
              fontSize: 11
            }
          },
          axisTick: {
            show: false
          },
          axisLine: {
            show: false
          },
          z: 10
        },
        yAxis: {
          axisLine: {
            show: false
          },
          axisTick: {
            show: false
          },
          axisLabel: {
            textStyle: {
              color: '#999'
            }
          }
        },
        dataZoom: [
          {
            type: 'inside'
          }
        ],
        series: [
          {
            type: 'bar',
            showBackground: true,
            itemStyle: {
              color: new echarts.graphic.LinearGradient(
                0, 0, 0, 1,
                [
                  { offset: 0, color: '#83bff6' },
                  { offset: 0.5, color: '#188df0' },
                  { offset: 1, color: '#188df0' }
                ]
              )
            },
            emphasis: {
              itemStyle: {
                color: new echarts.graphic.LinearGradient(
                  0, 0, 0, 1,
                  [
                    { offset: 0, color: '#2378f7' },
                    { offset: 0.7, color: '#2378f7' },
                    { offset: 1, color: '#83bff6' }
                  ]
                )
              }
            },
            data: countList
          }
        ]
      }
      myChart.setOption(option, true)
    },
    goMore() {
      this.$router.push({ name: 'warn1' })
    },
    getData(data){
      console.log("index", data);
    }
  }
}
</script>

<style lang="scss" scoped>
.app{
  &-nav{
    display: flex;
    flex-direction: row;
    .left{
      flex: 1;
      margin-right: 20px;
      background-color: white;
      border-radius: 5px;
      .top{
        height: 50px;
        text-align: center;
        line-height: 50px;
        color: white;
        background-color: rgba(80, 89, 118, 100);
        font-size: 18px;
        border-radius: 5px 5px 0 0 ;
        font-weight: 600;
      }
      .list{
        padding: 20px;
        max-height: calc(100% - 50px);
        .li{
          height: 45px;
          text-align: center;
          line-height: 45px;
          border: 2px solid rgba(229, 229, 229, 100);
          border-radius: 5px;
          color: rgba(132, 132, 132, 100);
          margin-bottom: 20px;
          &:hover{
            cursor: pointer;
          }
        }
        .active{
          border: 2px solid rgba(80, 89, 118, 100);
          color: rgba(80, 89, 118, 100);
        }
      }
    }
    .right{
      flex: 6;
      background-color: white;
      border-radius: 5px;
      position: relative;
      box-sizing: border-box;
      border: 2px solid white;
      #gzsmap{
        width: 100%;
        height: 100%;
      }
      .right-dialog{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 400px;
        height: calc( 100% - 20px);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        #echarts1{
          // flex: 1;
          height: 250px;
          padding: 10px;
          background-color: white;
        }
        #echarts2{
          margin-top: 10px;
          // flex: 1;
          height: 250px;
          padding: 10px;
          background-color: white;
        }
        .warnTable{
          margin-top: 10px;
          padding: 10px;
          flex: 1;
          background-color: white;
          display: flex;
          flex-direction: column;
          .headli{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .title{
              font-weight: 600;
              font-size: 18.5px;
              color: #464646;
            }
            .more{
              font-size: 14px;
              &:hover{
                cursor: pointer;
                color: #83bff6;
              }
            }
          }
          .tablebox{
            margin-top: 15px;
            flex: 1;
          }
        }
      }
    }
  }
}
</style>
