<!-- 机外台账 -->
<template>
  <div id="myMain">
    <div class="myMain-padding displayFlexC p0 mt0">
      <div class="table-top myWbc pt20 ph20 mt20 mb20 jcsb">
        <div>
          <span class="searchLabel fl">区属：</span>
          <el-input
            class="fl inputMargin"
            v-model="searchForm.region"
            prefix-icon="el-icon-search"
          ></el-input>
          <span class="searchLabel fl">小区：</span>
          <el-input
            class="fl inputMargin"
            v-model="searchForm.estate_name"
            prefix-icon="el-icon-search"
          ></el-input>
          <span class="searchLabel fl">补偿金额：</span>
          <el-input
            class="fl inputMargin"
            v-model="searchForm.compensation_amount"
            prefix-icon="el-icon-search"
          ></el-input>

          <vxe-button class="h40 plusBtn" @click="handleSearch"
            >搜索</vxe-button
          >
          <vxe-button class="h40" @click="handleReset">重置</vxe-button>
        </div>

        <div>
          <vxe-button class=" plusBtn inputMargin" @click="importDataEvent"
            ><i class="vxe-icon--upload"></i> 导入</vxe-button
          >
          <!-- <vxe-button class="" @click="exportDataEvent"
            ><i class="vxe-icon--download"></i> 导出</vxe-button
          > -->
        </div>
      </div>
      <div class="myTable f1">
        <vxe-table
          ref="xTable"
          border
          align="center"
          highlight-hover-row
          :data="tableData"
          :export-config="{}"
          row-id="id"
          :seq-config="{
            startIndex: (tablePage.currentPage - 1) * tablePage.pageSize,
          }"
          :checkbox-config="{ reserve: true }"
        >
          <vxe-table-column type="checkbox" width="60"></vxe-table-column>
          <vxe-table-column
            type="seq"
            title="序号"
            width="100"
          ></vxe-table-column>
          <vxe-table-column field="region" title="区属"></vxe-table-column>
          <vxe-table-column field="estateName" title="小区"></vxe-table-column>
          <vxe-table-column field="street" title="街道"></vxe-table-column>
          <vxe-table-column
            field="location"
            title="具体位置"
          ></vxe-table-column>
          <vxe-table-column
            field="buildingNumber"
            title="楼栋"
          ></vxe-table-column>
          <vxe-table-column
            field="buildingFloor"
            title="楼层"
          ></vxe-table-column>
          <vxe-table-column
            field="houseNumber"
            title="单元房号"
          ></vxe-table-column>
          <vxe-table-column field="purpose" title="用途"></vxe-table-column>
          <vxe-table-column
            field="structure"
            title="户型结构"
          ></vxe-table-column>
          <vxe-table-column
            field="unitArea"
            title="单元总面积"
          ></vxe-table-column>
          <vxe-table-column field="developer" title="开发商"></vxe-table-column>
          <vxe-table-column title="操作" width="150">
            <template #default="{ row }">
              <div class="d_center">
                <img
                  class="operationBtnSize mr5"
                  src="@/assets/icon/edit.png"
                  @click="edit(row)"
                  alt=""
                />
                <img
                  class="operationBtnSize"
                  src="@/assets/icon/del.png"
                  @click="del(row)"
                  alt=""
                />
              </div>
            </template>
          </vxe-table-column>
        </vxe-table>
        <!-- 分页 -->
        <vxe-pager
          class="paginationBlock"
          size="mini"
          :current-page="tablePage.currentPage"
          :page-size="tablePage.pageSize"
          :page-sizes="tablePage.pageSizes"
          :total="tablePage.totalResult"
          @page-change="pageChange"
          :layouts="['PrevPage', 'JumpNumber', 'NextPage', 'FullJump', 'Total']"
        >
        </vxe-pager>
      </div>
    </div>
  </div>
</template>

<script>
//这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
//例如：import 《组件名称》 from '《组件路径》';
import { getTbOutdoorAccount } from "@/api/house";
export default {
  //import引入的组件需要注入到对象中才能使用
  components: {},
  data() {
    //这里存放数据
    return {
      searchVal1: null,
      searchVal2: null,
      searchVal3: null,
      searchForm: {},
      tableData: [],
      // 分页
      tablePage: {
        currentPage: 1,
        pageSize: 8,
        pageSizes: [8, 16, 24, 32],
        totalResult: 0,
      },
    };
  },
  //监听属性 类似于data概念
  computed: {},
  //监控data中的数据变化
  watch: {},
  //方法集合
  methods: {
    async init(page, limit) {
      let res = await getTbOutdoorAccount(this.searchForm, page, limit);
      this.tableData = res.data.data;
      this.tablePage.currentPage = res.data.page;
      this.tablePage.totalResult = res.data.total;
    },
    handleSearch() {
      this.init(1, 10);
    },
    handleReset() {
      this.searchForm = {};
      this.init(1, 10);
    },
    // 根据页切换
    pageChange(val) {
      console.log("page val", val);
      this.tablePage.currentPage = val.currentPage;
      let page = val.currentPage;
      let limit = val.pageSize;
      // this.init(page, limit)
    },
    // 搜索
    searchEvents(searchVal, PropsList) {
      this.tableData2 = this.$search.searchEvents(
        this.tableData2,
        searchVal,
        PropsList
      );
    },
    // 导出
    async exportDataEvent() {
      await this.$refs.xTable.openExport({
        // 默认勾选源
        original: true,
      });
      this.$refs.xTable.clearCheckboxRow();
    },
    importDataEvent() {
      this.$refs.xTable.importData();
    },
  },
  //生命周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    this.init(1, 10);
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //生命周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁完成
  activated() {}, //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
//@import url(); 引入公共css类
</style>
