<template>
  <div class="main-div">
    <Row>
      <Col span="24" />
      <Card>

        <p slot="title">人员信息</p>

        <org-demension
          :on-ok="confirmDialogEvent"
          :show.sync="show"
          :exist-data="checkTableData"
        />
        <Form ref="formInline" :model="formInline" :label-width="80" :rules="ruleValidate">
          <el-alert
            style="margin-bottom: 10px"
            title="新增用户的密码默认与登录账号一样。"
            type="warning"
            show-icon
          />

          <Row>
            <Col span="6" />
            <Col span="6">
              <FormItem prop="fullname" label="姓名">

                <Input v-model="formInline.fullname" type="text" clearable />
              </FormItem>

            </Col>
            <Col span="6">

              <FormItem prop="account" label="登录账号">
                <Input v-model="formInline.account" type="text" :disabled="edit" placeholder="此号码用于系统登录" clearable />
              </FormItem>

            </Col>
            <Col span="6" />
          </Row>

          <Row>

            <Col span="6" />
            <Col span="6">

              <FormItem prop="deptCode" label="所属部门">
                <Input v-model="formInline.deptName" type="text" placeholder="编写时注意编码保证公司内唯一" @on-focus="openOrgDemension" />
              </FormItem>

            </Col>
            <Col span="6">
              <FormItem prop="userNo" label="工号">
                <Input v-model="formInline.userNo" type="text" :disabled="edit" clearable />
              </FormItem>

            </Col>
            <Col span="6" />
          </Row>

          <Row>
            <Col span="6" />
            <Col span="6">
              <FormItem prop="postNo" label="岗位">
                <Select v-model="formInline.postNo">
                  <Option v-for="item in jobDataList" :key="item.name" :value="item.code">{{ item.name }}</Option>

                </Select>
              </FormItem>
            </Col>
            <Col span="6">

              <FormItem prop="postLevel" label="岗位级别">

                <Input v-model="formInline.postLevel" type="number" />
              </FormItem>

            </Col>
            <Col span="6" />
          </Row>

          <Row>
            <Col span="6" />
            <Col span="12">
              <FormItem prop="roleCodesArray" label="拥有角色">
                <Select v-model="formInline.roleCodesArray" multiple>
                  <Option v-for="item in roleData" :key="item.code" :value="item.code">{{ item.name }}</Option>
                </Select>

              </FormItem>
            </Col>
            <Col span="6" />
          </Row>

          <Row>
            <Col span="6" />
            <Col span="6">
              <FormItem prop="mobile" label="手机号">

                <Input v-model="formInline.mobile" type="text" clearable />
              </FormItem>
            </Col>
            <Col span="6">
              <FormItem prop="email" label="邮箱">
                <Input v-model="formInline.email" type="text" clearable />

              </FormItem>
            </Col>
            <Col span="6" />
          </Row>
          <Row>
            <Col span="6" />
            <Col span="6">
              <FormItem prop="entryDate" label="入职日期">
                <DatePicker v-model="formInline.entryDate" style="width: 100%;" type="date" format="yyyy-MM-dd" @on-change="queryFormCreateTime" />
              </FormItem>
            </Col>
            <Col span="6">
              <FormItem prop="leaveDate" label="离职日期">
                <DatePicker v-model="formInline.leaveDate" format="yyyy-MM-dd" style="width: 100%;" type="date" @on-change="queryFormLeaveTime" />

              </FormItem>
            </Col>
            <Col span="6" />
          </Row>

          <Row>
            <Col span="6" />
            <Col span="6">
              <FormItem prop="birthday" label="出生年月">
                <DatePicker v-model="formInline.birthday" format="yyyy-MM-dd" style="width: 100%;" type="date" @on-change="queryFormCreateTime" />

              </FormItem>

            </Col>
            <Col span="6">
              <FormItem prop="nation" label="民族">
                <Select v-model="formInline.nation">
                  <Option value="0">汉族</Option>
                  <Option value="1">其他</Option>
                </Select>
              </FormItem>

            </Col>
            <Col span="6" />
          </Row>
          <Row>
            <Col span="6" />
            <Col span="6">
              <FormItem prop="idCard" label="身份证号">
                <Input v-model="formInline.idCard" type="text" clearable />
              </FormItem>
            </Col>
            <Col span="6">
              <FormItem prop="education" label="文化程度">
                <Select v-model="formInline.education">
                  <Option value="0">初中</Option>
                  <Option value="1">高中</Option>
                  <Option value="2">中专</Option>
                  <Option value="3">大专</Option>
                  <Option value="4">本科</Option>
                  <Option value="5">硕士</Option>
                  <Option value="6">博士</Option>
                </Select>
              </FormItem>
            </Col>
            <Col span="6" />
          </Row>
          <Row>
            <Col span="6" />
            <Col span="12">
              <FormItem prop="address" label="籍贯">
                <Input v-model="formInline.address" type="textarea" :autosize="{minRows: 2,maxRows: 5}" />
              </FormItem>
            </Col>
            <Col span="6" />
          </Row>
          <Row>
            <Col span="6" />
            <Col span="6">
              <FormItem prop="status" label="状态">

                <RadioGroup v-model="formInline.status">
                  <Radio label="true">可用</Radio>
                  <Radio label="false">禁用</Radio>
                </RadioGroup>
              </FormItem>
            </Col>
            <Col span="6">
              <FormItem prop="sex" label="性别">
                <RadioGroup v-model="formInline.sex">
                  <Radio label="0">男</Radio>
                  <Radio label="1">女</Radio>
                </RadioGroup>

              </FormItem>
            </Col>
            <Col span="6" />
          </Row>
          <Row>
            <FormItem prop="address" label="照片">
              <div v-for="item in uploadList" class="demo-upload-list">
                <img :src="item.url">
              </div>
              <Upload
                ref="upload"
                :show-upload-list="false"
                :on-success="handleSuccess"
                accept="image/gif, image/jpeg,image/png,"
                :format="['jpg','jpeg','png']"
                :max-size="2048"
                multiple
                :headers="headers"
                type="drag"
                :action="baseURL"
                style="display: inline-block;width:58px;"
              >
                <div style="width: 58px;height:58px;line-height: 58px;">
                  <Icon type="ios-camera" size="20" />
                </div>
              </Upload>
            </FormItem>
          </Row>

        </Form>

        <el-button type="primary" :loading="loading" @click="save">保存</el-button>

      </Card>

      </Col>

    </Row>
  </div>

</template>

<script>
import { roleSave, getRole, updateRole, saveJob, getJobById, getJobList, saveOrgPost, getOrgPostById, saveOrg,
  getOrgById, getOrgPostAllList
  , getRoleTree
  , saveUser
  , getUserInfo

} from '@/api/uc'
import orgDemension from '@/views/uc/common/orgDemension'
import { getToken } from '@/utils/auth'

export default {
  name: 'RoleAdd',
  components: { orgDemension },

  data() {
    var sendEmail = (rule, value, callback) => {
      var regEmail = /^[A-Za-z0-9\u4e00-\u9fa5]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/
      if (value != '' && !regEmail.test(value)) {
        callback(new Error(' '))
      } else {
        callback()
      }
    }
    var mobile = (rule, value, callback) => {
      const reg = /^((0\d{2,3}-\d{7,8})|(1[34578]\d{9}))$/
      if (value == '' || value == undefined || value == null) {
        callback()
      } else {
        if ((!reg.test(value)) && value != '') {
          callback(new Error('请输入正确的电话号码或者固话号码'))
        } else {
          callback()
        }
      }
    }
    var validateIdNo = (rule, value, callback) => {
      const reg = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/
      if (value == '' || value == undefined || value == null) {
        callback()
      } else {
        if ((!reg.test(value)) && value != '') {
          callback(new Error('请输入正确的身份证号码'))
        } else {
          callback()
        }
      }
    }

    return {
      loading: false,
      baseURL: process.env.VUE_APP_BASE_BPM_API + '/uc/api/user/upload/image',
      edit: false,
      headers: {
        'Authorization': getToken()
      },
      show: false,
      ruleValidate: {
        fullname: [
          { required: true, message: '请输入姓名', trigger: 'blur' }
        ],
        account: [
          { required: true, message: '请输入登录账号', trigger: 'blur' }
        ],
        deptCode: [
          { required: true, message: '请选择所属部门', trigger: 'change' }
        ],
        userNo: [
          { required: true, message: '请输入工号', trigger: 'blur' }
        ],
        postNo: [
          { required: true, message: '请选择岗位', trigger: 'change' }
        ],
        email: [{ validator: sendEmail, message: '邮箱格式不正确', trigger: 'change' }],
        mobile: [{ validator: mobile, message: '手机号格式不正确', trigger: 'change' }],
        idCard: [{ validator: validateIdNo, message: '身份证格式不正确', trigger: 'change' }]

      },
      postArray: [],
      formInline: {
        id: '',
        fullname: '',
        account: '',
        deptCode: '',
        deptName: '',
        mobile: '',
        postNo: '',
        postName: '',
        postLevel: '',
        roleCodesArray: [],
        roleNames: '',
        photo: '',
        userNo: '',
        email: '',
        entryDate: null,
        leaveDate: null,
        nation: '0',
        sex: '0',
        birthday: '0',
        idCard: '',
        education: '4',
        status: 'true',
        address: ''
      },
      jobDataList: [],
      roleData: [],
      checkTableData: [],
      uploadList: []
    }
  },
  mount() {
    this.getData()
    this.tableHeight = window.innerHeight - this.$refs.table.$el.offsetTop
  },
  created() {
    var query = this.$route.query
    if (query.id) {
      this.formInline.id = query.id
      this.initUser()
      this.edit = true
    } else {
      this.edit = false
    }
    this.initData()
    this.getRoleTree()
  },

  methods: {
    handleSuccess(res, file) {
      file.url = res.data
      this.uploadList = []
      this.uploadList.push(file)
      this.formInline.photo = file.url
    },
    initUser: function() {
      getUserInfo(this.formInline.id).then((response) => {
        if (response.code == 0) {
          var data = response.user
          this.formInline.fullname = data.fullname
          this.formInline.mobile = data.mobile
          this.formInline.account = data.account
          this.formInline.account = data.account
          this.formInline.postLevel = data.postLevel
          this.formInline.postLevel = data.postLevel
          this.formInline.userNo = data.userNo
          this.formInline.email = data.email
          this.formInline.leaveDate = data.leaveDate
          this.formInline.education = data.education.toString()
          this.formInline.status = data.status.toString()
          this.formInline.address = data.address
          this.formInline.idCard = data.idCard
          this.formInline.birthday = data.birthday
          this.formInline.sex = data.sex.toString()
          this.formInline.nation = data.nation.toString()
          this.formInline.entryDate = data.entryDate
          this.formInline.deptCode = data.deptCode
          this.formInline.postNo = data.postNo
          this.formInline.deptName = data.deptName
          if (data.photo) {
            this.uploadList.push({ 'url': data.photo })
          }

          var roleCodes = data.roleCodes
          var roleCodes = roleCodes.split(',')
          this.formInline.roleCodesArray = roleCodes
          this.getOrgPostAllList()
        }
      })
    },
    // 处理默认选中当前日期
    getNowTime() {
      var now = new Date()
      var year = now.getFullYear() // 得到年份
      var month = now.getMonth() // 得到月份
      var date = now.getDate() // 得到日期
      var hour = ' 00:00:00' // 默认时分秒 如果传给后台的格式为年月日时分秒，就需要加这个，如若不需要，此行可忽略
      month = month + 1
      month = month.toString().padStart(2, '0')
      date = date.toString().padStart(2, '0')
      var defaultDate = `${year}-${month}-${date}${hour}`
      console.log(defaultDate)
      return defaultDate
    },
    getRoleTree: function() {
      getRoleTree({}).then((response) => {
        if (response.code == 0) {
          this.roleData = response.data
        }
      })
    },
    openOrgDemension: function() {
      this.show = true
    },
    initOrg: function() {
      getOrgById(this.formInline.id).then((response) => {
        if (response.code == 0) {
          var data = response.data
          this.formInline.deptName = data.deptName
          this.formInline.easyName = data.easyName
          this.formInline.deptCode = data.deptCode
          this.formInline.parentName = data.parent.deptName
          this.formInline.bzHu = data.bzHu
          this.formInline.path = data.path
          this.formInline.znMs = data.znMs
          this.formInline.address = data.address
          this.formInline.parentId = data.parentId
          this.formInline.demId = data.demId
        }
      })
    },
    openOrgDemension: function() {
      this.show = true
    },
    confirmDialogEvent: function(data) {
      if (data) {
        this.formInline.deptCode = data.deptCode
        this.formInline.deptName = data.deptName
      }
      this.getOrgPostAllList()
      this.show = false
    },
    getOrgPostAllList: function() {
      this.postArray = []
      getOrgPostAllList(this.formInline.deptCode).then((response) => {
        if (response.code == 0) {
          this.postArray = response.data
        }
      })
    },
    confirmField: function() {
      var checkData = this.existData
      this.dialogVisible = false
    },
    removeRight: function(index) {
      this.existData.splice(index, 1)
    },
    addColumnField: function() {
      var checkData = this.$refs.leftTable.selection

      this.existData = checkData
    },
    addColumn: function() {
      if (this.formInline.objName) {
        this.dialogVisible = true
        businessTableMetadataInfo(this.formInline.objName).then((response) => {
          if (response.code == 0) {
            this.tableData = response.data
          }
        })
      } else {
        this.$message({ 'duration': 800, message: '请先选择列', type: 'warning', customClass: 'zZindex' })
      }
    },
    changeselectNum: function(data) {
      this.formInline.tableName = data
      if (data == 'dataSource') {
        this.formInline.dataSourceHide = false
        this.formInline.restfulHide = true
      } else {
        this.formInline.dataSourceHide = true
        this.formInline.restfulHide = false
      }
    },
    operateDisabled: function(data) {
      if (this.formInline.type == 'inner' && (this.formInline.createdTable == 'false' || this.formInline.createdTable == false)) {
        return false
      } else if (this.formInline.type == 'inner' && (this.formInline.createdTable == 'true' || this.formInline.createdTable == true)) {
        if (data.id) {
          return true
        } else {
          return false
        }
      }
      return true
    },
    operateShowExistdData: function(data) {
      if (this.formInline.type == 'external') {
        return true
      } else {
        return false
      }
    },
    operateDisabledDelBtn: function(data) {
      if (this.formInline.type == 'inner' && (this.formInline.createdTable == 'false' || this.formInline.createdTable == false)) {
        return true
      } else if (this.formInline.type == 'inner' && (this.formInline.createdTable == 'true' || this.formInline.createdTable == true)) {
        if (data.id) {
          return false
        } else {
          return true
        }
      }
      return false
    },
    createTable: function() {
      businessTableCreate(this.formInline.id).then((response) => {
        if (response.code == 0) {
          this.$message({ 'duration': 800, message: '生成成功', type: 'warning', customClass: 'zZindex' })

          this.initData()
        }
      })
    },
    initData: function() {
      getJobList().then((response) => {
        if (response.code == 0) {
          this.jobDataList = response.data
        }
      })
    },
    selectTree: function(node, instanceId) {
      this.formInline.groupId = node.id
      this.formInline.groupName = node.title
    },

    clearOnSelect: function(node, instanceId) {
      if (!node) {
        this.formInline.groupId = ''
        this.formInline.groupName = null
      }
    },
    clearExistTableOnSelect: function(node, instanceId) {
      if (!node) {
        this.formInline.tableName = null
      }
    },
    validateFormInline: function() {
      this.$nextTick(() => {
        this.$refs['formInline'].validate((valid) => {

        })
      })
    },
    save: function() {
      this.$refs['formInline'].validate((valid) => {
        if (valid) {
          var formData = this.formInline
          this.loading = true
          if (formData.id) {
            saveUser(formData).then((response) => {
              if (response.code == 0) {
                // 调用全局挂载的方法
                this.$store.dispatch('tagsView/delView', this.$route)
                // 返回上一步路由
                this.$router.go(-1)
              } else {
                this.$message({ 'duration': '800', message: response.msg, type: 'success', customClass: 'zZindex' })
              }

              this.loading = false
            })
          } else {
            saveUser(formData).then((response) => {
              if (response.code == 0) {
                // 调用全局挂载的方法
                this.$store.dispatch('tagsView/delView', this.$route)
                // 返回上一步路由
                this.$router.go(-1)
              } else {
                this.$message({ 'duration': '800', message: response.msg, type: 'success', customClass: 'zZindex' })
              }
              this.loading = false
            })
          }
        } else {
          return
        }
      })
    },
    selectDataTypeChanged: function(value, index) {
      this.ruleForm.tableData[index].type = value
    },

    delField: function(index) {
      this.ruleForm.tableData.splice(index, 1)
      this.$message({ 'duration': 800, message: '删除成功', type: 'warning', customClass: 'zZindex' })
    },
    disabledDelBtn: function(row) {
      for (var i = 0; i < this.existData.length; i++) {
        if (row === this.existData[i]) {
          return true
        }
      }
      return false
    },
    handleSubmit: function(name) {
      this.$refs[name].validate((valid) => {
        if (valid) {
          this.$Message.success('Success!')
        } else {
          this.$Message.error('Fail!')
        }
      })
    },
    add: function() {
      if (this.formInline.queryObjectName) {
        customDialogMetadataInfo(this.formInline.queryObjectName).then((response) => {
          if (response.code == 0) {
            this.categoryData = response.data
          }
        })
      }
    },
    queryFormCreateTime: function(e) {
      this.formInline.entryDate = e
    },
    queryFormLeaveTime: function(e) {
      this.formInline.leaveDate = e
    },
    refreshTask: function(data) {
      if (data[0].parentId == '-1') {
        this.queryForm.typeKey = ''
      } else {
        this.queryForm.typeKey = data[0].typeKey
      }
      this.queryForm.createTime = ''
      this.queryDate = []
      this.queryForm.whereSql = ''
      this.getData()
    },
    queryMethod: function() {
      var name = this.queryForm.name
      var whereSql = ''
      var createTime = this.queryForm.createTime
      if (createTime) {
        if (createTime[0]) {
          whereSql = "  CREATE_TIME_  between '" + createTime[0] + "' and " + "'" + createTime[1] + "'"
        }
      }
      this.queryForm.whereSql = whereSql
      getTaskData(this.queryForm).then((response) => {
        this.tableData = response.data
        if (response.count.length > 0) {
          this.total = parseInt(response.count)
        } else {
          this.total = 0
        }
      })
    },
    // 后台返回的数据如果和VueTreeselect要求的数据结构不同，需要进行转换
    normalizer(node) {
      // 去掉children=[]的children属性
      if (node.children && !node.children.length) {
        delete node.children
      }
      return {
        id: node.tableName,
        label: node.tableName + '(' + node.tableComment + ')',
        children: node.children
      }
    },
    existTableNormalizer(node) {
      return {
        id: node.tableName,
        label: node.tableComment,
        children: node.children
      }
    },
    getData: function() {
    },
    handleCurrentChange(val) {
      this.queryForm.page = val
      this.getData()
    },
    handleClick(data) {
      this.$router.push({ name: 'handleRunTask', query: { t: new Date().getTime(), 'taskId': data.id }})
    },
    search() {
      this.queryForm.page = 0
      this.queryMethod()
    },
    reset() {
      this.queryForm.name = ''
      this.queryForm.createTime = ''
      this.queryForm.whereSql = ''
      this.queryDate = []
      this.getData()
    }

  }

}

</script>
<style lang="scss">
  .task-card {
    margin-top: 10px;
  }

  .input_w {
    width: 40% !important;
  }

  .cell {
    max-height: 54px !important;
    overflow: auto !important;
  }

</style>
<style>
  .demo-upload-list{
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border: 1px solid transparent;
    border-radius: 4px;
    overflow: hidden;
    background: #fff;
    position: relative;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    margin-right: 4px;
  }
  .demo-upload-list img{
    width: 100%;
    height: 100%;
  }
  .demo-upload-list-cover{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.6);
  }
  .demo-upload-list:hover .demo-upload-list-cover{
    display: block;
  }
  .demo-upload-list-cover i{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin: 0 2px;
  }
</style>
